[2022-01-19 18:46] #5028 closed

[2022-01-19 18:47] valassi commented on #4940
@krasznaa , for what is worth, I just had a totally bizarre situation (https://sft.its.cern.ch/jira/browse/SPI-1933) with clang13: a simple file compiles ok if I build it with "clang++", while it fails to find a system header if I build it with "<full path>/clang++" (I even just tried "`clang++`"). Debugging with "-v", the difference between the two is that in the first case I get a printout `Foun

[2022-01-20 04:53] CaoZhongZ commented on #5320
When we porting PyTorch kernel templates, we found out that tensor dimensions and strides (arrays) captured by kernel functor member was constantly copied into private memory before each start of kernel. despite the optimizations it prevent, the copy itself are suboptimal.

@Naghasan  Did your patch address this problem?

[2022-01-20 05:17] CaoZhongZ opened #5345 "__builtin_sycl_unique_stable_name can't be used in non-sycl mode."
If try to use old style separate passes, we see following errors.

[code]

[2022-01-20 14:14] erichkeane commented on #5345
This is a known limitation of the builtin, and was done at the request of the Clang maintainer.  While it might potentially be useful in other modes, we don't support it in non-SYCL builds.  I'd suggest putting -fsycl-host (or however it is spelled? (@bader  @mdtoguchi  can help with that) on the host build if you want to use it.

[2022-01-20 14:14] #5345 closed

[2022-01-20 14:28] bader commented on #5345
-fsycl-host is still a SYCL mode, I guess. :)

Probably the right fix is using `__has_builtin` function in the integration header to check if `__builtin_sycl_unique_stable_name` is supported by the compiler. If not, we can give a more user-friendly error message that "unnamed lambda" feature is not supported in this configuration.

[2022-01-20 15:45] smanna12 opened #5350 "Investigate why IntelFPGANumBanksAttr is generating twice during template instantiation with IntelFPGABankBitsAttr test cases"
FWIW, that sounds like a bug to me. Implicit attributes are not handled any different from non-implicit ones (generally speaking), so I'd have expected to only see the attribute added once.

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/5332#discussion_r787959964_

[2022-01-20 16:04] #5013 closed

[2022-01-20 16:33] zjin-lcf opened #5351 "fatal error: va/va.h: No such file or directory"
When compiling the SYCL compiler with the python script, I got the error. Could you reproduce that ? Thanks.

/path/to/objdir/tools/sycl/plugins/esimd_emulator/cm-emu-prefix/src/cm-emu/cmake/../common/linux/cm_include.h:22:10: fatal error: va/va.h: No such file or directory

[2022-01-20 16:38] bader commented on #5351
@zjin-lcf, https://github.com/intel/llvm/commit/50ccce9e9b1e6412097aab8b997e36a5673246f7 added new pre-requisites for the environment. You can either install required libraries (according to https://github.com/intel/llvm/commit/6f17b18e30d0572948bdd6784c5bcc6f9dec08f1 they are libffi-dev, libva-dev and libtool) or pass `--disable-esimd-emulator` to the configure.py script.

[2022-01-20 16:47] zjin-lcf commented on #5351
I will disable the emulator.
Thanks for updating https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md.

[2022-01-20 16:49] bader commented on #5351
Good point. @dongkyunahn-intel, could you update GetStartedGuide, please? It uses old option name `--enable-esimd-cpu-emulation`.

[2022-01-20 18:50] dongkyunahn-intel commented on #5351
PR posted : https://github.com/intel/llvm/pull/5352

[2022-01-21 13:07] #5351 closed

[2022-01-21 14:59] JackAKirk opened #5360 "DPC++ build failure due to #5058 (ESIMD cm-emu configure step)"
After https://github.com/intel/llvm/pull/5058 DPC++ build is failing during the cm-emu configure step.  A temporary fix is to set `sycl_build_pi_esimd_emulator = 'OFF'` in llvm/buildbot/configure.py.  This definitely affects the CUDA backend but may well affect other backends.

**Output**

[code]

[2022-01-21 15:06] bader commented on #5360
@pvchupin, @kbobrovs, FYI.

[2022-01-21 16:05] mlychkov opened #5361 "[SYCL][HIP][llvm-test-suite] Scheduler/MemObjRemapping.cpp test failed on unrelated changes"
**Describe the bug**
SYCL :: Scheduler/MemObjRemapping.cpp test failed in pre-commit testing of patch https://github.com/intel/llvm/pull/5300 (commit https://github.com/intel/llvm/pull/5300/commits/f139546d4273d0412f6e22aff22a6bee2bf130e5) on configuration "Default Linux / HIP AMD GPU Test Suite" (log https://github.com/intel/llvm/runs/4858990521).

**Environment (please complete the following inf

[2022-01-21 16:15] mlychkov commented on #5361
Also 'SYCL :: Regression/event_destruction.cpp' failed by timeout at the same test suite execution instance.

[2022-01-21 16:34] dongkyunahn-intel commented on #5360
@JackAKirk , where does this problem happen? If local, you can try to install `libffi-dev` package (ubuntu). I'm updating documentation for requirements (https://github.com/intel/llvm/pull/5352).

Please note that this failure can be prevented with `--disable-esimd-emulator` option for `configure.py`. It has same effect as `sycl_build_pi_esimd_emulator = 'OFF'`.

[2022-01-21 16:39] mlychkov opened #5362 "[SYCL][sycl-post-link] Simplify SYCLDeviceLibReqMaskPass to be just a helper function"
**Is your feature request related to a problem? Please describe**
SYCLDeviceLibReqMaskPass (in llvm/tools/sycl-post-link/SYCLDeviceLibReqMask.h) scans input IR and just returns a mask that coding a set of device libraries required for this device code.
This functionality doesn't require using Pass Manager infrastructure.

**Describe the solution you would like**
Define it as just a helper function

[2022-01-21 17:38] npmiller opened #5364 "Investigate performance when using OpSubgroupShuffleUpINTEL for SYCL shuffles"
The SPIR-V `OpSubgroupShuffleUpINTEL` (and `OpSubgroupShuffleDownINTEL`)  has more functionality than required to implement the SYCL shuffles, which leads to unnecessary complexity.

It would be interesting to see the potential performance hit and to see how it could be optimized.

At the moment this is used for the HIP target, for NVidia the NVidia built-ins are directly used instead of the SPIR-

[2022-01-21 18:36] JackAKirk commented on #5360
Yes locally.  I have `libffi-dev` installed also.  I have tried it on two separate systems now with the same result.

[2022-01-21 18:39] al42and commented on #5330
Behavior changed in clang version 14.0.0 (https://github.com/intel/llvm 02b730102d7911ea466a2df6d8837971140d430f). The bug is not fully resolved, but it seems it migrated to a different place:

[code]

[2022-01-21 18:54] dongkyunahn-intel commented on #5360
Did you remove `$LLVM_BUILD_ROOT/CMakeCache.txt`? I would suggest running following command after applying some changes regarding CM_EMU build.

`> rm -rf $LLVM_BUILD_ROOT/install/* $LLVM_BUILD_ROOT/CMakeCache.txt $LLVM_BUILD_ROOT/tools/sycl/*`

Basically, required packages are `libffi-dev` and `libva-dev` (PR for infra update : https://github.com/intel/llvm/pull/5212). If you don't need esimd emu

[2022-01-21 22:06] zjin-lcf commented on #5361
Is there some test related to https://github.com/intel/llvm/issues/4960 ?

[2022-01-22 05:02] kbobrovs opened #5367 "[ESIMD] Discussion topics, possible enhancements"
This is to record code review suggestions from various people.

1. Inter-relation with `std::simd`.

- @rolandschulz suggests __not__ to imeplement `std::simd` for Intel graphics based on
`sycl::intel::gpu`, but directly on top of clang vectors.

- @mattkretz suggests to consider making `std::simd` good enough for GPU programming
 instead of creating a highly specific extension.

...

2. Invocatio

[2022-01-22 05:53] mlychkov commented on #5361
My failure is flaky. I'm not sure, but if segfault mentioned in #4960 is always reproducible then I suppose that these tests aren't related to that issue.

[2022-01-22 13:30] ThielemannSe opened #5369 "[CUDA] Building fails with XPTI_CALLBACK_API error"
Hey,
I'm currently trying to build the dpcpp compiler on a HPC system using the following configuration:

[code]

Everytime I try to compile I get the following output:

[code]

[2022-01-22 13:35] alexbatashev commented on #5369
@ThielemannSe if you don't have a strict requirement to build compiler from source, you can try builds from latest nightly or Docker images: https://github.com/intel/llvm/actions/runs/1731839470 or https://github.com/intel/llvm/pkgs/container/llvm%2Fsycl_ubuntu2004_nightly

[2022-01-22 16:12] ThielemannSe commented on #5369
@alexbatashev It would be very nice if we could build from source code to be able to provide it as a slurm module to the HPC users.

[2022-01-22 16:17] zjin-lcf commented on #5361
okay

[2022-01-22 17:23] zjin-lcf commented on #5007
Running the sycl program on an nvidia gpu produces the right result after "ulimit -s unlimited'.
However, running the program on an amd gpu (gfx908) causes segfault. Could you reproduce that ?  Thanks.

[2022-01-24 04:29] CaoZhongZ commented on #5345
I looked for sycl host only flags but failed to find it. There is a ```--cuda-host-only ``` but no ```--sycl-host-onlly```

or -fsycl-host
```clang-14: error: unknown argument: '-fsycl-host'```

Also, there is problem in old named lambda feature when I passed in named functors instead of lambda. it still complain I don't give a name.

[2022-01-24 04:36] CaoZhongZ commented on #5345
I see, -Xclang -fsycl-is-host. That's hard to find :)

[2022-01-24 07:11] wangzy0327 opened #5371 "When I compile llvm/hip source file, I get error. how could I solve it ?"
**Describe the bug**
I compile intel/llvm source refer on https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md

python3 $DPCPP_HOME/llvm/buildbot/configure.py  --hip --hip-platform=AMD -t debug -o $DPCPP_HOME/llvm/build-hip-debug/

The outputs as follow:

`args:Namespace(arm=False, base_branch=None, branch=None, build_number=None, build_type='release', builder_dir=None, ci_defaults=

[2022-01-24 09:51] Naghasan commented on #5320
Indirectly, this should ease SROA/DAE.

I guess your problem has more to do with the way SYCL passes argument to the device. If you get an unnecessary copy, I guess it is because one of those 2 passes bailed out. If you open a discussion about that, I'm happy to talk about that at greater length.

[2022-01-24 09:51] Naghasan commented on #5320
@bader do you have opinions on this ?

[2022-01-24 10:59] AlessandroFasse commented on #4873
Any news on this?

[2022-01-24 11:07] JackAKirk commented on #5360
I had tried a complete rebuild (by rm -rf the build folder).  For myself I do not need to build esimd emulation, so #5366 should solve the issue for me.  Thanks

[2022-01-24 12:21] npmiller commented on #5007
I'm not having any issues with `aop-sycl` on `gfx908` with the latest:

* `intel/llvm`: `028055893dc16605d966592f97843173bc2221d7`
* `HeCBench`: `13c7d1d55bcad1575d584b6f1ed4c2a663677b5b`

Build command:
[code]

Run command:
[code]

[2022-01-24 13:20] zjin-lcf commented on #5007
Could you run:
./main -runs 100 ?

Thanks

[2022-01-24 13:27] npmiller commented on #5007
Oh, that's interesting, I am getting a segfault with that:

[code]

[2022-01-24 13:31] zjin-lcf commented on #5007
I remember segfault occurs on an nvidia p100 gpu without "ulimit -s unlimited".

[2022-01-24 13:40] zjin-lcf commented on #5371
[code]

Does your platform have nvidia gpus ?

[2022-01-24 13:46] wangzy0327 commented on #5371
No，my platform is rocm（amd gpus）

[2022-01-24 14:31] bader commented on #5007
@sergey-semenov, FYI.

[2022-01-24 14:41] zjin-lcf commented on #5007
Thank you for pointing out the issue.

[2022-01-24 14:47] zjin-lcf commented on #5371
Which compiler (gcc or clang) does cmake use for building the source files ?

[2022-01-24 17:34] bader commented on #5360
https://github.com/intel/llvm/pull/5366/ is merged. @JackAKirk, can you confirm that we can close that issue, please?

[2022-01-24 17:47] JackAKirk commented on #5360
Yes everything builds fine now by default, thanks! I think that it is fine to close this issue.

[2022-01-24 17:54] #5360 closed

[2022-01-24 18:14] zjin-lcf opened #5379 "cmrt_dump.txt generated"
I find that cmrt_dump.txt is generated after running a SYCL program with CUDA support. The file is empty.

[2022-01-24 23:41] mdtoguchi commented on #5330
Behaviors should be improved with https://github.com/intel/llvm/pull/5334.  After the merge of #5251, multiple targets involving static libraries had inconsistent unbundling behaviors when using `-fsycl`.  #5334 improves this so the device link that consumes the unbundled archive expects and links in the list of objects as unbundled instead of passing in as an archive.

[2022-01-25 00:49] wangzy0327 commented on #5371
I exactly build clang toolchain on Hip compiler dependency on this link:
https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#build-dpc-toolchain-with-support-for-hip-amd

[2022-01-25 15:46] zjin-lcf commented on #5371
[code]

How could the build type be different ?

[2022-01-25 19:11] AlexeySachkov commented on #5344
Hi @TApplencourt, thanks for the report,

I was able to reproduce the problem using open-source version of the compiler [20200120](https://github.com/intel/llvm/releases/tag/sycl-nightly%2F20220120) and [NEO 21.46.21636](https://github.com/intel/compute-runtime/releases/tag/21.46.21636) or 1.2.21636 for L0 version.

Using [`ze_tracer`](https://github.com/intel/pti-gpu/tree/master/tools/ze_tracer)

[2022-01-25 19:41] AlexeySachkov commented on #5379
@zjin-lcf, am I right the request here is to explain why that file is being generated and moreover, avoid generating it, right?

[2022-01-25 20:15] AlexeySachkov commented on #5330
[code]

This assertion indicates that you have encountered a known limitation of our SYCL runtime. Tagging @sergey-semenov here to provide more details about this limitation, whether there are some workarounds possible and whether there are plans to lift that limitation

[2022-01-25 20:48] AlexeySachkov commented on #5263
I'm not sure that I will be able to help with resolving this and I don't have the same system available to try, but let me try to debug this anyway. I also doubt that this issue is related to `intel/llvm` project, but it rather seems a bug in CMake package for finding CUDA toolchain.

CMake output in the description is quite confusing, so I don't fully understand which one of the two variables wer

[2022-01-25 20:50] AlexeySachkov commented on #5254
@pvchupin, could you please comment here?

[2022-01-25 20:53] AlexeySachkov commented on #5222
@wangzy0327, it looks like the problem was resolved, is it correct? If so, can we close the issue?

[2022-01-25 21:38] zjin-lcf commented on #5379
Yes. You are right. Thanks.

[2022-01-25 22:25] TApplencourt commented on #5344
Hi Alexay,

I did the same study but didn't want to pollute the first threads with some technical details I saw exactly what you described. He has the same issue with the OpenMP backend of `icpx`.
- The first one is a limitation of the L0 backend of SYCL. One should potentially prefer to use the command list immediate, to avoid the need to reset (and hence synchronize) the command list. Sadly, I d

[2022-01-25 23:28] pengtu commented on #5254
@FCLC: would you elaborate what parts of oneAPI you want to integrate with Rust:

1. Calling oneAPI performance libraries: oneMKL, oneDNN, oneVPL, ... from Rust?
2. Passing Rust data to SYCL program to perform offloading computations on XPU?
3. Writing offloading kernels in Rust and dispatching the kernels to XPU through Rust runtime interface with Level Zero?
4. Something else?

[2022-01-26 01:47] wangzy0327 commented on #5371
I have solved the problem. Thx

[2022-01-26 02:35] wangzy0327 opened #5396 "building sycl code for CUDA with Cmake fails"
**Describe the bug**
using sycl-tool-chain (compiled CUDA) to compile code with CMake failed.
Building DPC++ toolchain with support for NVIDIA CUDA is correctl with testing simple code
 testing output as follow:
![image](https://user-images.githubusercontent.com/22990858/151093335-5cdf301d-af39-49a7-a5e5-1040374b5e6e.png)

I wanted to build this project with cmake,so I write the CMakeLists.txt as

[2022-01-26 08:24] MrSidims commented on #5344
I agree with Alexey's serialization conclusion, though I believe 'kernel' shouldn't be plural, since in the code above DPCPP if my understanding is correct - DPCPP compiler creates a single kernel (by name) and enqueues it two times. I didn't dig in GPU runtime/pi traces, but I've managed to get:
[code]
by modifying the original code like this:
[code]
so for me it does look like, that L0 runtime d

[2022-01-26 09:36] AGindinson commented on #1191
In view of the extensive existing documentation at https://www.intel.com/content/www/us/en/develop/documentation/oneapi-dpcpp-cpp-compiler-dev-guide-and-reference/top.html, I would suggest re-assessing whether the issue is still relevant.

[2022-01-26 09:37] AGindinson commented on #1190
In view of the extensive existing documentation at https://www.intel.com/content/www/us/en/develop/documentation/oneapi-dpcpp-cpp-compiler-dev-guide-and-reference/top.html, I would suggest re-assessing whether the issue is still relevant.

[2022-01-26 09:38] AGindinson commented on #4010
Looks like this one has been resolved a while ago.

[2022-01-26 09:38] #4010 closed

[2022-01-26 10:11] j-stephan commented on #1190
Well, what does this flag do exactly? According to the official Intel documentation it is equivalent to `-fsycl-targets=spir64-unknown-unknown` but the discussion in this topic so far points in a different direction.

[2022-01-26 10:17] bader commented on #1190
Hm... it looks like a bug to me. I thought that -fintelfpga is a short alias for setting compiler flags defaults for FPGA target and that `-fsycl-targets` option value for FPGA is `-fsycl-targets=spir64_fpga-unknown-unknown`.

[2022-01-26 10:18] bader commented on #1190
The option is documented in https://github.com/intel/llvm/blob/sycl/sycl/doc/UsersManual.md#intel-fpga-specific-options.

[2022-01-26 10:20] j-stephan commented on #1190
According to @GarveyJoe [a few comments above](https://github.com/intel/llvm/issues/1190#issuecomment-738918070) additional flags were added to `-fintelfpga` over time. Has this been reverted?

[2022-01-26 10:26] AGindinson commented on #1190
Over time, @mdtoguchi has minimized the gap between the `-fsycl-targets=spir64_fpga` and `-fintelfpga` effects - not by "reverting" Intel FPGA functional features, but by letting the `-fsycl-targets` spelling enable them too. As far as I recall, the only major difference is the default `-g -MMD` setting that comes with `-fintelfpga` - Mike will be quick to correct me if I'm missing some of the det

[2022-01-26 11:24] bader commented on #5320
1. > "Further more, we also noticed that large arrays are copied over using a copy loop rather than a mem copy. This prevent SROA to operate (dynamic indexing makes it bails out) and as a consequence prevents DAE as well."

Replacing a copy loop with a mem copy sounds reasonable. According to my understanding, `device_copyable` property makes this transformation legal.

2. > "supporting types that

[2022-01-26 11:26] alexbatashev commented on #5396
You probably don't have libsycl.so path in your LD_LIBRARY_PATH

[2022-01-26 12:20] wangzy0327 commented on #5396
I tried compile and link the project by cmake.
modified file as follow:
![image](https://user-images.githubusercontent.com/22990858/151161864-1a423da9-6d9e-4c0d-b9a3-f5818a924203.png)

But when I run binary warpped file, the outputs shows terminated as follows:
![image](https://user-images.githubusercontent.com/22990858/151161651-42039e68-7600-4275-a19d-2516b201c40d.png)

[2022-01-26 12:33] alexbatashev commented on #5396
@wangzy0327 CMake splits compilation and linking steps. You also need to pass -fsycl when linking the binary

[2022-01-26 12:39] al42and commented on #2971
Most of the issues listed here have been resolved, so I see no point in keeping this issue open anymore.

[2022-01-26 12:39] #2971 closed

[2022-01-26 12:40] wangzy0327 commented on #5396
Ok . it is correct by modifing link symbol
![image](https://user-images.githubusercontent.com/22990858/151164502-1bdb5ece-ffed-418e-8865-2ee15ec6ba0d.png)
![image](https://user-images.githubusercontent.com/22990858/151164635-6806d086-2133-4071-bf5a-77d221ac4ea9.png)

[2022-01-26 12:49] Naghasan commented on #5320
That relates to the bit above actually.

if you have `T` that is not device copyable per spec rules, this will fail to compile

[code]

But you can specialize `is_device_copyable` to by-pass this compiler check (the user is making a promise)

[code]
Supporting the second case is what I'm after, I'm not advocating to change anything for the first case.

In our case `T` is basically something like:

[2022-01-26 14:11] masterleinad commented on #5320
We actually just merged https://github.com/kokkos/kokkos/pull/4637 in https://github.com/Kokkos/Kokkos that uses some more tricks to make `sycl::is_device_copyable` actually work. In particular, we needed to wrap the functor into a union as also suggested above to prevent the compiler from calling the copy assignment, move assignment, copy construction and move construction operators and the destr

[2022-01-26 14:42] mdtoguchi commented on #1190
The differences are `-g -MMD -lOpenCL` when comparing `-fintelfpga` to `-fsycl-targets=spir64_fpga`.  Behaviors are also different when dealing with `-fsycl-link=early` or `-fsycl-link=image` which are specific to usage with `-fintelfpga`

[2022-01-26 15:42] TApplencourt commented on #5344
Oh, interesting find!
Sadly I was not able to reproduce your behavior.  Maybe I did something bad with my updated reproducer? I but it bellow for more people to try to reproducer for needed.

[code]

[2022-01-26 16:12] MrSidims commented on #5344
No. It's just me being stupid and forgetting to test **single** execution to compare results - so the results that I was comparing are both for double execution. In other words the proposed 'fix' isn't helping.

[2022-01-27 09:44] j-stephan commented on #1190
So the `-fsycl-link` arguments cannot be used without `-fintelfpga`?

[2022-01-27 09:55] pgorlani commented on #2119
The ``500 CUDA_ERROR_NOT_FOUND`` (that turns in a ``801 CUDA_ERROR_NOT_SUPPORTED`` for CUDA toolkit 11.3 and above) is caused by the ``suq.depth`` PTX instruction in 3d sampled readings at

https://github.com/intel/llvm/blob/90c8f0543a38adeda75ad2eca7e999a36a1f2697/libclc/ptx-nvidiacl/libspirv/images/image.cl#L151
https://github.com/intel/llvm/blob/90c8f0543a38adeda75ad2eca7e999a36a1f2697/libclc/p

[2022-01-27 15:40] mdtoguchi commented on #1190
Use of `-fsycl-link` with `-fintelfpga` will generate either `aoco` or `aocx` based archives.  Use of `-fsycl-link` with `-fsycl-targets=spir64_fpga` will generate host-linkable device objects.  At least this is the intention.  Some quick experiments with `-fsycl-link -fsycl-targets=spir64_fpga` looks to have uncovered a bug.

[2022-01-27 16:02] FCLC commented on #5254
Shorter term would be using the intel LLVM backend from ICX/IFX as to build an intel rust compiler.

Being able to do everything within the intel development suite would be a nice efficiency increase as opposed to the current workflow of doing any legacy/intel lib dependant code in C/CPP/Fort while we move new code to rust.

Medium term the trajectory is moving any and all security/cryptographic c

[2022-01-27 16:54] alexbatashev commented on #5254
Most crypto is in the hardware these days. You don't get high performance otherwise. Not sure how much value rewriting existing code can bring here.

Not sure this makes any sense. In SYCL programming model your data is shared across hundreds of threads by default, which is not really allowed by safe Rust. So, it does not help to make USM code safer (other than prohibiting USM), and SYCL accessors

[2022-01-27 17:13] pengtu commented on #5254
Can you share your thoughts on the features from Intel's LLVM backend you would like to add to RUST's LLVM compiler?  In general, we upstream our changes to LLVM, such that they can be used by RUST's backend without forking a new RUST compiler.

[2022-01-27 23:52] smaslov-intel commented on #5344
@TApplencourt : could you share your tests?

[2022-01-28 00:09] pvchupin commented on #2119
@pgorlani, thanks a lot for nice and detailed summary!

[2022-01-28 15:13] TApplencourt commented on #5344
Ofc. Please find them [here](https://gist.github.com/TApplencourt/35d124cf1cf74d240d2c499cb070fbd8).
Please note that I lie when I said that I wrote directly in L0. I used our Ruby Binding.  Ruby binding are at a side effect on [THAPI](https://github.com/argonne-lcf/THAPI) (our take on zetracer). Thanks to [spack](https://github.com/spack/spack), THAPI should be "easy" to install.

Please find bel

[2022-01-28 16:10] FMarno opened #5418 "[SYCL] modf and sincos not compiling with sycl::half type"
**Describe the bug**
The SYCL math functions `modf` and `sincos` don't compile when used with the `sycl::half` type.

**To Reproduce**
[code]
2. Specify the command which should be used to compile the program
compiled with `clang++ -fsycl modf_test.cpp`

compiler output:
[code]

3. Specify the comment which should be used to launch the program
N/A

4. Indicate what is wrong and what was expected
D

[2022-01-28 17:04] AidanBeltonS opened #5420 "[L0] Follow up zeModuleGetFunctionPointer not returning kernel pointer"
This issue is a follow up from #4599 and https://github.com/intel/compute-runtime/issues/460. The current method for querying if a kernel exists is to check if a nullptr is given by `piextGetDeviceFunctionPointer`.

The OpenCL and level zero implementations use `clGetDeviceFunctionPointerINTEL` and `zeModuleGetFunctionPointer` respectively to get the function pointers. The OpenCL and level zero im

[2022-01-31 12:00] anton-v-gorshkov opened #5429 "[CUDA] Atomic fetch_add call cannot be inlined"
**Describe the bug**
DPC++ compiler for NVidia PTX backend cannot inline atomic_ref::fetch_add function that may lead to ~20% performance degradation vs. nvcc on the same device.

**To Reproduce**
[histograms.zip](https://github.com/intel/llvm/files/7970349/histograms.zip)

Steps to reproduce:
[code]
_**Performance degradation is about 17-20%.**_

**Environment (please complete the following infor

[2022-01-31 13:50] Michoumichmich opened #5431 "[CUDA][New PM] Regression on the CUDA backend"
**Describe the bug**

I'm not sure if this is *really* a bug, but https://github.com/intel/llvm/commit/375d2136c0c547d3a8e2a2e642a385f6fd4566d9 disabled some optimizations, but the new pass manager isn't enabled by default.

I was working on molecular dynamics code and my kernels went literally from using several registers and no stack-frame to 255 registers and kilobytes of stack (and so a 50x pe

[2022-01-31 13:53] Michoumichmich commented on #5429
Got the same issue!

[2022-01-31 13:54] bader commented on #5431
I expected `SYCLOptimizationMode` to be enabled only for SPIR target (i.e. it should be off for NVPTX and AMDGCN). @mlychkov, could you check that, please?

[2022-01-31 17:22] AlexeySachkov commented on #5418
Hi @FMarno, thanks for the report

It seems like only let's say "scalar" versions of those built-ins are affected and if you change your example to use `half2`, then it compiles fine, you can use it as a temporary workaround:

[code]

My understanding is that scalar `half` should be supported in those built-ins according to the spec.

We will take a look into this issue, re-assigning to @vladimirl

[2022-01-31 17:28] AlexeySachkov commented on #961
Hi @jinz2014, sorry for such a long delay.

Unfortunately, I don't think that there is an official way to convert one atomic object to another. Tagging @Pennycook here to comment whether it worth to add such thing into SYCL 2020 `atomic_ref`.

The only concern I have is that by allowing so, we might encourage breaking some aliasing rules, which is UB according to C++ spec

[2022-01-31 17:39] AlexeySachkov commented on #1896
Using clang version 14.0.0 (git@github.com:intel/llvm.git 21a31428985dabdf76dd4fd76a3b22d77f8916f7) I'm not able to reproduce this issue anymore, closing it.

[2022-01-31 17:39] #1896 closed

[2022-01-31 17:40] #2786 closed

[2022-01-31 17:58] Fznamznon commented on #2041
I think it was implemented by https://github.com/intel/llvm/pull/3892 and https://reviews.llvm.org/D114483

[2022-01-31 17:58] #2041 closed

[2022-01-31 18:41] #5431 closed

[2022-01-31 18:43] steffenlarsen commented on #1362
This is no longer an issue and the tests have been reenabled since.

[2022-01-31 18:43] #1362 closed

[2022-01-31 18:43] alexbatashev commented on #5055
The differential in question was merged. I'm going to close this issue. @mmeterel please, reopen if the issue is not gone.

[2022-01-31 18:43] #5055 closed

[2022-01-31 19:13] Pennycook commented on #961
The `sycl::atomic` classes from SYCL 1.2.1 (which are deprecated in SYCL 2020) already allow these sorts of conversions.  The constructor for a `sycl::atomic<T>` accepts a `multi_ptr<PointerT>` rather than a `multi_ptr<T>`, and the description of this constructor in SYCL 2020 says:

SYCL 2020 and `atomic_ref` don't expose this sort of functionality, and I agree with @AlexeySachkov that it would be

[2022-01-31 20:18] AlexeySachkov commented on #2353
@krasznaa, @vrpascuzzi, I will close this, because there were no further responses from you for about a year, but if you still experience this or another problem, please let us know

[2022-01-31 20:18] #2353 closed

[2022-01-31 20:23] krasznaa commented on #2353
Sorry for the silence.

I have not seen this type of error ever since. So closing the issue was correct.

[2022-01-31 20:27] AlexeySachkov commented on #3537
@abagusetty, any updates here?

[2022-01-31 20:33] abagusetty commented on #3537
Hey @AlexeySachkov We've received the compiler with this feature. The `is_device_copyable` was working partly to figure out if the object is device copyable/constructable etc. We were expecting that the compiler would copy the objects to the  device if they are not copyable/constructable instead.

[2022-01-31 20:46] jinz2014 commented on #961
Yes. Thank you for your answers!

[2022-01-31 20:46] #961 closed

[2022-02-01 07:21] alexbatashev commented on #5396
@wangzy0327 it appears your issue is resolved now. I'm closing this issue, please, re-open if you disagree.

[2022-02-01 07:21] #5396 closed

[2022-02-01 07:29] #5222 closed

[2022-02-01 07:30] alexbatashev commented on #5142
Related issue: https://github.com/intel/llvm/issues/4940

[2022-02-01 07:53] bader commented on #3537
It looks like https://github.com/intel/llvm/issues/5320 is proposing something like that. Tagging @Naghasan.

Doesn't it sound strange? I have a concern that this might lead to bugs which are hard to detect/debug. If object type is not "device copyable", it means that we can't just re-create bitwise copy of the object on the device and keep object's semantics.
I think developers must (explicitly!)

[2022-02-01 08:37] alexbatashev commented on #693
The issue appears to be resolved in our source code: https://github.com/intel/llvm/blob/ae7e3d8d7e3ab011c08ed1d85ba211947dc22c05/sycl/source/detail/program_manager/program_manager.cpp#L1666-L1669

[2022-02-01 08:37] #693 closed

[2022-02-01 08:45] #268 closed

[2022-02-01 09:40] mlychkov commented on #5431
@Michoumichmich I see that you closed the issue. Could you please say if you solved the issue?

[2022-02-01 10:33] Michoumichmich commented on #5431
Hi, yes, finally the bug wasn't caused by this commit. I had moved a function call and the ptx kernel blew up. The behavior was still surprising.

So I have a constexpr function template defined like:

[code]

And then in a kernel I unroll a range for loop that uses these returned values:
[code]
That code compiles fine, uses a few registers and no stack.

The issue happened whey I moved the call t

[2022-02-01 10:36] Michoumichmich commented on #5431
The goal was to generate a kernel with the "known at compile time permutations" embedded inside (rather than a runtime loop with the cost of the computation of the permutations)

[2022-02-01 10:45] mlychkov commented on #5431
Yes, `SYCLOptimizationMode` is enabled for SPIR target only in clang.

[2022-02-01 10:46] Michoumichmich commented on #5431
My apologies for pinging your commit

[2022-02-01 11:06] mlychkov commented on #5431
No problem at all. I’m glad to be of service.

[2022-02-01 14:30] npmiller commented on #5243
I have submitted a patch upstream to fix this issue:

* https://reviews.llvm.org/D118692

The problem here is that the COFF section name encoding for large section names, with large string tables, wasn't implemented properly in `llvm-objcopy`. And `llvm-objcopy` is used by the `clang-offload-bundler` to bundle the offload binaries in the final executable. And the section name is used by the compil

[2022-02-01 16:31] pvchupin commented on #5007
@sergey-semenov, can you confirm please that this is general runtime issue rather than CUDA specific?

[2022-02-01 16:46] sergey-semenov commented on #5007
It certainly appears so. There's one known segfault problem related to post-enqueue cleanup and it has to do with execution graph leaf handling. @npmiller Could you please check if this fix (https://github.com/intel/llvm/pull/5417) takes care of this segfault too? @KseniyaTikhomirova FYI

[2022-02-01 17:07] npmiller commented on #5007
@sergey-semenov I've just tried it and as far as I can tell it does seem that #5417 fixes the segfault in this test. I've ran the sample successfully several times with 100 iterations and a couple times with 500 iterations with no issues.

@zjin-lcf I suspect this may also fix it for CUDA even without `ulimit -s unlimited`

[2022-02-01 18:40] romanovvlad commented on #5379
@zjin-lcf
Could you please provide all the information asked in the template so we can analyze the issue.
Template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Please describe the steps to reproduce the behavior:

1. Include code snippet as short as possible
2. Specify the command which should be used to compile the program
3. Specify the comment whi

[2022-02-01 18:41] romanovvlad commented on #5371
@wangzy0327
Could you please confirm that the issue is resolved and could you please close the issue if it is?

[2022-02-01 19:16] smanna12 opened #5449 "No diagnostic for checking max_work_group_size and max_global_work_dim attributes when merging"
// We are checking for
// max_work_group_size and max_global_work_dim
// attributes when merging, so the test compiles without
// any diagnostic when it shouldn't.
struct TRIFuncObjBad {
  [[intel::max_work_group_size(4, 4, 4)]] void
  operator()() const;
};

[[intel::max_global_work_dim(0)]]
void TRIFuncObjBad::operator()() const {}

[2022-02-01 19:20] zjin-lcf commented on #5379
Sorry. Could the developers of CM explain when this file is generated ?

[2022-02-01 19:24] zjin-lcf commented on #5007
I would like to run the program after #5417 is merged. I hope that is fine. Thank you for your updates and tests.

[2022-02-01 20:42] bader commented on #5379
I bet it was caused by ESIMD emulator, which build was enabled for a few days. @dongkyunahn-intel, does it seem like a possible cause?
@zjin-lcf, could you make a clean build of a new compiler and check if this file is still generated, please?

@AlexeySachkov, I don't think it's related to CUDA.

[2022-02-01 21:42] zjin-lcf commented on #5379
Yes, I built the compiler with CUDA support today. The file is generated.  Can you reproduce that ?

[2022-02-02 04:14] dongkyunahn-intel commented on #5379
`cmrt_dump.txt` is generated by CM - https://github.com/intel/cm-cpu-emulation/blob/3c9eb58b06b72d28de3015d23243f0fa594cdb31/libcmrt/cm_statistics.cpp#L95.

However, ESIMD_EMULATOR using CM is enabled only with `--enable-esimd-emulator` option in origin/sycl branch (https://github.com/intel/llvm/pull/5366). I would suggest pulling up-to-date `origin/sycl` branch to their own working branch and doi

[2022-02-02 12:39] zjin-lcf commented on #5379
I didn't delete the 'build' directory.  Thank you for your suggestions!

[2022-02-02 14:51] vladimirlaz commented on #5369
@ThielemannSe  could you add -v option to your compile command line and share updated log:
[code]
It would be nice to see exact compilation command is used on your machine?

[2022-02-03 07:08] bader opened #5466 "Regression/unoptimized_stream.cpp sporadically fails on AMD GPU"
**Describe the bug**
I noticed unexpected failure in the pre-commit validation for the documentation change - https://github.com/intel/llvm/pull/5452. It's clear that documentation change can't cause the failure of this test.
[code]
**To Reproduce**
That issue might be difficult to reproduce as it seems to be sporadic. I've seen this issue for the first time.
Probably the best way to reproduce it

[2022-02-03 11:03] npmiller commented on #4436
The fix has now been released in the `ptxjit-compiler` so this should work fine with the latest CUDA version and Nvidia driver.

I've tested this with a GTX 1050 Ti, NVidia drivers 510.47.03 and CUDA 11.6.0:
[code]

[2022-02-03 11:17] lsatanov commented on #5379
Hi. I'll get rid of it in the next CM EMU opensource release.

[2022-02-03 11:36] zjin-lcf commented on #5379
Okay.

[2022-02-03 14:14] Fznamznon commented on #3172
I don't think this particular example reveals any bugs in the FE. This example calls the following constructor of `multi_ptr` class:
https://github.com/intel/llvm/blob/52fad5a98dd802907295205251a55c5b212c03cb/sycl/include/CL/sycl/multi_ptr.hpp#L64
(Please note that SYCL2020 `multi_ptr` class doesn't have such constructor!)
It accepts a pointer in default address space and then **explicitly** conve

[2022-02-04 09:15] mlychkov opened #5473 "Matrix LIT tests fails for CUDA target with new Pass Manager in clang"
LIT testing using clang with the new Pass Manager by default is failed for the following tests:
  SYCL :: check_device_code/matrix/matrix-nvptx-bf16-test.cpp
  SYCL :: check_device_code/matrix/matrix-nvptx-half-float-test.cpp
  SYCL :: check_device_code/matrix/matrix-nvptx-half-half-test.cpp
  SYCL :: check_device_code/matrix/matrix-nvptx-int8-test.cpp
  SYCL :: check_device_code/matrix/matrix-nvp

[2022-02-04 09:18] mlychkov commented on #5473
Tagging @JackAKirk for awareness.

[2022-02-04 09:59] JackAKirk commented on #5473
Thanks.  It seems that the nightly build system is generating different names for the reinterpret_casted pointers than my system, although the calls still appear correct.  I can disable the tests until I understand why this is and fix the tests.

[2022-02-04 10:13] mlychkov commented on #5473
You may try to reproduce the issue on your current system just adding option `-fno-legacy-pass-manager` to clang compiler.

[2022-02-04 10:27] JackAKirk commented on #5473
OK, yes I'm see the same result on my system using -fno-legacy-pass-manager.  I think I can still disable the tests temporarily until I understand the behaviour.  I think that the functionality will be identical in either case, as tested fully by this integration test in intel/llvm-test-suite: https://github.com/intel/llvm-test-suite/blob/intel/SYCL/Matrix/joint_matrix_tensorcore.cpp

[2022-02-04 11:51] AerialMantis commented on #4436
Now that the bug in `ptxjit-compiler` has been fixed, and the `test_math_builtin_api` is passing with the latest Nvidia drivers and CUDA SDK I believe we can close this ticket.

[2022-02-04 11:51] #4436 closed

[2022-02-04 15:44] npmiller commented on #4041
Closing this ticket now that #5309 is merged, `-fsycl-fp32-prec-sqrt` should be used to obtain the correct precision (this is supported by the CUDA and HIP backends).

Feel free to re-open or file a new ticket if there is still issues with this.

[2022-02-04 15:44] #4041 closed

[2022-02-04 17:33] Pennycook opened #5477 "Support complex numbers in sycl::reduction"
The [sycl_ext_oneapi_complex_algorithms](https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/proposed/sycl_ext_oneapi_complex_algorithms.asciidoc) extension adds support for `std::complex` to algorithms like `reduce` and `reduce_over_group`.

During review of https://github.com/intel/llvm/pull/5394, it became clear that adding support for `std::complex` to `sycl::known_identity` would have

[2022-02-04 22:10] Pennycook opened #5479 "Variable definition in usm.hpp conflicts with user macro"
https://github.com/intel/llvm/pull/5391 introduced several variables called "CL", for example here:
https://github.com/intel/llvm/blob/708a5bface104ffc0a2726e0fa399cb09ebb02b5/sycl/include/CL/sycl/usm.hpp#L21-L23

This conflicts with a "CL" macro in an application I'm working on.  Can we change all of these to `loc` or `codeLoc` instead?

It might also be a good idea to add some sort of check for

[2022-02-07 07:35] vladimirlaz commented on #5077
Close issue as originator confirmed it is fixed.

[2022-02-07 07:35] #5077 closed

[2022-02-07 07:43] vladimirlaz commented on #5418
The problem looks general for use of sycl::<functions> with sycl::half type (related issue https://github.com/intel/llvm/issues/4815)

[2022-02-07 07:46] vladimirlaz commented on #4815
@hdelan could you close the issue to avoid duplication. The fix is going to be implemented in scope of https://github.com/intel/llvm/issues/5418.

[2022-02-07 07:51] vladimirlaz commented on #4451
Tthe fix for the issue is available in https://github.com/intel/llvm/pull/5223 and https://github.com/intel/llvm/pull/5333.
Close the issue.

[2022-02-07 07:51] #4451 closed

[2022-02-07 08:11] vladimirlaz commented on #4132
The issue is resolved in the scope of: https://github.com/intel/llvm/pull/4890 and https://github.com/intel/llvm/pull/4249.

[2022-02-07 08:11] #4132 closed

[2022-02-07 08:12] #5112 closed

[2022-02-07 08:15] vladimirlaz commented on #4371
@smaslov-intel could you comment on the issue?

[2022-02-07 08:16] alexbatashev commented on #4954
@zjin-lcf I suggest you raise this issue in https://github.com/KhronosGroup/SYCL-Docs

I'm going to close this, as this is more of specification issue, rather than a particular implementation.

Tagging @keryell @jbrodman @Pennycook

[2022-02-07 08:16] #4954 closed

[2022-02-07 08:23] alexbatashev commented on #4669
@masterleinad generic address space has been added in https://github.com/intel/llvm/commit/e99f298e20511ae3f592f1a4d3a491507a91b01c

Can this issue be closed now?

[2022-02-07 08:29] alexbatashev commented on #4544
Related PR: https://github.com/intel/llvm/pull/5388

[2022-02-07 10:10] hdelan commented on #4815
Sure will do.

[2022-02-07 10:10] #4815 closed

[2022-02-07 10:48] alexbatashev commented on #4371
Isn't `SYCL_PI_TRACE=-1` already doing this?

[2022-02-07 11:48] vladimirlaz commented on #4371
AFAIK it does not provide information about loaded libraries.

[2022-02-07 12:24] alexbatashev commented on #4371
@vladimirlaz
[code]

[2022-02-07 12:25] AlexeySachkov commented on #1453
It looks like the test was re-enabled (with some changes) in #1460 and the implementation was further improved in #5195 to avoid emitting duplicated diagnostics at all, closing this one.

[2022-02-07 12:25] #1453 closed

[2022-02-07 12:29] #1426 closed

[2022-02-07 13:01] zjin-lcf commented on #4954
Tagging may have raised the issue already.

[2022-02-07 14:24] vladimirlaz commented on #4371
ICD loader for OpenCL or ze_loader are not displayed here

[2022-02-07 14:42] AlexeySachkov commented on #1542
Closing this one, because we have a more up-to-date tracker for those issues here: intel/llvm-test-suite#249

[2022-02-07 14:42] #1542 closed

[2022-02-07 14:58] AlexeySachkov commented on #3823
@yiakwy-mapping-team, is there something else you would like to ask/clarify? Can we close this issue?

[2022-02-07 16:13] masterleinad commented on #4669
Tested in https://github.com/kokkos/kokkos/pull/4739.

[2022-02-07 16:13] #4669 closed

[2022-02-07 16:39] smaslov-intel commented on #4371
Right, it only prints about loaded PI plugins shared libraries or dlerror reasons why anything wasn't loaded.

The L0 plugin is linked to the L0 loader, so it is a must the L0 loader library is able to load for SYCL_PI_TRACE=1 to report success. If however, the loaded L0 loader doesn't function properly, then we might silently not see L0 devices. However, I do not see how dlerror can help.

Can so

[2022-02-07 16:48] TApplencourt commented on #5344
Just for the sake of people monitoring this thread, I was able to see concurrent execution of kernel using multiple command queues. One just needs to use multiple [index](https://spec.oneapi.io/level-zero/latest/core/api.html#_CPPv4N23ze_command_queue_desc_t5indexE) when creating the command queues.

For the people who can read ruby, I put the reproducer bellow
[code]

[2022-02-08 05:59] vladimirlaz commented on #4371
In general, I would like to understand why I am missing some BE. There might be environment misconfiguration making SYCL RT miss some BE library. On Linux, I can use [strace](https://man7.org/linux/man-pages/man1/strace.1.html) to detect which library is missed. But it would be great if the missing library is clearly reported by SYCl RT (by default or when SYCL_PI_TRACE=1 is provided).
I think the

[2022-02-08 06:57] alexbatashev commented on #4371
Right, but that essentially puts your application into debug mode and executes it step by step until `syscall` instruction is executed. I think that would be an overkill for runtime. And low-level runtimes and loaders are generally not very verbose about their failures.

[2022-02-08 07:43] vladimirlaz commented on #4371
I am not forcing the use of strace in RT. I would like to see user-friendly warding for missing highlevel BE libraries (loader/RT library)

[2022-02-08 10:36] romanovvlad commented on #5207
FYI.
C++ attributes can be used, see https://github.com/intel/llvm/blob/sycl/clang/include/clang/Basic/AttrDocs.td#L3114

[2022-02-08 10:47] romanovvlad commented on #5071
@masterleinad Could you please tell if the issue is resolved?

[2022-02-08 11:01] romanovvlad commented on #4882
Closing the issue as a duplicate of #4873. Please, reopen if there are some concerns?

[2022-02-08 11:01] #4882 closed

[2022-02-08 11:02] #5449 closed

[2022-02-08 13:21] AlexeySachkov commented on #4689
@CaoZhongZ, my understanding is that should be possible with [`-Xsycl-target-frontend=<T> "options"`](https://github.com/intel/llvm/blob/sycl/sycl/doc/UsersManual.md#target-toolchain-options) option, i.e. something like:
[code]

should do the trick.

[2022-02-09 11:42] mlychkov commented on #5473
@AerialMantis You added "Needs triage" label. Could you please clarify what are your concerns?
As I understood the issue was just in a bit different sequence of instructions in test IRs generated after optimizations by legacy and new PMs. @JackAKirk just fixed check strings in LIT tests.
Do you think that this difference may affect matrixes support on CUDA?

[2022-02-09 12:30] romanovvlad commented on #4817
Closing then, please track further progress in https://github.com/intel/llvm/issues/4873. Please, feel free to reopen if any concerns.

[2022-02-09 12:30] #4817 closed

[2022-02-09 12:43] romanovvlad commented on #4620
@abagusetty
Hi, since there is a tracker in Khronos repo, do you mind closing this tracker?

[2022-02-09 13:19] t4c1 opened #5519 "`-ffast-math` can cause significant slow down"
**Describe the bug**
Specifying `-ffast-math` can under some circumstances cause significant slowdown.

**To Reproduce**
TODO: @t4c1 to add a reproducer.
Compare performance with and without `-ffast-math`

**Environment (please complete the following information):**

- OS: Linux
- Target device and vendor: Nvidia GPU
- DPC++ version: aa2162ca8602d0ab71bfc78bc962802e9379a9bb
- Dependencies version:

[2022-02-09 13:58] romanovvlad commented on #4875
@zjin-lcf
Reproduced the issue and it indeed seems to be related to how `double2` is passed to `ced`. So far, I tend to say that it's a product issue, but more debugging is required.
It would be great if there was a small reproducer.

[2022-02-09 14:34] zjin-lcf commented on #4875
Thank you for running the example. This is a great example developed by AMD with codes and documentation. I hope it is a good reproducer for you.

[2022-02-09 15:44] masterleinad commented on #5071
With the latest release
[code]
I still get
[code]
and no proper error message saying that this call requires the workgroup size as a parameter. Thus, it still seems to not conform to the SYCL standard which says in https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#_queries:
[code]

[2022-02-09 16:37] jeffhammond commented on #5263
This error no longer occurs for me, in e2e71a9d95360133009d8a9731baec61959840ed.  I have other problems, which I will report separately.

[2022-02-09 16:37] #5263 closed

[2022-02-09 18:18] #4620 closed

[2022-02-09 22:06] Pennycook opened #5526 "Implement SYCL 2020 address_space_cast"
**Is your feature request related to a problem? Please describe**
https://github.com/intel/llvm/pull/5500 introduces a new warning to alert developers to unsafe casts from generic pointers to named address spaces.  This is a huge usability improvement, but may leave developers confused about whether there is a safe way to perform such casts.

SYCL 2020 defines an `address_space_cast` function for

[2022-02-10 00:25] zjin-lcf commented on #5519
It is not a public repository, is it ?

[2022-02-10 06:04] mlychkov commented on #5473
@AerialMantis Ok, I see. Thank you for clarification.
@JackAKirk Thank you so much for fixing this so fast.
I think this issue can be closed now.

[2022-02-10 06:04] #5473 closed

[2022-02-10 08:09] Fznamznon commented on #3172
https://github.com/intel/llvm/pull/5500 added the warning on attempt to cast from named address space to default. Use -Wsycl-strict to enable it:
[code]
@booknouse , @abagusetty , @CaoZhongZ Please let me know if it helps.

[2022-02-10 08:26] t4c1 commented on #5519
There was a bit of a misunderstanding. The reproducer for this requires code that is not public. Links are now removed.

Closing this for now. Will reopen when we have a better understanding of what is going on or a public reproducer.

[2022-02-10 08:26] #5519 closed

[2022-02-10 11:54] alexbatashev commented on #4331
See resolution here: https://github.com/intel/llvm/discussions/4330#discussioncomment-2148406

[2022-02-10 11:54] #4331 closed

[2022-02-11 01:53] DGASUK opened #5545 "llvm buildbot compile error - opencl environment issue?"
After downloading llvm package, followed instructions in 'Getting started with oneAPI DPC++' for Windows (64 bit Pro version). Configure.py buildbot completed but compile.py failed and exited - see attached files configure.txt and compile.txt.

Have previously been using AMD APP SDK for OpenCL successfully with kernels for Intel CPU, Intel HD integrated graphics, and AMD GPU devices. Wanted to try

[2022-02-11 06:53] alexbatashev opened #8806 "SYCL::ESIMD/api/functional/ctors/ctor_default_fp_extra.cpp failed on unrelated changes"
Logs:
[code]

[2022-02-11 07:05] alexbatashev commented on #5545
@DGASUK you're trying to compile with mingw. We do not support this scenario:

[code]

[2022-02-11 08:58] rolandschulz opened #5549 "ICE compiling GROMACS"
[code]
[atomprop.zip](https://github.com/intel/llvm/files/8047223/atomprop.zip)

[2022-02-11 08:58] rolandschulz commented on #5549
[atomprop.zip](https://github.com/intel/llvm/files/8047233/atomprop.zip)

[2022-02-11 13:01] lsatanov commented on #5379
Release PR that fixes this:
https://github.com/intel-innersource/drivers.gpu.compiler.cmc.emu.staging/pull/130

[2022-02-11 22:35] al42and commented on #5330
As of version e211d733989e4e6680585a68f0fc4f6c236aaa99, the issue appears to be resolved.

[2022-02-12 06:07] anton-v-gorshkov commented on #4134
This issue was fixed for Intel GPUs but still relevant for NVidia - so we have to fix it I guess.

[2022-02-12 07:15] bader commented on #4134
The ticket description doesn't mention that this the issue for NVidia. Could you check if it's the case and update the description, please?

[2022-02-12 13:47] al42and opened #5561 "sycl::is_compatible is declared but not defined"
**Describe the bug**

The following function is declared in `sycl/include/CL/sycl/kernel_bundle.hpp` but is does not seem to be defined anywhere:

[code]

**To Reproduce**

Check IntelLLVM repo:

[code]

Try to compile a simple program:

[code]

[code]

**Environment (please complete the following information):**

- OS: Ubuntu Linux 20.04.3
- Target device and vendor: Intel GPU
- DPC++ version: e2

[2022-02-12 13:49] al42and opened #5562 "Compile-time definitions to detect used SYCL targets"
**Is your feature request related to a problem? Please describe**

One or more targets can be passed to `-fsycl-targets`. For the program being compiled, it can be beneficial to know at compile time which targets were used. In my use case, different flavors of a kernel are used for different architectures (NVIDIA, Intel). If a certain architecture is not among the targets, one can skip compiling t

[2022-02-13 14:14] Michoumichmich commented on #5429
These are not inlined:
[code]

[2022-02-14 00:28] DGASUK commented on #5545
@alexbatashev It's not quite correct to say I was trying to compile with mingw. As you can see from the attached file, I had run vcvarsall.bat from a Visual Studio folder and was fully expecting that compiler to be selected - I very rarely use mingw myself. I just followed the suggestion in the 'Getting Started with OneAPI DPC++' guide that it was easier to use the buildbot scripts. Is it somethin

[2022-02-14 07:56] anton-v-gorshkov commented on #4134
Hi Alexey! Thanks for noticing that, updated.

[2022-02-14 09:10] alexbatashev opened #5568 "PDB generation in SYCL runtime causes problems with sccache"
Setting up:
[code]

sccache recommends using `/Z7` instead of `/Zi` flag. See here: https://github.com/mozilla/sccache

Example error logs:
[code]

[2022-02-14 09:14] alexbatashev opened #5569 "Enable sccache in Windows CI"
https://github.com/intel/llvm/pull/5560 introduced Windows builds in GitHub Actions nightly. Typical build takes 2.5 hours to complete. Compile times can be improved by enabling sccache, which was not done due to https://github.com/intel/llvm/issues/5568

Enable sccache in regular CI once https://github.com/intel/llvm/issues/5568 is resolved.

[2022-02-14 09:17] denis-kabanov opened #5570 "[hip][SYCL] Implement "case PI_DEVICE_INFO_ATOMIC_64" check on hip backend."
The case for PI_DEVICE_INFO_ATOMIC_64 is currently not implemented in sycl/plugins/hip/pi_hip.cpp, so get_device_info receives PI_INVALID_VALUE. But without the 'template <> struct get_device_info<bool, info::device::atomic64>' specialization from sycl/source/detail/device_info.hpp (this specialization is planned to be [removed](https://github.com/intel/llvm/pull/5430)), PI_INVALID_VALUE will caus

[2022-02-14 17:18] zjin-lcf opened #5573 "[SYCL] program aborted with the level zero backend and results do not match on Nvidia/AMD GPUs."
Running the program (compression/decompression) aborted with the level zero backend on an Intel GPU in DevCloud.  The program does not abort with the OpenCL backend. Can you reproduce the issue ?  If the CUDA program is not ported right, please let me know.  Thanks.

[code]

Additionally, the decompressed output of the SYC program does not match that of the CUDA/HIP program on Nvidia/AMD GPUs.

[2022-02-14 19:10] abagusetty opened #5574 "[SYCL] get_profiling_info doesnt throw an exception"
**Describe the bug**
Bug is related to using `sycl::event::get_profiling_info()` without enabling profiling option for sycl::queue
i.e, without mentioning this option during queue creation `sycl::property_list{sycl::property::queue::enable_profiling{}})`

**To Reproduce**
[code]
SYCL spec indicates to throw an exception for the usage of `get_profiling_info` without `enable_profiling`: https://www.

[2022-02-14 19:15] abagusetty commented on #5574
Update: May be, should also throw an exception for this interface too ? when queue launches a kernel directly without using explicit commandgroup handler.
[code]

[2022-02-14 20:34] smanna12 commented on #4224
@Pennycook, i will take a look at this bug.

[2022-02-14 21:26] TApplencourt commented on #5344
They are just FFI binding to the L0 commands. We don't modify any L0 command. We don't insert events to profiling or this kind of this.
 But I will write a direct L0 reproducer for this particular test and post it here.

[2022-02-14 21:36] jandres742 commented on #5344
@TApplencourt  could you elaborate on this then?

what do you mean that THAPI is your take on ze_tracer? is THAPI then a tracing/profiling tool?

[2022-02-14 21:57] TApplencourt commented on #5344
Yes. THAPI is a tracer. You use it the same way you use ze_tracer. It will intercept all the L0 call and generate the trace (dumping the arguments of each L0 call and the timespampt). They may add new events if you ask for GPU profiling. It's a tracing profiling tool

 The ruby binding is just that binding. It's a by product of THAPI. Some post-analysis tools shipped with TAPI use ruby binding.  R

[2022-02-14 22:00] jandres742 commented on #5344
thanks. @TApplencourt . So this is what I was referring to:

If the tool adds some extra events, then depending on how those events are created and the gen on which you are running, you may see some serialization. That's why I think having a standalone reproducer on L0 would help here more.

[2022-02-14 22:03] TApplencourt commented on #5344
But the ruby binding doesn't add an event. Never. And I use only the ruby binding. I don't use events in the code. Just CPU timing. But I will write the L0 reproducer for the multiple index case.
 Will be simpler for everybody to share.

[2022-02-15 00:20] TApplencourt commented on #5344
Hi @jandres742,

I did write it directly in L0. Please find it here for your review: https://gist.github.com/TApplencourt/35d124cf1cf74d240d2c499cb070fbd8

As expected, the behavior is *exactly* the same with the ruby binding. I was expecting 4x, I got only 2.

[code]

Hope this helps,

PS: I followed your coding style, so if you trace the code you will see that `stype` fields are un-initialized b

[2022-02-15 07:22] jandres742 commented on #5344
Thanks @TApplencourt . Will dig deeper into the reproducer and report back.

[2022-02-15 08:33] rolandschulz commented on #5549
The issue is specific to AVX512 and also occurs with upstream. I filed an upstream issue: https://github.com/llvm/llvm-project/issues/53842

[2022-02-15 11:52] AaronBallman commented on #3677
This is still an issue.

[2022-02-15 12:33] npmiller commented on #5007
@zjin-lcf #5417 has been merged, have you had the time to test this again? Can we close this ticket?

[2022-02-15 14:40] zjin-lcf commented on #5007
Yes. I ran the example. Thanks.

[2022-02-15 14:40] #5007 closed

[2022-02-15 22:40] rolandschulz commented on #5549
Fixed in main/upstream. Fixed in sycl when merged.

[2022-02-16 11:37] alexbatashev commented on #5574
@abagusetty did you use Level Zero or OpenCL for backend?

[2022-02-16 11:45] abagusetty commented on #5574
@alexbatashev I've only checked with L0

[2022-02-16 13:15] zjin-lcf commented on #5570
Does PI_DEVICE_INFO_ATOMIC_64  mean atomic operations over both global and shared memory ?

[2022-02-16 13:27] denis-kabanov commented on #5570
As I know, the PI_DEVICE_INFO_ATOMIC_64 case should checks that kernels submitted to the device may perform 64-bit atomic operations. (e.g. device.has(aspect::atomic64) == 1 if the device supports 64-bit atomic operations)

[2022-02-16 15:11] #5568 closed

[2022-02-16 15:11] #5569 closed

[2022-02-16 20:35] dongkyunahn-intel opened #5599 "[SYCL][ESIMD][EMU] Atomicity control for ESIMD_EMULATOR plug-in"
Atomicity control in ESIMD_EMULATOR plug-in implementation uses dynamic allocation for global locks at module construction.

Comment by @lsatanov : https://github.com/intel/llvm/pull/4748#discussion_r803693105

This type of implementation was imported from level_zero and it is noted that there is memory leak in level_zero plug-in implementation. ESIMD_EMULATOR implementation has same comments for

[2022-02-17 04:01] jingwan2 opened #5600 "Compiler crash at pass 'SYCL Local Accessor to Shared Memory' on CUDA backend caused by https://github.com/intel/llvm/pull/5149"
**Describe the bug**
Compiler crash at pass 'SYCL Local Accessor to Shared Memory' on CUDA backend, caused by https://github.com/intel/llvm/pull/5149

**To Reproduce**
1. CUDA backend compiler https://github.com/intel/llvm/commit/58508ba3158ab83e8c277677f8613f76344f67a6 or later
2. Get attached [main.txt](https://github.com/intel/llvm/files/8085676/main.txt) and [foo.txt](https://github.com/intel/

[2022-02-17 07:17] alexbatashev opened #5601 "Unnecessary allocation in L0 plugin"
https://github.com/intel/llvm/blob/e6d0547e9d99b5a56430c4749f6c7e328bf221ab/sycl/plugins/level_zero/pi_level_zero.cpp#L394-L395

SpinLock is a trivial class, it will outlive all other C++ global objects, there's no need to allocate it on heap.

[2022-02-17 10:48] psamolysov-intel commented on #4875
Can be reproduced on Windows too on GPU (both drivers, level zero as well as OpenCL) and on CPU.

To build the demo application for CPU and test:

[code]

To build the demo application for GPU and test:

[code]

After I've changed the code a bit, replacing this in `kernels.cpp` starting from line 97:

[code]

with this:

[code]

(manually creating temporary `double2` objects instead of just using

[2022-02-17 10:48] #4875 closed

[2022-02-18 02:34] paboyle commented on #1750
This issue still needs addressed in my view.
I'm using level zero and have a separate request.
But that is not portable and SYCL aims at portability.
A multiGPU support in SYCL 2020 makes sense.

[2022-02-18 04:29] inducer commented on #2038
I just verified that this is still an issue with release 2021-09.

[2022-02-18 06:31] keryell commented on #4875
This is an interesting example showing that SYCL is pure C++ while OpenCL has its own life.

[2022-02-18 06:32] alexbatashev commented on #5545
@DGASUK you can specify the compiler manually by passing `--cmake-opt="-DCMAKE_C_COMPILER=cl" --cmake-opt="-DCMAKE_CXX_COMPILER=cl"` to `configure.py`

[2022-02-18 06:40] alexbatashev commented on #2113
This seems to be fixed now. Please, re-open if you disagree.

tagging @smaslov-intel

[2022-02-18 06:45] alexbatashev commented on #2903
The extension naming scheme was updated to conform to latest SYCL 2020 specification. Please, re-open if you disagree.

[2022-02-18 06:45] #2903 closed

[2022-02-18 10:30] #3020 closed

[2022-02-18 15:25] bd4 commented on #1687
Closing, this is working for us on latest oneAPI. More importantly, the SYCL backend of gtensor (https://github.com/wdmapp/gtensor/), much more complex the the CRTP example linked above, is also working. Some refactoring was required to make everything work with non-mutable lambdas.

[2022-02-18 16:29] AaronBallman commented on #3309
CodeGen in Clang community doesn't link against Sema. I have no idea why SYCL does it, but it is a layering violation.

[2022-02-18 17:41] #2113 closed

[2022-02-18 17:55] Pennycook commented on #2843
As @keryell said, this was discussed extensively within Khronos before SYCL 2020 settled on disallowing `mutable` lambdas.  The "what changed" appendix ([Appendix D](https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#sec:what-changed-between)) explains:

If it is desirable for each work-item to have its own private copy of a variable, the simplest work-around is to declare a

[2022-02-18 17:55] #2843 closed

[2022-02-19 00:50] pvchupin commented on #3025
OpenCL CPU RT is closed source at the moment. There are no nearest future plans to open source it.
Closing as duplicate of #1720

[2022-02-19 00:51] pvchupin commented on #1720
Unfortunately there are no nearest future plans to open source OpenCL CPU RT. Can keep it open until plan changes...

[2022-02-19 11:43] nazavode commented on #1518
Up.

[2022-02-19 12:24] #813 closed

[2022-02-20 16:37] Michoumichmich opened #5618 "[Regression] New segmentation fault when using get_kernel_bundle"
Hi,
Since https://github.com/intel/llvm/pull/5496 I have segmentation faults when using `sycl::get_kernel_bundle`.
The following code works as expected:

[code]

However when the same code is used in another project (https://github.com/Michoumichmich/MolecularDynamics), it systematically fails. That project builds several backends as shared libraries. They all depends on SYCL. As discussed here: h

[2022-02-21 08:37] Fznamznon commented on #1032
The issue is still here.

[2022-02-21 09:33] t4c1 commented on #5210
The first issue (runtime error) is a bug in the CTS test, which I fixed in a PR linked above this comment.

[2022-02-21 16:50] vladimirlaz commented on #2252
The missing symbols are available in the latest CPU RT (2021.13.11.0.23)
All impacted tets have been enabled back: https://github.com/intel/llvm-test-suite/pull/858

[2022-02-21 16:50] #2252 closed

[2022-02-21 16:51] vladimirlaz commented on #1594
the PR https://github.com/intel/llvm/pull/5621 enables back the portability check

[2022-02-21 18:15] bader commented on #1594
FYI: you can link this issue with the pull request, so when PR is merged, the issue will be closed automatically.

[2022-02-22 01:18] wangzy0327 opened #5625 "What to do if I want to use Hip toolchain?"
When I compile oneDNN source files using make -j 20,I get error as following:
error: no matching function for call to 'get_native'
error: no matching function for call to 'get_native_mem'

I ask about the problem details on oneDNN[https://github.com/oneapi-src/oneDNN/issues/1282]

So, what can I get some help?

[2022-02-22 06:04] jingwan2 opened #5627 "[CUDA Backend] sparse matrix multiplication 70% performance regression by https://github.com/intel/llvm/pull/2724"
**Describe the bug**
Sparse matrix multiplication 70% performance regression on CUDA backend by https://github.com/intel/llvm/pull/2724

**To Reproduce**
1. Compiler for CUDA backend using head https://github.com/intel/llvm/commit/bc3cf094b850a861533c8ee27e5b0a71af0513ba or later, call it as **EXP**
2. Compiler for CUDA backend using EXP and revert https://github.com/intel/llvm/pull/2724, call it

[2022-02-22 07:15] alexbatashev commented on #5625
HIP backend is experimental and currently does not support interoperability APIs.

[2022-02-22 10:27] npmiller commented on #5243
Quick update on this, the patches have been merged upstream, so it should be fixed in the next pulldown. Will update again when the patches land in the SYCL branch.

[2022-02-22 12:13] #3495 closed

[2022-02-22 12:43] t4c1 opened #8805 "SYCL/Basic/event_profiling_info.cpp fails sporadicaly with CUDA backend"
The test is being disabled in https://github.com/intel/llvm-test-suite/pull/534.

[2022-02-22 19:27] v-klochkov commented on #5477
I agree and think that sycl::has_known_identity should return true for std::plus<std::complex>.
That will automatically enable std::complex plus operation for sycl::reductions without explicitly passed identity value.

[2022-02-22 23:24] P-Jensen commented on #5429
For the AtomicFAdd the problem can be fixed by adding __attribute__((always_inline)) to the definition.  Like so:

[code]

[2022-02-23 02:46] Michoumichmich commented on #5429
Nice, thanks! Adding `__attribute__((always_inline))` in `atomic_load.cl`, `atomic_store.cl` and `atomic_add.cl` solved it for me. Only the change in `atomic_helpers.h` wasn't enough for `AtomicIAdd`.

[2022-02-23 12:36] alexbatashev opened #5641 "SYCL::Basic/accessor/accessor.cpp timed out on unrelated change"
Link to PR https://github.com/intel/llvm/pull/5639
Link to full logs: http://pre-commit.llvm.intel.com:8013/data?file=intel/PR5639/dc6fd8d0f0/Linux_LLVM-Test-Suite_FAILURE.log
[code]

[2022-02-23 14:29] alexbatashev opened #5644 "Enable CUDA builds and validation in GitHub Actions"
GitHub Actions lack support for CUDA validation due to resource constraints (e.g. https://github.com/intel/llvm/pull/5639).
This is to track enabling regular validation in public CI.

[2022-02-23 16:12] licarifrancesco opened #5646 "SYCL No kernel named was found -46 (CL_INVALID_KERNEL_NAME)"
The following c++ SYCL code works only using host device, using GPU device (NVIDIA or INTEL) I have the following error:

No kernel named _ZTSZZN10MainWindow15testPerformanceEiENKUlRN2cl4sycl7handlerEE_clES3_E10FillBuffer was found -46 (CL_INVALID_KERNEL_NAME)

thanks in advance.

[code]

[2022-02-23 16:14] Michoumichmich commented on #5646
Hi, could you provide the compile options?

[2022-02-23 16:27] licarifrancesco commented on #5646
Sure,
CXX           = C:\Program Files (x86)\Intel\oneAPI\compiler\2022.0.2\windows\bin\dpcpp-cl
CXXFLAGS =-fsycl -fsycl-unnamed-lambda -ferror-limit=3 -fsycl-unnamed-lambda

[2022-02-23 16:35] Michoumichmich commented on #5646
Okay, so `sycl::platform::get_platforms();` shows all the platforms detected by SYCL which can include platforms for which you didn't compile any kernel. You need to manually add the targets with: `-fsycl-targets=nvptx64-nvidia-cuda,spir64_gen` (for Intel&Nvidia GPUs)

[2022-02-23 16:48] licarifrancesco commented on #5646
I added "-fsycl-targets=spir64_gen" but still have the same error

[2022-02-23 17:08] krasznaa opened #5647 "[SYCL][CUDA] sycl::atomic_ref usage on CUDA backend produces linking error"
# Describe the bug

In the past I've made use of `sycl::atomic` for atomic operations in our code, which used to behave well on all backends that I tried. (Including the CUDA and HIP ones.) Now that the latest nightlies warn about `sycl::atomic` being deprecated, I tried to teach our code to use `sycl::atomic_ref` instead when it is available.

But when I do that, building the code for an NVIDIA b

[2022-02-23 17:27] alexbatashev commented on #5646
@licarifrancesco it appears that you're not using dpcpp to link application, and link.exe simply drops device images

[2022-02-23 17:28] Michoumichmich commented on #5647
I had the same error previously. I believe it's because the default address space is `generic`. Using `sycl::atomic_ref<int, sycl::memory_order::relaxed, sycl::memory_scope::device, sycl::access::address_space::global_space> aref(mem[id]);` works with your code (on CUDA).

[2022-02-23 17:30] licarifrancesco commented on #5646
@alexbatashev I'm using dpcpp-cl as linker:

LINKER        = C:\Program Files (x86)\Intel\oneAPI\compiler\2022.0.2\windows\bin\dpcpp-cl
LFLAGS        = -link

[2022-02-23 17:32] licarifrancesco commented on #5646
I get the following devices:
![image](https://user-images.githubusercontent.com/7515726/155374436-e7346f5e-3bf7-4031-aa62-d2d7cb34d03e.png)

[2022-02-23 17:40] Michoumichmich commented on #5647
Yes it is: https://github.com/intel/llvm/blob/5e6995e15750d56c31119b2733f2de0cac644c70/sycl/include/CL/sycl/atomic_ref.hpp#L659 and it's not supported on CUDA: https://github.com/intel/llvm/issues/5215

[2022-02-23 18:06] licarifrancesco commented on #5646
---> piPlatformsGet(
	<unknown> : 0
	<nullptr>
	<unknown> : 0000008E7D9F956C
) ---> 	pi_result : PI_SUCCESS

---> piPlatformsGet(
	<unknown> : 6
	<unknown> : 0000028B118D5620
	<nullptr>
) ---> 	pi_result : PI_SUCCESS
	[out]<unknown> ** : 0000028B118D5620[ 0000028B11102180 ... ]

---> piDevicesGet(
	pi_platform : 0000028B11102180
	<unknown> : 4294967295
	<unknown> : 0
	<unknown> : 0000000000000000

[2022-02-23 18:07] licarifrancesco commented on #5646
See attached Log file
[log.txt](https://github.com/intel/llvm/files/8126728/log.txt)

[2022-02-23 19:09] skosnits opened #5648 "[Regression][CUDA] Multiple cts/math_builtin_* tests crashed on build with error: llvm-foreach: Segmentation fault (core dumped)"
**Describe the bug**
[Regression][CUDA] Multiple cts/math_builtin_* tests crashed on build with error: llvm-foreach: Segmentation fault (core dumped)

**First failed**
https://github.com/intel/llvm.git c89a9148355b2e30d68513b5bed0d73b09515561
**Last passed**
https://github.com/intel/llvm.git 9f2b7bd77aca5815a97a135645f442794cf0db11

**To Reproduce**
1. Get SYCL with CUDA support ([GSG](https://int

[2022-02-23 19:59] shixiyue opened #5649 "[SYCL] How to link a pre-compiled device image?"
I read the docs about [Dynamic linking of device code](https://github.com/intel/llvm/blob/sycl/sycl/doc/design/SharedLibraries.md#dynamic-linking-of-device-code), which describe a scenario of using functions defined in a pre-compiled device image provided by the user.

May I know what are the compiler commands for this scenario? The docs says that

But I don't understand how to do that in practice

[2022-02-23 21:56] krasznaa commented on #5647
Thanks a lot! That indeed works. I'll have to check tomorrow if that combination of template parameters will work in our actual code under all circumstances, but it smells like it should.

[2022-02-23 22:01] Michoumichmich commented on #5647
Glad it helped :) You might still need to adapt the address_space (as `global_space` was just a suggestion, of course)

[2022-02-23 23:01] P-Jensen commented on #5429
@Michoumichmich Thanks for verifying that it works for the other ones as well.

[2022-02-24 01:49] Michoumichmich commented on #5429
@P-Jensen you're lucky, unfortunately I don't have improvements as I the kernel is memory bound anyway.
But more importantly, I noticed that changes in `atomic_helpers.h` and `atomic_inc_dec_helpers.h` do not trigger a rebuild of `libclc` (which will probably cause headaches in the future while working on it). Adding the headers in `SOURCE` does not solve the issue either :/

[2022-02-24 01:58] Michoumichmich commented on #4412
FYI: https://github.com/illuhad/hipSYCL/pull/693

[2022-02-24 17:45] bader opened #8804 "AtomicRef tests enabled by #534 fail on HIP back-end."
Failed Tests (4):
  SYCL :: AtomicRef/add.cpp
  SYCL :: AtomicRef/max.cpp
  SYCL :: AtomicRef/min.cpp
  SYCL :: AtomicRef/sub.cpp

Log - https://github.com/intel/llvm/runs/5321377517?check_suite_focus=true

[2022-02-25 01:12] smanna12 opened #5667 "Use custom verify. e.g, `-verify=host` on the RUN line and then `// host-warning {{'bank_bits' attribute ignored}}` instead of using the preprocessor conditional."
Rather than do this, it's usually better to use a custom verify. e.g, `-verify=host` on the RUN line and then `// host-warning {{'bank_bits' attribute ignored}}` instead of using the preprocessor conditional.

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/5619#discussion_r814202029_

[2022-02-25 12:00] lsatanov opened #5673 "Doc: broken reference to AbiPolicyGuide.md: no such file."
(https://github.com/intel/llvm/blob/sycl/CONTRIBUTING.md) references AbiPolicyGuide.md , but there's no such file.

[2022-02-25 12:01] #5673 closed

[2022-02-25 14:27] #1594 closed

[2022-02-25 14:53] licarifrancesco commented on #5646
The problem was releated to qmake autogenerated Makafile parameter order

[code]

CORRECT WAY:

[code]

[2022-02-27 14:00] #5618 closed

[2022-02-28 12:13] nmnobre opened #5682 "[SYCL][CUDA] Alignment issue with zero-sized local arguments"
**Describe the bug**

The alignment strategy for local arguments introduced with PR #5113 does not take into account zero-sized local arguments. Since, in such circumstances, the requested alignment is also zero (see `sycl/plugins/cuda/pi_cuda.hpp`):

`const size_t alignment = std::min(max_alignment, size);`,

the program receives signal SIGFPE, Arithmetic exception at runtime at the following mod

[2022-02-28 13:54] #5646 closed

[2022-02-28 23:35] AerialMantis commented on #1258
Tagging this issue as in progress by 3rd party as it is being investigated by the upstream LLVM community, we will monitor this and report back any progress.

[2022-03-01 14:14] npmiller commented on #5243
The patches to fix this were included in the pulldown from this morning, so this should now be working with the latest.

[2022-03-01 15:40] npmiller commented on #5243
Confirmed that it is fixed on the latest branch so closing this ticket, feel free to re-open if you still have issues with this.

[code]

[2022-03-01 15:40] #5243 closed

[2022-03-01 16:20] npmiller commented on #5242
Closing as this is fixed since the last pulldown, feel free to re-open if the issue persists:
[code]

[2022-03-01 16:20] #5242 closed

[2022-03-01 16:21] #4835 closed

[2022-03-01 16:26] npmiller commented on #4833
Closing as this is fixed in the latest pulldown, feel free to re-open if the issue persists:

[code]

[2022-03-01 16:26] #4833 closed

[2022-03-01 18:03] smanna12 opened #5700 "Do we allow user to use OpenCL and SYCL at same time"
Heh, that may be worth finding out (we can always fix things up later for it). I seem to recall a hazy recollection that users were allowed to mix CUDA and SYCL or OpenCL and SYCL, but perhaps only in host mode. But I don't think this situation is super common, so waiting to resolve it is fine by me.

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/5592#discussion_r817009

[2022-03-02 11:25] romanovvlad commented on #5573
Reproduced. It's highly likely that there are bugs in the program. Valgrind reports a lot of invalid accesses in the kernel when running on CPU. Also warp size notion concerns a little bit, if there is an assumption that some work items inside a work group work in lock-step mode, then, I believe, sub-groups should be used instead.

If you believe this is a SYCL stack issue, could you please provid

[2022-03-02 11:35] romanovvlad commented on #5549
Should be fixed. Please, feel free to reopen if any concerns.

[2022-03-02 11:35] #5549 closed

[2022-03-02 11:40] romanovvlad commented on #5545
@DGASUK Could you please tell if the suggestion above helps?

[2022-03-02 11:41] romanovvlad commented on #4371
@vladimirlaz ping on the ask above.

[2022-03-02 11:50] vladimirlaz commented on #4371
it looks like the required info was added to xmain and is being upstreamed to intel/llvm: https://github.com/intel/llvm/pull/5628

[2022-03-02 12:17] romanovvlad commented on #3947
Based on the comments above it seems this is not feasible. Closing. Please feel free to reopen if any concerns.

[2022-03-02 12:17] #3947 closed

[2022-03-02 12:19] Michoumichmich commented on #3947
Yes, thanks! I forgot to close it

[2022-03-02 12:19] Michoumichmich commented on #3947
Yes, thanks! I forgot to close it

[2022-03-02 12:44] zjin-lcf commented on #5573
How did you run the kernel on CPU ?  Could you please paste the invalid accesses in the kernel ?

Thanks

[2022-03-02 13:06] romanovvlad commented on #5573
To run on Intel OpenCL CPU(it should be available in the system) I changed how queue is created to: `queue q{};` and set `SYCL_DEVICE_FILTER=opencl,cpu` env var when running the test.

Could you please paste the invalid accesses in the kernel ?

There are a lot of them reported, I cannot provide full log, but pattern looks like:

[2022-03-02 13:56] zjin-lcf commented on #5573
In the first kernel:
[code]

The values of ibufs (allocated in shared local memory) at locations 16, 17, 18, 19 are still 8 after prefix sum in the SYCL kernel.  The expected values are 8, 16, 24, 32 in the CUDA kernel.  This is my observation.

[2022-03-02 16:48] Pennycook commented on #1171
I can no longer compile the reproducer with the latest compiler (because it more strictly enforces `SYCL_EXTERNAL` behavior) so I'm not sure if the original problem still exists.

But I still recommend that we close this issue, for the following reasons:
- `vector_size` is a compiler extension, and its behavior inside of SYCL kernels is not defined.  I don't think we should encourage the usage of

[2022-03-02 16:48] #1171 closed

[2022-03-02 16:54] npmiller commented on #4816
Closing as the reported failing tests are now passing since the latest pulldown, feel free to re-open if the issue persists.

[code]

There are other problems with the CTS USM test such as prefetch not being supported for CUDA on windows, but these aren't related to the kernel not found issue.

[2022-03-02 16:54] #4816 closed, assigned to nobody

[2022-03-02 17:17] TejaX-Alaghari commented on #5625
By creating the "backend_traits_hip.hpp" with appropriate forward declarations, I was able to compile the code with "get_native" calls when selecting a hip backend.

I'm assuming there's more to the done for running the code on an AMD platform with this experimental support.
@alexbatashev, can you please expand on this further?

I can submit the "backend_traits_hip.hpp", for reference if necessary

[2022-03-02 17:27] zjin-lcf opened #5713 "[SYCL] map cudaMemGetInfo"
I am not sure whether a query of free_byte is supported by SYCL.  Thanks.

cudaMemGetInfo(&free_byte, &total_byte);

[2022-03-02 17:42] alexbatashev commented on #5625
@TejaX-Alaghari you basically need two things to make it work:

1) A specification. Something similar to OpenCL interop: https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#chapter:opencl-backend or Level Zero https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/supported/sycl_ext_oneapi_backend_level_zero.md
Once it is reviewed and approved, you can proceed with imple

[2022-03-03 07:38] mlychkov opened #5716 "[SYCL][CUDA] llvm-test-suite : AtomicRef/sub.cpp test fails for DPC++ with new Pass Manager turned on"
**Describe the bug**
When DPC++ was tested with new Pass Manager turned on by default `AtomicRef/sub.cpp` test from `llvm-test-suite` failed with the following error:
[code]

PR with patch to enable new PM: https://github.com/intel/llvm/pull/4860
Link on a failed test log: http://llvm-ci-test2.intel.com:8080/blue/organizations/jenkins/SYCL_CI%2Fintel%2FLin%2FLLVM_Test_Suite_CUDA/detail/LLVM_Test_S

[2022-03-03 08:26] bader commented on #5716
@mlychkov, I can't access the log from public network.

It's not a bug in DPC++, but rather with the test framework. It doesn't give enough time for test to run itself.

@t4c1, I see that https://github.com/intel/llvm-test-suite/commit/88ee9d1a005447ea89fa5d1738fedc884ccfd55d significantly increased the time to run llvm-test-suite. I'll provide data for Intel GEN9 on Level Zero.

Statistics from t

[2022-03-03 10:43] #4048 closed

[2022-03-03 10:56] #5429 closed

[2022-03-03 12:35] jchlanda commented on #3587
@alexbatashev, @AerialMantis should we close this ticket, the tests in questions are long gone. Removed in: https://github.com/KhronosGroup/SYCL-CTS/commit/239eca78b1e50f2156b7729a99e7b8bf0b4622e0

[2022-03-03 13:41] #5264 closed

[2022-03-03 15:24] romanovvlad commented on #5573
If you believe that this is a SYCL stack issue, could you please provide a small reproducer?

[2022-03-03 15:27] bader opened #5725 "[CI] OpenCL CPU is corrupted in GitHub Actions"
Here is llvm-test-suite results for https://github.com/intel/llvm/pull/5722 on x64 CPU:
[code]
The tested patch updates GPU driver, so CPU results should not be impacted, but only 406 tests are failing. Based on some error messages it looks like SPIR-V compilation is broken.

[code]

[2022-03-03 15:59] bader commented on #5725
@alexbatashev, FYI

[2022-03-03 17:54] Fznamznon commented on #1552
Still not usable, the code:
[code]

Crashes clang with the following backtrace:
[code]

[2022-03-04 03:00] wangzy0327 commented on #5625
By creating the [backend_traits_hip.hpp](https://github.com/wangzy0327/llvm/blob/dev-20220221/sycl/include/CL/sycl/detail/backend_traits_hip.hpp) with appropriate forward declarations and [hip.hpp](https://github.com/wangzy0327/llvm/blob/dev-20220221/sycl/include/CL/sycl/backend/hip.hpp), I was not able to compile the code with "get_native" calls when selecting a hip backend.
when I When I compile

[2022-03-04 06:06] alexbatashev commented on #5625
@wangzy0327 you should look at how level zero is implemented [here](https://github.com/wangzy0327/llvm/blob/dev-20220221/sycl/include/sycl/ext/oneapi/backend/level_zero.hpp), HIP or CUDA would look similarly.

[2022-03-04 06:09] alexbatashev commented on #3587
Yes, I think it makes sense to close this tracker.

[2022-03-04 06:09] #3587 closed

[2022-03-04 11:31] AerialMantis commented on #5625
I'd be happy to help review. We're in the process of defining and implementing a backend specification for CUDA so you can also reference this as I suspect there will be a lot of similarities between the CUDA and HIP backends.

* Backend spec: https://github.com/KhronosGroup/SYCL-Docs/pull/197
* SYCL-CTS test plan: https://github.com/KhronosGroup/SYCL-CTS/pull/207
* Draft implementation of updated

[2022-03-04 13:44] romanovvlad commented on #4437
Closing as the patch is abandoned.

[2022-03-04 13:44] #4437 closed

[2022-03-04 19:53] smanna12 opened #5731 "No diagnostic for checking reqd_work_group_size and max_global_work_dim attributes when merging"
// FIXME: We do not have support yet for checking
// reqd_work_group_size and max_global_work_dim
// attributes when merging, so the test compiles without
// any diagnostic when it shouldn't.
struct TRIFuncObjBad1 {
  [[sycl::reqd_work_group_size(4, 4, 4)]] void
  operator()() const;
};
[[intel::max_global_work_dim(0)]]
void TRIFuncObjBad1::operator()() const {}

[2022-03-04 19:55] smanna12 opened #5732 "No diagnostic for checking reqd_work_group_size and max_work_group_size attributes when merging"
//FIXME: We do not have support yet for checking
// reqd_work_group_size and max_work_group_size
// attributes when merging, so the test compiles without
// any diagnostic when it shouldn't.
[[sycl::reqd_work_group_size(64, 64, 64)]] void f12();
[[intel::max_work_group_size(16, 16, 16)]] void f12(); // expected error but now OK.

[2022-03-04 20:01] smanna12 opened #5733 "Does it make sense to treat this value as a signed value?"
I don't think we should handle this in this patch, but does it make sense to treat this value as a signed value? I can't imagine a negative work group size would make a whole lot of sense.

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3170#r577643114_

[2022-03-04 20:17] smanna12 opened #5734 "No diagnostic for checking reqd_work_group_size and num_simd_work_items attributes when merging"
// FIXME: We do not have support yet for checking
// reqd_work_group_size and num_simd_work_items
// attributes when merging, so the test compiles without
// any diagnostic when it shouldn't.

[[sycl::reqd_work_group_size(4, 2, 3)]]  void func2(); // expected-note{{conflicting attribute is here}} now OK
[[intel::num_simd_work_items(2)]] void func2(); // expected-error{{'num_simd_work_items' attrib

[2022-03-04 20:40] al42and commented on #3539
Issue still present in IntelLLVM 962417da7c70e9c94ff767b05f266fa1add42f83, compute-runtime 22.04.22286.

[2022-03-04 20:55] smanna12 opened #5735 "No diagnostic for checking reqd_work_group_size and reqd_work_group_size attributes when merging"
// FIXME: We do not have support yet for checking
// reqd_work_group_size and reqd_work_group_size
// attributes when merging, so the test compiles without
// any diagnostic when it shouldn't

  [[sycl::reqd_work_group_size(32, 1, 1)]] void f(); // expected-note {{conflicting attribute is here}} now OK
  [[sycl::reqd_work_group_size(1, 1, 32)]] void f(); // expected-error{{'reqd_work_group_size' a

[2022-03-04 21:01] smanna12 opened #5736 "Merging cases with duplicate attribute values do not work with reqd_work_group_size attribute"
Merging cases do not work with  reqd_work_group_size attribute
[[sycl::reqd_work_group_size(64, 64, 64)]] void f();/ expected-note {{conflicting attribute is here}} now OK
[[sycl::reqd_work_group_size(128, 128, 128,)]] void f(); // expected-warning{{attribute 'reqd_work_group_size' is already applied with different parameters}} now OK

[2022-03-05 02:31] keryell commented on #5700
Of course, you can use everything at the same time, independently.
Where it becomes quite more interesting is that SYCL 2020 exposes an interoperability mode with the underlying backends.
So from SYCL you can call an existing OpenCL/CUDA/HIP/... kernel, use an existing OpenCL/CUDA/HIP/... queue, export some SYCL buffer/queue to an existing OpenCL/CUDA/HIP/... libraries, etc.
And you can have all t

[2022-03-05 02:41] keryell opened #5738 "Modernize code examples from the GetStartedGuide.md"
All the code samples in `sycl/sycl/doc/GetStartedGuide.md` are rather old SYCL 1.2.1 and need to be modernized/simplified with SYCL 2020.
Perhaps this is an opportunity to add such an example on the SYCL Wikipedia page too.

[2022-03-05 08:43] bader commented on #2403
@Natrocx, sorry for the long delay.

Most likely it's caused by standard library configuration on the system. DPC++ detects the standard library installed on the system (usually libstdc++) and uses it to build SYCL code (i.e. libsycl-fallback in this case).

Please, make sure that libstdc++ is installed as prescribed by GetStartedGuide.

Are you still seeing this issue?

[2022-03-05 15:19] #5574 closed

[2022-03-06 13:18] al42and commented on #5562
Here is a specific discussion we had with @anton-v-gorshkov about a similar use case: https://gitlab.com/gromacs/gromacs/-/merge_requests/2248/diffs#note_743987749

The code there might be overly convoluted for historical reasons. But, in essence, something like this is attempted:

[code]

[2022-03-07 03:08] malixian opened #5744 "Some questions about DPC++ compilation phases."
In order to understand the compilation process of dpc++, I use the command `clang -### -fsycl -fsycl-target=nvptx64-nvidia-cuda` to print the stage of compilation.  We can find that(my dpc++ version is not the latest, but the output of different versions of the compiler is basically the same):

My question is:
1. In th 4th phases, Why not use `llc --march=nvptx64 ....` instead of the very long cla

[2022-03-07 13:09] AaronBallman commented on #5700
This makes for some really interesting thought experiments then. Consider use of `__attribute__((reqd_work_group_size))`. This attribute is an OpenCL attribute specified by their language standard, and the argument order is X, Y, Z. SYCL also uses this attribute with this spelling, but the argument order for SYCL is Z, Y, X (opposite to OpenCL). How should this work when SYCL and OpenCL are both e

[2022-03-07 17:14] sherry-yuan opened #5750 "Develop e2e test suite for testing usm buffer location"
**Is your feature request related to a problem? Please describe**
A follow up to #5634 , even though a test is developed internally, we would also like a test in sycl runtime that test not only for intel ocl runtime.

**Describe the solution you would like**
General e2e test of usm buffer location for all vendors

[2022-03-07 17:15] sherry-yuan commented on #5750
Assign it to me with milestone targeted at 2022.2 release.

[2022-03-07 22:27] keryell commented on #5700
First, SYCL is a single-source programming model, while OpenCL is a split-source programming model, which means that having SYCL + OpenCL in the same application leads to have in the main C++ source code both SYCL host + SYCL device with these attributes and the host OpenCL API part. All the OpenCL C code with its own attributes would be in another file, compiled by a completely different flow, fo

[2022-03-08 01:12] wangzy0327 commented on #5625
OK，Thank you very much. I will refer these
* Backend spec: [Introduce CUDA backend specification KhronosGroup/SYCL-Docs#197]
* SYCL-CTS test plan: [Introduce test plan for CUDA backend interop KhronosGroup/SYCL-CTS#207](https://github.com/KhronosGroup/SYCL-CTS/pull/207)
* Draft implementation of updated interop APIs: [[SYCL][CUDA] Add updated CUDA backend interop extension #5658](https://github.co

[2022-03-08 15:10] breyerml opened #5754 "Linker error (segmentation fault) on NVIDIA GPUs"
**Describe the bug**
DPC++ when targeting NVIDIA GPUs in CMake's Debug build type results in
[code]
In Release or RelWithDebInfo mode, everything works just fine, it **only** crashes in Debug builds.

**To Reproduce**
We tried to reproduce the bug in an MWE (see attached
[mwe.zip](https://github.com/intel/llvm/files/8207078/mwe.zip); `cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=clang++ ..`

[2022-03-09 07:30] alexbatashev opened #8803 "SYCL::Plugin/level_zero_batch_event_status.cpp fails sporadically"

[2022-03-09 10:29] romanovvlad commented on #5713
It seems we have something similar for level zero https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/supported/sycl_ext_oneapi_backend_level_zero.md#51-device-information-descriptors .

[2022-03-09 10:31] romanovvlad commented on #5545
@DGASUK friendly ping.

[2022-03-09 11:01] romanovvlad commented on #3549
Still cannot reproduce with the latest OCL CPU.
@krasznaa  Could you please try again with a build of OCL CPU from https://github.com/intel/llvm/releases/tag/2021-12 ?

[2022-03-09 11:40] zjin-lcf commented on #5713
Thank you for the link. Could this be included in the SYCL specification rather than in the level zero ?

[2022-03-09 11:42] Michoumichmich commented on #5713
I faced the same issue some time ago and it was the idea behind https://github.com/KhronosGroup/SYCL-Docs/issues/207

[2022-03-09 11:44] zjin-lcf commented on #5573
Sorry, I couldn't provide a small reproducer. I will look into the issue though it was solved.

[2022-03-09 11:44] #5573 closed

[2022-03-09 11:53] zjin-lcf commented on #5713
It may be true that few CUDA programs call the function. I found one in the CUDA samples.

6_Advanced/segmentationTreeThrust/segmentationTree.cu

[2022-03-09 12:00] romanovvlad commented on #3539
Could you please tell why you think so? Looking at logs with `SYCL_PI_TRACE` env var I see that only the first kernel is in the dependency list for `clEnqueueMapBuffer`.

Right, `copy` operation is async and implies host to device copy only. Host accessor creation and destruction are sync operations and involve device to host + host to device copies in the worst case.

Also, it can look like the h

[2022-03-09 15:18] al42and commented on #3539
That's correct, but I don't see why this access is being serialized here. With LevelZero, copy and execution overlap just fine, the problem only happens with OpenCL.

And if we create a third queue `qC{dev}`, submit the first kernel to it and don't use this queue any further, the host access time is `66 953 884` (vs. `421 272 145` when this operation is submitted to `qB` as in the example above).

[2022-03-09 15:41] DGASUK commented on #5545
I tried passing the above parameters to configure.py but this gave an error indication (see attached text file 1).
My VS 2019 indicates version 16.11.10 (see attached text file 2) and the latest update is now 16.11.11, co I'm not sure what 19.20 refers to?
[File 1.txt](https://github.com/intel/llvm/files/8215997/File.1.txt)
[File 2.txt](https://github.com/intel/llvm/files/8216000/File.2.txt)

[2022-03-09 20:18] isuruf commented on #2038
@napetrov, this is an issue with the new conda package as well.

[2022-03-09 21:22] rolandschulz commented on #5369
I had the same problem and a clean build fixed the issue. @ThielemannSe please reopen if that doesn't help for you.

[2022-03-09 21:22] #5369 closed

[2022-03-09 21:45] mdtoguchi commented on #4873
Modifications to improve `/link` processing for archives on Windows is in review:  https://github.com/intel/llvm/pull/5768

[2022-03-09 21:58] ye-luo opened #5769 "sycl spec make_device not working"
**Describe the bug**
`auto device = sycl::make_device<sycl::backend::ext_oneapi_level_zero>((_ze_device_handle_t*)hDevice);`
fails at run.
[code]
I have to do non-portable.
[code]
it does work.

both above need me to include
[code]
This adds another level of complexity since this file is not shipped by the compiler but level-zero-dev package.

Another one I tried is
[code]
it doesn't need ze_api.h

[2022-03-09 22:56] ye-luo commented on #5769
A bit more background, I was testing interop with OpenMP from icpx
[code]

[2022-03-09 23:11] TApplencourt commented on #5769
Full reproducer:
[code]
Compile
[code]
Run
[code]

[2022-03-10 23:42] al42and opened #5783 "Add an optional diagnostic for the use of double-precision ops in kernels"
**Is your feature request related to a problem? Please describe**

In some (many?) cases, the kernels are intended to be run on a GPU, most of which have reduced FP64 performance compared to FP32. However, it's very easy in C++ to accidentally introduce double-precision arithmetic.

Such issues can be detected with a profiler, but it might be helpful to have an opt-in, compile-time diagnostic to w

[2022-03-11 00:07] Michoumichmich commented on #5783
About the emulated ops, the fact that SYCL returns `size_t` from most of the space queries causes unintentional performance penalties on CUDA (a few percent, but it's enough to get the same performance as "native" CUDA sometimes). So maybe a more general warning about code that leads to emulated types ?

As for the specific case of `float x2 = x * 2.0;` it looks more like a compiler bug. It should

[2022-03-11 09:48] krasznaa commented on #3549
Curious. :confused: Is the code I posted in https://github.com/intel/llvm/issues/3549#issuecomment-993344740 running successfully on the CPU device for you?

For me it still doesn't. :frowning:

[code]

I believe I'm using the latest CPU driver... :thinking:

I also see that the unit test that triggered all of this (https://github.com/acts-project/vecmem/blob/main/tests/sycl/test_sycl_containers.s

[2022-03-11 13:35] bader commented on #5783
FYI: https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_API.html#math-intrinsics-options

OpenCL proposes alternative solution for this problem:

**-cl-single-precision-constant** - This option forces implicit conversions of double-precision floating-point literals to single precision. This option is ignored for programs created with IL.

[2022-03-12 16:00] al42and commented on #5783
That would also be useful, although probably prone to false positives

@Michoumichmich, thanks, that's a good suggestion (which I'll add to our CUDA code), but it only applies when targeting the CUDA backend. Overall, I feel that nvcc is much more aggressive than clang in doing the double-to-float narrowing.

With 962417da7c70e9c94ff767b05f266fa1add42f83, the example from the issue description doe

[2022-03-14 09:44] bader commented on #5716
Update for my previous comment. I found the @vladimirlaz committed https://github.com/intel/llvm-test-suite/pull/879 four days ago, which should reduce the execution time of AtomicRef tests.

[2022-03-14 15:12] iamholger opened #5804 "SYCL and OpenMP + cuda --- -fopenmp-targets=nvptx64-cuda makes unnamed lambda kernels not work"
**Describe the bug**
I wrote some application, comparing SYCL and OpenMP offloading
performance using the oneAPI products on devcloud where everything
works happily with OpenCL. I am failing to
run the same code on an x86 system with several CUDA devices attached to it.

I observe the following: when using **-fsycl** and **-fopenmp-targets** on the same translation unit,
the unnamed lambda kernels

[2022-03-14 16:03] smanna12 opened #5805 "Refactor attributes checking code share between the shared between Add and Merge functions"
Looks like it's heading in the right direction at a high level. One thing that would be nice (but perhaps not easy to do) would be to see how much attribute checking code can be refactored to share between the Add and Merge functions here. They're doing the same things notionally (as best I saw), so it'd be nice to only write that logic once if possible. However, that might require more refactorin

[2022-03-14 20:00] zjin-lcf commented on #5627
@jingwan2   Do the Nvidia PTX codes look the same for the two versions ?

[2022-03-15 02:45] abagusetty opened #5808 "[SYCL/L0] sycl::memcpy creates an additional L0 command queue"
**Describe the bug**
I was mostly profiling an app using onetrace and have created a reproducer shown below. In short, the reproducer creates 2 queues and a `sycl::memcpy`.

Adding a memcpy op creates an additional command-queue and was just curious if this is an expected behavior. Looks like DPC++'s `memcpy` adds in an additional creation of L0 command-queue. This is evident from the number of ca

[2022-03-15 02:51] abagusetty commented on #5713
@zjin-lcf I instead hacked in a bit of L0 inter-op into SYCL and accomplished the same, hope this helps.
This would also need one to set `ZES_ENABLE_SYSMAN=1`

[code]

[2022-03-15 10:59] JackAKirk commented on #5754
@breyerml

I have been trying to reproduce this using the library code following your instructions but I have not succeeded.  Can you clarify the steps needed to reproduce the issue?

Using the commits that you specified, I corrected the typo in the cmake invocation you provided and switched on the SYCL backend:

[code]

Using this I found that PLSSVM could not be built using DPC++ using the cmake

[2022-03-15 12:26] zjin-lcf commented on #5713
@keryell, could this be included in the SYCL specification ?

<info::device::memory_info>,
<info::device::free_memory>,
<info::device::total_memory>,

@abagusetty  Thank you for writing a SYCL function for cudaMemGetInfo.

[2022-03-15 16:11] elizabethandrews opened #5816 "Why are incorrect attributes attached to redeclarations"
This note diagnostic is what raised concern for me. I don't know if it should be on the last 'correct' declaration instead of an incorrect one. Anyway like I said - we don't need to worry about it in this patch.

_Originally posted by @elizabethandrews in https://github.com/intel/llvm/pull/5535#r827156451_

Looks like incorrect attributes are attached to redeclaration instead of skipping. Investig

[2022-03-15 16:21] smanna12 opened #5817 "DropAttr instead of nullptr for ignoring duplicate attribute for merging cases"
Thanks. I also noticed another issue which FE should look into at some point. It looks like incorrect attributes are still attached to redeclarations (after generating error) but I don't understand why because your code looks correct. We may have to call `dropAttr()` instead of returning `nullptr ` when we merge invalid attributes. I'm not sure though and I think this issue probably affects many e

[2022-03-15 16:25] smanna12 commented on #5817
Ok . I will close this one.

[2022-03-15 16:26] #5817 closed

[2022-03-15 17:52] cperkinsintel opened #5818 "CUDA image sampler not correctly supporting repeat or mirror when using normalized coordinates"
The CUDA implementation of the SYCL image sampler is not correctly supporting mirror or repeat addressing modes when using normalized coordinates.

**To Reproduce**
Most of the sampler test listed here: https://github.com/intel/llvm-test-suite/issues/249 can be used to demonstrate this problem. For completeness, the code for 'normalized-repeat-nearest.cpp' is included below.

To compile:
clang++ -

[2022-03-15 23:53] elizabethandrews opened #5820 "Improve compiler generated name for base class for SPIR kernel argument"
When working on test I realized compiler generated name can be improved for base classes as well. At the moment, they all have same name _arg__base. I will work on it as a follow-up PR.

_Originally posted by @elizabethandrews in https://github.com/intel/llvm/issues/5819#issuecomment-1068577208_

[2022-03-16 03:26] jingwan2 commented on #5627
@zjin-lcf , I can confirm that device bitcode doesn't change. Do you know how to check PTX code?

[2022-03-16 08:07] AlexeySachkov commented on #2687
@jeffhammond, is this issue still actual?

[2022-03-16 08:08] jeffhammond commented on #2687
I don't know. Haven't had time to retest. Will try to do it by the end of the month.

[2022-03-16 18:38] al42and opened #5825 "[ROCm OpenCL] device::get_info<device::sub_group_sizes> throws Native API failed"
**Describe the bug**

With ROCm 4.5.2, trying to call `device.get_info<sycl::info::device::sub_group_sizes>()` on an AMD device throws `cl::sycl::runtime_error`.

**To Reproduce**

[code]

[code]

Works fine with `SYCL_DEVICE_FILTER=hip:gpu`.

Looking at sycl/plugins/opencl/pi_opencl.cpp, it seems `CL_DEVICE_SUB_GROUP_SIZES_INTEL` is passed to `clGetDeviceInfo`, which, being non-Intel, does not kn

[2022-03-16 20:53] sherry-yuan opened #5827 "Support buffer location on CUDA"
Cuda support allocation in global memory and cache, the ask is to let cuda usm allocation reserve cache memory when buffer location property of value of 4 is passed in.

[code]

[2022-03-17 01:50] zhaomaosu commented on #2038
@inducer, thank you for reporting the issue. And the issue will be fixed in the next release of oneAPI.

[2022-03-17 16:08] robquill commented on #5
@bader I've recently being trying to do this. Steps should be fairly easy to reproduce. If you run:

[code]

You will get a few errors like this:

[code]

This seems to be because the default target triple is incorrect:

[code]
Setting the default target triple correctly allows us to get something which builds:

[code]

However, when you try to compile something using clang it fails because the sy

[2022-03-17 16:44] kpet commented on #2427
This was automatically marked as stale, commenting so the issue doesn't get closed. I've requested a `SYCL` SPIR-V `SourceLanguage` with https://github.com/KhronosGroup/SPIRV-Headers/pull/270

[2022-03-18 13:48] sherry-yuan commented on #5827
Eventually, this will be supported through the full solution to usm buffer location (spec here: https://github.com/intel/llvm/pull/5656). Once that is done, the properties of `properties{noalias, read_only}` can be passed to annotated_ptr such that compilers can make additional optimization in where the memory is allocated.

[code]

Thanks to @GarveyJoe for the suggested solution above!

[2022-03-18 17:18] zjin-lcf commented on #5827
In the code snippet, the compiler returns the read-only property only after it analyzes the kernel. Is that right ?

[2022-03-18 17:21] zjin-lcf commented on #5627
adding the '-save-temps' compiler option would produce a ".s" file.

[2022-03-18 17:25] sherry-yuan commented on #5827
I believe it is user who provide the property to malloc API (I updated the example code a little so that it is clear), so that the user provided information (readonly & noalias) can be used in compiler in deciding whether the optimization (eg allocating it in constant memory) is possible.

[2022-03-18 18:06] zjin-lcf commented on #5827
It is clear.
Reading CUDA programs shows that developers may allocate CUDA device or constant memory statically in the global scope. This feature is helpful for porting CUDA programs.

Thanks.

[2022-03-19 10:11] jingwan2 commented on #5627
@zjin-lcf , thanks, .s files have no difference.
And I tried to run binary built by **REF**, and run with **EXP** runtime, performance also is bad, so should be runtime issue.

[2022-03-20 03:04] zjin-lcf commented on #5825
Is the value of 'sub_group_size' 64 for AMD devices ?

[2022-03-20 16:57] al42and commented on #5825
@zjin-lcf AMD RDNA architecture also supports 32-wide execution.

[2022-03-21 01:22] jingwan2 opened #5840 "Compiler crash at "Instruction does not dominate all uses!""
**Describe the bug**
CUDA backend compiler crash at "Instruction does not dominate all uses!" with guilty commit https://github.com/llvm/llvm-project/commit/1eeb2bfe727323332800e8d390f2f8c63c953779

**To Reproduce**
1. Compiler for CUDA backend using head https://github.com/intel/llvm/commit/191a62ad85043c2b5d7b2b2d968cb65ad6190397 or later
2. Get [sycl_test.txt](https://github.com/intel/llvm/file

[2022-03-21 02:04] #2728 closed

[2022-03-21 02:04] #2323 closed

[2022-03-21 02:04] #2306 closed

[2022-03-21 02:04] #2004 closed

[2022-03-21 02:04] #1924 closed

[2022-03-21 02:04] #1869 closed

[2022-03-21 02:04] #1567 closed

[2022-03-21 02:04] #1546 closed

[2022-03-21 02:04] #1361 closed

[2022-03-21 02:04] #894 closed

[2022-03-21 13:29] KseniyaTikhomirova commented on #3335
the test is already fixed by @s-kanaev in this PR https://github.com/intel/llvm/pull/3751

1) -fsycl is replaced with fsycl-device-only

2) the test is still located in check_device_code since now it checks device compiler output

[2022-03-21 14:24] s-kanaev commented on #5825
Do I understand correctly, that notion of `warps` in HIP is the same as in CUDA and it matches the `subgroups` notion in SYCL?
Then, I reckon this info should use `hipDeviceAttributeWarpSize`, shouldn't it?

[2022-03-21 14:31] s-kanaev commented on #5825
The code is in place for quite a time: https://github.com/intel/llvm/blob/sycl/sycl/plugins/hip/pi_hip.cpp#L1085

@malixian, could you, please, comment here?

[2022-03-21 14:33] al42and commented on #5825
It's called "wavefronts" in AMD lingo, but yes, it's the same thing.

Almost. With HIP backend, it indeed should use, and in fact uses, `hipDeviceAttributeWarpSize`, which returns `64` as expected. But here, the problem is with the OpenCL backend which is happy to use AMD ICD when available:

[code]

So, the subgroup size detection works fine for `ext_oneapi_hip:gpu` devices, but crashes for `open

[2022-03-21 14:35] al42and commented on #5825
@s-kanaev, it is with OpenCL backend, as mentioned in the Issue title :)

[2022-03-21 14:36] s-kanaev commented on #5825
Sorry, my bad, I overlooked it.

[2022-03-21 14:43] s-kanaev commented on #5825
It's not clear how to return sub group size when backend implementation doesn't support it hence, I believe some other exception wording might suite here.

[2022-03-21 14:59] al42and commented on #5825
That would already be a big improvement. The current error is generic to the point of uselessness.

But AMD offers `CL_DEVICE_WAVEFRONT_WIDTH_AMD` property, which should work and would be a better solution.

[2022-03-21 18:08] smaslov-intel commented on #5808
The extra L0 queue is expected and is handling copy operations via copy engines. It allows for the best parallelism as this way copies are executed in parallel to compute.  Note also, that devices that have multiple engines (both copy and compute) will create/use multiple L0 queues (in a round-robin fashion currently) for optimal parallelism on submissions (submission to the same engine are serial

[2022-03-21 19:05] zjin-lcf commented on #5840
I could reproduce it. The error is caused by -ffast-math

[2022-03-21 23:42] #5808 closed

[2022-03-22 02:03] #422 closed

[2022-03-22 02:03] #421 closed

[2022-03-22 02:03] #253 closed

[2022-03-22 06:51] jingwan2 commented on #5840
Remove cuda label as it also reproduced on other backend.

[2022-03-22 10:07] #3175 closed

[2022-03-22 10:07] #3223 closed

[2022-03-22 10:07] #3361 closed

[2022-03-22 10:07] #3742 closed

[2022-03-22 10:07] #5731 closed

[2022-03-22 10:07] #5732 closed

[2022-03-22 10:07] #5733 closed

[2022-03-22 10:07] #5734 closed

[2022-03-22 10:07] #5735 closed

[2022-03-22 10:07] #5736 closed

[2022-03-22 13:15] keryell commented on #5808
@abagusetty this behavior is la raison d'être de SYCL.
If you want to write in assembly code you can use CUDA/OpenCL/HIP/.... Or even better use the interoperability mode of SYCL to get the CUDA/OpenCL/HIP/... underlying object. :-)
Do you think there are valuable use cases in SYCL for such a single underlying queue? We could add a queue property for this if necessary.
There is already the ordered

[2022-03-22 14:41] jchlanda commented on #5600
@jingwan2 Please see https://github.com/intel/llvm/pull/5859 for the fix.

It looks like clang inserted multiple pointers to the same metadata in the annotations node, I'm guessing it's because you've both `#include`'ed `foo.cpp` in the `main.cpp` and also specified it in the compiler invocation, so clang outputted:
[code]
With `!0` pointing to `@_ZTSZZL3fooN2cl4sycl5queueEPjiENKUlRNS0_7handlerEE_

[2022-03-22 19:25] abagusetty commented on #5808
@keryell I wasn't really aware of an additional ZeImmediateCmdList gets created to target copy-engines.

From the above reproducer, I was creating `in_order` queues and wasn't sure of this detail on additional L0 queue. From @smaslov-intel explanation, it sounds like whether the queue is `in_order` or `default/out-of-order` and additional queue gets created to handle the case of overlapping-comput

[2022-03-22 19:43] smaslov-intel commented on #5808
It's important to know that a SYCL queue maps to possibly multiple native L0 queues under the hood for performance reasons. The L0 plugin layer is taking care of any synchronization needed across those queues (of course on top what SYCL had requested like in-order semantics and/or explicit dependencies between commands).

[2022-03-22 22:25] dongkyunahn-intel opened #5863 "[SYCL][ESIMD][EMU] Memory access (de)serialization for buffer/image/slm"
In ESIMD_EMULATOR, memory accesses towards buffer/image are serialized in memory_intrin.hpp. This design was imported from CM_EMU's `genx_dataport.h`, but could not reproduce race condition under CPU emulation.

https://github.com/intel/cm-cpu-emulation/blob/f9d167edbcb995e713d5a832f9ee2afae9a526a6/libcm/genx_dataport.h#L4285

Meanwhile, there is no serialization applied to memory accesses towards

[2022-03-23 07:33] mlychkov commented on #5207
@masterleinad Hi. Sorry for a long silence.
Current status of fixes for this issue:
- Support of all Intel specific pragmas were disabled on device code in the past due to issues with translation of some of them.
  Now it has been enabled again. No major regressions for pragmas have been found yet.
  This fix will be available in the nearest icpx release.
- However, some Intel specific pragmas wil

[2022-03-23 08:43] AlexeySachkov commented on #342
The problem is still exists:
[code]

[2022-03-23 10:34] HabKaffee commented on #2981
FYI, I created a PR which change rules of identifier naming https://github.com/intel/llvm/pull/5843 .

[2022-03-23 10:56] AlexeySachkov commented on #5700
I think can be closed as answered: SYCL & OpenCL can be used together, there is a corresponding section about interoperability in the SYCL spec. However, we don't have a conflict of attributes spelling and semantics, because in OpenCL device programs are written in OpenCL C in a separate file

[2022-03-23 10:56] #5700 closed

[2022-03-23 11:15] AlexeySachkov commented on #3925
@0x6675636b796f75676974687562, looks like the question was answered, can we close the issue?

[2022-03-23 11:16] AlexeySachkov commented on #3823
I assume that we have answered all questions and therefor I'm closing the issue. @yiakwy-mapping-team, if that is not the case, feel free to re-open or open a new one for further questions

[2022-03-23 11:16] #3823 closed

[2022-03-23 11:21] AlexeySachkov commented on #3740
SYCL 2020 spec explicitly says that unnamed lambdas should work, so yes, this seems to be a bug

In SYCL 1.2.1 unnamed lambdas aren't a thing and we require a flag explicitly.

Anyway, unnamed lambdas are enabled by default in SYCL 2020 mode since 55a1b088c6761, therefore closing the issue

[2022-03-23 11:21] #3740 closed

[2022-03-23 11:57] #5600 closed

[2022-03-23 13:05] romanovvlad commented on #3862
@HabKaffee Could you please confirm that https://github.com/intel/llvm/pull/5476 fixes the problem?

[2022-03-23 13:11] HabKaffee commented on #3862
According to testing coverage sycl::link(), sycl::build() and sycl::compile() works properly and https://github.com/intel/llvm/pull/5476 fixes problem.

[2022-03-23 15:14] #5330 closed

[2022-03-23 15:25] al42and commented on #5275
Still a problem:

[code]

[2022-03-24 07:32] #5362 closed

[2022-03-24 10:58] 0x6675636b796f75676974687562 commented on #3925
@AlexeySachkov, yes, it can be safely closed now.

Support for Intel's fork of clang as well as Intel DPC++ has been implemented in CLion 2022.1 ([CPP-25963](https://youtrack.jetbrains.com/issue/CPP-25963)), so the issue is no longer relevant.

[2022-03-24 11:08] #3925 closed

[2022-03-24 11:20] AlexeySachkov opened #5877 "Implement proper diagnostic messages in SYCLPropagateAspectUsage pass"
This issue is to track a follow-up from #5348: currently proposed implementation emits diagnostics without source location, making them much less usable.

There is a way to propagate source location from clang FE down to a pass through `srcloc` metadata: [D106030](https://reviews.llvm.org/D106030), [D110364](https://reviews.llvm.org/D110364) and it should be adopted in our SYCL pass as well.

I'm

[2022-03-24 11:21] mlychkov opened #5878 "[SYCL][sycl-post-link] Add more cases to filter out from entry point check."
There are couple more cases to filter out from `isEntryPoint()` check: `__builtin*` and `__esimd*`.

_Originally posted by @kbobrovs in https://github.com/intel/llvm/pull/5858#discussion_r833605068_

[2022-03-24 13:42] bader commented on #5
@robquill, sorry for the delay.
Unfortunately, cross compilation is still not supported. We miss required environment (e.g. ARM systems) in CI system and maintainers in our community for this scenario.

According to my understanding, `--arm` option was added by folks building DPC++ compiler and runtime library for ARM target on **ARM host**.

It looks like you are building DPC++ on x86_64 system.

[2022-03-24 16:38] AlexeySachkov commented on #5840
@jingwan2, could you please provide more info here? I was trying to reproduce the issue on the fresh local build (without `-fsycl-targets` option), but wasn't able to do so

[2022-03-25 02:15] jingwan2 commented on #5840
@AlexeySachkov , what's your code base? seems latest pulldown fixed the issue.
https://github.com/intel/llvm/commit/c818709fcebd5d8183e0ebe127e7f37b8867c3f2

I'm closing this issue as it's resolved.

[2022-03-25 02:15] #5840 closed

[2022-03-25 02:24] zjin-lcf commented on #5840
@bader  could you please point out which codes fix the issue ?  Thanks.

[2022-03-25 06:17] bader commented on #5840
@zjin-lcf, unfortunately, I don't know.
According to @jingwan2, it might be https://github.com/intel/llvm/commit/c818709fcebd5d8183e0ebe127e7f37b8867c3f2. Are you able to use this version or later?

[2022-03-25 11:25] zjin-lcf commented on #5840
I wonder if people who know could point out the codes.  I will try the later version.

[2022-03-25 13:36] AlexeySachkov opened #5892 "SYCLPropagateAspecUsage pass: compiler and runtime must not be tied to each other"
The issue is submitted as a follow-up from #5348, where @bader highlighted a design problem: our compiler implementation of [optional kernel features](https://github.com/intel/llvm/blob/sycl/sycl/doc/design/OptionalDeviceFeatures.md) design is too tied with the runtime implementation, which is a bad design choice and it could cause hard-to-debug issues in the future.

In particular, see the follow

[2022-03-25 19:47] smanna12 opened #5893 "why the variable is called Unevaluated when the context is actually constant evaluated?"
I suspect it was a propagated copy-paste mistake. I have renamed it, but a lot of the surrounding attributes have the same so maybe we want a quick clean-up patch.

_Originally posted by @steffenlarsen in https://github.com/intel/llvm/pull/5879#discussion_r835259089_

[2022-03-28 19:27] skosnits commented on #5096
Similar in case of new test: sycl_cts/build_test_optional_kernel_features

`clang++ -DSYCL2020_CONFORMANT_APIS -DSYCL2020_DISABLE_DEPRECATION_WARNINGS -D__SYCL_DISABLE_PARALLEL_FOR_RANGE_ROUNDING__ -ffp-model=precise      -Wl,-no-relax    -fsycl -sycl-std=2020 -fsycl-device-code-split=per_kernel -Wno-deprecated-declarations -fsycl-unnamed-lambda -fsycl-targets=nvptx64-nvidia-cuda tests/optional_ke

[2022-03-28 20:20] skosnits opened #5911 "[CUDA] Multiple cts/specialization_constants_* tests crashed on build with error: Assertion `llvm::isSafeToDestroyConstant(*It) && "Cannot remove an element of initializer of llvm.used global"' failed."
**Describe the bug**
[CUDA] Multiple cts/specialization_constants_* tests crashed on build with error: Assertion `llvm::isSafeToDestroyConstant(*It) && "Cannot remove an element of initializer of llvm.used global"' failed.

**To Reproduce**
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html)) and ([SYCL-CTS](https://github.com/KhronosGroup/SYCL-CTS))

2. Bu

[2022-03-29 11:39] AlexeySachkov commented on #1518
Hi @nazavode,

Unfortunately, we will close this issue as won't fix: host device was removed in [SYCL 2020 standard](https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#sec:what-changed-between), SYCL 1.2.1 host device implementation was incomplete, we are going to remove it to stay aligned with SYCL standard development.

However, we have some kind of a workaround for you: o

[2022-03-29 11:39] #1518 closed

[2022-03-29 13:11] bader commented on #5648
@JackAKirk, don't you think it's should be required in DPC++ documentation rather than CTS? If you agree, please, update CDUA toolkit requirements in DPC++ documentation.

[2022-03-29 13:13] nazavode commented on #1518
Hi @AlexeySachkov, got it, thanks for the note! Trying the `x86_64` target, it looks perfectly fine for debugging purposes.

[2022-03-29 13:13] JackAKirk commented on #5648
You're right. I'll update the DPC++ doc.

[2022-03-29 13:16] bader commented on #5648
Another option: instead of requiring 11.6 version, we can continue require 11.0, but add a note that there is a know issue with -O1/O2/O3 optimization options for CUDA toolkits prior to 11.6.
Both options seems fine to me.

[2022-03-29 19:51] skosnits opened #5922 "[CUDA] Multiple cts/sub_group_mask_* tests crashed on build with error: SYCL kernel cannot call a dllimport"
**Describe the bug**
[CUDA] Multiple cts/sub_group_mask_* tests crashed on build with error: SYCL kernel cannot call a dllimport

**To Reproduce**
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html)) and ([SYCL-CTS](https://github.com/KhronosGroup/SYCL-CTS))

2. Build CTS tests
[code]
Error message:
[code]

**Environment**

- OS: Windows x64
- Target device

[2022-03-30 11:52] alexbatashev commented on #5769
@TApplencourt are you sure `omp_get_interop_ptr` returns `ze_device_handle_t`? We have a similarly simple test and it passes: https://github.com/intel/llvm-test-suite/blob/intel/SYCL/Plugin/interop-level-zero.cpp

[2022-03-30 16:13] TApplencourt commented on #5769
I think so.
I found a workaround, this may help you diagnose what is going on internally.

[code]

[code]

[2022-03-30 18:19] ye-luo commented on #5769
Your example is sycl -> L0 -> sycl. There are likely implicit things in SYCL making it pass. We need real interop to work between OpenMP and SYCL.

[2022-03-30 18:58] TApplencourt commented on #5769
Correct what we want in a perfect world is:
[code]

[2022-03-30 19:16] ye-luo commented on #5769
key requirement is to avoid
1. any explicit L0 types like `ze_device_handle_t`. This should be hidden by pi_native_object and enums.
2. any non standard APIs.

[2022-03-31 00:03] ye-luo opened #5932 "SYCL include path problem"
**Describe the bug**

reproducer test_include.cpp
[code]
My intention is to call SYCL runtime library.
For this minimal SYCL code, I expect the needed include path is /opt/intel/oneapi/compiler/2022.0.2/linux/include/sycl.
[code]
For sure adding another include path does work
[code]
but why adding this burden to users?

I know -fsycl can hide the include problem but sycl should be allowed to use a

[2022-03-31 10:54] alexbatashev commented on #5932
I'd say, this is more of a feature request, rather than a bug. We do not currently test SYCL runtime outside the `-fsycl` environment, neither we officially support that use-case. I agree there may be value in skipping device side compiler, but that is not something we've considered carefully in the past.

[2022-03-31 12:12] JackAKirk commented on #5911
The origin of this failure appears to be incomplete support for Specialization Constants in the CUDA backend.  CUDA Specialization Constants require the non-native implementation : https://github.com/intel/llvm/pull/3589 that did not fully work for CUDA yet.  We are investigating a complete CUDA Specialization Constants implementation.

[2022-03-31 12:12] JackAKirk commented on #4896
The origin of this failure appears to be incomplete support for Specialization Constants in the CUDA backend.  CUDA Specialization Constants require the non-native implementation : https://github.com/intel/llvm/pull/3589 that did not fully work for CUDA yet.  We are investigating a complete CUDA Specialization Constants implementation.

[2022-03-31 13:51] al42and opened #5936 "SYCL_USE_NATIVE_FP_ATOMICS not set for NVIDIA targets"
**Describe the bug**

When compiling for NVIDIA devices, `SYCL_USE_NATIVE_FP_ATOMICS` is not set automatically, which causes floating-poing atomics to be expanded into a CompareExchange loop.

**To Reproduce**

[code]

[code]

**Environment (please complete the following information):**

- OS: Ubuntu 20.04
- Target device and vendor: NVIDIA GTX1660SUPER (sm_75)
- DPC++ version: 5224f78863c3d3578d8

[2022-03-31 14:13] alexbatashev commented on #5
@robquill I was able to cross-compile sycl toolchain for aarch64 using the following patch:

[code]

And the following command:
[code]

Now, I don't have the hardware to test if that even works, but I anticipate some problems: we require a lot of Intel extensions to SPIR-V in order to be able to compile device code. But something simple, like `sycl-ls`, should work.

[2022-03-31 14:34] sherry-yuan opened #5938 "Refractor device image registration into function calls"
Group the calls [here](https://github.com/intel/llvm/blob/cdf561a24705c6166c7aa05e0a09274dec121a7b/sycl/source/detail/program_manager/program_manager.cpp#L1187-L1228) into function instead of just wrapping them in a clause.

Each section that begins with `// ... and do sth` should be in its own function

Assignees: @sherry-yuan

[2022-03-31 14:47] t4c1 commented on #5096
These are two different issues. The original one with `test_atomic` is addressed by the pulll request linked above. The second one with `sycl_cts/kernel_features_mismatched_nd_range_exception` is a bug in the libclc remangler that is fixed as a part of https://github.com/intel/llvm/pull/5849

[2022-03-31 21:42] jasonsewall-intel opened #5941 "[SYCL] Implement span support for sycl::reduction"
SYCL 2020 rev. 4 specifies that SYCL should accept span for array reductions [here](https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#reduction-interface), but it isn't currently supported.

For example, I think the following code should work:

[code]

[2022-03-31 22:01] elizabethandrews commented on #5562
@al42and just to make sure I understand requirement - you want these macros set during host compilation? For device compilation we have existing macros like __NVPTX__, etc

[2022-04-01 08:54] bader commented on #5
I'd like to point out that instructions provided by @alexbatashev are building DPC++ compiler for ARM host, where as instructions provided by @robquill are building DPC++ for X86 host. Both of them can target ARM, but the difference is where these compilers can be used.

In addition to that, instructions provided by @alexbatashev are not complete. They should mention how to build `/src/llvm/build/

[2022-04-01 09:09] AerialMantis commented on #5936
Hi @al42and, thanks for raising this issue. We would like to enable `SYCL_USE_NATIVE_FP_ATOMICS` by default when targeting Nvidia, however, there are still some atomic functions, specifically double add, which require a later compute capability (sm_60) than the default (sm_50), so we have the compare exchange loop implementation by default to ensure correctness.

We are planning to introduce a pre

[2022-04-01 11:02] andreagen0r opened #5943 "Error when compile LLVM"
**Describe the bug**
I trying to compile it to support CUDA but I get an error at the end when installing

**To Reproduce**
[code]

The error:
[code]

**Environment (please complete the following information):**

- OS: Linux - Kubuntu 21.10
- Target device and vendor: Intel CPU + NVidia GPU
- DPC++ version: sycl Branch

[2022-04-01 11:16] bader commented on #5943
@andreagen0r, could you attach a full log, please?

[2022-04-01 11:24] alexbatashev commented on #5943
I think the correct way is to call `deploy-sycl-toolchain` target instead of `install`, at least for now.

[2022-04-01 11:36] al42and commented on #5562
Yes, I specifically want to check in the host code which offload architectures are enabled.

[2022-04-01 12:00] al42and commented on #5936
Hi @AerialMantis,

I see, thanks for clarifying. However, atomics are not enabled even when explicitly compiling for newer hardware (`-fsycl-targets=nvptx64-nvidia-cuda -Xsycl-target-backend --offload-arch=sm_70`). Or for FP32, which has been available since forever (sm_13, if I recall correctly).

One can always define the macro manually, so it's all not critical. But the [release notes](https://

[2022-04-01 15:46] #2376 closed

[2022-04-01 15:47] #5096 closed

[2022-04-01 16:57] andreagen0r commented on #5943
@bader
[CMakeError.log ](https://paste.cutelyst.org/JyfiBD2jT)
[CMakeOutput.log ](https://paste.cutelyst.org/lIgZvM_9S)

@alexbatashev I'm using this [tutorial](https://codeplay.com/solutions/oneapi/for-cuda/#getting-started)

[2022-04-01 18:30] Pennycook opened #5948 "Support sycl::select for bool"
**Describe the bug**
[Table 178](https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#table.relational.functions.marray) from the SYCL 2020 specification defines `sycl::select` as follows:

where `gentype` is any scalar or `marray` type and `genbool` is a scalar `bool` or an `marray<bool>`.  https://github.com/KhronosGroup/SYCL-Docs/pull/234 clarifies that `select` is intended

[2022-04-01 21:18] keryell commented on #5769
@TApplencourt it would be nice to have such a SYCL & OpenMP interop example for the SYCL presentation! :-)

[2022-04-03 17:14] #5750 closed

[2022-04-04 11:53] npmiller commented on #4836
Closing this as the kernel not found issue was fixed by recent patches (/link fix and objcopy bugfix). The specialization constant tests are still not working as they're not fully implemented for the CUDA plugin, but this is tracked in other tickets such as #5911

[2022-04-04 11:53] #4836 closed

[2022-04-04 21:08] GarveyJoe commented on #832
@keryell, can you expand on your concerns a bit?  Do you prefer "try" in the name as was discussed in #5839 simply because it makes it clear that it's non-blocking or for another reason?  Are you also advocating that the success code not be passed as an argument?  E.g.:

[code]

I'm not sure that's less verbose.  Alternatively, are you advocating for the success_code and the data to be swapped?

[2022-04-04 21:49] keryell commented on #832
The problem with just `read()` or `write()` overloads is that the code is unreadable if you are not a SYCL lawyer.
So I think that `try_read()` and `try_write()` (or other similar name) is more explicit and gives the intent more easily.
Another problem with the API is to make it efficient too. What if your pipe packet is 10 GiB big? Every time you try to read something, you copy 10 GiB of garbage

[2022-04-04 22:20] AerialMantis commented on #5210
The second issue (instruction selection with -O0) was being caused by builtin functions which have optimized implementations for later compute capabilities than the default (sm_50) which are not being optimized away under -O0. This should be resolved by introducing an option which enables the IPSCCP pass by default on -O0 in order to remove the unused branches after NVVMReflect pass - https://gith

[2022-04-04 22:20] #5210 closed

[2022-04-04 22:23] AerialMantis commented on #5648
With the update to the Getting Started Guide merged we believe this issue to be resolved now, so we are closing the ticket.

[2022-04-04 22:23] #5648 closed

[2022-04-05 11:52] JackAKirk commented on #5682
Hi @nmnobre

We hope that #5683 will fix your issue, but do you have your sample code that ran into the problem so that we can check that your particular issue is solved by the patch?

Thanks

[2022-04-05 16:26] TApplencourt commented on #5769
To please @keryell  I did more examples, who seem to have discovered a few new bugs. Should @alexbatashev I open new tickets for those? I can also prepare a longer write-up.

The code lives here: https://github.com/argonne-lcf/HPC-Patterns/blob/main/sycl_omp_ze_interopt/interop_omp_ze_sycl.cpp
And tests OpenMP <-> L0 <-> SYCL Interopt.

The short story is that using the now deprecated `sycl::level

[2022-04-05 16:29] alexbatashev commented on #5769
@TApplencourt it's fine, let's use this tracker.

\+ @smaslov-intel, do you have any idea why these code samples do not work?

[2022-04-05 20:45] skosnits opened #5969 "[CUDA] Failed to build crossEntropy with error in backend: Cannot select: t38: v2f16 = bitcast t37"
**Describe the bug**
[CUDA] Failed to build crossEntropy with error in backend: Cannot select: t38: v2f16 = bitcast t37

**To Reproduce**
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html))
2. Build attached source file: [crossEntropy_for_external.cpp.txt](https://github.com/intel/llvm/files/8421711/crossEntropy_for_external.cpp.txt)

[code]

Error message

[2022-04-05 20:59] skosnits opened #5970 "[CUDA] Embedding runfail on CUDA backend with PI CUDA ERROR: CUDA_ERROR_ILLEGAL_ADDRESS"
**Describe the bug**
[CUDA] Embedding runfail on CUDA backend with PI CUDA ERROR: CUDA_ERROR_ILLEGAL_ADDRESS

**To Reproduce**
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html))
2. Build and run attached source file: [embedding_for_external.cpp.txt](https://github.com/intel/llvm/files/8421787/embedding_for_external.cpp.txt)

[code]

Error message:
[code]

[2022-04-05 21:11] skosnits opened #5971 "[CUDA] Reduce run verification fail on CUDA backend"
**Describe the bug**
[CUDA] Reduce run verification fail on CUDA backend

**To Reproduce**
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html))
2. Build and run attached source file: [reduce_for_external.cpp.txt](https://github.com/intel/llvm/files/8421856/reduce_for_external.cpp.txt)

[code]

Error message:
[code]

**Environment**

- OS: Linux
- Target dev

[2022-04-06 02:52] zjin-lcf commented on #5971
Verification also fails on HIP backend.

[2022-04-06 02:58] zjin-lcf commented on #5970
Is there a CUDA program for comparison ?

cuda-gdb shows:

Warp Illegal Address.
[Switching focus to CUDA kernel 0, grid 1, block (1,1365,0), thread (0,2,0), device 0, sm 0, warp 12, lane 0]
sycl/main.cpp:130
130                     output[global_address + col] = weight[indexToSearch * weight_feature_size + col];

[2022-04-06 03:05] zjin-lcf commented on #5969
I didn't observe compile/run errors using HIP backend.

[2022-04-06 06:09] bader commented on #5969
This looks like a bug in NVPTX LLVM target back-end.

[2022-04-06 06:31] bader commented on #5970
This might be a bug in the application. I would check that indices fit into the allocated memory region.

[2022-04-06 07:50] pgorlani commented on #3833
This issue seems fixed now, `sycl::get_kernel_ids()` returns a non-empty vector.

Please let me know if this is fine for you and we can close this issue.

[2022-04-06 12:41] zjin-lcf commented on #5970
cuda-gdb shows illegal warp address after converting the sycl program to cuda. I hope that a modified version will be an oneAPI sample.

[2022-04-06 14:30] guoyejun opened #5974 "clinfo does not work on ghcr.io/intel/llvm/ubuntu2004_base"
https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md says that： you can use Docker image, that has everything you need pre-installed， but looks that  clinfo does not work within it.

clinfo works on my host machine, but it does not work in the container.

Here are my steps, anything I missed? thanks.

[code]

[2022-04-06 15:09] bader commented on #5974
Sorry, the document a bit confusing. This docker image doesn't have installed OpenCL drivers. As document says:

The instructions below include driver installation instructions, so you can install them manually. cl_info should work as you expected.

This document has following section:

You can switch to ubuntu2004_intel_drivers container in case you'd like to have pre-configured environment for r

[2022-04-06 15:40] JackAKirk commented on #1520
I've ran the `test_main_ct` tests as described above without any errors. A related issue has been closed: https://github.com/intel/llvm/issues/4791.  It appears that the CUDA_ERROR_OUT_OF_MEMORY problem has been fixed so I think this issue can be closed.

[2022-04-06 18:00] kpet commented on #2427
The change to the SPIRV-Headers has now been merged. I'm guessing the next step is probably to add support to the SPIRV-LLVM-Translator, isn't it?

[2022-04-06 18:09] zjin-lcf commented on #5970
@skosnits  Could you please explain the meaning of normal operations in the kernel ?

[2022-04-06 19:54] #1520 closed

[2022-04-07 02:52] guoyejun commented on #5974
thanks, I got a mis-understanding, ghcr.io/intel/llvm/ubuntu2004_intel_drivers works.

[2022-04-07 02:52] #5974 closed

[2022-04-07 08:28] guoyejun opened #5978 "is it expected that check.py reports errors and crashes?"
**Describe the bug**
$DPCPP_HOME/llvm/buildbot/check.py reports errors and crashes, is it expected? thanks.

**To Reproduce**
[code]

[code]

**Environment (please complete the following information):**

- OS: Linux
- Target device and vendor: Intel GPU
- DPC++ version: [e.g. commit hash or output of `clang++ --version`]
[code]

[2022-04-07 12:03] krasznaa opened #5980 "[CUDA] Linking shared library in debug mode crashes the linker"
# Describe the bug

This issue has been hurting us for a while already, but since the compiler's behaviour changed a little bit recently, I thought it would finally be time to try to address it.

When trying to build our code for the CUDA backend in debug mode, we've been getting the following failures since a while:

[code]

And:

[code]

(With [2021-09](https://github.com/intel/llvm/releases/tag

[2022-04-07 15:38] zjin-lcf commented on #5970
Thank you for describing the kernel function.

[2022-04-07 19:03] Pennycook opened #5984 "Cannot build with external Level Zero installation"
**Describe the bug**
When pointing to an external Level Zero installation via the `-DLEVEL_ZERO_LIBRARY` and `-DLEVEL_ZERO_INCLUDE_DIR` CMake variables, configuration completes but compilation fails with the following error:
[code]

**To Reproduce**

Fetch all external dependencies:
[code]

Build and install Level Zero:
[code]

Configure:
[code]

Build (this step fails):
[code]

Looking inside the

[2022-04-08 12:34] iamholger opened #5989 "nondeterministic behaviour of reduce_over_group on OpenCL CPU"
**Describe the bug**
When using reduce_over_group in an nd_range<1> I observe observe
behaviour similar to a race condition leading to wrong results.
Curiously, this only happens on CPUs (OpenCL runtime).
The same code runs fine on intel and cuda devices.

**To Reproduce**
Please describe the steps to reproduce the behavior:

This is my reproducer, **demo.cxx**:

[code]

I compile as such:
[code]

[2022-04-08 13:41] robquill commented on #5
@bader , I tried your suggestion here:

But unfortunately I get these errors:

[code]

I can try to disable the -Werror flag and see if I can get any further.

Regarding the combination I'm looking for, I would like:

Build: x86_64
Host: x86_64
Target: aarch64

It's probably a question for @kpet or others if:

Build: x86_64
Host: aarch64
Target: aarch64

is interesting or not. I'm assuming that pe

[2022-04-08 14:37] kpet commented on #5
I think it is. This was one of the use-cases I had in mind when creating this issue.

[2022-04-08 15:35] zjin-lcf commented on #5989
what are your command-line arguments to ./demo ?

data[it.get_group(0)] = temp;    // multiple threads writing to the same group...

[2022-04-08 15:42] zjin-lcf commented on #5980
For the HIP backend, is there some 'assert()' called in the sycl kernel ?

[2022-04-08 16:21] krasznaa commented on #5980
Oh, yes. The problem with the HIP backend is completely separate from what I'm describing here. We use `assert(...)` statements in our code in a few places, and the HIP backend doesn't seem to support that yet.

Note that for the CUDA backend we've had the following workaround in place for a while:
  - https://github.com/acts-project/vecmem/blob/main/sycl/CMakeLists.txt#L43-L75
  - https://github.

[2022-04-08 16:29] zjin-lcf opened #5990 "Support assert on HIP backend"
Oh, yes. The problem with the HIP backend is completely separate from what I'm describing here. We use `assert(...)` statements in our code in a few places, and the HIP backend doesn't seem to support that yet.

Note that for the CUDA backend we've had the following workaround in place for a while:
  - https://github.com/acts-project/vecmem/blob/main/sycl/CMakeLists.txt#L43-L75
  - https://github.

[2022-04-08 16:36] zjin-lcf commented on #5980
Thanks.

[2022-04-08 16:42] JackAKirk opened #5991 "Incomplete SYCL 2020 math functions marray support"
Table 161 of the SYCL 2020 spec revision 4 provides the following relevant descriptions:
[code]
where
[code]
The spec then defines math functions such as:
[code]

which are implemented in intel/llvm as (https://github.com/intel/llvm/blob/sycl/sycl/include/CL/sycl/builtins.hpp):
[code]

Now if we follow the definition of `genfloat` type trait and sub traits eventually we get that the subset of marr

[2022-04-08 21:47] iamholger commented on #5989
Either no arguments, so just
[code]

or  any combination of argv[1] and argv[2]
such that "argv[1] % argv[2] = 0", e.g.

[code]

[2022-04-09 01:57] keryell commented on #5
@Ralender any feedback on this?

[2022-04-10 22:39] zjin-lcf opened #5996 "[HIP][SYCL] llvm-foreach: Couldn't find replace string for output in the command."
When building a SYCL program, the following error is shown. The SYCL program calls some functions in the GNU scientific library (GSL). Do I need to build GSL with the SYCL compiler (clang++) ?  Thanks.

llvm-foreach: Couldn't find replace string for output in the command.
clang-15: error: amdgcn-link command failed with exit code 1 (use -v to see invocation)

[2022-04-11 18:52] #5948 closed

[2022-04-11 22:31] pvchupin opened #6004 "[pulldown] Intrinsic has incorrect return type"
Merge from upstream at https://github.com/intel/llvm/pull/5956 brings build issue on CUDA target

Error:

To reproduce:
* Get ws with https://github.com/intel/llvm/pull/5956
* Erase previous build dir if exists (in my ws that impacted reproducibility somehow)
* python builtbot/configure.py --cuda
* python buildbot/compile.py

[2022-04-12 00:24] AerialMantis commented on #3833
As the issue described is no longer reproducible we believe this issue to be resolved, so we're closing the ticket, if you still experience this issue we can re-open the ticket.

[2022-04-12 00:24] #3833 closed

[2022-04-12 21:28] asudarsa opened #8802 "SYCL :: Basic/interop/check_carrying_real_kernel_IDs.cpp fails sporadically"
Log excerpt:
`[](http://icl-jenkins.sc.intel.com:8080/blue/organizations/jenkins/LLVM-Test-Suite-CI-TMP%2FLLVM-Test-Suite-CI-Linux/detail/LLVM-Test-Suite-CI-Linux/2388/pipeline#step-177-log-237)[](http://icl-jenkins.sc.intel.com:8080/blue/organizations/jenkins/LLVM-Test-Suite-CI-TMP%2FLLVM-Test-Suite-CI-Linux/detail/LLVM-Test-Suite-CI-Linux/2388/pipeline#step-177-log-238)[](http://icl-jenkins.sc.i

[2022-04-13 04:55] pvchupin commented on #6004
@t4c1, I confirm revert of this change fixes the problem. Do you think it could be addressed properly in upstream?

[2022-04-13 07:42] wangzy0327 opened #6008 "compile intel/llvm source FAILED"
**Describe the bug**
I  compiles C++ and SYCL* source files with code refer to [GetStartGuide](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md)

When I execute "python $DPCPP_HOME/llvm/buildbot/compile.py" , I get error

**To Reproduce**
Please describe the steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/22990858/163125517-89f78871-19a1-4f97

[2022-04-13 19:50] s-mx commented on #6008
Hi @wangzy0327 !
Is it possible that you cropped a piece of printed information while taking a screenshot? Because usually build systems (make or ninja) print some reason right after a compiling command, which in your case is a long list of object files. Could you please check whether there is missed something in your case?

[2022-04-13 23:45] pvchupin commented on #6004
@t4c1, thanks for the quick fix! Added it to #5956.

[2022-04-13 23:45] #6004 closed

[2022-04-14 01:18] wangzy0327 commented on #6008
Sorry，it is not complete. These are other pieces of printed information.
![image](https://user-images.githubusercontent.com/22990858/163295045-ca795bca-b55c-45d5-8a77-c6f7c50e7735.png)

![image](https://user-images.githubusercontent.com/22990858/163295011-fb9b9c1b-9af9-4a7a-b04d-608f740b0d73.png)

[2022-04-14 10:38] JackAKirk commented on #5971
@skosnits
If this code sample does not give correct results for HIP and CUDA backends, could you clarify which backends it passes for?

I'm still working this out but I have a hunch it could be related to the fact this program appears to be assuming that the number of work_items per subgroup is 16, whereas in the CUDA backend it is always 32. This is why I think it would be useful to clarify that

[2022-04-15 13:22] pengzhao-intel commented on #5971
@JackAKirk This code can get the correct results in Intel hardware.
It makes sense for the subgroup number. I don't know how sycl mapping this between different hardware and guarantee the correctness.

 _this program appears to be assuming that the number of work_items per subgroup is 16, whereas in the CUDA backend it is always 32._

[2022-04-15 15:24] zjin-lcf commented on #5971
Which Intel GPU was the program running on ?

  what():  Non-uniform work-groups are not supported by the target device -54 (CL_INVALID_WORK_GROUP_SIZE)

In the program, the work-group size is 1024.

[2022-04-16 02:57] pengzhao-intel commented on #5971
@zjin-lcf sorry for the inconvenience and I forgot to change this number to a small one.

Yes, the small workgroup makes sense as your experiments, like changing the size to half of  GroupSize with "4* SIMD" (or "2 * SIMD, or GroupRow to 1, 2, 4).

And this code shows 3 different reduction algorithms, you can switch it by changing "STATUS" to 0, 1, 2.

Feel free to let me know if any further quest

[2022-04-17 00:46] s-mx commented on #6008
@wangzy0327
I see a similar discussion here https://github.com/intel/llvm/discussions/4926.
There is a workaround which proposes to comment out 3-4 lines here https://github.com/intel/llvm/blob/7fb56cf563e3bf9e4b4a462f21f60596d6687f39/sycl/source/CMakeLists.txt#L55-L58
Could you please try to repeat it in your environment?

[2022-04-19 01:02] AerialMantis commented on #5936
@al42and thanks very much for your feedback, I'm glad you're able to work around this.

You are correct that the `SYCL_USE_NATIVE_FP_ATOMICS` is disabled for all cases where it could be selectively enabled for certain cases in the meantime, however, since there is only the double add case where remaining to be addressed we opted for just resolving this and then enabling it by default.

https://git

[2022-04-19 01:10] AerialMantis commented on #5754
As we've not been able to reproduce the issue described here we will close this ticket, if the issue persists and you are able to provide further instructions to help us reproduce it we can re-open the ticket and investigate it further.

[2022-04-19 01:10] #5754 closed

[2022-04-19 15:10] matthewphilipdixon opened #6026 "Can't use CUDA build with CMake on Windows"
I've built LLVM with CUDA support on Windows and used the resulting clang++ to build the sample program as specified here:
https://intel.github.io/llvm-docs/GetStartedGuide.html
And everything works as expected.
But when I try to build that same sample program using CMake it fails at the cxx compiler check step during the linking with a "program is not executable" error.  I believe it's looking fo

[2022-04-19 18:45] cperkinsintel commented on #6026
@matthewphilipdixon ,
Run sycl-ls to make sure the CUDA device is present and configured properly.

If so, then are you able to build your app directly? I'm not sure to which sample you refer, but something like:
`clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda -o philsapp.bin  the-best-sample.cpp`
The output there should help.

[2022-04-19 21:49] TApplencourt opened #6028 "sycl::half arithmetic operator promotes results to float"
**Describe the bug**

`sycl::half` arithmetic operator promotes results to float

**To Reproduce**

[code]

**Environment (please complete the following information):**

- OS: Linux
- Target device and vendor: Intel GPU
- DPC++ version: Intel(R) oneAPI DPC++/C++ Compiler 2022.1.0 (2022.1.0.20220224)

[2022-04-19 21:50] TApplencourt commented on #6028
( @AerialMantis The bug were found when porting sycl::complex to half precision)

[2022-04-20 14:21] matthewphilipdixon commented on #6026
@cperkinsintel ,

output of sycl-ls:
[code]

The sample I refer to is here:
https://intel.github.io/llvm-docs/GetStartedGuide.html
In the section "Run simple DPC++ application"
I'm using the cuda build command:
`clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda simple-sycl-app.cpp -o simple-sycl-app-cuda.exe`

That build actually works, and generates a working .exe that I can confirm is using the

[2022-04-20 17:44] matthewphilipdixon commented on #6026
I should also add that using the clang++ command that you supplied, or using the clang++ command that I mentioned above I get these same warnings:
[code]

[2022-04-20 21:56] Ralender opened #6034 "question: what is the expected ref-count of devices returned by piDevicesGet ?"
I am in the process of writing a plugin and the SYCL runtime usually call my plugin with something like:
[code]
piDevicesGet return devices with a ref-count of 1,
and there is one call to piDeviceRetain and one to piDeviceRelease. so devices are not cleaned up.

it makes no sense(to me) to have piDevicesGet return devices with ref-count of 0 because ref-count of 0 means the object are already clea

[2022-04-20 23:33] keryell commented on #6034
This is somehow related to discussion in https://github.com/intel/llvm/pull/5934

[2022-04-21 09:48] AerialMantis commented on #5682
Related pull request for adding a test for zero-sized local accessors - https://github.com/intel/llvm-test-suite/pull/1001

[2022-04-21 13:59] jchlanda commented on #5969
Would it not be an UB to typecast between `float` and `2xhalf`, like the example here does?
Saying that, I think the compiler should do better than hard crash on it. Submitted a patch against the mainline here: https://reviews.llvm.org/D124171

[2022-04-21 14:48] AidanBeltonS commented on #5804
I have taken a look at this issue and can reproduce it. When using OpenMP for GPUs it offloads computation differently than if it is targetting the CPU. As a result, the OpenMP compiler actions for CUDA offloading are unaware that also being used with SYCL. Hence why you need to add the SYCL include paths manually.

Similarly, the OpenMP compilation does not handle unnamed lambdas and triggers the

[2022-04-21 14:55] zjin-lcf commented on #5969
The cuda compiler supports the conversion.

[2022-04-21 14:59] jchlanda commented on #5969
I've run it on a titan machine just now:
[code]

[2022-04-21 15:00] zjin-lcf commented on #6028
the cuda programming guide shows the fp16 operations.

__device__​ __half __hmul ( const __half a, const __half b )
Performs half multiplication in round-to-nearest-even mode.
Description
Performs half multiplication of inputs a and b, in round-to-nearest mode.

__device__​ __half __hmul_rn ( const __half a, const __half b )
Performs half multiplication in round-to-nearest-even mode.
Description
P

[2022-04-21 20:49] ph0b opened #6043 "generated .spv file almost twice the size with intel/LLVM vs DPC++ compiler, increasing compile time by same amount."
**Describe the bug**
When compiling Blender kernels for Intel GPUs, the generated .spv file is 6.34MB with this project (tested with builds 2021-12 to 20220414) while it's 3.5MB with DPC++ 2022.0.2 and this leads to an increase of the compile time of the same ratio, which is problematic.

**To Reproduce**
Compile Blender from cycles_oneapi branch: https://github.com/blender/blender/tree/cycles_one

[2022-04-21 20:50] ph0b commented on #6043
[blender-spv-kernels.zip](https://github.com/intel/llvm/files/8534994/blender-spv-kernels.zip)

[2022-04-22 13:06] t4c1 commented on #5970
This is a user error on line 327 - accessing a USM allocation out of bounds. The variable `output` has size of `input_length * weight_feature_size`, while it is being indexed with `global_address + col`, where maximum value of `col` is `weight_feature_size-1` and `global_address` is `row * weight_feature_size`. `row` has a maximal value of `global_size_x`, which is greater than `input_length`.

[2022-04-22 13:06] #5970 closed

[2022-04-22 21:39] jgtong opened #6051 "NVIDIA Backend not able to launch kernels on NVIDIA A100 GPU"
**Describe the bug**
SYCL-OS with NVIDIA backend support is not launching DPC++ kernels on NVIDIA A100. Causes program to hang just before kernel s ubmission.

**To Reproduce**

Below is a simple program of just assigning a vector of 8 integer elements with the `get_global_id()` value.

[code]
To build and the above program:

[code]
The expected behaviour is the program outputs values from 0-7. Th

[2022-04-22 22:04] pvchupin commented on #6051
@AerialMantis, fyi

[2022-04-25 15:36] npmiller commented on #5943
Yes, at the moment `make install` doesn't build all of the SYCL dependencies correctly, instead you should run:

[code]

Instead of just `make install`, or `deploy-sycl-toolchain` as pointed out previously.

The tutorial you linked is a little out of date but should be updated soon to reflect this.

[2022-04-25 16:18] pgorlani commented on #6051
Hi,
   it is not possible to reproduce the error on our side.

The provided code runs as intended on our A100 / Titan RTX with the 8ec9755/latest commit.

E.g.,
[code]

[code]

Is this issue present just for the provided code? Or this applies to every kernel as suggested by the title.
What CUDA Toolkit version are you using?

[2022-04-25 16:41] jgtong commented on #6051
Dear @pgorlani

We are using the CUDA SDK 11.6; however, I have also tried this using CUDA SDK 11.4 and 11.5 with the same result. We never encountered this hang problem in all of our workloads until a few days ago.

I noticed that the test_case exe is waiting on an object in my `.nv/ComputeCache/index` . So I am not sure what is preventing the runtime to (maybe?) compile the kernel?

[2022-04-25 16:54] pgorlani commented on #6051
You can try to disable the kernel caching with
[code]
and see if it changes something.

[2022-04-25 16:58] #5936 closed

[2022-04-25 17:02] jgtong commented on #6051
Dear @pgorlani

👍 👍 👍 👍 👍  Wow, it worked! I was not aware of this environment variable. Thank you!

[code]

[2022-04-25 17:06] pgorlani commented on #6051
Perfect!

Thank you for the feedback, @jgtong.

If you are happy, fell free to close the issue.

[2022-04-25 17:13] mgrabban opened #6054 "sycl::reduction for float not working on AMD gpu"
**Describe the bug**
sycl::reduction for float data type is not working on AMD (MI100) GPU
Summing int array works but summing float array fails.

**To Reproduce**

I used this code to test it. Block above dashed line does int array summing while that below dashed line does float array summing.
Sum of int array should be 28 while sum of float array should be 28.0

[code]

**Compile command and out

[2022-04-25 17:56] Ralender opened #6055 "sycl::devices created via interop API are not uniqued"
**Describe the bug**
If a device is created via the interop API it will always create a new device_impl even when there already y exist a device_impl with the same backend handle. this issue is not limited to opencl or any device in particular.

**To Reproduce**
create a file named test.cpp containing
[code]

clang++ being the sycl capable compiler

this will hit the assert even thought (in my cas

[2022-04-25 17:59] #6051 closed

[2022-04-25 22:27] zjin-lcf commented on #6054
I could reproduce the error, which may be related to the support of floating-point atomic operations.  I asked a question here
https://github.com/ROCm-Developer-Tools/HIP/issues/2655

[2022-04-26 08:59] npmiller commented on #5943
I believe this issue is resolved and the tutorial has also now been updated so closing this ticket. Feel free to re-open if you have further issues with this.

[2022-04-26 08:59] #5943 closed

[2022-04-26 09:40] AidanBeltonS commented on #6028
I have looked into this issue and can reproduce the error.
The problem is that there are some missing operators.
So the operators +-*/ were functioning via the implicit conversion to floating point type.

I have proposed a solution in #6061

[2022-04-26 13:35] andreagen0r commented on #5943
Hi @npmiller, I tried your suggestion but I got a new error at the end of the install

[code]
[CMakeError.log](https://paste.cutelyst.org/kXBgENB_R)
[CMakeOutput.log](https://paste.cutelyst.org/Q-Eb0DiiS)

[2022-04-26 14:26] npmiller commented on #5943
Hello @andreagen0r that's strange, I'm not seeing this locally, this part is simply updating some of the level zero repository so it's strange it would fail, maybe a connection issue on your side during the build?

There may be more information in the specific log files the error is suggesting:
[code]

And a clean build may also help if this wasn't one.

[2022-04-26 17:31] andreagen0r commented on #5943
@npmiller  I did a clean build and the build step was successful.

[code]

[2022-04-26 20:30] Pennycook opened #6065 "reducer is missing deleted members"
SYCL 2020 explicitly deletes the following:
[code]

These are deleted to prevent mistakes.  For example, the code below currently compiles with DPC++ but produces the wrong answer, because the lambda is passed a private copy of the `reducer` argument.  The code is only correct if the final parameter is declared as `auto& reducer`.

[code]

[2022-04-27 03:31] jingwan2 opened #6068 "[CUDA] sycl::exp(double) compile fail with -ffast-math on CUDA backend with patch https://github.com/intel/llvm/pull/5801"
**Describe the bug**
sycl::exp(double) compile fail with -ffast-math on CUDA backend, caused by patch https://github.com/intel/llvm/pull/5801

**To Reproduce**
Please describe the steps to reproduce the behavior:

1. Compiler for CUDA backend using head https://github.com/intel/llvm/commit/0f0c5d19c52b105fdb44451606dffa78bd112c11 or later
2. Get [sycl_test.txt](https://github.com/intel/llvm/files/

[2022-04-27 13:44] mgrabban commented on #6054
Thanks for your response :-)

Now I would like to provide an additional information: I also have a HIP version for the same code which uses thrust::transform_reduce (get sum of absolutes) and it works without any issues

`thrust::transform_reduce(d_vector.begin(), d_vector.end(), tsnecuda::utils::FunctionalSquare(), 0.0f, thrust::plus<float>())`

I was thinking maybe sycl::reduction when running o

[2022-04-27 13:56] andreagen0r commented on #5943
@npmiller
Hi Nicolas, now the installation was successful. I needed to run this command below. Thank you for the support
`sudo git config --global --add safe.directory /home/andreagenor/code/external/llvm/build/tools/sycl/plugins/level_zero/level_zero/level_zero_loader`

[2022-04-27 14:32] JackAKirk commented on #5971
It is expected behavior that this code will fail for the CUDA backend since it is not portable:

**More details**

Firstly the usage of the decorator `[[intel::reqd_sub_group_size(SIMD)]]` which requests a subgroup size `SIMD` is commented out. Even if this decorator was used it would not lead to portable behavior using the CUDA backend because the only supported subgroup size is 32, and the CUDA

[2022-04-27 15:43] pengzhao-intel commented on #5971
@JackAKirk  thanks for the detailed analysis and answers. I totally agree with you that the subgroup usage is not portable across the HW.

Yes, we need to add some explanations to the DPCPP documentation.  Let me try to if I can PR some improvements in doc.

I think we can close this issue now @skosnits .

[2022-04-27 16:50] abagusetty commented on #5996
@zjin-lcf I too came across this when building a project on Crusher with DPCPP (ROCM-5.1.0). Any pointers ?

[2022-05-02 21:09] jgtong opened #6089 "LLVM with AMD backend fails to link binary object"
**Describe the bug**
LLVM compiler with AMD backend cannot link finally binary

**To Reproduce**
Please describe the steps to reproduce the behavior:

1. Include code snippet as short as possible: N/A

2. Specify the command which should be used to compile the program:

The final clang++ command for linking the binary that caused the failure was this:

[code]

After specifying the `-v ` in the `cl

[2022-05-02 22:56] AerialMantis commented on #5682
This issue has been addressed more generically in the SYCL runtime by https://github.com/intel/llvm/pull/6032, with this patch zero-sized local memory arguments are padded to 1 byte so this case is never encountered in the backends. @nmnobre I believe this issue to be resolved so I will close the ticket, however, if you feel an issue persists we can re-open it.

[2022-05-02 22:56] #5682 closed

[2022-05-02 23:12] AerialMantis commented on #5971
We believe this issue to be resolved now so I will close the ticket, if there is further work to do we can re-open it.

[2022-05-02 23:12] #5971 closed

[2022-05-03 00:11] ajaypanyala opened #6091 "[SYCL][PI][HIP][CMake] Support non-standard ROCM installation paths"
**Is your feature request related to a problem? Please describe**
The HIP build of the compiler fails in the configure step when ROCM is installed in a non-standard location especially when multiple rocm versions exist and are loaded via modules. The CMake infrastructure for the HIP plugins assumes it to always be in `/opt/rocm` as shown [here](https://github.com/intel/llvm/blob/sycl/sycl/plugins/

[2022-05-03 14:05] npmiller opened #6093 "Emulated specialization constants are not aligned properly"
Specialization constants are either supported natively for SPIR-V targets, or emulated for AOT targets such as CUDA.

When they're emulated the kernels are transformed to take an extra buffer kernel argument and load the specialization constants from that buffer, the runtime can then fill that buffer with appropriate value.

The bug is that the specialization constants are simply laid out in this

[2022-05-03 16:23] #4809 closed, assigned to nobody

[2022-05-03 16:23] #5941 closed

[2022-05-03 22:09] kbobrovs commented on #6093
@npmiller, good catch, thanks. There could be couple of ways to fix this:
- aligning spec constant values in the memory buffer
- spec const values retrieval code (target) for AOT targets allocates a temp and reads the spec constant value via \@llvm.memcpy (simpler, might be less performant in some cases)

@pvchupin FYI

[2022-05-05 15:56] jgtong commented on #5996
Is there any work around for this?

[2022-05-05 15:59] abagusetty opened #6103 "[SYCL][CUDA][HIP] Throw a runtime error with invalid sub-group size to kernel"
**Describe the bug**
Using an invalid sub-group size to the kernel doesn't result in a runtime error. Possibly throw a RT error as seen on Intel devices with invalid sub-group sizes. This behavior was observed for both the CUDA and HIP Plugins.

For CUDA possibly 32, for HIP possibly 64.

From the SYCL spec:
Each device supports only certain sub-group sizes as defined by info::device::sub_group_si

[2022-05-05 19:52] abagusetty commented on #3172
@Fznamznon Works for me with the additional flag `-Wsycl-strict`. This can be closed ?

[2022-05-06 02:35] zjin-lcf commented on #6089
@AerialMantis  Could you please flag the issue as "blocking" for developers and researchers ?  Thanks.

[2022-05-06 13:04] AidanBeltonS opened #6114 "[SYCL][Libclc] Alter libclc-remangler to use clang mangling"
**Is your feature request related to a problem? Please describe**
Currently, the libclc-remangler manually mangles builtins. Manual mangling has two issues. The first is that it leads to code duplication, where both clang and the remangler have different methods to perform the same task.
The second is that it leads to more bugs and maintenance work. For example, if the clang mangler deviates from

[2022-05-08 21:15] densamoilov commented on #6089
I also see a similar issue at commit 92cfd5365ae1040f4b530c6fa73cca7968951b7a:
[code]

Compile command:
[code]

[2022-05-08 23:46] densamoilov opened #6123 "[SYCL][HIP][AMD] Vendor ID for HIP AMD is not correct"
SYCL API returns a vendor ID for HIP AMD that is equal to vendor ID for NVIDIA - 4318 (10DE).

Reproducer:
[code]
Compile command:
[code]
Run command:
[code]
Output:
[code]

Run command:
[code]
Output:
[code]

Compiler commit: 92cfd5365ae1040f4b530c6fa73cca7968951b7a

[2022-05-08 23:47] densamoilov commented on #6123
+@AerialMantis

[2022-05-09 03:19] AerialMantis commented on #4381
Hi @steffenlarsen @romanovvlad apologies for not the delay in getting back to this, we haven't been focusing on this but we're going to start looking at this again.

In general I'm not keen on having multiple platforms for the CUDA backend as this would create a divergence in the topology mapping between the CUDA backend and other backends, which could lead to users having to special case their ap

[2022-05-09 12:52] zjin-lcf commented on #6123
Is this a vendor ID for all AMD GPU devices ?

[2022-05-09 15:01] JackAKirk commented on #3148
Probably the most straightforward way is to add `-save-temps` as an option to clang,
in which case it keeps the intermediately generated files in the same
location as other files generated by the build. For the cuda backend your PTX device code
will be in the longest named .S file. You should compile your program in an empty directory for -save-temps to work correctly.

Just do your normal build w

[2022-05-09 15:24] zjin-lcf commented on #3148
Thank you for your answers.

[2022-05-09 15:24] #3148 closed

[2022-05-09 18:05] densamoilov commented on #6123
@zjin-lcf, vendor ID for AMD devices is expected to be `4098`.

[2022-05-09 19:15] densamoilov commented on #6123
It seems that DPC++ with HIP backend always returns 4318, which is vendor ID for NVIDIA. Looks like a bug.

[2022-05-09 20:40] #6028 closed

[2022-05-09 21:07] TApplencourt commented on #6028
Thanks a lot!

[2022-05-10 00:56] #5667 closed

[2022-05-10 01:32] acknowledgexiongdei opened #6130 "install question"
I use the command in [url](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md)
[code]
the llvm-clang is install in the path `./llvm/build/bin`, if i wanna to install the llvm-clang in the path `/usr/lib/llvm/bin`, which command i need to run.

[2022-05-10 10:00] JackAKirk commented on #5181
`libimf.so` is an Intel math library. It is not located in my local non-packaged build of DPC++, but it is located in a packaged build of DPC++ with default location as described here, https://www.intel.com/content/www/us/en/develop/documentation/get-started-with-dpcpp-compiler/top.html:

[code]

Unfortunately there is not yet a packaged DPC++ release including the CUDA backend. In the meantime if

[2022-05-10 15:12] hdelan commented on #5275
Hi @al42and could you run the above executable again with:

[code]
And post the output here or on gists (there will be a lot).

Thanks

[2022-05-10 21:19] elizabethandrews commented on #4115
Point 2 in description was fixed in https://github.com/elizabethandrews/llvm/commit/68711430f7246385289975a63626bfab31dfc6d3

Point 1 and 3 were fixed during refactoring in https://github.com/intel/llvm/pull/3892.

[2022-05-10 21:19] #4115 closed

[2022-05-11 02:00] acknowledgexiongdei opened #6138 "I try to use the DPC++ with the cuda support to compile the dnnl but is comeout an error"
I try to build dnnl with gpu engine from source , [Requirements for Building from Source](https://github.com/oneapi-src/oneDNN#gpu-engine)
It needs DPC++, TBB, cuDNN, cuBLAS.
The others are already installed.
I install the DPC++ with the commands in [Build DPC++ toolchain with support for NVIDIA CUDA](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#build-dpc-toolchain-with-supp

[2022-05-11 12:16] bernhardmgruber opened #6139 "[SYCL]{CUDA] Program fails to create queue with multiple GPUs in the system"
**Describe the bug**
Running my SYCL program on a machine with multiple NVIDIA GPUs fails to create queue.

**To Reproduce**
Clone Intel LLVM, tag `2021-12`, and build with CUDA support:
`./buildbot/configure.py --cuda -t release --cmake-gen "Unix Makefiles"`
I tried with CUDA 11.6 and 11.5.

Test program:
[code]

Compile with:
[code]

Run with:
[code]

Output:
[code]

I expect the program to run

[2022-05-11 12:19] npmiller commented on #6091
You're right that we could improve ROCm installation detection but note that you can already point the build to a different ROCm directory, for example, if say your ROCm installation is in `/usr/local/rocm`:

[code]

[2022-05-11 14:05] zjin-lcf commented on #6130
Is '-o' you look for ?

You can use the following flags with configure.py (full list of available flags can be found by launching the script with --help):

--system-ocl -> Don't download OpenCL headers and library via CMake but use the system ones
--werror -> treat warnings as errors when compiling LLVM
--cuda -> use the cuda backend (see [Nvidia CUDA](https://github.com/intel/llvm/blob/sycl/sycl/

[2022-05-11 14:06] hdelan commented on #5275
Also if you get a chance could you show me the output from the test when using this branch https://github.com/hdelan/llvm/tree/diff-arch-compilation

[2022-05-11 14:25] bernhardmgruber commented on #6139
FYI, I added the output of `sycl-ls` in my original post. Adding your changes to my program:
[code]

Yields:
[code]
Which is funny, as it seems that each NVIDIA GPU has its own platform.

[2022-05-11 14:31] zjin-lcf commented on #6139
Is the error caused by the sycl host program ?

[2022-05-11 14:33] bernhardmgruber commented on #6139
Yes, there is no device code involved as you can see in the source code I posted.

[2022-05-11 20:01] densamoilov opened #6140 "[SYCL][HIP][AMD] Using DPC++ with HIP AMD support in CMake based projects"
I have a question about using DPC++ with HIP AMD support in CMake based projects. One of the requirements is to have ROCm installed. ROCm contains its own clang compiler. ROCm packages provide CMake config files that rely on the clang compiler, for example, when I do `find_package(rocblas)` the corresponding CMake module does `find_package(hip)`, which adds clang_rt.builtins-x86_64 library to the

[2022-05-11 22:10] ajaypanyala commented on #6091
@npmiller Thanks! I added the additional cmake-options you suggested to the configure line and it works well!

[2022-05-12 02:55] zjin-lcf commented on #6091
I hope the solution may be added to the getting started guide.

[2022-05-12 05:22] pvchupin opened #6142 "post-commit fail on Windows: use of overloaded operator is ambiguous"
Started at the merge of pulldown from community: https://github.com/intel/llvm/runs/6377899714?check_suite_focus=true

[code]

There is unfortunate collision of 2 changes merged in parallel:

* https://github.com/intel/llvm/pull/6061
* [ad47114ad8500c78046161d492ac13a8e3e610eb](https://github.com/intel/llvm/commit/ad47114ad8500c78046161d492ac13a8e3e610eb)

Based on discussion in https://reviews.ll

[2022-05-12 05:23] pvchupin commented on #6142
Tagging @AidanBeltonS, @steffenlarsen

[2022-05-12 08:55] npmiller commented on #6091
The variables are already described in the getting started guide:

* https://intel.github.io/llvm-docs/GetStartedGuide.html#build-dpc-toolchain-with-support-for-hip-amd

I can add a note that they can be specified with `--cmake-opt` if you want

[2022-05-12 11:12] zjin-lcf commented on #6091
The note will be helpful. Thanks.

[2022-05-12 12:02] al42and commented on #5275
After reversing the order of devices (`std::reverse(devices.begin(), devices.end());`): Titan X is tested first and works, P6000 is tested later and fails.

Both devices fail with

[code]

[code]

[2022-05-12 13:36] hdelan commented on #5275
Thanks for response. Could you try again with the latest commit on the same branch https://github.com/hdelan/llvm/tree/diff-arch-compilation ?

[2022-05-12 13:54] al42and commented on #5275
[code]

[2022-05-12 14:12] hdelan commented on #5275
Thanks for your responses. Can you give me the full output from `/usr/local/cuda/extras/demo_suite/deviceQuery`. Thanks

[2022-05-12 14:42] al42and commented on #5275
[deviceQuery.log](https://github.com/intel/llvm/files/8680024/deviceQuery.log)

[2022-05-12 14:46] hdelan commented on #5275
You seem to have a driver/runtime version mismatch. Could you try updating your driver to 11.5 or 11.6?

[2022-05-12 15:08] hdelan commented on #5275
This will probably not make a difference since the PTX is generated by CUDA clang, and not the CUDA runtime, but it's still worth a shot!

Is there any way that you can ask for a newer CUDA driver to be installed on your system?

[2022-05-12 15:28] al42and commented on #5275
Rebuilding Clang with CUDA 11.4 (matching the driver) fixes the issue:

[code]

[2022-05-12 15:34] hdelan commented on #5275
Glad to hear :+1:

[2022-05-12 15:34] hdelan commented on #5275
It would be great if you could close the ticket

[2022-05-12 15:42] al42and commented on #5275
That said, I think the current behaviour is quite counterintuitive. Native CUDA apps compiled with CUDA 11.5 run fine with the CUDA 11.4 driver there, but the IntelLLVM fails with `CUDA_ERROR_UNSUPPORTED_PTX_VERSION` on one of two devices.

At the very least, the error reporting could be improved.

[2022-05-12 15:57] hdelan commented on #5275
I definitely agree that the error reporting is poor.

However the SYCL PI merely reports back any errors that are thrown by the CUDA driver. This is quite a niche case which would require a lot of intervention in order to get a more useful error message (something that would be beyond the scope of the PI_CUDA since it only occurs when multiple devices are used, meaning multiple independent interac

[2022-05-12 16:09] hdelan commented on #5275
Documentation updated here https://github.com/intel/llvm/pull/6146

[2022-05-13 08:23] sami-hatna66 opened #6149 "Runtime Error Caused by SYCL::Reduction on Windows"
**Describe the bug**
Trying to use SYCL reductions on Windows throws "Exception thrown at 0x00007FFBAC5563E3 (igc64.dll) in test.exe: 0xC0000005: Access violation reading location 0x000001C0C94C9B18" error at runtime. I ran the code on Linux and it worked, and it compiles on Windows, it just runs into errors at runtime.

**To Reproduce**

Minimal reproducible example:
[code]

**Environment :**

-

[2022-05-13 18:45] pvchupin commented on #6142
Original change was reverted in upstream at e0fcdf5496ca686c8cebb63b63af86e666b42ab3

[2022-05-13 18:45] pvchupin commented on #6142
With this

[2022-05-13 18:45] #6142 closed

[2022-05-16 12:17] t4c1 opened #6155 "Update CUDA PI to use the same reference for all timestamps"
With the recent change to SYCL spec (in https://github.com/KhronosGroup/SYCL-Docs/pull/242) that says all timestamps should use the same reference (or timebase) we will also the CUDA backend spec to say that should be the creation of CUDA platform.

CUDA plugin needs to be updated to do it that way (currently the reference is the creation of context, which can be different for events associated wi

[2022-05-16 13:06] AerialMantis commented on #6068
We believe https://github.com/intel/llvm/pull/6085 addresses this issue so now that this is merged we will close the ticket, if you still see this issue please comment and we can re-open the ticket.

[2022-05-16 13:06] #6068 closed

[2022-05-16 13:07] jchlanda commented on #5969
This has been merged into `sycl` branch in: https://github.com/intel/llvm/commit/76d1f5eaa87b3d1ae5f4c07114313350152c24f2

[2022-05-16 13:07] #5969 closed

[2022-05-16 14:26] bernhardmgruber commented on #6139
Oh sorry, I misunderstood your question. The error occurs in *host code*, but it is caused by the CUDA platform.

[2022-05-16 23:40] abagusetty opened #6158 "[SYCL] Build error with element-wise operation for vector class"
**Describe the bug**
Element-wise operations between two different sycl::vec class data-types

**To Reproduce**
[code]
**Errors**
[code]

**Environment (please complete the following information):**
- Target device and vendor: Intel Gen9
- DPC++ version: Intel(R) oneAPI DPC++/C++ Compiler 2022.1.0 (2022.x.0.20211027)

[2022-05-17 01:36] AerialMantis commented on #3745
Apologies for the delayed reply. So in SYCL there is always a context associated with work being enqueued to a device, in some cases this is implicit, for example if a queue is constructed it will create an implicit context. However, the context is used to ensure efficient sharing of data between devices which have visibility of each other's memory, those from the same platform, so to ensure this

[2022-05-17 09:16] #6155 closed

[2022-05-17 11:46] t4c1 commented on #5716
The issue with `atomic_ref` tests timing out has been resolved by https://github.com/intel/llvm-test-suite/pull/879.

[2022-05-17 15:36] pvchupin commented on #4381
@smaslov-intel, can you comment please?

[2022-05-17 15:45] zjin-lcf commented on #3745
No problem. Thank you for your explanation.

[2022-05-17 15:45] #3745 closed

[2022-05-18 21:01] Maccchiatooo opened #6171 "[DPC++] capture 'this' pointer in the kernal function"
When I want to capture the this pointer or outside variable in DPC++ code, I have to write it in my lambda function explicitly

[code]
But, now I have a lot of variables that need to be captured in the lambda function, do I have to use the same method to write them explicitly? Or there are some other tricks to make this?

I run my code on ThetaGPU.
The system information is: #101-Ubuntu SMP Fri Oc

[2022-05-18 22:48] jgtong commented on #6089
Is there any update to this problem? I am blocked by this issue with a workload that I am trying to compile on the AMD platforms.

[2022-05-19 01:00] cdai2 commented on #2038
The fix for this issue is already merged to code base but targeted next release.  @inducer

[2022-05-19 14:22] jbrodman opened #8801 "[SYCL] Test includes header file that triggers deprecation warning. Please include correct header."
https://github.com/intel/llvm-test-suite/blob/12fdee686866fd19dd9e072a335ef58309112bb4/SYCL/OnlineCompiler/online_compiler_OpenCL.cpp#L15

[2022-05-19 20:41] #5911 closed

[2022-05-20 07:30] malixian opened #6177 "Test Nvidia Tensor Core Example Failed"
There is a runtime exception when run the compiled code from llvm/sycl/test/check_device_code/matrix/matrix-nvptx-bf16-test.cpp.

Compile Command is:  _clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda -Xsycl-target-backend --cuda-gpu-arch=sm_80  -DSYCL_EXT_ONEAPI_MATRIX=3 matrix-nvptx-bf16-test.cpp -o matrix-nvptx-bf16-test.out_

And run this binary we will get the error: **what():  Attempt to se

[2022-05-20 09:45] npmiller commented on #6093
This was fixed by:
* https://github.com/intel/llvm/pull/6132

[2022-05-20 09:45] #6093 closed

[2022-05-20 09:53] npmiller commented on #4895
Note that the compilation issues in this ticket are solved and that the CUDA plugin now passes the SYCL-CTS tests for the specialization constants.

The sample still fails with the following:
[code]

So I suspect it may not be completely valid still, or we may have another issue to fix.

[2022-05-20 12:57] npmiller commented on #4895
So looking a bit more closely at this sample, it is indeed incorrect, when using kernel bundles the specialization constants have to be set on the bundle rather than in the handler, see the SYCL 2020 spec on specialization constants:

* https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#_specialization_constants

Therefore the sample should be:

[code]

And this builds and r

[2022-05-20 13:30] JackAKirk commented on #6177
This test is not intended to be run through the runtime and it is not valid runtime code, therefore this is expected behaviour
This is a device code test only intended to check that the correct device code is emitted for the executed functions.

Please see this runtime integration test that includes bf16 cases (via uint16_t). The explicit bfloat16 type is employed in an update of this test (depend

[2022-05-22 01:58] malixian commented on #6177
It's a very useful answer, thanks!!

[2022-05-22 01:58] #6177 closed

[2022-05-23 09:29] #5181 closed

[2022-05-23 09:33] npmiller commented on #6103
We do support both sizes, in fact RDNA cards will default to the 32 thread wavefront size, and I believe that's why the CI hardware does.

[2022-05-23 15:56] AerialMantis commented on #6103
So the motivation for the spec to require that all SYCL applications compile, even if a device may not support a feature at runtime, is for portability, so an application will always compile as long as it's valid SYCL code. I agree it does seem a little counter intuitive for `sycl::reqd_sub_group_size` to compile for sub-groups sizes which are known to be invalid since this will fail at runtime an

[2022-05-23 16:06] AerialMantis commented on #5275
We believe that the documentation update (https://github.com/intel/llvm/pull/6146) resolves this issue so we will close the ticket, if you feel there is still a further issue please comment and we can re-open it.

[2022-05-23 16:06] #5275 closed

[2022-05-23 22:34] cperkinsintel opened #6185 "[SYCL] Some GroupAlgorithm tests disabled for HIP"
The GroupAlgorithm tests on llvm-test-suite were recently expanded to ensure that all the binary ops are actually tested.  Unfortunately, this has lead to failures on the HIP side, we are getting undefined symbols for a handful of __spirv__ * functions.
We have temporarily marked those tests as XFAIL ( https://github.com/intel/llvm-test-suite/pull/1034 ).  However, I suspect that majority of these

[2022-05-24 08:20] #4895 closed

[2022-05-24 16:17] JackAKirk commented on #6103
Yep Compiler warning added here: https://github.com/intel/llvm/pull/6183

[2022-05-24 16:33] JackAKirk commented on #6103
Update:

`reqd_sub_group_size()` kernel attribute does not have a complete implementation in any backend: it does not throw the `errc::kernel_not_­
supported` for invalid cases as described in the SYCL 2020 spec in any backend. It sounds like there is a plan to implement a general solution for the `reqd_sub_group_size()` in the works.

For the time being  `reqd_sub_group_size()` appears to have a

[2022-05-24 16:36] abagusetty commented on #6103
I think, I came across invalid sub-group size set to the kernel attributes error at RT when running on a Intel Gen9, ATS, PVC devices with L0 backend specifically. Might be worth taking a peek at L0 ?

[2022-05-24 16:38] JackAKirk commented on #6103
@gmlueck Do you know if this is the case? Could you clarify the current support for `reqd_sub_group_size()` in L0?
Thanks

[2022-05-24 16:47] JackAKirk commented on #6103
That's at compile time right? Same error that I observed for the OpenCL backend.

[2022-05-24 16:53] abagusetty commented on #6103
The error was at Runtime, the compilation didn't really result in any warning or error. Also I check with using `-Wsycl-strict` option if that has any guards but no-avail

[2022-05-24 20:00] gmlueck commented on #6103
I think the current behavior is that you get a JIT-time compilation error if a kernel is decorated with `reqd_sub_group_size` that the device does not support.  You can even get that error if some kernel in the program is defined with that attribute, even if the host code does not submit the kernel to any device.

We expect to fix this problem and change the runtime to throw the `feature_not_suppo

[2022-05-24 22:55] #5310 closed

[2022-05-25 09:52] JackAKirk commented on #4896
We have verified that this issue has been resolved by https://github.com/intel/llvm/pull/6132 and https://github.com/intel/llvm/pull/6125.

[2022-05-25 09:52] #4896 closed

[2022-05-25 15:53] sommerlukas opened #6189 "[SYCL][PI][HIP]"
Hi,
**Describe the bug**

I today encountered a compilation error when trying to build the HIP PI plugin on with HIP on a CUDA machine.

**To Reproduce**

The error is caused by an illegal `reinterpret_cast` in the implementation of `hip_piextMemGetNativeHandle` introduced in [this commit](https://github.com/intel/llvm/commit/e06d1b5fc71998ccea49dce1d8ed4c295c4c4ef9#diff-b88f648055cd14bce67433ad94

[2022-05-25 16:13] steffenlarsen commented on #2981
For the sake of reviving this discussion, I agree with @AaronBallman that the only way to be fully out of the woods is to use reserved identifiers in our headers, otherwise we are just making assumptions about user code which could easily land us back in this very same discussion again when someone has `-DVecLen=...` in their compilation. I don't think we should rule out code-bases using different

[2022-05-25 16:37] bader commented on #2981
Sounds good to me.

https://clang.llvm.org/extra/clang-tidy/#suppressing-undesired-diagnostics

[2022-05-25 16:47] AaronBallman commented on #2981
I think this makes sense -- using clang-tidy and integrating that into the CI pipeline will help keep the headers hygienic for macros. Given that it will be a custom clang-tidy check, I think the idea of making it ignore public integers within a certain namespace is a good idea to keep the exclusions list down.

[2022-05-25 18:21] steffenlarsen commented on #2981
During internal discussion the following concerns were brought up:

1. Do internal macros also need to follow the reserved naming requirements? If yes, how can we be sure it does not interfere with other libraries?
2. How do we guarantee that standard library `#define` using reserved names do not collide with the reserved identifiers we use?
3. Why do libraries like Boost not use reserved identifi

[2022-05-26 00:54] skambapugithub opened #6195 "Is a 2d array treated internally as 1d array at assembly level in dpcpp for NVIDIA BACKEND?"
**Describe the bug**
I am trying to run a program on NVIDIA backend.
The code is similar in CUDA and DPCPP version, but dpcpp code considerably longer time(x10) compared to cuda version.

**Profiling for cuda,**
![Capture2](https://user-images.githubusercontent.com/93948231/170391727-5b93d3e7-6583-40a5-b7c4-e50a9745e7cd.PNG)

**Profiling for dpcpp**
![Capture1](https://user-images.githubuserconten

[2022-05-26 01:59] zjin-lcf commented on #6195
What is the performance of the cuda program using 1D array ?

[2022-05-26 02:02] zjin-lcf commented on #6189
Do you see the problem when you build the CUDA PI on a CUDA machine and build the HIP PI on a HIP machine ?

[2022-05-26 02:04] zjin-lcf commented on #6158
Does OpenCL support vector operations with different data types ?

[2022-05-26 04:15] kbobrovs commented on #2981
I don't think C++ has enough tools to conveniently and reliably solve our problem here, so we need some compromise, I believe. For example
- contrary to the LLVM coding guide, forbid the CamelStyle identifiers within functions in the API headers, and use lower-case always. Most macro names are all-caps like `VL`, so they won't conflict with parameter names or local variable names.
- require templa

[2022-05-26 07:02] Naghasan commented on #6195
(I'm assuming you are comparing DPC++ against NVCC)

I think you are just noticing a general LLVM/NVPTX vs NVCC optimization difference.

In your sample, looking at the output of the cuda code from clang/llvm
https://godbolt.org/z/z1v1jjnTv

and from nvcc
https://godbolt.org/z/x9v35MaWq

you can see that NVCC is fully unrolling the inner loops while llvm only does a small partial unrolling. As you

[2022-05-26 11:14] bader commented on #2981
How do you define the "implementation" and why Boost is treated as being not part of the "implementation"? What makes SYCL library a system library, but doesn't apply to the Boost library?

NOTE: we use Boost library code in SYCL headers - https://github.com/intel/llvm/pull/5791.

[2022-05-26 11:25] AaronBallman commented on #2981
Colloquially, I define it as "everything that ships with the compiler or is necessary to make hello world work." e.g., everything in clang\lib\Headers is part of the implementation, the C standard library is part of the implementation even though it doesn't ship as part of Clang (needed for a hosted implementation, not needed for a freestanding one), the STL used is part of the implementation even

[2022-05-26 11:28] AaronBallman commented on #2981
This is not a valid assumption. There are plenty of macros which are not all caps (such as `errno`, `setjmp`, etc), so while this might save you some hassle, it's not a solution.

Using `__` as a prefix is precisely my suggestion in https://github.com/intel/llvm/issues/2981#issuecomment-760354906 and would solve the issue in a defensible way. Do this for *all* your private identifiers in the heade

[2022-05-26 13:37] sommerlukas commented on #6189
The problem occurs when building the HIP PI on a CUDA machine.

I currently do not have an AMD machine available to test the HIP PI on a HIP machine and I haven't tested the CUDA PI.

[2022-05-26 23:06] TApplencourt commented on #4255
The bug is still present in ` Compiler 2022.1.0 (2022.x.0.20220503)` , `agama 449`.
[code]
Reproducer:
[code]

Also if we have a WA when `range >= numeric_limit<int>::max()` can we to the conversion at runtime?
Some of our users go bitten by this limitation.

[2022-05-27 01:11] zjin-lcf commented on #6171
I have a question. How do you pass a lot of variables in your CUDA program ?

[2022-05-27 01:31] zjin-lcf commented on #6189
pi_cuda.cpp has _PI_CL(piextMemGetNativeHandle, cuda_piextMemGetNativeHandle)

[2022-05-27 08:39] steffenlarsen commented on #6123
Closing this issue with https://github.com/intel/llvm/pull/6127 merged. @densamoilov - Please reopen if the issue persists.

[2022-05-27 08:39] #6123 closed

[2022-05-27 09:28] Maccchiatooo commented on #6171
I am not sure exactly how DPC++ does that, but I do like "h.parallel_for(range{llx, lly, llz}, [=, fq = this->f, uq = this->ua, vq = this->va, wq = this->wa, pq = this->p, rhoq = this->rho](id<3> idx)
                                                   {"

[2022-05-27 09:41] JackAKirk commented on #6055
Fix proposed here: https://github.com/intel/llvm/pull/6204

[2022-05-27 09:47] zjin-lcf commented on #6171
Not a fan of C++ lambda, I wonder if the following works.

auto ini2 = this->Q.submit([&](handler &h)
            { accessor eee{ee, h, read_only};
              accessor ttt{tt, h, read_only};
               **fq = this->f;
               uq = this->ua;
                ...
               rhoq = this->rho;**
              h.parallel_for(range{size1, size2, size3}, [=](id<3> idx)
              doub

[2022-05-27 09:56] Maccchiatooo commented on #6171
I think it should work, but then I still need to declare a lot of new parameters. I try to capture [*this] in the parallel for, but then I have the error the value is not a device copyable type.  I am not sure if I can transfer ua = malloc_shared<double>(local_size, this->Q); to a device copyable type?

[2022-05-27 10:14] zjin-lcf commented on #6171
I hope C++ experts could answer your question.

[2022-05-27 15:25] sommerlukas commented on #6189
The implementation in pi_cuda.cpp uses a `static_cast`, I've opened a pull request using that solution for the HIP plugin: #6207

[2022-05-27 16:47] al42and opened #6208 "SYCL/HIP: "corrupted double-linked list" from hip_piProgramRelease"
**Describe the bug**

After program completion, when all the resources are getting deinitialized, it aborts with  "corrupted double-linked list".

The error is semi-random. Seems much more likely to be triggered when there are multiple processes using the GPU, although happens also with a single process.

**To Reproduce**

Build IntelLLVM a1b42aa6037aba9b86d40d8c1c59c0dc2f941481 with HIP (ROCm 5.0

[2022-05-27 19:33] al42and opened #6209 "[SYCL][HIP] "Memory access fault by GPU" from GROMACS"
**Describe the bug**

Running a SYCL program on AMD GPU results in it crashing with the following error:

[code]

The same program runs fine with hipSYCL on the same machine. An identical error was also observed by a 3rd party on Hygon DCU (based on the same Vega 20).

**To Reproduce**

Unfortunately, I could not come up with a short reproducer. Tested with latest IntelLLVM, ROCm 5.0.2, AMD MI50.

[2022-05-27 19:33] al42and commented on #6209
Tagging @rolandschulz

[2022-05-27 23:14] zjin-lcf commented on #6208
I couldn't reproduce the error. Hopefully, others could.
clang++: 9a9a7a4026a0fe9892a275fe70e1c8330af89792  (around 5/13)
device: gfx908
rocm: 4.5.2

[2022-05-27 23:26] zjin-lcf commented on #6209
An identical error was also observed by a 3rd party on Hygon DCU (based on the same Vega 20). Is it SYCL or HIP error ?

[2022-05-27 23:46] zjin-lcf opened #6210 "[SYCL][PI][OpenCL] The case of PI_DEVICE_INFO_ATOMIC_64"
Does the case need to include double-precision floating-point check (FP64) in the OpenCL plugin interface ?
[code]

[2022-05-29 09:08] bader commented on #4255
I've discussed that issue with @bashbaug a few months ago and he told me that Level Zero driver doesn't support work sizes larger than 2^{32}. The application aborts as it doesn't handle the exception DPC++ runtime library throws to report about unsupported work-size.
Is it possible to reduce the work size to meet low-level runtime requirements (e.g. by enqueuing kernel multiple times)?

[2022-05-29 23:17] al42and commented on #6209
Hard to say, but almost identical code runs fine with the same hardware with the same ROCm runtime when using hipSYCL.

[2022-05-30 04:55] skambapugithub commented on #6195
Hi @Naghasan,

I tried using the flags "-ffast-math"  and "-mfma" but i dont see any effect.
This issue has been blocking our workload development since many weeks.
Could please suggest any other options which i might need to try.. It would be very helpful

[2022-05-30 08:56] npmiller commented on #1665
The PR: https://github.com/intel/llvm/pull/6203 should partially address point 2 by giving extra preference to devices with available images in the fat binary.

So for example, a program with only a SPIR-V image, will prefer any device with SPIR-V support over the CUDA backend GPU device, so we shouldn't need the "opt-in" as simply using the CUDA triple or not during compilation will influence dev

[2022-05-31 07:09] ph0b commented on #6043
worked-around on application side by tuning inlining to better match what DPC++ does.

[2022-05-31 07:09] #6043 closed

[2022-05-31 11:24] ph0b opened #6217 "search the plugins at a path relative to the SYCL Runtime"
Client applications shipping on Linux need to be able to load sycl.dll and plugins without having to get user to tune LD_LIBRARY_PATH.
Per: https://github.com/intel/llvm/blob/f6420c769d473c00be736b8df361e10dd98a6009/sycl/doc/design/PluginInterface.md?plain=1#L51
Would it be possible to add at least `$ORIGIN/../lib` to libsycl RUNPATH?

[2022-05-31 15:07] TApplencourt commented on #4255
Oh, I see. Thanks for the update! Let me gather more info and come back to you.
Compiling with `fno-sycl-id-queries-fit-in-int` make the run-time error disappear but I didn't yet check for the result correctness.

 It will be maybe more manageable to do it at the SYCL runtime level?

Indeed, each and every application will need to do that for each kernel submission (this can be a workaround with s

[2022-05-31 23:34] Ralender opened #6222 "Unresolved conflict marker in clang/test/Driver/clang-offload-bundler.c"
there is unresolved conflict marker at https://github.com/intel/llvm/blob/9c39a30197ba772d3d7a634f155ffa0095216d0d/clang/test/Driver/clang-offload-bundler.c#L117

[2022-06-01 14:59] jchlanda commented on #6139
@bernhardmgruber I've checked your snippet with f6420c769d473c00be736b8df361e10dd98a6009
on a system with two Tesla V100's and was unable to reproduce the error.

Your program runs to completion producing:

[code]
`sycl-ls` verifies available GPUs as well:
[code]
And this seems to be deterministic, I've run it in a loop over multiple iterations with no problem.

[2022-06-01 22:49] skambapugithub commented on #6195
Hi @AerialMantis , any update on this?
Any suggestions for default flags that i might have missed during dpcpp compilation ?

[2022-06-01 23:54] #5922 closed

[2022-06-02 03:12] densamoilov commented on #6089
@zjin-lcf, is there any update on this?

[2022-06-02 03:32] kbobrovs commented on #2981
As I mentioned, I don't think we can have a solution. We can only have a mitigation. Using lower-case will reduce the chance of conflict significantly.

This seems an overkill for me. But, on the other hand, that's how e.g. Microsoft std C++ headers are implemented. Maybe we need to pay this price for safety.

[2022-06-02 04:57] rolandschulz commented on #2981
Using `__` is a solution in the sense that it guarantees that all code works independent of what weird macros are defined.
But the ugly identifiers clearly impact readability of the STL libraries and would do the same for the SYCL headers. And readability also has a user value (useful for e.g. debugging or understanding the inner working). I'm not convinced that supporting people doing weird stuff

[2022-06-02 06:18] keryell commented on #2981
The code review during up-streaming will do the final bike-shedding and it will be the same as the system headers and standard library.
@rolandschulz program your editor to rewrite the identifiers as you want. :-)

[2022-06-02 09:01] bernhardmgruber commented on #6139
@jchlanda Thank you for taking the time to investigate! I just tried as well with the current tip of `sycl` (f799cf7d401909468767fc8fb2d4614fc54396ad) and the problem still exists.

One potential source could be the partitioning of the node. I am running on an HPC cluster managed by slurm. Depending on the requested resources only parts of the node are allocated and visible to me. E.g. `sycl-ls` o

[2022-06-02 09:15] jchlanda commented on #6139
@bernhardmgruber I'm on a `slurm` managed node as well. I had a (brief) look at the code handling `get_devices` and it looks reasonable. Maybe it's a stale build, could I suggest nuking the build directory and trying again?

Re your point about each GPU having its own platform, that is indeed unorthodox, it's a workaround that will be removed once the work on supporting multiple devices in a singl

[2022-06-02 10:20] zjin-lcf commented on #6089
Sorry, we need help.

[2022-06-02 11:33] AaronBallman commented on #2981
Correct, there are no standard solutions or common extensions that will save you from this problem. The only thing you can do is mitigate. Based on experience, using lower-case identifiers will slightly reduce the chance of conflict. But when the conflict happens, it's a bug in your header that you need to fix. You don't get to steal already-defined identifiers from the user just because they incl