[2019-01-24 16:55] kpet opened #2 "[SYCL] Using NoSignedWrap decoration without declaring SPV_KHR_no_integer_wrap_decoration"
Building [the simple app from the doc](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md#creating-a-simple-sycl-program) results in an invalid SPIR-V module. The `NoSignedWrap` decoration is used but the `SPV_KHR_no_integer_wrap_decoration` isn't declared with an `OpExtension`. Declaring the extension is enough to make the module pass the validator.

[2019-01-24 17:07] kpet opened #3 "[SYCL] LLVM ERROR: OCL version mismatch while building test application"
Building the [simple test application](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md#build-and-test-a-simple-sycl-program) using the 1-step flow results in the following behaviour:

[code]

FYI `/path/to/opencllib.so` contains a version of the SPIRV-LLVM translator.

With the following hack:

[code]

the build succeeds.

[2019-01-24 17:12] kpet opened #4 "[SYCL] Support building on ARM"
There are quite a few x86 assumptions that prevent building for ARM (e.g. `cpuid`, `get_native_vector_width`, etc)

[2019-01-24 17:15] kpet opened #5 "[SYCL] Support for cross-compilation?"
A quick look at the code suggests that cross-compiling SYCL apps isn't currently possible. Is there any plan to add support? x86->ARM would be particularly interesting.

[2019-01-24 17:20] kpet opened #6 "[SYCL] The build system doesn't use the OpenCL_LIBRARY passed in everywhere"
There are a number of places where the build system uses a hard-coded reference to `OpenCL` instead of using the passed in `OpenCL_LIBRARY`. This prevents the build from succeeding in environments where the OpenCL implementation doesn't reside in a library called `OpenCL`. The following patch seems to have done the trick for me:

[code]

[2019-01-24 22:55] bader commented on #5
I think it's possible in theory even today, but it's not tested.
What particular problems you see if you target ARM with the clang built from the sycl branch?

Another option: you can try separate compilation as mentioned as # 2 here: https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md#build-and-test-a-simple-sycl-program. It splits the compilation into two steps: device

[2019-01-24 23:07] bader commented on #4
I think we should move these to some platform specific layer and add ARM specific implementation.
There shouldn't be much places we need to change.

[2019-01-24 23:15] bader commented on #3
Could try to link with the library with -L -l options, please?

We are working on alternative solution I hope we will upload a fix soon. The problem here is LLVM-SPIR-V translator which create a non-empty LLVM module from an empty SPIR-V file (I assume opencllib.so doesn't have SPIR-V code). This non-empty LLVM module has OpenCL 1.2 version encoded in metadata and the check you disabled, detects t

[2019-01-24 23:20] bader commented on #2
Looks like an issue of [LLVM/SPIR-V translator](https://github.com/KhronosGroup/SPIRV-LLVM-Translator). I'll create another issue there.
Thanks for reporting it.

[2019-01-24 23:55] kpet commented on #3
Using -L -l just works and that's probably what I should have used anyway.

[2019-01-29 05:19] airlied opened #8 "[SYCL] building fails on Fedora/gcc"
In file included from /home/airlied/devel/compute/intel/llvm/sycl/include/CL/sycl.hpp:46,
                 from /home/airlied/devel/compute/intel/llvm/sycl/tools/sycl-check.cpp:10:
/home/airlied/devel/compute/intel/llvm/sycl/include/CL/sycl/detail/scheduler/scheduler.cpp: In member function ‘void cl::sycl::simple_scheduler::Node::addAccRequirement(cl::sycl::accessor<dataT, dimensions, accessMode,

[2019-01-29 05:33] airlied opened #10 "[SYCL] linking sycl gives missing __cpu_model"
On Fedora 28 + gcc 8.2.1

CMakeFiles/sycl.dir/source/detail/device_info.cpp.o: In function `cl::sycl::detail::get_native_vector_width(unsigned long)':
device_info.cpp:(.text._ZN2cl4sycl6detail23get_native_vector_widthEm+0x3): undefined reference to `__cpu_model'

I can fix this by manually adding -lgcc to the end of the c++ linker line, but that probably means something has gone wrong elsewhere, j

[2019-01-29 05:48] bader commented on #10
Hi Dave, thanks for reporting this issue. We have seen the sample problem with Ubuntu and implemented a workaround in CMake files here: https://github.com/intel/llvm/blob/sycl/sycl/CMakeLists.txt#L102
I think we should look at this problem more carefully and implement a more robust solution.

[2019-01-29 13:08] kusma commented on #10
I'm seeing the same problem as well on Fedora 29 + gcc 8.2.1.

[2019-01-30 00:18] keryell commented on #10
It works out of the box on Ubuntu 18.10 & g++ 8.2.0 at least...

[2019-01-30 10:37] kusma opened #12 "[SYCL] segfault in clCreateProgramWithIL with OpenCL 2.0"
My distro (Fedora 29) provides OpenCL with version reported as "OpenCL 2.0 beignet 1.3", which is incapable of using SPIR-V.

So when we unconditionally run clCreateProgramWithIL because we have a SPIR-V binary, we end up crashing with a SIGSEGV.

IMO, we should try to deal with this a bit more gracefully.

[2019-01-31 15:22] Ruyk opened #15 "[SYCL] Cannot compile some standard library functions in SYCL mode"
The following (silly) code:

[code]

Fails to compile in SYCL mode:

[code]

but works without SYCL on the command line:

[code]

Is this expected?
Am I correct in understanding that the SYCL mode requires different C++ headers, and that some alias are missing?
Is there any particular reason the normal system headers cannot be used? Note there is no SYCL code in that example.

[2019-02-01 02:19] airlied commented on #10
There's probably no harm in expanding the workaround to always just link -lgcc on gcc.

[2019-02-04 06:32] airlied opened #17 "[SYCL] build spir-v doesn't validate"
This might be an artifact of my install, but attempting to validate the produced spirv with spirv-val errors here.

[airlied@dreadlord-bne-redhat-com ~]$ /opt/intel/bin/clang++ --sycl -Xclang -fsycl-int-header=simple-sycl-app-int-header.h -c simple-sycl-app.cpp -o kernel.spv
[airlied@dreadlord-bne-redhat-com ~]$ spirv-val ./kernel.spv
error: 212: Invalid decoration operand: 4469
[airlied@dreadlord

[2019-02-04 06:36] airlied commented on #17
this seems like a possible bug in the llvm<->spirv translator, and also I might need to update the spirv-tools I have to newer version.

[2019-02-04 07:14] airlied commented on #17
Updated tools more correctly print:
error: line 29: 2nd operand of Decorate: operand 4469 requires one of these extensions: SPV_KHR_no_integer_wrap_decoration
  OpDecorate %196 NoSignedWrap

[2019-02-04 07:18] bader commented on #17
The same issue is reported in #2. I reported this problem to SPIR-V translator project.

[2019-02-04 07:46] airlied commented on #17
indeed reverting the  offending commit makes validate work.

[2019-02-04 11:02] bader commented on #15
Hi @Ruyk.

Thanks for the reporting this issue.

No. It's a bug.

Even though, this code doesn't have SYCL device functions, the compiler driver always invokes SYCL device compiler. Device compiler compiles for SPIR target and IIRC the compiler can't parse STL headers installed with libstdc++ as they are configured for x86 target and uses specific x86 built-ins/intrinsic functions.
Currently we so

[2019-02-04 13:43] Ruyk commented on #15
That makes sense. Stubs are quite difficult to maintain in the long term, specially when you start dealing with different variants and versions of C++ headers.

[2019-02-05 03:38] keryell commented on #15
For this reason in triSYCL we are using the Linux x86 triplet and we "just" override it inside LLVM.
Do you really ended up with x86 intrinsics in the SYCL kernel device code?
I guess that OpenMP/CUDA/Hip solved this somehow...

[2019-02-05 08:15] bader commented on #15
You can see the problem by removing/renaming the stubs and trying to compile following program:
[code]

[2019-02-06 03:58] airlied opened #21 "generated SPIRV contains mangled get_global_id"
The SPIR-V generated here using the suggested command line contains a function call out to get_global_id.

This should be lowered by the llvm-spirv code, but isn't and I'm not sure how to fix it.

the llvm-spirv code has an OCL20ToSPIRV lowering code for OpenCL C 2.0, and OCL21toSPIRV lowering for OpenCL C++ 2.1 code.

Now we generate OpenCL C++ 1.0 source version, so neither of these gets hit.

H

[2019-02-06 04:07] airlied commented on #21
hmm looks like the OclCxxBifNameReflower pass is also involved here, I'll keep digging a bit more

[2019-02-06 08:53] bader commented on #21
I think @vladimirlaz has a fix for this problem.
@vladimirlaz, could you commit your fix, please?

[2019-02-06 09:04] vladimirlaz commented on #21
I will take care of that.

[2019-02-06 12:37] bader commented on #15
Interesting... how triSYCL compiler implements device code diagnostics from 6.3 section?

[2019-02-07 00:58] keryell commented on #15
Technically we do not yet :-) since our prototype is using late outlining in LLVM and almost no work has been done in Clang yet...
But we have a few things that just use if the SYCL option is passed to the compiler, instead of checking for the triplet... It was too hard to get the standard libraries to compiler otherwise...

[2019-02-07 03:04] agozillon opened #22 "[SYCL] Possible bug/typo in GetStartedWithSYCLCompiler.md example"
A little bit of a silly issue possibly and I may be incorrect and sorry if I am, but I think the NEOGPUDeviceSelector example is perhaps wrong, the following line is using the find function of std::string:

`return Device.is_gpu() && DeviceName.find("HD Graphics NEO") ? 1 : -1; `

But I think it's assuming the result is a bool that will return true if its found and false otherwise or at least it r

[2019-02-07 08:35] romanovvlad commented on #22
Hi, thanks for the report. It's really but, I think, the correct line is:
`return Device.is_gpu() && (DeviceName.find("HD Graphics NEO") != std::string::npos); `

[2019-02-07 09:32] Ruyk commented on #15
When working with large C++codebases, its almost inevitable to pull in intrinsics, not only from system libraries, but from optimized  headers that have some custom operations or implementations (e.g. SSE implementations of algorithms). Single-source compilation should support this to avoid users forced to rely on pre-processor guards everywhere.
We use the host triple as well in compute++, any x8

[2019-02-07 10:42] bader commented on #15
I'd like to bring this discussion to cfe-dev mailing list to see how this is resolved for CUDA/OpenMP.
I'm have doubts that enabling host triple for the device compilation is the right approach.

[2019-02-07 16:11] agozillon commented on #22
Even better! I wasn't too sure if returning the -1 rather than 0 was intended for weighting the scheduler result in some way.

[2019-02-07 17:44] keryell commented on #22
Just to clarify according to the specification on page 49:

[...]

So, having a negative number has really a very different semantics on purpose.
That said, I do not know what it is required by the example above...

[2019-02-11 23:10] airlied opened #25 "[SYCL] -save-temps is broken"
/opt/sycl/bin/clang++ -save-temps -std=c++11 -fsycl simple-sycl-app.cpp -o simple-sycl-app -lsycl -lOpenCL

clang++: /home/airlied/devel/intel/llvm/clang/lib/Driver/ToolChains/Clang.cpp:5280: virtual void clang::driver::tools::Clang::ConstructJob(clang::driver::Compilation&, const clang::driver::JobAction&, const clang::driver::InputInfo&, const InputInfoList&, const llvm::opt::ArgList&, const cha

[2019-02-12 12:08] bader commented on #21
Should be fixed by #23.
@airlied, feel free to re-open if fix doesn't work for you.

[2019-02-12 12:09] bader commented on #3
Should be fixed by PR #23.

[2019-02-12 12:09] #3 closed

[2019-02-13 02:10] agozillon opened #26 "[SYCL] Possibly redundant getSpirvSource() call in program_manager.cpp"
Fairly irrelevant issue and I could be wrong  and misunderstanding the code (I apologize if I am) but I think the new addition of the function `createOpenCLProgram` inside **sycl/source/detail/program_manager/program_manager.cpp** makes the call to `getSpirvSource()` on line _125_ inside the function `getBuiltOpenCLProgram` redundant.

As `createOpenCLProgram` calls it on line _115_ (which is invo

[2019-02-13 14:36] Ruyk opened #27 "[SYCL] Failing to compile SYCL code on C++ mode only"
The following simplified application

[code]
fails to compile when not passing the -fsycl option to the driver with the following error:

[code]

However, it works with when -fsycl is passed.

Looks like something in the handler header requires/expect the KernelInfo but is not there on non-SYCL mode

[2019-02-13 16:25] Ruyk opened #28 "[SYCL] Cannot use derived accessor objects"
The following code:

[code]

produces incorrrect results when NORMAL_ACCESSOR is not defined, but works fine when it is.

The main difference between the two code paths is that we use a _derived class_ from the SYCL accessor, which is valid from the SYCL specification.
The generated SPIR-V binary doesn't recognize the derived class (my_accessor) as an accessor, and fails to generate the correct co

[2019-02-13 18:03] keryell opened #29 "[SYCL] 11 tests are failing on Ubuntu 18.10 and GCC 8.2.0"
Current version https://github.com/intel/llvm/commit/bae2b751d83aab3bc819796350fcc086c14ba92a
has some failing tests on Ubuntu 18.10 and GCC 8.2.0:

[code]

Actually it is also mentionned by @Ruyk in https://github.com/intel/llvm/pull/9

Among the 11, it looks like there are 2 kinds of failures:
[code]

[2019-02-13 18:06] bader commented on #29
@vladimirlaz, could you take a look at these, please?

[2019-02-13 20:23] bader commented on #27
Yep. "C++ mode only" hasn't been regularly tested.

[2019-02-13 20:25] bader commented on #26
@agozillon, thanks for reporting this!
I talked to @vladimirlaz and it seems to be an artifact of merge conflict resolution.

[2019-02-15 12:50] vladimirlaz commented on #26
The fix has been merged.

[2019-02-15 12:50] #26 closed

[2019-02-18 04:24] airlied commented on #21
Okay the latest code makes things different, but doesn't fix it unfortunately.
OpDecorate %5 LinkageAttributes "_ZN2cl7__spirv21VarGlobalInvocationIdE" Import
OpDecorate %91 LinkageAttributes "_ZN2cl4sycl6detail29InitSizesSTGlobalInvocationIdILi1ENS0_2idILi1EEEE8initSizeERS4_" Export

This still doesn't contain what the SPIR-V spec says it should which is a variable decorated with the GlobalInvoca

[2019-02-18 04:25] airlied commented on #21
(can we reopen this?, I don't have the permissions.)

[2019-02-19 08:09] vladimirlaz commented on #21
I was able to reproduce the issue.

[2019-02-19 12:01] bader commented on #21
@airlied thanks for reporting this.
It's surprising... I would expect OpenCL driver to discard invalid SPIR-V.
@vladimirlaz, will you be able to investigate?

[2019-02-19 13:30] bader commented on #21
I can't reproduce it.
Could @airlied or @vladimirlaz provide command lines you used to get it, please?

[2019-02-19 16:20] bader commented on #21
[simple-vector-add.zip](https://github.com/intel/llvm/files/2880867/simple-vector-add.zip)

I attached files I get by compiling https://github.com/codeplaysoftware/computecpp-sdk/raw/master/samples/simple-vector-add/simple-vector-add.cpp

To get SPIR-V binary:
[code]
Convert binary to text:
[code]
Line 101 of text file has required decoration.

[2019-02-20 08:11] vladimirlaz commented on #21
Hi, I have retest and it looks like @bader is right. We have both variable __spirv namespace (you mentioned) used to access actual builtin value which is present in numeric form:
In my case it looks like:
. . .
11 Name 5 "__spirv_BuiltInGlobalInvocationId"
. . .
Decorate 5 BuiltIn 28
. . .

I suggest to close issue as fixed

[2019-02-20 08:11] #21 closed

[2019-02-20 09:00] airlied commented on #21
Oops my bad, thanks for making me taking another look, another patch I'd left in my tree to get the previous code working was interfereing, now the kernel I got has the decorations.

Sorry again and thanks for the fix.

[2019-02-20 11:09] bader commented on #12
Fixed by #11.

[2019-02-20 11:09] #12 closed

[2019-02-20 11:13] bader commented on #17
@airlied, I'd like to close this issue as it duplicates the issue #2. Are you okay with closing this one?

[2019-02-21 00:32] airlied commented on #17
Good plan.

[2019-02-21 00:32] #17 closed

[2019-02-21 18:44] bader commented on #6
How about this version:

[code]

`target_link_libraries` we can definitely remove as we used `link_libraries` in the same cmake file.
As `tools/CMakeLists.txt` doesn't configure a new project, parent cmake configuration is applied, so there is no need to duplicate OpenCL configuration. The only downside is that this change adds an assumption that OpenCL paths are "pre-configured" somewhere outside

[2019-02-22 07:00] bader commented on #8
Fixed by #36.

[2019-02-22 07:00] #8 closed

[2019-02-25 02:42] airlied opened #38 "[SYCL] should inlining work?"
This is more of a question, but should I expect inlining to work?

clang++ -O1 -finline-functions -std=c++11 -fsycl simple-sycl-app.cpp -o simple-sycl-app -lsycl -lOpenCL

should the SYCL get all methods inlined?

[2019-02-25 05:25] airlied commented on #38
I've traced it down to the -disable-llvm-passes in clang/lib/Driver/ToolChains/Clang.cpp: around 3522.

[2019-02-25 05:36] airlied commented on #38
I've removed that line, and wow the spir-v the compiler produces is a lot nicer at least for the sample app, is there some reason we have this disable there?

[2019-02-26 22:56] keryell commented on #38
I think it is a constraint about SPIR-V. SPIR-V people are very keen to manage their own optimizations themselves, because they want to keep structured control flow and things like that. This might be OK for the typical low-level languages used in graphics shaders.
The problem is that for languages like modern C++, if there is no aggressive optimizations in use, the code might be pretty inefficien

[2019-02-26 23:06] airlied commented on #38
The current code just outputs unstructued CFG anyways, we have hacked a structurizer pass into a fork of llvm-spirv just to avoid this.

If we do want to control the opts, then we should at least build a set of useful ones that need to get executed, inlining and copy elimination are definite requirements to produce useful SPIR-V.

[2019-02-27 00:58] keryell commented on #38
That seems a good plan.

[2019-02-27 11:56] bader commented on #38
I'd like to clarify a few issues with running standard optimization pipeline:
 - there are passes breaking SPMD programming model (http://llvm.1065342.n5.nabble.com/llvm-dev-RFC-Adding-thread-group-semantics-to-LangRef-motivated-by-GPUs-td124656.html)
- SPIR-V translator is validated only with O0 LLVM IR, but it's technical issue.
- I'm not sure if we can adequately evaluate if particular transfor

[2019-02-27 16:45] Ruyk commented on #29
In case it helps, when using Ubuntu 18.04, GCC 7.3 and Intel CPU OpenCL 1.2.0.10, aot/with-llvm-bc.cpp  deadlocks for me on clBuildProgram.

When I disable execution of that test, output is as below:

[code]

[2019-02-27 18:59] bader commented on #6
I hope #37 fixed that problem.
Can we close this?

[2019-02-28 01:03] keryell commented on #38
Yes, it would be great to have a way to specify some options to have aggressive AOT compilation.

[2019-02-28 04:46] pvchupin commented on #29
This seems to be an issue in version older (but the latest publicly available) of OpenCL CPU RT which is fixed now. We are working towards making a new OpenCL CPU RT release available soon and going to have more frequent updates going forward.

[2019-02-28 10:31] Naghasan opened #40 "[SYCL] Compiler cast constant address space to generic address space"
The following code compiles without any complain
[code]
Although this force an illegal address space cast as the SPIR-V validator says:
[code]

[2019-02-28 10:41] bader commented on #29
There is a workaround for this issue: the problem is that SYCL device compiler saves information about source language as "OpenCL C++ 1.0" and OpenCL CPU runtime does not support C++ language yet, so it assumes that SPIR-V will require only OpenCL C 1.0 features.
The workaround could be raise the version in OpenCL language metadata to 2.1(?).

[2019-02-28 15:54] kpet commented on #6
@bader  Sorry for the delay and thanks for addressing this. Looking at #37 it should do it but I won't have time to retest before a while. I'll reopen this if I'm still facing issues. Thanks again!

[2019-02-28 15:56] bader commented on #6
No problem. Thanks for reporting this problem.

[2019-02-28 15:56] #6 closed

[2019-03-01 03:15] agozillon opened #41 "[SYCL] Incorrect Kernel Lambda Capture"
[code]
So it's a pretty simple example, just trying to capture a value and print it, however when using ComputeCPP (1.0) I'll get the correct value 512 inside the single_task, in the Intel implementation I get an arbitrary large integer value (e.g. 946443008). The contrived example should be directly and quickly usable to see if it is indeed a bug in the implementation or if I'm mistaken and its a

[2019-03-01 03:58] agozillon opened #42 "[SYCL] event get_profiling_info problem"
So another contrived example:

[code]
So I have tried this with ComputeCPP (1.0) and the Intel SYCL (ISYCL) compiler in both cases using an Intel OCL selector. In ISYCL the get_profiling_info call will terminate in the SYCL runtime with the following diagnostic:

include/CL/sycl/detail/event_info.hpp:26: OpenCL API returns: -7 (CL_PROFILING_INFO_NOT_AVAILABLE)

Now if you put an explicit queue wai

[2019-03-01 11:07] Ruyk commented on #41
Note that example requires a wait before the end of main: The SYCL queue destructor doesn't have a mandatory wait on it, text below from the SYCL 1.2.1 spec rev 4:

a cl::sycl::buffer or cl::sycl::image destructor might block. The rationale is that an object without any side
effect on the host does not need to block on destruction as it would impact the performance. So it is up to the programmer t

[2019-03-01 11:09] Ruyk commented on #42
See my answer to #41  re: wait on destruction.

ComputeCpp does wait on the event to obtain the profiling information, but that is implementation-defined.

[2019-03-01 17:10] agozillon commented on #42
Thank you very much @Ruyk I'll have a look at both of the issues I opened up again and ask to close them/close if necessary!

[2019-03-01 19:05] keryell commented on #42
After discussing with @agozillon and looking at OpenCL 2.2-10 specification, I think there is an issue in the SYCL specification because it is undefined behavior while there are some useful alternative.

The alternative I can see:
- call `std::terminate` if the information is not available;
- throw an exception if the information is not available;
- remove this API and just rely on OpenCL interope

[2019-03-01 19:05] agozillon commented on #41
Thank you for clarifying ComputeCpp behavior, I remember a discussion on the behavior you describe recently and it reminds me to be a little more careful in future when I try to compare across implementations!

I have edited the code snippet above to contain a queue wait and ran it on my machine again and unfortunately it still does give an undefined value on execution.

[2019-03-05 15:49] Ruyk commented on #42
We can discuss and clarify that on Khronos IP zone. For the record, ComputeCpp only waits for the chain of events associated with the given profiling event, not for the entire queue submission.

[2019-03-05 21:10] agozillon opened #43 "[SYCL] Host compilation failure for vec4 sqrt (likely other math functions as well)"
[code]

The host compilation fails using the above code as it cannot find sqrt overloads for cl::sycl::vec<float, 4> as it appears to default to std::sqrt for host rather than a vec4 implementation. This happens when compiling to fatbinary or compiling host/device separately (device compiles, host fails in this case).

Example error output:

**../build/lib/clang/9.0.0/include/CL/sycl.hpp:27:
../bu

[2019-03-06 08:22] bader commented on #43
@agozillon, we have a fix for this issue.
Will upload the patch soon.
Thanks!

[2019-03-07 01:34] agozillon commented on #43
awesome, thank you guys for the quick fix!

[2019-03-08 19:22] josiahls commented on #15
Hi, Is there any progress on this? I am trying to run the forEach method calls in opencv and they are failing. I am doing nested for loops right now to iterate through cv::Mat's because of this...

[2019-03-09 03:32] agozillon opened #44 "[SYCL] OpenCL/SPIR built-ins"
The current SYCL run-time implementation is reliant on SPIRV which is a problem if you have a device that doesn't support SPIRV just yet and relies on the old built-ins from OpenCL/SPIR, e.g. _get_global_id_ rather than _GlobalInvocationId_. This is a bit of a problem for us as one of our ideal use cases is to output LLVM-IR for the device side code and feed it into our other tools. As currently t

[2019-03-10 08:13] bader commented on #15
Hi, sorry for the delay. We will investigate this problem in next few weeks.
As a workaround I suggest using "\_\_SYCL_DEVICE_ONLY\_\_" macro to disable compilation of STL code on the host by SYCL device compiler.

[2019-03-12 08:21] Fznamznon commented on #44
@bader , please, take a look.

[2019-03-13 00:41] keryell commented on #15
@josiahls is your code open-source so we can try and look at the alternative?

[2019-03-13 18:10] agozillon commented on #41
Spent a little more time looking into this issue I opened and I made the incorrect assumption that it was a capture issue! Made a new test where I write the value to a buffer and then printf on host and the output is correct.

Seems to be a user error on my end as I was working under the incorrect assumption that printf should work on the device, however the SYCL specification defines a stream and

[2019-03-13 18:39] keryell commented on #41
Do not use `printf` in C++ :-) It is a function from the 1970's...

[2019-03-19 15:47] bader commented on #44
We discussed this yesterday and here is a summary:

Solutions proposed in the options 1 and 2 seem to be difficult to upstream as they require "re-flower" pass, which renames functions/types declared in the SYCL headers to [SPIR-V built-ins](https://github.com/KhronosGroup/SPIRV-LLVM-Translator/blob/master/docs/SPIRVRepresentationInLLVM.rst).

Something similar to the option 3 should allow us to a

[2019-03-25 07:37] wangliwei-intel commented on #27
@Ruyk
Where did you get sycl.hpp? I can't find it from Khronos or this source tree.
Thank you!

[2019-03-25 09:58] bader commented on #27
@wangliwei-intel you can find it here: https://github.com/intel/llvm/blob/sycl/sycl/include/CL/sycl.hpp

[2019-03-25 11:54] wangliwei-intel commented on #27
@bader
Thank you very much. I found I made a stupid mistake: git clone without -b, so it defaults to branch 'intel', not 'sycl', so I couldn't find the headers relating to SYCL.

[2019-03-27 08:34] wangliwei-intel commented on #3
@bader
When I ran sample code, I got this result:
The result is incorrect for element: 1 , expected: 1 , got: 0
The result is incorrect for element: 2 , expected: 2 , got: 0
The result is incorrect for element: 3 , expected: 3 , got: 0

Platform Info:
HW: KabyLake
SW: Ubutu 16.04.x
OpenCL: 2.1

Did I do something wrong? Can you give me some hints on this?
Thank you.

[2019-03-27 12:49] bader opened #49 "Plan to upstream SYCL to LLVM project."
## Milestones
- [ ] Compile device part of "hello world"-like SYCL application.
- [ ] Convert device part of the "hello world"-like SYCL application to SPIR-V format.
- [ ] Run "hello world"-like SYCL application via OpenCL on GPU.
- [ ] Integrate SYCL compilation flow into clang driver.
- [ ] Compile/run multi-source application
- [ ] Compile/run multi-source application linking with an external

[2019-03-29 00:07] agozillon opened #53 "[SYCL] Driver/ToolChain Extension"
As a foreword this is perhaps more of a clarification question than an issue.

I've been working a fair bit with the Driver/ToolChain recently trying to integrate one of our back-ends, I've managed to get it working in a slightly hacky way and I'm looking to more appropriately integrate it now as I'd like to stay as closely aligned to Intel's intended goals as possible. I've noticed that the SYCL

[2019-03-30 03:01] keryell opened #55 "How to make SYCL easily extensible without changing Clang"
Since SYCL is focusing on heterogeneous computing and bare-metal efficiency in modern C++, it will require a lot of extensions in Clang/LLVM under the hood, such as vendor-specific built-ins, decorations, attributes...

A good example is https://github.com/intel/llvm/commit/fbffaab85dae36a6157dd40f4995b0d1e959c60a and obviously we need FPGA extensions. :-)
This is a very good example of the kinds

[2019-04-01 08:27] sergey-semenov commented on #53
@bader please, take a look

[2019-04-01 08:28] sergey-semenov commented on #55
@bader please, take a look

[2019-04-03 13:41] AnastasiaStulova opened #59 "[SYCL] How OpenCL device mode is being reused for SYCL"
This is to track the discussion about the device compilation flow in the Clang frontend.

There are multiple ways OpenCL features can be reused:
- At source level by implementing SYCL libraries using C++ for OpenCL code and enabling OpenCL in LangOpts for SYCL device.
- At AST level by mapping SYCL constructs onto OpenCL AST nodes.
- At IR CodeGen level by re-using OpenCL CodeGen functionality.

T

[2019-04-09 20:13] agozillon opened #70 "[SYCL] Clang Driver ICE when no input file found"
I get an ICE at the moment when I compile using the following command and the file is not found:

``$ISYCL_BIN_DIR/clang++ -std=c++11 -fsycl no_file.cpp -o no_file -lOpenCL``

I've added the stack dump at the bottom if that's of any use.

If I remove the -lOpenCL component, I do not recieve a stack dump and get the desired output:

``$ISYCL_BIN_DIR/clang++ -std=c++11 -fsycl no_file.cpp -o no_file`

[2019-04-10 12:31] bader commented on #49
Also created a wiki page with "upstream status" for SYCL patches: https://github.com/intel/llvm/wiki/SYCL-patches-upstream-status.

[2019-04-11 02:59] agozillon opened #77 "[SYCL] noexcept specifier device side ICE in LLVM-SPIRV"
[code]

So, in the example above I'm passing a lambda to a function marked with a _noexcept_ specifier that then invokes the lambda. So nothing fancy, but perhaps I'm doing something silly or the above is not legal SYCL in some way.

In either case case, this example will compile without the _noexcept_ on the _invoke_ function, but ICE with _noexcept_ on the _invoke_ function (it will also ICE if

[2019-04-11 06:12] bader commented on #77
@agozillon thank you for reporting this.
I think your analysis is correct and device code should be compiled with -fno-exceptions.
We can apply your suggestion and add one more case to line 2839 of clang/lib/Frontend/CompilerInvocation.cpp - if (<target is SPIR> or <old cases>) { // disable extensions.

I thought we already fixed this bug in the driver by explicitly setting -fno-exceptions for dev

[2019-04-11 18:32] agozillon commented on #77
No problem! I'm glad that it's hopefully a simple fix.

And yes, I remember reading some -fno-exceptions/exception disabling related commits at some point, can't seem to track the change down though so perhaps my memory is incorrect in this case.

[2019-04-12 19:42] agozillon commented on #77
Would you like me to open up a small pull request related to the fix mentioned in this issue or do you guys want to do that internally?

[2019-04-17 05:28] wangliwei-intel commented on #49
Hi, @bader
Codeplaysoftware is driving upstreaming their SYCL back-end for tensor in Eigen.
As far as you know, Is anyone trying to build it with Intel/llvm/sycl?
I'm not sure this is worth a new issue, I can't find a proper issue relevant either, so I just ask here.
Thanks.

[2019-04-18 15:07] bader commented on #49
@wangliwei-intel, I'm not aware of any progress in this direction.

[2019-04-19 09:38] wangliwei-intel commented on #49
Hi, @bader
Then I'll give a try.
Thanks.

[2019-04-24 01:43] bader commented on #27
@romanovvlad, please, verify if this issue is resolved by #101 and close.

[2019-04-30 14:03] Ruyk opened #119 "[SYCL] [SPEC] USM Feedback"
Some comments, questions and feedback about the SYCL USM proposal, very interesting work!

###  1. Use context instead of device?

All malloc functions target a specific device in the system. However, allocations on SYCL/OpenCL are bound to a context, rather than a specific device. For example, In some platforms, two devices sharing an OpenCL context can also share memory allocations. It is also p

[2019-05-02 10:12] AnastasiaStulova commented on #59
Just to list a couple of points that should allow us to get going:

**1.** Since SYCL device model is the same as OpenCL, how much diagnostics from OpenCL do you plan to reuse? I think it would be important for Clang users if SYCL allows similar functionality to be compiled/rejected, so that vendors that supported OpenCL in Clang (not necessarily just upstream!) can have a safe path to support SYC

[2019-05-03 08:52] mehdi-goli opened #123 "[SYCL]Buffer size zero"
I have noticed that It is possible to create a buffer of size zero. e.g.
`
#include <CL/sycl.hpp>
int main(){
    auto buff = cl::sycl::buffer<float>(cl::sycl::range<1>(0));
    return 0;
}
`
What does buffer size zero mean?

[2019-05-06 09:30] romanovvlad commented on #123
I believe you will get error/crash if you try to use such buffer. I think we need to throw error in c'tor in this case.

[2019-05-10 23:12] pkeir opened #130 "[SYCL] Using an aliased type as the type of a non-type template parameter used naming a SYCL kernel"
Using a typedef'd type as a non-type template parameter (to name a kernel) produces a compilation error. The error indicates that two declarations are seen - with the second using `int` rather than the alias name (here `sz_t`). The code below produces the error.

[code]

[2019-05-15 01:24] agozillon opened #143 "[SYCL] Possible scheduler 2.0 deadlock with write buffer sync"
So I have two example snippets of code that write to a single value in a `buffer` twice using two kernels and use the `accessor` functionality to read on host and write on device (I believe both snippets are legal SYCL code, but please do correct me if I am wrong and making some incorrect assumptions).

The first doesn't work but the second does, the only difference (from a user perspective) is th

[2019-05-15 09:29] romanovvlad commented on #143
@agozillon
Hi,

We are aware of the hang problem when host accessor is created while another host accessor is still alive, hang happens during construction of the second host accessor. It seems you have faced exactly the same issue. It should hang on Intel's GPU device, but work fine on Intel's CPU device.
We are working on fix.

[2019-05-15 14:02] bader commented on #29
@keryell, @Ruyk, could you check if [Experimental Intel® CPU Runtime](https://github.com/intel/llvm/releases/tag/expoclcpu-1.0.0) fixes these LIT test failures in your environment, please?

[2019-05-16 04:00] agozillon commented on #143
Ah that's great that your working on a fix, thank you very much! I originally thought it was a problem on our end (it deadlocks with our runtime as well), but noticed it was happening on an unmodified build as well.

Although, I appear to be having it occur on CPU devices, unless I am misunderstanding something (which is quite possible). When I query the device, the SYCL runtime categorizes it as

[2019-05-16 09:19] romanovvlad commented on #143
Ohh, sorry, there is another problem in your example: we block all operations with buffer while the host accessor is alive. From the Spec(3.6.5.1):
Host Accessors: The constructor for a host accessor waits for all kernels that modify the same buffer (or
image) in any queues to complete and then copies data back to host memory before the constructor returns. Any command groups with requirements to

[2019-05-16 17:38] agozillon commented on #143
Ah thank you very much, for the information! So it makes sense and is correct to have a deadlock from the specifications standpoint. It worked in triSYCL and the previous scheduler, so I incorrectly assumed it was legal. @keryell has also recently informed me that it's a bug in the existing triSYCL implementation.

I am happy for this issue to be closed, if you wish to do so.

[2019-05-16 21:04] keryell commented on #143
Yes, I think that Intel implementation is more correct than triSYCL, but still too conservative for me.
Actually when Intel made some bug reports against triSYCL last year it opened a can of (good) worms than we need to clarify. Thanks for this! :-)

In triSYCL: https://github.com/triSYCL/triSYCL/issues/190

Some (private...) discussions inside the committee: https://gitlab.khronos.org/sycl/Specif

[2019-05-17 00:30] keryell commented on #29
Since now I already switched on Ubuntu 19.04 and I am investigating some other failures there, perhaps @agozillon can test on his machine...

[2019-05-17 02:16] agozillon commented on #29
I haven't had any failing tests in a long while with the cookie cutter GetStartedWithSYCLCompiler.md compile command, with either the experimental runtime or standard CPU runtime (I had some failing sub_group tests for a while as well, but they disappeared at some point). I am using GCC 8.3 though, I could probably downgrade to test this tomorrow.

[2019-05-17 08:22] romanovvlad commented on #143
@keryell Could you, please, clarify why Intel implementation is too conservative?
If we change read_write accessor to just read in the second command group it will not hang:
[code]
The code above will be lowered to the following OCL API calls:
[code]

[2019-05-17 14:14] bader commented on #29
Okay, it seems like you can't reproduce the issues @Ruyk experienced.
The issues reported by @keryell were fixed in February by #34, so if you don't have any failing LIT tests anymore - it's great, but a little bit puzzling... If you could share more information about your environment it would be great (e.g. what version of OpenCL CPU do you use).
To close this issue, I'll wait for a confirmation

[2019-05-20 17:45] agozillon commented on #29
I am currently using Ubuntu 18.10, GCC 8.3.0 and the OpenCL/SYCL experimental runtime (the one linked in the GetStarted doc). I also have Xilinx's runtime installed and POCL. I should probably restate the previous sentence as no more failing tests than occur during the pull request verification. e.g:

********************
Testing Time: 51.31s
********************
Failing Tests (3):
    SYCLUnitTes

[2019-05-21 04:01] agozillon commented on #29
So I believe I fixed the problem I was having and I now pass all the tests with Ubuntu 18.10, GCC 8.3.0 and the OpenCL/SYCL experimental CPU runtime. I am also currently using the Debian ICD loader packages (ocl-icd-opencl-dev/ocl-icd-libopencl1 ) in conjunction with the experimental runtime, seems to be working fine (tested without the packages installed as well, same result).  Output:

Testing T

[2019-05-21 11:40] bader commented on #29
See to be the case:
[code]
@vladimirlaz, were we can find information about the OpenCL runtimes versions used in CI?

[2019-05-21 12:00] bader commented on #29
I think current implementation of LIT tests doesn't provide controls to choose specific device among multiple devices of the same type (e.g. always prefer Intel's CPU runtime over Debian ICD loader). Probably this is something we can improve.

ATM, Intel team validates SYCL implementation in specific environment (i.e. Intel HW + Intel's OpenCL implementations), so assume that the environment is co

[2019-05-21 12:05] vladimirlaz commented on #29
This information is not available in logs now.  Currently we have internal CPU RT (moving to experimantal now) and https://github.com/intel/compute-runtime/releases/tag/19.15.12831 for GPU.

[2019-05-21 14:29] bader opened #152 "[SYCL] Remove re-flower pass"
Current approach with translation to SPIR-V uses re-flower pass. See this section for more details: https://github.com/intel/llvm/blob/sycl/sycl/doc/SYCL_compiler_and_runtime_design.md#integration-with-spir-v-format
To simplify SYCL compiler implementation and upstreaming work we should investigate if it's possible to translate SYCL to SPIR-V w/o this pass.

According to my understanding the main

[2019-05-21 16:21] bader commented on #59
@AnastasiaStulova, thanks for posting these questions. I'll try to address them ASAP.

Meanwhile, I've made a small experiment with re-using OpenCL sampler type in recently added SYCL class.
NOTE: image class is not implemented yet, so there no sampler users (e.g. image built-in functions) - just one synthetic test.

Here is few early observations:
- `sampler_t` type name is replaced with `__ocl_s

[2019-05-21 17:33] bader commented on #2
I think https://github.com/intel/llvm/pull/135 fixed that issue.
@kpet, could you confirm, please?

[2019-05-22 09:08] wangliwei-intel commented on #27
I tried the latest build, it's fixed.

[2019-05-22 10:26] bader commented on #43
@agozillon, this issue should have been fixed by https://github.com/intel/llvm/pull/48.
Could you confirm that, please?

[2019-05-22 14:43] #10 closed

[2019-05-22 17:09] agozillon commented on #43
I can confirm that this is fixed and I am happy to close the issue if you are! Thank you.

[2019-05-22 17:21] bader commented on #43
@agozillon, thanks for confirmation.

[2019-05-22 17:21] #43 closed

[2019-05-22 21:29] keryell commented on #143
Great! So you have implemented what I think has to be implemented, then. :-)

[2019-05-22 21:31] keryell commented on #143
@agozillon if you are good with this, I guess you can close this.
Probably we need to make the SYCL specification clearer on this.
Happy to see that this SYCL implementation follows the usual behavior about dependencies.

[2019-05-22 21:35] keryell commented on #123
From a generic programming point-of-view, I do not see any issue about creating buffers with size 0.

[2019-05-22 21:53] keryell commented on #41
@agozillon You can close this, if I understand correctly.

[2019-05-22 22:34] #41 closed

[2019-05-22 22:36] #143 closed

[2019-05-23 11:57] AnastasiaStulova commented on #59
Ok, it looks very reasonable.

I think it's very reasonable to pick a name prefixed with `__`. However would `__sycl_sampler_t` make more sense? Note that C++ for OpenCL will use the same types as OpenCL C so `__ocl_sampler_t` won't appear anywhere in Clang.

That's perfectly understandable but considering that SYCL language is designed as a library it should hopefully not be counter intuitive to

[2019-05-24 07:38] jeffhammond opened #163 "handler2.hpp:573:14: error: no matching member function for call to 'set'"
# Reproducer
[code]

## `make.defs` hint
[code]

# Compiler
Freshly built within the past few hours...
[code]

# Error
This code compiles just fine with CodePlay and triSYCL.
[code]

[2019-05-24 10:47] bader commented on #59
I picked that have for a few reasons:
- I thought that I would be able to re-use all the restrictions for OpenCL type, basically making this type an alias to `sampler_t`.
- I re-used CodeGen part as is - i.e. this type represented as `opencl.sampler_t` in LLVM IR.

Do you want me to update the LLVM IR opaque type name to align it with `__sycl_sampler_t`?

If I understand the idea behind SYCL API d

[2019-05-24 14:54] jbrodman commented on #119
1) We'll have to think more on this.  Things like device allocations especially are really meant to be only accessible on the device they're allocated on, which doesn't map perfectly to the context.

2) This is possible.  However, I do think there is an advantage in having a C API for these allocation routines - it makes it easier to integrate into other C-based programming solutions.  C++ wrapper

[2019-05-24 15:43] bader commented on #59
I've opened new PR in this repository: https://github.com/intel/llvm/pull/167.
List of changes compared to the https://github.com/bader/llvm/pull/1:
- enabled more OpenCL diagnostics for (not only) sampler type in SYCL mode
- updated documentation to describe the way OpenCL types are re-used in SYCL mode

[2019-05-24 18:47] AnastasiaStulova commented on #59
I think `opencl.sampler_t` is reasonable. It will probably allow to reuse implementation in the middle end and backend.

Yep, makes sense to use API logic wherever applicable. I am guessing it's mainly restrictions on the declaration scopes or the uses inside structs you might not be able to represent in APIs?

[2019-05-24 21:56] keryell commented on #119
After thinking to it for a while, SYCL is based on modern C++ and I feel that it does not fit well the purpose to have a full extension just written in plain old C at the first place.
I would prefer a good modern C++ API that looks like SYCL and then build a C, Fortran, Python, Cobol, APL... API on top of that, even if it just reusing the C API.

[2019-05-27 09:53] Naghasan commented on #152
Those types could be defined as a predefined types in Sema in a non conflicting way.

i.e. `OpTypeEvent` could become in the header file `__spirv_OpTypeEvent`. In clang's Sema, the `init` would predefine this type `__spirv_OpTypeEvent` when SYCL is enable to some internal type (maybe reuse the clang's OpenCL event type ?) which can then be lowered in a similar way as it is done for OpenCL in CodeG

[2019-05-27 10:01] bader commented on #152
@Naghasan, we are working on a bit different approach for SPIR-V types. Specifically for OpTypeEvent, we are trying to re-use OpenCL `event_t` in SYCL.
You can take the idea how it will be done from https://github.com/intel/llvm/pull/167.
@Fznamznon, could you create a PR with your current state or update https://github.com/intel/llvm/pull/167, please?

[2019-05-27 10:57] Naghasan commented on #152
That's very similar to what I had in mind, the problem will just be the mangler in the end (i.e. having a mangling that make sense for both OpenCL C and the SPIR-V translator).

[2019-05-27 11:19] Fznamznon commented on #152
@bader , @Naghasan , I've created PR with my changes - https://github.com/intel/llvm/pull/171
I'm trying to re-use OpenCL `event` and `sampler` types -https://github.com/intel/llvm/pull/171/commits/076d7a1d21bb95bde54c57edc848e02a137567bf

[2019-05-28 19:18] bader commented on #59
It's hard to say "how much". Reviewing the OpenCL diagnostics I noted that there are just a few restrictions for standard C code and the rest of the rules are applied to new "C extensions" like new data types (like images, events, etc.), function attributes and address spaces.
SYCL exposes these extensions though standard C++ API and tries to restrict invalid via standard C++ constructs like C++ c

[2019-05-28 20:03] agozillon commented on #42
Can close this I believe after merge of: https://github.com/intel/llvm/pull/168 and the added clarifications in the SYCL specification?

[2019-05-28 20:09] bader commented on #42
@Ruyk, @keryell are you okay with closing this?

[2019-05-28 20:46] jeffhammond commented on #119
I agree with both parties who would like a proper C++ API and not the C-style symbol naming.  If C++ users wants C-style names, they can use (template) function aliasing.

[2019-05-29 00:51] keryell commented on #42
Yes, I am good about closing this as solved.

[2019-05-29 10:30] Fznamznon commented on #59
A little bit more details about it you can find here - https://reviews.llvm.org/D60455#1472705 .

[2019-05-29 13:18] #152 closed

[2019-05-29 18:43] againull commented on #163
@jeffhammond thank you for reporting the bug.
  There is no set method in NDRDescTc class that corresponds to
`void parallel_for(range<Dims> NumWorkItems, id<Dims> WorkItemOffset, KernelType KernelFunc)`
@romanovvlad Could you please take a look.

[2019-05-30 18:10] AnastasiaStulova commented on #59
Generic address space is not supported in CL1.2 devices. InferAS pass doesn't deduce address spaces but only eliminates address space conversions.

`  typedef char __char2_vec_t __attribute__((ext_vector_type(2)))`

Hmm, I can see from your link that you are using Clang vector extension that is the same as OpenCL vectors!

Ok. Let me know once it's done!

[2019-05-30 20:12] bader commented on #59
@asavonic, please, correct me if I wrong, but I think you are working on improving InferAS pass to do the "inference" of address spaces. In cases when CL1.2 environment requirements are enforced the plan is to run the inference pass and if it failed (i.e. there "generic" pointers in resulting IR), we fail compilation. For OpenCL 2.0+ environment, SPIR-V module is allowed to have "generic" pointers

[2019-05-30 20:19] bader commented on #163
Might be a regression introduced by new scheduler.
Did you check if it works with the old scheduler?

[2019-05-30 22:31] asavonic commented on #59
"Inference" is a bit vague term. I suspect that you and Anastasia are talking about the same thing.
IAS pass follows a chain of instructions that lead from a pointer in a concrete address space to a particular pointer in the generic (flat) address space. Then it replaces generic AS with the concrete one, if it can prove correctness of this replacement.

One thing to note here: we're not relying on

[2019-05-30 23:55] againull commented on #163
Yes it is a regression. It works with old scheduler.
Small test:
#include <CL/sycl.hpp>

int main() {
  cl::sycl::default_selector selector;

  cl::sycl::queue myQueue(selector);
  std::cout << "Running on "
            << myQueue.get_device().get_info<cl::sycl::info::device::name>()
            << "\n";
  myQueue.submit([&](cl::sycl::handler& cgh) {
    cgh.parallel_for<class kernel>(cl::sycl::ra

[2019-05-31 10:34] romanovvlad commented on #163
The patch which solves the problem is in progress.

[2019-06-03 10:28] davidtwco opened #186 "ICE when using libcxx"
When using libcxx and a simple example (unrelated to SYCL), then the compiler will ICE. This appears to be due to the use of `__global` in libcxx:

https://github.com/intel/llvm/blob/eacc876b38d92e3b948501a0f90c091c0d31e3e6/libcxx/include/__locale#L177

##### Example
[code]

##### Stack Trace
When invoked as `./bin/clang++ -std=c++11 -stdlib=libc++ repro.cpp -o repro` with a build of  eacc876b38d9

[2019-06-03 20:14] asavonic commented on #186
Although we can just rename the variable in libcxx, I wonder if we really need these `__global`, `__local` and `__private` aliases in SYCL. They should not be exposed to the users anyway, and for the SYCL library code we can use `__attribute__((address_space(1)))` syntax.

[2019-06-03 20:39] agozillon commented on #186
I think ComputeCpp does or used to do what you suggest (perhaps for other reasons): https://developer.codeplay.com/products/computecpp/ce/api-reference/base_8h

Maybe @Ruyk or @Naghasan will be able to elaborate on it or correct me though if my assumption is wrong

[2019-06-03 21:07] bader commented on #186
Another option is to use more OpenCL specific keywords (e.g. `__opencl_global`) instead of quite generic `__global`.
NOTE: address space are mapping is target dependent.

[2019-06-04 09:28] Naghasan commented on #186
They need to be exposed somehow, as SYCL 1.2.1 defines interop type like `global_ptr<T>::pointer`, but it is up to the implementation to define the "how" as the definition is implementation defined.

I think the main problem here is that `__global` and co are keywords, which I believe is the root of the problem.

As @bader said, this sets a target address space, so its is actually different from t

[2019-06-04 09:34] bader commented on #186
We are not required to expose OpenCL address spaces using keywords defined the OpenCL spec. The option I mentioned tries to expose OpenCL concept using different keyword, although it might solve the fundamental problem.

[2019-06-04 15:04] AnastasiaStulova commented on #186
I think this is related to my earlier question about your overall approach to address spaces (https://github.com/intel/llvm/issues/59#issuecomment-497508812)

There are obviously a multiple options available and whichever you select will affect the rest of your compilation flow I believe.

In C++ for OpenCL upstream we are using language address spaces just like we used in OpenCL C. They are enabl

[2019-06-04 15:36] AnastasiaStulova commented on #59
Perhaps I am missing something but I don't think it demonstrates reusing diagnostics from OpenCL. Can you provide some more information please.

[2019-06-04 16:14] bader commented on #59
Sorry, I was meant to say "the concept of deferring the diagnostics".
Existing patch do not use OpenCL diagnostics, but rather adds new ones.
Instead, I think we can unify some existing error messages and share in multiple offloading modes.
E.g. https://github.com/intel/llvm/pull/181/files#diff-6cd458144c039b4a707e2306f83cc189R758.
NOTE: code restricting a throwing an exception in CUDA mode is alm

[2019-06-04 19:29] keryell opened #189 "[SYCL] The source code of the project should be commented"
The current source code is almost not commented and so very hard to understand.
If this is not done on purpose (such as to have a write-only obfuscated code :-) ) the coding rules should state that the source code has to be clearly commented to have PR merged in.
It will help collaboration and up-streaming too...

[2019-06-05 03:39] agozillon opened #191 "[SYCL] Handler2 Copy Clarification/Possible bug"
[code]

So, I'm not entirely sure this is a bug, the above example is a slightly altered variation of this spec example: https://github.com/KhronosGroup/SYCL-Docs/blob/master/latex/code/explicitcopy.cpp

What I've found is that `Handler2`'s copy methods are killing the device compilation for Xilinx devices, while the original `Handler`'s implementations are not. It seems to be because the non-buff

[2019-06-05 22:09] pkeir opened #194 "[SYCL] Seg fault using simple float4 buffer"
The program below gives an unexpected segmentation fault when run on 64-bit Ubuntu 19.04. I compile it with `clang++ -std=c++11 -fsycl -lOpenCL float4-intel.cpp`.

[code]

[2019-06-06 05:06] keryell commented on #194
Perhaps the implementation forgot that a buffer destruction is blocking when some memory has to be copied back to the host, as stated in section 3.6.9 of the specification.

[2019-06-06 09:22] pkeir commented on #194
It produces the same seg fault if I surround the buffer declaration and submit method call with a compound statement.

[2019-06-06 15:43] romanovvlad commented on #194
@pkeir  I cannot reproduce on latest sources. Could you please provide backtrace?

[2019-06-06 23:01] pkeir commented on #194
Here you go. I built sycl yesterday, but perhaps my OpenCL driver needs an update.

[code]

[2019-06-10 15:49] keryell commented on #186
In triSYCL we use `__attribute__((address_space(...)))` for now.

[2019-06-11 01:59] agozillon commented on #191
In hindsight and looking into it a little more after this issue was opened, I'm pretty sure this is more of a problem on our end and I've worked out an easy fix/workaround for it. Sorry for opening up this issue, I'll close this tomorrow around the same time if no one has any problems!

[2019-06-11 11:35] bader commented on #191
@agozillon, I haven't looked into this issue yet, so I can't say if there is anything wrong in our implementation or not. @romanovvlad, did you have a chance to look into this issue?

[2019-06-11 13:28] romanovvlad commented on #194
It seems the crash happens inside OCL GPU. What version of OCL GPU implementation do you use? Could you try using the latest stable version? You can download it from here: https://github.com/intel/compute-runtime/releases

[2019-06-11 13:37] asavonic commented on #191
I actually faced a similar issue as well, and applied a workaround in #207

[2019-06-11 17:06] agozillon commented on #191
Sorry didn't mean to force you to answer/look into the issue, genuinely thought it was perhaps just something we had to deal with for a little bit (originally thought perhaps something was missing from the old handler when I opened the issue but I was incorrect)!

Yes, I think there just needs to be some host side `copy` methods rather than relying on some parallel_for's that are only used on the

[2019-06-11 17:30] bader commented on #191
TODO:
- [ ] commit this test case to our regression test suite

[2019-06-12 16:21] pkeir commented on #194
I was on 18.47.11882. I upgraded to 19.22.13062 and the problem is gone. Thanks.

[2019-06-12 16:21] #194 closed

[2019-06-12 20:12] pkeir opened #212 "[SYCL] <type_traits> compile error with -std=gnu++11 flag"
An odd one here: adding the `-std=gnu++11` flag to the sycl compile command produces the error below. (This occurred unexpectedly within a build script in our project.) The `sycl-gnu++11.cpp` input file contains only `#include <type_traits>` and the invocation is:

`clang++ -std=c++11 -fsycl -std=gnu++11 -c sycl-gnu++11.cpp`

[code]

[2019-06-18 15:24] pkeir opened #228 "[SYCL] Calling kernel within library produces CL_INVALID_KERNEL_NAME"
I'm facing a runtime error when I call a SYCL kernel, from within a function, which is in a library.

As a MWE I've renamed `simple-sycl-app.cpp` from GetStartedWithSYCLCompiler.md to `simple-sycl-lib.cpp` and renamed its `main` function to `simple_sycl`. I also added a `main.cpp` which calls `simple_sycl`. The commands to build this are listed below:

[code]

If I run the resulting `a.out` execut

[2019-06-18 15:52] romanovvlad commented on #228
@mdtoguchi Could you take a look?

[2019-06-18 15:55] bader commented on #228
We need to document how to use new SYCL specific clang options.
@mdtoguchi, I ready to help with this if needed.

[2019-06-18 16:12] mdtoguchi commented on #228
@pkeir,
When using a fat static archive, the archive needs to be passed in with a specific option:  -foffload-static-lib=\<lib\>.  This sets up the needed compilation flow to extract the device information from the archive.  Otherwise, the archive is treated as a normal host archive and is only passed to the final host link.

`clang++ -std=c++11 -fsycl main.cpp -foffload-static-lib=simple-sycl-lib

[2019-06-18 16:49] pkeir commented on #228
Thanks, that works fine here.

[2019-06-18 16:49] #228 closed

[2019-06-20 14:24] bader commented on #15
Fixed by #229.

[2019-06-20 14:24] #15 closed

[2019-06-20 14:28] bader commented on #27
I verified that problem is fixed.
@Ruyk, let me know if it doesn't work for you.

[2019-06-20 14:28] #27 closed

[2019-06-20 14:48] bader commented on #29
AFAIK, all LIT tests pass now, so I'm closing this issue.

[2019-06-20 14:48] #29 closed

[2019-06-20 14:48] #42 closed

[2019-06-20 14:52] bader commented on #70
@agozillon, I can't reproduce this issue using the latest version of the compiler.
Could you confirm that it's fixed on your side too, please?

[2019-06-20 18:48] j-stephan opened #234 "Compiler crash on ill-formed program"
The attached source causes the compiler to crash. I'm on the latest commit (55e9753c), using an otherwise standard Ubuntu 19.04 (i.e. gcc 8.3.0 and associated libstdc++, Boost 1.67.0). Apparently the crash is caused by a pointer cast (Ctrl+F for "evil line") as it doesn't appear when returning 0. It *does* crash when returning `nullptr`, though.

After successfully reporting the issue in the code

[2019-06-20 19:18] agozillon commented on #70
Works fine on my end as well, happy to close the issue

[2019-06-20 20:31] #70 closed

[2019-06-24 21:29] kbobrovs opened #247 "[SYCL] compiler issues an error when std::nullptr_t is used as a kernel name type"
The following test fails to compile:
[null_name.cpp.txt](https://github.com/intel/llvm/files/3322645/null_name.cpp.txt)

$ clang++ -fsycl null_name.cpp -lOpenCL
In file included from <built-in>:1:
/tmp/null_name-36241f.h:41:31: error: unknown type name 'nullptr_t'; did you mean 'std::nullptr_t'?
template <> struct KernelInfo<nullptr_t> {
                              ^~~~~~~~~

[2019-06-26 04:59] kbobrovs opened #253 "[SYCL] Abstraction layer for device-side SIMT intrinsics like getting global id"
SYCL device runtime code uses various "intrinsic" functionalities like getting global and local id of a work item or group, which is usually expressed via efficient hardware-mapped code sequences in the native device code. SYCL device runtime should clearly define an interface layer of such intrinsic functionality and mechanisms to implement it for various devices, including those without SPIRV su

[2019-06-26 21:39] jeffhammond opened #258 "[MacOS] directory copy of OpenCL fails"
I understand that MacOS is not a priority and that supporting Apple OpenCL is impossible due to lack of SPIR-V.  However, it seems that the current testing for OpenCL support is inadequate, as it doesn't determine if the OpenCL CMake finds is sufficient.

I'd like to use POCL for OpenCL CPU support on MacOS, which shouldn't be any different than POCL on Linux.  What are the CMake variables to tell

[2019-06-26 21:39] jeffhammond commented on #163
Any updates?

[2019-06-26 21:57] keryell commented on #163
We need this on some devices that does not use buffer accessors, for example an FPGA kernel acting on some specific pipes or functions and other weird devices.

[2019-06-27 12:26] AlexeySachkov commented on #258
Hi @jeffhammond,

As I can see [here](https://github.com/intel/llvm/blob/sycl/sycl/CMakeLists.txt#L37), `OpenCL` is queried using standard cmake functionality `find_package`.

It is expected that this function will define several variables like:
* `OpenCL_INCLUDE_DIRS`
* `OpenCL_LIBRARIES`

If something wasn't found, then script tries to download and build corresponding components.

From your logs

[2019-06-27 14:14] jeffhammond commented on #258
Unfortunately, the "find OpenCL" feature in CMake does not respect those options and insists on finding Apple OpenCL rather than failing when told to explicitly look in an invalid director, as `configure` would.

# CMake invocation from clean directory
[code]

# Excerpt from CMake output
[code]

[2019-06-27 15:39] AlexeySachkov commented on #258
It actually works on my Linux machine, but looking at [sources of FindOpenCL module](https://github.com/Kitware/CMake/blob/master/Modules/FindOpenCL.cmake) it probably shouldn't.

What else you can try:
* hacky workaround, but definitely should work - remove `find_package` call in `sycl/CMakeLists.txt`
* As I can see [here](https://github.com/Kitware/CMake/blob/master/Modules/FindOpenCL.cmake#L74)

[2019-06-27 17:22] jeffhammond commented on #258
That sort of works, but the directory copy incorrectly assumes that Apple OpenCL headers are in `./CL` ...

[code]
...even though CMake rightly detects that they are not...
[code]

The fact that Apple alone doesn't put their OpenCL headers in `./CL` is well-known and every OpenCL project I've read has preprocessor logic to account for this.

# Full Output
[code]

[2019-06-27 21:10] kevin-harms opened #268 "[SYCL] [SPEC] USM Feedback"
Is there a reason why this is done through new allocation interfaces rather than with the existing buffer and accessor classes? It seems like all the functionality could be described as new types of buffers corresponding to the tables shown in the proposal. What is the basis for providing a new allocation method in SYCL?

If we must have a new interface, I prefer code that is easy for the reader r

[2019-06-28 06:34] AlexeySachkov commented on #268
@jbrodman: FYI

[2019-06-28 19:53] keryell commented on #268
I think the idea of @jbrodman was to use SYCL with some existing code operating on some memory area that can also be processed by some SYCL kernel without a lot of boiler plate code (porting CUDA or Thrust code, for example ;-) ).
What you are proposing is perhaps closer to the SVM envisioned in the SYCL 2.2 provisional and is also something we should address separately.
Now we have also buffer pr

[2019-06-28 20:03] jbrodman commented on #268
Yes, Ronan is correct.

I am currently tweaking the design in favor of a c++ allocator style solution.

I wasn't in favor of the allocation-kind-as-a-parameter-of-sycl-malloc approaches:
sycl_malloc<kind>(...) - can lead to some awkward code
sycl_malloc(..., kind) can lead to cases where your program could fail b/c you passed the wrong thing, but where the thing came from now could be somewhere el

[2019-06-28 20:19] jbrodman commented on #268
At the risk of being pedantic, I also want to point out the difference between Spec and implementation.

For the Spec, I'll go with the C++-style allocator (by popular request: https://github.com/intel/llvm/issues/119).

This implementation, however, can define whatever function flavors it likes on top of the Spec as helpers.

[2019-07-01 10:38] asavonic opened #277 "[AddressSpace] Intel OpenCL CPU RT crashes with new address space rules"
After #242 Intel OpenCL CPU RT crashes on several LIT tests:
[code]
This is a known issue and it will be fixed in the next release of Intel OpenCL CPU RT.
Use `DISABLE_INFER_AS=1` environment variable as a workaround to switch back to the old address space  rules.

[2019-07-01 19:23] agozillon commented on #53
I think this might be close able with the addition of these pull requests (I'm at least satisfied for the moment anyway):

https://github.com/intel/llvm/pull/262
https://github.com/intel/llvm/pull/176

I think there are now multiple obvious ways to hook into the SYCL driver path now that allow some level of flexibility for an implementer. So, I'm fine with closing this issue if everyone else is? I

[2019-07-01 19:30] #53 closed

[2019-07-08 16:25] Naghasan commented on #253
Among the advantages I see by trying to be interface compatible with the SPIR-V friendly format, there is those 3:
  - This you will allow you to link with externally generated module;
  - This allow to push the specialization of the module for a target to the backend, hence the compilation from C++ to LLVM IR could be done only once (unless macro are defined);
  - It also simplify testing: the SY

[2019-07-11 19:27] agozillon opened #304 "[SYCL][Compilation] Question on Mangling of Record Types"
So I was looking through some Kernel IR recently and I had a question on why we're currently mangling RecordDecl's during CodeGen inside of the addRecordTypeName function, snippet here: https://github.com/intel/llvm/blob/sycl/clang/lib/CodeGen/CodeGenTypes.cpp#L64

There is a comment right now but it isn't too descriptive (probably because I lack the background knowledge) to me about what the prob

[2019-07-13 23:22] pramodk opened #312 "[SYCL] Question : Which GPU devices are supported?"
Hello All,

Thanks for excellent efforts! I am new to OpenCL/SYCL ecosystem and would like to clarify about which GPU devices are supported from this sycl branch.

On my linux box I have installed OpenCL and see following devices:

[code]

Using `sycl::device::get_devices()`, I am able to list both devices. But, can I offload to NVIDIA device? I am assume not (?). (Or, with SPIR-V this is possible

[2019-07-15 09:46] bader commented on #212
@pkeir, this issue should have been fixed by https://github.com/intel/llvm/commit/047bfeaf72b4f4ecf926073c3c4d835015854d80.

I think we should add a regression test to check that enabling GNU extensions do not break SYCL code compilation.

[2019-07-15 09:47] bader commented on #277
@asavonic, should be fixed by this release: https://github.com/intel/llvm/releases/tag/2019-07.

[2019-07-15 10:13] #277 closed

[2019-07-15 16:57] illuhad commented on #312
I'm not one of the devs here, but to my knowledge it's not possible to target NVIDIA GPUs with clang SYCL since NVIDIA's OpenCL implementation doesn't support SPIR-V ingestion. In order to run SYCL on NVIDIA GPUs, you can however use the [hipSYCL](https://github.com/illuhad/hipSYCL) implementation of SYCL.

[2019-07-17 07:24] alexbatashev commented on #258
@jeffhammond just comment out find_package in CMakeLists.txt. Both ICD and Headers will be downloaded from Khronos repo. A bit hacky, but seems to be working for me. Please note, that ICD is not your biggest problem.

1. Apple's default compiler is Apple Clang 10. Which is a little bit different from vanilla clang. As well as gcc 5.5.0 which is a requirement for now. The biggest problem you might

[2019-07-18 01:59] agozillon commented on #258
Possibly not too interesting or helpful, but it may be interesting to someone. However, you could in theory target POCL with 2 step compile and some tinkering with the Xilinx implementation as it's SPIR-df (and by extension other SPIR devices I imagine). I did this ages ago before adding our own driver in, but it won't work out of the box anymore without proper usage of some LLVM Passes on the ker

[2019-07-18 04:22] jeffhammond commented on #258
@alexbatashev I really only want the compiler to work on the CPU, so I don't see why I need Apple OpenCL.  Frankly, I shouldn't need a runtime or SPIR-V for the host device.  At some point, we need to seriously think about portability on the CPU side to all operating systems, which means implementing the host and cpu devices with a portable runtime with minimal dependencies.  I know TBB serves thi

[2019-07-18 04:24] jeffhammond commented on #258
And to be clear, I wouldn't be in this position if triSYCL was feature-complete, but it's not and that doesn't appear to be a goal (no progress on https://github.com/triSYCL/triSYCL/issues/66 in nearly two years).

[2019-07-18 19:14] alexbatashev commented on #258
@jeffhammond ok, I see your point. AFAIK, host device is heavy WIP right now. But it will be implemented eventually as it is required by spec. I see 3 major blockers for SYCL on macOS:
1. You still need up to date ICD and headers. Even if you don't actually use OpenCL, the runtime does. And you need to be able to link this whole thing somehow. I'm not sure if you can build one today, but that shou

[2019-07-18 21:50] keryell commented on #4
@agozillon made some progress on compilation for ARM recently in https://github.com/triSYCL/sycl/pull/47
If someone from ARM can contribute with a more definitive solution...

[2019-07-18 21:56] keryell opened #342 "Compilation of the toolchain with dynamic libraries"
When compiling the SYCL toolchain with option `-DLLVM_LINK_LLVM_DYLIB:BOOL=ON` the compilation fails in the SPIRV tool chain:
[code]

[2019-07-19 03:15] keryell commented on #258
@alexbatashev the CPU support should be quite simple compared to anything else, if you make the assumption that you do not support barriers and write everything in the runtime in plain modern C++ without any specific compiler support.

I have updated the documentation of triSYCL in https://github.com/triSYCL/triSYCL/pull/252 explaining it.

Actually it was implemented by @jeffamstutz from Intel, s

[2019-07-19 15:38] j-stephan commented on #234
This seems to be fixed now. Closing this topic.

[2019-07-19 15:38] #234 closed

[2019-07-22 17:00] agozillon opened #361 "[SYCL] Question on address space inference"
So I've been tinkering with the new address space inference method, but ran into some difficulties. Namely that I foolishly forgot there was a pass recipe required to resolve the address spaces from generic into concrete address spaces. I brought this up recently and @bader explained it to me quite well.

So I would like to know if possible please:
  1) The required set of passes that should be ra

[2019-07-22 19:00] asavonic commented on #361
InferAddressSpaces (IAS) pass is not enabled by default in opt. IIRC it is supposed to be enabled by a target (e.g. it is enabled for amdgcn target).

I'd say that IAS pass works pretty good on the tests I looked at, but it has a few limitations: 1) the pass analyses only one function at a time and does not analyse the whole call graph, 2) it does not look into pointer stores/loads from memory, an

[2019-07-23 08:07] #186 closed

[2019-07-23 13:07] turinevgeny opened #367 "compile_sub_group_size is not implemented"
info::kernel_sub_group::compile_sub_group_size from sub_group_ndrange is not implemented:

`: error: no member named 'compile_sub_group_size' in 'cl::sycl::info::kernel_sub_group'; did you mean 'kernel_sub_group_size'?
cl::sycl::info::kernel_sub_group::compile_sub_group_size>(device);
          kernel_sub_group_size
`

[2019-07-24 00:50] shileiti commented on #367
Does anyone plan to fix it? Or I'd like to help. :)

[2019-07-24 12:27] Ruyk commented on #361
@asavonic When there is a generic pointer "leaking" , is that an error on the compiler or something for your SPIRV consumers to solve?

[2019-07-24 12:44] asavonic commented on #361
When a generic pointer is present in  SPIR-V (LLVM IR) after Clang, SPIR-V consumers (OpenCL backends) are supposed to either optimize it away using IAS pass or equivalent, or support generic address space pointers in hardware.

[2019-07-24 16:10] reguly opened #379 "[SYCL] segfaulting accessor"
I have an application, which compiles and runs fine with ComputeCpp and hipSYCL, however, I am getting segfaults with this compiler. Both with CPU target (using the experimental drivers), and the host target.

Is there something non-standard I am doing? Error is coming when accessing du (all the rest I can access, and they have the valid results)
https://github.com/OP-DSL/OP2-Common/blob/736c89e59

[2019-07-24 16:37] bader commented on #379
@reguly, thanks for this reporting this issue.
I'll try to investigate.
How can I reproduce the crash?

[2019-07-24 17:07] reguly commented on #379
Here is the procedure (assumes g++ and clang++ are in the PATH).

git clone https://github.com/OP-DSL/OP2-Common.git -b feature/sycl
cd OP2-Common/op2/
export OP2_COMPILER=sycl
export OP2_INSTALL_PATH=`pwd`
cd c
make core sycl
cd ../../apps/c/jac1/dp/
make jac_sycl
./jac_sycl

Currently cpu_selector is used - can be changed in op2/c/src/sycl/op_sycl_rt_support.cpp:337 (needs recompiling).

[2019-07-25 21:14] jeffhammond commented on #163
@romanovvlad what is the status of this?

[2019-07-25 22:46] keryell commented on #163
Add a rule in the scheduler to just schedule any kernel that does not have any input dependency?
Also required for FPGA with pipe-only kernels, which landed recently...

[2019-07-26 01:07] keryell commented on #361
The problem is when you write non-trivial C++ code with lambdas of lambdas for example you can end up with a lot of double pointers before aggressive optimization. So we end up with non OpenCL 1.2 code at the end, while if we just use `-O3` or so, these pointers might just disappear, like a lot of other dead code...
Can a SYCL compiler can pass the CTS if it does not work on an OpenCL 1.2 implemen

[2019-07-26 08:57] romanovvlad commented on #163
@jeffhammond The bug should be fixed already. The small reproducer from @againull  successfully compiles as well as your original one(PRK).

@keryell I'm not sure how the original problem is related to scheduling kernels without input dependency, could you, please, clarify?

[2019-07-26 13:58] jeffhammond commented on #163
@romanovvlad Is it safe to close the ticket then?

[2019-07-27 01:38] keryell commented on #163
@romanovvlad good question! I am still asking why I wrote this... :-( Not enough sleep perhaps...

[2019-07-28 07:36] romanovvlad commented on #163
Ok, then I'm closing the ticket.

[2019-07-28 07:36] #163 closed

[2019-07-30 06:25] #212 closed

[2019-07-30 07:11] kbobrovs opened #421 "[SYCL] Improve hierarchical parallelism implementation"
Current implementation is also of a limited functionality. The main restriction is that ```group::parallel_for_work_item``` and ```group::wait_for``` must be syntactically immediately nested within the parallel_for_work_group. E.g. the following is not supported yet:
[code]

Main directions for improvement:
- call graph-based analysis which identifies functions invoked from work group scope
- chan

[2019-07-30 09:14] kbobrovs opened #422 "[SYCL] Add device-side intrinsic to check for pointer address space"
After moving to "default generic" approach for pointers, when most of the pointers in the LLVM IR generated by FE point to generic address space, there must be a way to check for a generic pointer's address space in the generated code before it is handed off to a back-end.

As an example, hierarchical parallelism in presence of generic pointers requires dynamic checking if a pointer is private or

[2019-07-30 16:18] turinevgeny opened #427 "[SYCL][subgroups] broadcast is not implemented for half"
broadcast is not implemented for half datatype.

../sub_group_ndrange/sub_group_ndrange_broadcast.cpp:59:18: error: no matching member function for call to 'broadcast'

              sg.broadcast<T>(nd_item.get_global_id(0), target);
[code]

[2019-07-31 00:05] mdtoguchi commented on #25
Assertion due to not setting default triple with -fsycl.  Addressed in #400

[2019-07-31 00:05] #25 closed

[2019-07-31 13:56] reguly commented on #379
Have you been able to reproduce this? Any ideas as to a solution or a workaround?

[2019-07-31 17:16] bader commented on #379
@reguly, I was able to reproduce this issue, but I still debugging it.
I don't see any issues in SYCL code, it looks like data passed to the kernel is corrupted.

[Here](https://github.com/OP-DSL/OP2-Common/blob/736c89e59d5269f5c094277849c3045c619354d1/apps/c/jac1/dp/sycl/res_kernel.cpp#L121) we read an index from one SYCL buffer and use it to offset accessor to another buffer.

The index value I

[2019-07-31 20:18] reguly commented on #379
@bader Thanks for looking into this - below is a short summary of how that buffer is set up. Of course this is across many different compilation units. Things are cast to raw pointers so they can be passed through a C API. The same exact code works fine with ComputeCpp (host & NVPTX) and hipSYCL (CUDA). In the debugger, I see correct values in pp being passed, before we read the invalid ones in th

[2019-07-31 20:26] bader commented on #304
@agozillon, good question.
I think you are right assuming that it was added with the re-flower pass.
https://github.com/intel/llvm/commit/2260ff1ea61329baf4b4d28553685ade64990122

@Fznamznon, could you check if this code is still needed, please?

[2019-08-01 02:05] keryell commented on #342
Some random guess: I wonder whether https://reviews.llvm.org/D61446 could give some inspiration to fix this issue...

[2019-08-01 10:15] bader commented on #379
Here is how buffer constructor is defined in the SYCL specification today:
[code]

Our implementation rely on this ownership to optimize data allocation/transfer.

If I remove `free(pp)`, the application do not crash and reports

[2019-08-01 12:09] reguly commented on #379
My apologies, it does indeed work without the deallocation. My mistake for relying on ComputeCpp docs which implied otherwise.

[2019-08-01 12:09] #379 closed

[2019-08-01 13:43] Ruyk commented on #379
@reguly  , what ComputeCpp docs are implying otherwise? We rely on the same behavior that intel does for various optimizations - you may be just being lucky that it works. You can't free a pointer after given it to a sycl::buffer , thats undefined behavior

[2019-08-01 13:50] reguly commented on #379
@Ruyk
[Here](https://developer.codeplay.com/products/computecpp/ce/api-reference/classcl_1_1sycl_1_1buffer) the version with const T* host_pointer says

Which I took to mean that the original memory will not be used anymore. It does not explicitly state this of course.

[2019-08-01 14:00] Ruyk commented on #379
I see. We create an internal copy when the origin is const but the buffer is not, so further down write accessors can write back to the host directly. But that's an implementation detail that we can change for different platforms and situations.

I'll open a ticket for the team to clarify the documentation, thanks!

[2019-08-01 16:25] j-stephan commented on #130
I believe this bug is related: triSYCL/sycl#64. Note that this also extends to compiler-defined types (such as `_Bool`).

[2019-08-01 17:03] asavonic commented on #421
Barriers are pretty expensive on CPU. Do you really want to generate this code for *every* store?

[2019-08-01 17:20] kbobrovs commented on #421
I don't. Only for stores to global or local memory. Even for those optimizations are possible and the barrier avoided. I'm illustrating the basic idea above.

[2019-08-01 18:10] alexbatashev commented on #258
Finally, I could build SYCL compiler on macOS. The majority of problems lies inside RT. There's quite plenty of work to make it portable. Anyway, in spite of tons of warnings I was able to build it. I failed to build tests, but I haven't analysed the problem yet.
Step by step guide:
1. Apply my set of hacky hacks
2. `cmake -DCMAKE_BUILD_TYPE=Release -DLLVM_EXTERNAL_PROJECTS="llvm-spirv;sycl" -DLLV

[2019-08-01 18:17] jeffhammond commented on #258
Thanks! This is great. I will see if I can figure out some of the errors.

[2019-08-01 18:22] alexbatashev commented on #258
BTW, this is sample of errors I see:
[code]
They are the same for every single test. Most likely will be resolved by env variables or something like this.

[2019-08-01 18:29] jeffhammond commented on #258
Ah that’s pretty common with Clang on Apple it it’s not configured to know where Apple headers are.

[2019-08-01 18:33] keryell commented on #258
@jeffhammond Is this to motivate people to use ObjectiveC(++)/Swift by showing C++ is broken? :-/

[2019-08-01 18:35] keryell commented on #130
We should add such an example in the SYCL CTS...

[2019-08-01 18:39] alexbatashev commented on #258
@keryell on Linux app typically takes root in may different places (/usr/lib, /etc, /opt, ...). On macOS application is a sort of self-contained zip archive. So, Xcode (default macOS IDE) brings its headers under `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/10.0.1/include`. No wonder others can't find it. But personally I think the idea of self-cont

[2019-08-02 01:04] keryell commented on #258
@alexbatashev yes you are right, there are some advantages too. But you might end up with a lot of duplication too... We need a good package manager. :-)

[2019-08-02 14:44] bader commented on #379
I also noticed one issue in build script: to link SYCL static library (i.e. library with the device code), special option is required (-foffload-static-lib).
You can find examples of use cases here: https://github.com/intel/llvm/blob/sycl/clang/test/Driver/sycl-offload.c#L353
+@mdtoguchi

[2019-08-02 19:15] reguly commented on #379
Just to clarify, I should be linking libraries of my own that contain SYCL device code using this? Or a lib that comes with the compiler itself?

[2019-08-02 21:44] mdtoguchi commented on #379
Any static library you create that contains device code (created with -fsycl -c, then archived) should be using -foffload-static-lib=<lib> to pull it in.

[2019-08-03 00:49] inducer opened #453 "[Experimental CPU runtime] Clashes with system libraries"
I would very much like to use the Intel CPU ICD, but it is (IMO) unnecessarily logistically difficult for me to do so, because the runtime ships with multiple shared objects that clash with system libraries, including `libtbb.so.2` and `libOpenCL.so.2`. If I use the Intel CPU runtime without configuring the dynamic linker path to include/prefer the path of the Intel CPU CL runtime, then I get noth

[2019-08-03 00:59] inducer commented on #453
Experimental results on Haswell, running the [PyOpenCL test suite](https://github.com/inducer/pyopencl):

Without setting `$LD_LIBRARY_PATH`:
[code]
With setting `$LD_LIBRARY_PATH`:
[code]

[2019-08-05 09:36] alexbatashev commented on #453
@inducer I'm afraid I didn't get you. Does setting `$LD_LIBRARY_PATH` cause other significant problems for you? You see, this is how this experimental runtime is intended to work. You set an env var and go. You can add a bash alias to speed thing up. However, you might want to try slight modifications:
1. Place runtime to /opt/intel/expcpu or whatever location you feel good.
2. Remove libOpenCL an

[2019-08-05 09:48] alexbatashev commented on #312
@pramodk @illuhad the offline compilation mode is also supported. You can see an example [here](https://github.com/intel/llvm/blob/sycl/sycl/test/aot/with-llvm-bc.cpp). So, technically, you can get SPIRV, convert it to LLVM IR, compile it with LLVM (I believe it has NVidia backend) and bundle with your app. However, a) it is very complicated b) I haven't tried it myself.

[2019-08-05 12:40] keryell commented on #312
Or you can just use the LLVM IR before going through SPIR-V.
This is what is done in https://github.com/triSYCL/sycl for some devices not supporting SPIR-V.
But anyway none of these solutions can use the 2 Nvidia+Intel GPU at the same time out-of-the-box... :-(

[2019-08-05 12:50] bhack commented on #312
Nvidia just has the president chair of Kronos Group. Is it a little bit funny? ☺

[2019-08-05 15:32] inducer commented on #453
What I'm meaning to suggest is that you rename your `libtbb.so.2` to `libtbb-intel-ocl.so.2` (or so) in your shipped binaries. Since this library seems (see evidence above) to be incompatible with the `libtbb.so.2` already present on my system, this will have two (IMO) positive effects:

* The Intel CL runtime will not accidentally use the system library (and thus avoid the crashes I mention above

[2019-08-05 18:40] alexbatashev commented on #453
@inducer ok, I see. Fair point, because on Windows `libtbb.so` is actually `ocltbb64.dll`. They probably should be aligned, I'll ask OpenCL team to have a look.

[2019-08-06 11:42] kbobrovs commented on #422
Possible variants:

1) the most basic variant (which seems enough for hierarchical parallelism improvement) - it just tests whether the pointer is to private AS; is probably implementable on wider range of devices than the generic form:
```declare i1 @__spirv_is_private_address_space(i8 addrspace(4)* nocapture <ptr>)```

2) fully-functional
Form1:
- ```declare i8 @__spirv_get_address_space_<AS>(i8

[2019-08-07 13:39] j-stephan opened #469 "[SYCL] Explicit fill broken when using nested template types"
Example code:

[code]

Command line:

[code]

Error message:

[code]

[2019-08-07 14:00] j-stephan opened #470 "[SYCL] Compiler crashes with no input files"
Pulling this upstream from triSYCL/sycl#62. The command line

[code]

will produce a segmentation fault if the compiler can't find `foo.cpp`. This only occurs when trying to link a library, the command line without `-lbla` will just tell me that there is no `foo.cpp`.

Error message:

[code]

[2019-08-07 14:43] j-stephan commented on #469
I tried to work around this by implementing a simple loop in a `single_task` which produced the same error. So this seems to be tied to the nested templates and not `fill`.

[2019-08-07 14:45] alexbatashev commented on #469
@j-stephan please, try to eliminate bool from your example. If it doesn't resolve your issue, check if PR #464 helps you.

[2019-08-07 14:49] j-stephan commented on #469
Replacing `bool` with `int` produces the following error message:

[code]

I will try out the pull request and report back.

[2019-08-07 15:01] j-stephan commented on #469
Applying the PR didn't change anything, the error message is identical to the one in my previous comment.

[2019-08-08 09:26] idubinov commented on #469
As far as I understand, the problem is in the integration header generation. The function SYCLIntegrationHeader::emitForwardClassDecls in SemaSYCL.cpp does not add enough information to integration header.
This problem refers to the types (TemplateArgument::ArgKind::Type), not template template parameters (TemplateArgument::ArgKind::Template) and PR #464 won't solve the problem.
In the integration

[2019-08-09 22:55] jinz2014 opened #487 "printf in the kernel"
Is printf allowed in a SYCL kernel ?

I get the error "SYCL kernel cannot call a variadic function".

Thanks

[2019-08-09 23:53] agozillon opened #488 "[SYCL][SemaSYCL] Functor Inheritance Incorrect Outline/CodeGen"
The example is a little contrived in this case, but from what I can tell it's all legal SYCL (please correct me if I am wrong though as my Spec-foo still needs a lot of work). I've been looking into it as I'm trying to find a solution for it myself ASAP, although I imagine if I find one it might not be ideal.

[code]

So the above test will result in:

`error: Explicit load/store type does not mat

[2019-08-10 07:08] bader commented on #487
AFIAK, no.
According to the SYCL specification version 1.2.1. (https://www.khronos.org/registry/SYCL/specs/sycl-1.2.1.pdf):
"The functionality of the printf function is covered by the `stream` class".

[2019-08-12 10:05] AlexeySachkov opened #492 "[SPIRV] Update the way how llvm-spirv is used"
KhronosGroup/SPIRV-LLVM-Translator has been updated to support mechanism to disable/enable SPIR-V extensions and to control the SPIR-V version which is used during translation.

You can find full list of changes and related documentation in KhronosGroup/SPIRV-LLVM-Translator#244

Here is the summary of what should we do on our side:
* drop [usage](https://github.com/intel/llvm/blob/373f485421911dd

[2019-08-13 09:40] alexbatashev commented on #453
@inducer It is not advised to rename libtbb.so library. By default each shared library on Linux exports all symbols. If an application uses both TBB and OpenCL, renamed library may cause ambiguity. This leads to stability issues for many applications. Furthermore, two thread pools are created, implying performance degradation. However, TBB team maintains backward compatibility. This means that you

[2019-08-13 12:10] AlexeySachkov opened #500 "Stream class hangs while trying to print some floating point values"
The following code hangs even on HOST device:

[code]

If I understand correctly, `F / 0.0` produces `NaN` and everything hangs somewhere around https://github.com/intel/llvm/blob/sycl/sycl/include/CL/sycl/detail/stream_impl.hpp#L164

[2019-08-13 21:23] #487 closed

[2019-08-13 23:29] inducer commented on #453
Thanks for your advice! Unfortunately, your suggested solution doesn't quite work for me. I have a Debian-packaged version of TBB 2019 Update 8 on my system, however it appears that that is incompatible with the CL runtime binary in a way that the shipped TBB is not.

[2019-08-14 00:09] mikerice1969 commented on #488
You are correct that we are not handling functors with base classes correctly.  In the prior assignment-based code the base class portion of the functor would have been left uninitialized and code that used anything from that base would have potential problems.  Of course there is nothing to initialize in an empty base so this specific example didn't have a problem.

My first thought is add (in Cr

[2019-08-14 01:13] agozillon commented on #488
I imagine that would probably work; at the moment I'm doing a workaround that I think is similar, I add an InitExpr that initializes the base classes using their default constructor prior to the creation of the field initialization, it seems to work at least for the use case I currently have but I imagine it's quite brittle.

I'm wondering if just adding a base class initializer is enough for more

[2019-08-14 10:21] alexbatashev commented on #453
@inducer can you please provide us with more information then? Please, run your OpenCL app like this
[code]
and share your log file with us.

[2019-08-14 15:49] inducer commented on #453
* [PyOpenCL Intel CL dynamic linker debug log with LD_LIBRARY_PATH_SET, succeeds](https://gist.github.com/inducer/16154e680aee1824775a3740b40ca46e)
* [PyOpenCL Intel CL dynamic linker debug log without LD_LIBRARY_PATH_SET, crashes](https://gist.github.com/inducer/c2dd659bc06f09f36830b1822c0bcb04)

[2019-08-14 16:14] alexbatashev commented on #453
@inducer from what I can see in logs, the main difference between two runs is that when LD_LIBRARY_PATH is set, you use OpenCL ICD (Installable Client Driver) from Intel experimental OpenCL CPU Runtime. A great explanation of how these things work can be found here https://bashbaug.github.io/opencl/2019/07/06/OpenCL-On-Linux.html. I'm not sure about the origin of your system-wide ICD, but I suppos

[2019-08-14 17:27] mikerice1969 commented on #488
Right.  It is not clear how to correctly initialize the bases here.  Consider this:

[code]

There is no default constructor for Base.  In the Functor copy constructor the Base(int) constructor is used.  In this case F.i is used but it could use a constant, global variable, function call, etc.  To find the correct constructor we’d need to analyze the Functor copy constructor and we could only do t

[2019-08-14 17:27] j-stephan commented on #469
Is there an ETA for a fix? Unfortunately I can't easily work around this issue in the original codebase without investing a few weeks.

[2019-08-14 19:27] agozillon commented on #488
Yes a catch all solution for this does look like it may be difficult, I'm unsure what the specifications standpoint is on it but it would be nice to have some clarity.

Your questions might be better answered by @keryell in this case!  However, at least for the immediate future the workaround I have in place seems to work for the use case we currently have, long-term that probably won't be the cas

[2019-08-16 10:39] ilyastepykin commented on #77
Already fixed by https://github.com/intel/llvm/pull/449

[2019-08-16 10:39] #77 closed

[2019-08-20 10:01] AlexeySachkov commented on #367
@turinevgeny, I believe this issue is fixed by #373

[2019-08-20 10:01] #367 closed

[2019-08-20 10:02] AlexeySachkov commented on #427
Should be fixed by #465

[2019-08-20 16:40] ilyastepykin commented on #469
We have the following issue here: fill uses the type of its parameter as part of the kernel name. Since this type is a nested class, the compiler doesn't know how to handle it, so it doesn't emit declaration for the outer class into the integration header. This is why these errors appear.
But we can't emit a proper forward declaration for a nested class as it's not allowed by the language. There s

[2019-08-20 18:32] j-stephan commented on #469
Thanks, I didn't notice I wasn't conforming to the specification here. I will change that ASAP.

Thanks for the workaround options, I'll keep them in mind. The compiler flag looks pretty useful.

For the original codebase I could fortunately apply a very simple "fix" by reinterpreting the type as `uint8_t` and then doing a memset with `fill`.

[2019-08-20 19:36] againull commented on #500
Fix is merged https://github.com/intel/llvm/pull/522

[2019-08-20 19:36] #500 closed

[2019-08-21 11:50] keryell commented on #469
I have the feeling that the SYCL specification should allow any trivially copyable data type.

[2019-08-22 16:42] Naghasan commented on #422
I think https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#OpGenericCastToPtrExplicit covers more or less what you need here.

i case you have plans to provide a SYCL level function to perform the test `__spirv_is_private_address_space`. May I point out that directly providing to the user the capability to test and then convert generic pointers may have an adverse effect on type ded

[2019-08-24 05:22] markgarcia opened #546 "Is there a flag to get or generate the spirv kernel?"
I'd like to have something akin to https://developer.codeplay.com/products/computecpp/ce/guides/compute-compiler (`compute++ -sycl -c`) where it just generates the spirv file. What I'd like to do with it is do reflection and modifications to adapt and feed it to my own runtime. I don't care much for stability or documentation of the output spirv as I'll figure them out myself.

[2019-08-24 21:24] jinz2014 opened #547 "No device program image found"
I saw the message: No device program image found 0 (CL_SUCCESS)

Though the reproducer is not added here, can you please explain what can trigger the message ? Oddly, I don't see such message when compiling other programs.

Thanks

[2019-08-25 09:38] AlexeySachkov commented on #546
Hi @markgarcia,

There are several ways to do so:

1. Use [`SYCL_DUMP_IMAGES`](https://github.com/intel/llvm/blob/d4efd2ae3a708fc995e61b7da9c7419dac900372/sycl/source/detail/program_manager/program_manager.cpp#L378) env variable to get `.spv` file
2. Use `-###` `clang`s command line option to get list of commands executed under the hood - there you can find basically 3 commands: `clang -cc1 -emit-

[2019-08-25 09:56] markgarcia commented on #546
Hello. These are exactly what I need! Is there a plan to formalize these into clang options?

For method 2, could I expect the spirv output of llvm-spirv to be identical (given identical flags) to the one when I build normally? I'm thinking that maybe you're doing passes after the translation on the back-end, just making sure.

Thanks!

[2019-08-25 10:00] bader commented on #546
I would not commend suggestions from https://github.com/intel/llvm/issues/546#issuecomment-524615708. These can be used by the compiler developers, but not users.

Instead, please, use `-c -fsycl-is-device -fno-sycl-use-bitcode` options to get SPIR-V module for the device code.

[2019-08-25 10:52] markgarcia commented on #546
Hmm yeah I realized `SYCL_DUMP_IMAGES` is on the sycl app itself. I'll try to use those options then, @bader. Thanks!

[2019-08-25 12:40] markgarcia commented on #546
It's works perfectly! `-fsycl-is-device` seem to be renamed to `-fsycl-device-only`. For reference my full command line is `../bin/clang++ -c -fsycl-device-only -fno-sycl-use-bitcode -I../lib/clang/9.0.0/include/ -stdlib=libstdc++ -o test1.spv sycl-test-1.cpp`

[2019-08-26 06:22] #546 closed

[2019-08-26 08:53] bader commented on #547
@jinz2014, it means that the device part of the code is missing in the fat binary.
It's hard to say what caused this problem without a reproducer.

[2019-08-27 15:18] bader commented on #130
Should be fixed by #535.
@pkeir, could you confirm that the problem is fixed, please?

[2019-08-27 17:51] jinz2014 opened #558 "platform_util.cpp:91:39: error: Parameter to builtin not valid: avx512f"
I got the following error while building the software using gcc 4.8.5 on CentOS7. The CPU does not support AVX512.  Could you explicitly specify the minimum version of the compiler ?

/home/cc/intel-sycl-runtime/llvm/sycl/source/detail/platform_util.cpp: In static member function ‘static uint32_t cl::sycl::detail::PlatformUtil::getNativeVectorWidth(cl::sycl::detail::PlatformUtil::TypeIndex)’:
/hom

[2019-08-27 21:56] #558 closed, assigned to nobody

[2019-08-27 22:44] jinz2014 opened #561 "sycl test result"
I ran the sycl test after building the compiler on an CentOS 7 with a processor with an Gen8 GPU. I have not looked into the tests yet.

Failing Tests (15):
    SYCLUnitTests :: aot/with-llvm-bc.cpp
    SYCLUnitTests :: basic_tests/boolean.cpp
    SYCLUnitTests :: basic_tests/device_event.cpp
    SYCLUnitTests :: basic_tests/image_array.cpp
    SYCLUnitTests :: basic_tests/stream.cpp
    SYCLUnitT

[2019-08-27 22:44] pkeir commented on #130
Nice work guys, that's fixed it for me.

[2019-09-05 08:27] ilyastepykin commented on #469
Looks like the restriction to use only scalar/vector types comes from OpenCL's `clEnqueueFillBuffer` function. For other trivially copyable types `fill` can be done via a fallback to regular `parallel_for`. Right now the same thing is done for 2D and 3D buffers as there is no corresponding function in OpenCL.
I guess it make sense to allow `fill` with any trivially copyable types.

[2019-09-05 12:33] bader commented on #22
@agozillon is this issue resolved by #590?

[2019-09-05 19:41] AlexeySachkov commented on #492
Fixed by intel/llvm#533

[2019-09-05 19:41] #492 closed

[2019-09-05 19:43] AlexeySachkov commented on #470
@j-stephan, this issue should be fixed by intel/llvm#495, could you please check?

[2019-09-05 20:13] AlexeySachkov opened #605 "[Windows] CMakeLists.txt requires fixing/improvements"
I've tried to build this project on Windows: in my setup I don't have pre-built/installed OpenCL ICD and OpenCL Headers and I encountered several issues:

1. value for `OpenCL_LIBRARIES` is set incorrectly:

In the following [line of code](https://github.com/intel/llvm/blob/sycl/sycl/CMakeLists.txt#L65):
[code]

Instead of `.so` we should use [`CMAKE_SHARED_LIBRARY_SUFFIX`](https://cmake.org/cmake

[2019-09-05 20:22] v-klochkov commented on #605
The 1st and 2nd problems mentioned above are going to be fixed by https://github.com/intel/llvm/pull/528

[2019-09-05 20:48] agozillon commented on #22
Yep, works for me. Feel free to close.

[2019-09-05 21:10] #22 closed

[2019-09-06 15:22] j-stephan commented on #470
Fix confirmed, closing.

[2019-09-06 15:22] #470 closed

[2019-09-06 19:48] bader commented on #561
@jinz2014, could you provide more information about the environment, please?
Particularly: GCC version, what OpenCL implementations are installed?

Please, make sure that:
* GCC version is 5.1.0 or later
* Recommended OpenCL CPU/GPU implementations are used for Intel HW. See https://github.com/intel/llvm/blob/sycl/sycl/ReleaseNotes.md#prerequisites

[2019-09-06 19:50] bader commented on #605
@AlexeySachkov, is this issue fixed?

[2019-09-06 22:15] jinz2014 commented on #561
Is it right that all tests should pass ?  If so, I will try to match the Recommended OpenCL CPU/GPU implementations.

Thanks

[2019-09-06 22:19] bader commented on #561
Yes. All tests should pass.
Each PR is validated by CI system.
Although we don't use CentOS, I think it shouldn't matter as long as C++ and OpenCL runtimes are configured correctly.

[2019-09-09 08:55] #130 closed

[2019-09-09 11:09] AlexeySachkov commented on #605
#528 works for me, thanks!

[2019-09-09 11:09] #605 closed

[2019-09-09 12:46] #427 closed

[2019-09-09 15:59] bjoo opened #620 "Compilation error arising between compiler versions."
Hi, I have come across a situation where code which compiled with an earlier version of the compiler failed to compile with a more recent version we have compiled.  I attach a reproducer here, as well as compiler versions and workarounds:

Here is the code for the reproducer:

[code]

Compilation command:

```clang++ -fsycl  -O3 -std=c++11 ./reproducer_unnamed.cpp```

Such a use case for this part

[2019-09-09 16:19] bjoo commented on #620
Hmmm.... looking closer at this, while passing the `typename T::value_type` fixes the reproducer, it seems not to fix my production version... So there only the `-fsycl-unnamed-lambda` solution works seemingly.

[2019-09-10 18:28] justxi opened #624 "Is oclcpuexp usable for standard opencl applications?"
I followed the install hints for oclcpuexp in the release section.
Before I compile the llvm/clang/lld with sycl support I tried an opencl example, which fails.
I check with clinfo and got the following output, there are two errors:

[code]

The output of "lld clinfo" is:
[code]

Or is this library only usable with the executable resulting from the sycl compiler?

[2019-09-11 08:34] romanovvlad commented on #624
Could you please share OpenCL example you have tried?

AFAIK it should work with regular OpenCL applications as well.

[2019-09-11 16:43] justxi commented on #624
The example I tried is this one: https://github.com/bgaster/opencl-book-samples/tree/master/src/Chapter_2/HelloWorld

I modified it to print the error code:
[code]
It can not create a GPU context, but I think it should be able to create a CPU context.
It works with pocl (creating a CPU context).

[2019-09-12 18:44] reguly opened #634 "[Experimental CPU runtime] No platforms after installation"
I am having some trouble with installing/using the experimental CPU runtime. I have a Intel(R) Xeon(R) Gold 6126 CPU, running CentOS Linux release 7.6.1810 (Core). I installed the opencl-headers, clinfo, and ocl-icd packages with yum, and followed the instructions [here](https://github.com/intel/llvm/releases/tag/oclcpuexp-2019.8.7.0.0725_rel).
I do get a warning about the python file: `ldconfig:

[2019-09-12 20:19] #634 closed, assigned to nobody

[2019-09-13 09:52] romanovvlad commented on #624
@justxi Could you please share result of:
strace ./ocl_app
?

[2019-09-13 13:49] justxi commented on #624
@romanovvlad
Oh, the strace gave the hint...  I forgot to copy "clbltfnshared.rtl".
Thanks you... and sorry.

[2019-09-13 13:49] #624 closed

[2019-09-15 19:16] shiltian opened #640 "[SYCL] Program reports it does not contain the kernel requested 0 (CL_SUCESS) when using functor on GPU"
Here is a small case to reproduce:
[code]
Compilation command:
[code]
Call stack:
[code]

[2019-09-17 00:08] inducer commented on #453
Could you point me to the source code for the runtime? (I can't seem to find it in the source tarball distributed along the binary release.) Without that, it's hard for me to determine whether my ICD loader (https://github.com/OCL-dev/ocl-icd, latest version, default in Debian) is doing something wrong.

[2019-09-17 04:36] alexbatashev commented on #453
The source code is proprietary, you can’t get access to it.

[2019-09-17 07:54] Fznamznon commented on #640
Hi @tianshilei1992,
The error happens because the device compiler can't find any kernels in such SYCL code. The device compiler extracts kernels as function objects passed to kernel invocation methods (e.g. `parallel_for`) as parameters. Here you don't pass a function object to the `parallel_for` but `cl::sycl::kernel` object instead, so we can see it.
I'd say that there is no chance for the compi

[2019-09-17 10:24] alexeyvoronov commented on #620
@bader I guess this issue is resolved.

[2019-09-17 11:43] #620 closed

[2019-09-17 12:03] bjoo commented on #620
Yes, it was resolved in the PR mentioned. I just left it open in case you all wanted it open as a reminder until the PR was merged. It is fine by me to close it. Thank you very much for your help! Best, B

Sent from Blue<http://www.bluemail.me/r?b=15635>
On Sep 17, 2019, at 5:24 AM, Alexey Voronov <notifications@github.com<mailto:notifications@github.com>> wrote:

@bader<https://urldefense.proofpo

[2019-09-17 15:01] crtrott opened #646 "[SYCL] Compilation Error when building the compiler for x86 target"
Following the instruction to build the compiler for x86 I am running into this compilation error:

[code]

Configure:
[code]

[2019-09-17 15:07] crtrott commented on #646
Oh I should have said this is if you just type `make -j`.
The building with `make -j sycl-toolchain` I run into a different issue:
[code]

[2019-09-17 15:33] crtrott commented on #646
Actually both errors seem to appear. The first one regarding `aligned_alloc` goes away if you just keep repeating the make command? It did after a clean appear even when you just build the sycl-toolchain.

[2019-09-17 18:05] tianshilei1992 commented on #640
@Fznamznon Thank you for detailed response. I didn't find any statement in spec saying that my code is wrong either, and I believe not only me will write code in the way.

I've tried the following code and it does work:
[code]

[2019-09-17 18:06] bader commented on #646
@crtrott, could check that your environment satisfies these pre-requisites - https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md#prerequisites, please?

If so, could you provide the logs from "configure" and "make" steps?

[2019-09-17 19:25] crtrott commented on #646
Environment:
[code]

Configure:
[code]

Build `make -j 40 -k`
[code]

build again to see errors:
[code]

[2019-09-18 07:32] alexbatashev commented on #646
@crtrott can you please try this small hack?

[code]

[2019-09-18 08:02] Fznamznon commented on #640
@mkinsner , @jbrodman , what do you think about it?
Is the first code correct from spec point of view?

[2019-09-18 15:18] crtrott commented on #646
It build!

[2019-09-18 15:22] alexbatashev commented on #646
@crtrott good to hear! Can you please tell me more about your Linux distro? What it's called and can I get it somewhere? I used this hack to build runtime on macOS, so I'm wondering why you need it on Linux too.

[2019-09-18 15:45] crtrott commented on #646
This is more or less vanilla RedHat 6. But we install additional modules (using the 'module' package management system) which adds newer compilers and everything else.

[2019-09-18 16:23] alexbatashev commented on #646
Strange... aligned_alloc should have worked. Anyway, I'm happy it is finally built.

[2019-09-18 16:47] jbrodman commented on #646
I think I had to force the global namespace once for something like this:
::aligned_alloc.

On Wed, Sep 18, 2019 at 11:23 AM Alexander Batashev <
notifications@github.com> wrote:

[2019-09-18 16:51] bader commented on #646
It looks like aligned_alloc in C++ is C++17 feature.
https://en.cppreference.com/w/cpp/memory/c/aligned_alloc.

[2019-09-18 17:30] crtrott commented on #646
Yes aligned_alloc is part of C++17 (which sucks in C11). I didn't try to compile the compiler with GCC 9 though, so I didn't use a compiler which would enable C++17. I mean you could change your requirements to ask for C++17 compiler - it is not completely unreasonable to do so. But then you should also enforce C++17 in your CMakeList.

[2019-09-18 17:37] alexbatashev commented on #646
I use exactly the same GCC version as you on daily basis and I see no problems. But my machine runs Ubuntu 18.04. Buildbot machines use GCC 7.4.0. Which is also far away from 9. I've also had positive experience with GCC 5.5.0. This is why that fail looks strange to me.

[2019-09-18 17:38] jbrodman commented on #646
std::aligned_malloc is c++17, ::aligned_malloc is c11

On Wed, Sep 18, 2019 at 12:30 PM Christian Trott <notifications@github.com>
wrote:

[2019-09-18 17:52] crtrott opened #653 "OpenCL runtime not found"
Hi,

so I followed all the instructions for the X86 OpenCL runtime and it is not getting found. I also had to remove the nvidia.icd so it wouldn't pick that up.

[code]

Same system as in #646

[2019-09-19 11:15] alexbatashev commented on #653
Can I please ask you to do a few things?
1. Try running clinfo.
2. Try pointing intercept layer to `/opt/intel/oclcpuexp/x64/libintelocl.so`
3. Try setting `export OCL_ICD_VENDORS=/etc/OpenCL/vendors` (this must be a default option, but who knows)
4. Try running your SYCL app like `SYCL_PI_TRACE=1 simple-sycl-app.exe`

[2019-09-19 17:28] AlexeySachkov opened #659 "Missed diagnostic about function pointers usage"
Reproducer:
[code]

Instead of emitting an error about incorrect usage of function pointers in the device code, compiler crashes in llvm-spirv:
[code]

[2019-09-20 12:01] Fznamznon commented on #659
It looks like we diagnose function pointers usage only if call through a function pointer was made. Diagnosing declaring of function pointers just is not implemented.
It think function pointers declaring also should be diagnosed too, since function pointer types fall into a device module even if call wasn't made which can make SPIRV invalid for CPU back-ends.
The problem can be reproduced with the

[2019-09-20 17:33] bjoo opened #663 "[SYCL][USM] function pointer copies go wrong in lambda capture"
Dear All,  while working on a prototype Kokkos SYCL back end we found some issues when passing USM allocated device pointers into SYCL parallel for kernels. A subsequent investigation showed the between a queue submit and a parallel for the captured pointer got corrupted in some cases. (In our case this happened in our prototype Kokkos back end classes, and not in proxies of these classes). It was

[2019-09-24 19:31] b-sumner opened #674 "cl_intel_unified_shared_memory says nothing about memory model"
I realize that this is WIP, but the lack of discussion about the interaction with the memory model in the current draft seems to be a substantial gap that really needs to be filled.

[2019-09-26 08:39] alexbatashev commented on #453
@inducer if you still experience problems, please reopen this issue.

[2019-09-26 08:39] #453 closed

[2019-09-27 00:59] keryell commented on #659
The problem when we are too pedantic is that it becomes difficult to compile real C++ code that contains some features that should disappear anyway when compiled with some level of optimization.
For example the function pointer above should be removed by at least `-O2`.
So what about an options such as `-fsycl-best-effort` :-) to generate some LLVM IR even if this is not strictly compliant SYCL co

[2019-10-02 20:48] AlexeySachkov opened #693 "Build logs from link steps are missed"
In `program_impl(vector_class<std::shared_ptr<program_impl>>, string_class LinkOptions = "")` we have the following code which doesn't include logs from link step into exception which is thrown in case of errors. The same is applicable for `link` method in this class

https://github.com/intel/llvm/blob/6e76414eaf7248a3fade94f09efb344a3f8dec2d/sycl/include/CL/sycl/detail/program_impl.hpp#L87-L92

E

[2019-10-05 12:26] przemb commented on #693
Hi,
I would like improve logging mechanism :)

[2019-10-08 18:17] agozillon commented on #361
This can probably be closed now unless there is still some on going discussion, I managed to put some time into integrating it recently and it seems to work reasonably well minus some edge cases for now!

Thank you very much for the help and information pointing us in the right direction.

[2019-10-12 00:19] kbobrovs commented on #488
Yes, for example consider this case. Most functors used in practice have accessor fields. The Base class can have it too, and the accessor can be used in Functor's () operator. For that to work the accessor in the base should be passed as a separate parameter (3 parameters actually).

[2019-10-16 15:04] bjoernknafla opened #738 "[SYCL][PI][OpenCL] unhelpful piProgramCreate error code if extension not supported"
The `piProgramCreate` function in [pi_opencl.cpp](https://github.com/intel/llvm/blob/sycl/sycl/source/detail/pi_opencl.cpp#L248) checks late in its execution if a device supports the OpenCL `cl_khr_il_program` extension. If the check fails it returns a `CL_INVALID_CONTEXT` equivalent PI error code.
This error code seems to indicate that the context is bad and does not convey that a device in the c

[2019-10-16 15:50] AlexeySachkov commented on #738
@smaslov-intel: FYI

I think this might be pretty surprising for end-users: `clinfo` or something similar shows the device, but SYCL RT cannot see it. This needs to be well documented and described to end-users if we want to go this way

This sounds better to me. What about `CL_INVALID_DEVICE` or `CL_INVALID_OPERATION`? I originally thought about `CL_COMPILER_NOT_AVAILABLE`, but at "create" stage

[2019-10-16 16:00] smaslov-intel opened #739 "PI unittests fail when no OpenCL RT is available"
@smaslov-intel  This now works as in Clang and the other LLVM projects:
* When SYCL testing is enabled with the CMake flag [`SYCL_INCLUDE_TESTS`](https://github.com/intel/llvm/pull/585/files#diff-0665cb0e6f161edd2ede910c193ce25aR33) then the unittests are added as a dependency to the LIT tests (see CMake variable [`SYCL_TEST_DEPS`](https://github.com/intel/llvm/pull/585/files#diff-ad9ca624b2a795a5

[2019-10-16 18:20] bjoernknafla commented on #739
How urgent is this problem? Is this breaking automatic testing?

Introducing PI backend discovery to the PI unittests would automatically deal with not finding any platforms and devices. My guess is that it will look like the unittests passed even though not a single one ran.

I dislike how this can hide problems though, e.g., if the lookup mechanism for PI plugins fails the testing would still lo

[2019-10-16 18:29] smaslov-intel commented on #739
Yes, this is breaking the testing that is legally performed on machines not having the full run-time setup.

I think we should just separately test for PI discovery to work correctly, which is TBD.

[2019-10-16 18:34] bjoernknafla opened #741 "[SYCL][PI] Design PI plugin lookup to be reusable in tools and tests"
With the [move to PI plugins as dynamic libraries](https://github.com/intel/llvm/pull/708) as documented [here](https://github.com/intel/llvm/pull/680) the PI unittests need to be changed.

Ideally PI plugin discovery should use the same mechanism as the one used by the SYCL runtime.

If it was possible to set up the PI plugin discovery mechanism as a (static?) library, then PI specific unittests

[2019-10-18 20:35] bjoernknafla commented on #739
See PR for a fix: https://github.com/intel/llvm/pull/748

[2019-10-18 20:45] bjoernknafla commented on #738
A `PI_INVALID_DEVICE` error code makes a lot of sense to me.

[2019-10-19 00:46] agozillon opened #749 "ICE when array used in Functor"
[code]
Stealing an example from the kernel_functor.cpp test in this case to show the issue.

If you use a raw array in a functor like above it will kill the compiler in the device outliner. It's likely the use case is illegal or unspecified in the Specification, but I imagine it shouldn't ICE the compiler.

Here's the compiler spew:

[code]

[2019-10-23 02:23] ThomsonTan opened #752 "[SYCL] Question : where to get sycl.lib?"
Probably a trivial question, I am trying follow below doc and the sample program. But I got link error like `sycl.lib` cannot be found. Where can I this this lib?

https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md

[2019-10-24 23:39] ThomsonTan commented on #752
Thanks @alexbatashev . I have a naive question. As per below section, `cmake` runs for source dir `%SYCL_HOME%\llvm\llvm`, but how is `%SYCL_HOME%\llvm\sycl` included by the build system. I followed the steps but didn't get any sycl build. Wondering any part I am missing.

https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md#build-sycl-toolchain

[2019-10-25 01:54] ThomsonTan commented on #752
Never mind, seems I missed typed parameter to cmake.

It appears that SYCL depends on `cl_khr_il_program` which is not supported on my local devices. Is this only for some graphics card?

[2019-10-25 04:38] alexbatashev commented on #752
Path to SYCL directory is being picked up from this CLI parameters:
[code]

You can find out more about LLVM’s build system in the official guide https://llvm.org/docs/CMake.html

SPIR-V is a way to represent device-side code in a portable format for our implementation. So, your target OpenCL runtime must support it. For OpenCL 2.1+ it is a core feature, otherwise `cl_khr_il_program` extension mus

[2019-10-25 18:40] #752 closed

[2019-10-28 09:36] Fznamznon commented on #749
From looking at the log I assume that the problem in our new initialization of kernel object, https://github.com/intel/llvm/issues/488 also was caused by it. I'll take a look what we can do with it...

[2019-10-31 15:26] bader commented on #2
I believe this issue is fixed by https://github.com/intel/llvm/pull/135, so I'm closing this issue.
@kpet, feel free to re-open if it doesn't work on your side.

[2019-10-31 15:26] #2 closed

[2019-11-04 11:40] tomdeakin opened #784 "Reduction proposal implementation suggests use of OpenCL 2.0 function"
As I understand it, SYCL requires OpenCL 1.2 device support, so the proposed example implementation of the reduction extension using the OpenCL 2.0 work group reduction functions wouldn't necessarily be available. I know it's only an example implementation, but we are going to want reduction (extension) support on 1.2 devices.

[2019-11-05 09:48] hailijuan opened #787 "[SYCL] -save-temps unable to create target with default triple"
$ bin/clang++ -fsycl simple-sycl-app.cpp -save-temps
error: unable to create target: 'No available targets are compatible with triple "spir64_x86_64-unknown-linux-sycldevice"'
1 error generated.
/usr/bin/ld: cannot find a-sycl-spir64_x86_64-unknown-linux-sycldevice-wrapper.o: No such file or directory
clang-10: error: linker command failed with exit code 1 (use -v to see invocation)

The error wou

[2019-11-05 11:12] agozillon opened #788 "[SYCL] ICE'd CPU JIT with combination of vector math functions"
[code]

I found this CPU JIT ICE while I was trying to isolate another JIT problem I've got with a larger kernel (kills the compilers VPlan pass so also related to vectorization it seems), this one gives me a nice error log though:

[code]

I'm currently using the OpenCL CPU runtime mentioned in the Getting Started guide, so perhaps it's a little out of date. It's also feasible that my environment

[2019-11-05 15:30] AlexeySachkov commented on #788
Hi @agozillon, thanks for the report

I'm able to reproduce the issue with [`oclcpuexp-2019.8.8.0.0822_rel`](https://github.com/intel/llvm/releases/download/2019-09/oclcpuexp-2019.8.8.0.0822_rel.tar.gz). However, it seems to be fixed in the newer build.

So, stay tuned for the upcoming releases: the issue should disappear when you install updated version of Intel(R) CPU Runtime for OpenCL(TM) Appl

[2019-11-05 16:06] agozillon commented on #788
@AlexeySachkov Thanks for the quick update! Looking forward to the upcoming release then.

[2019-11-06 16:06] DGASUK opened #795 "Installation failure - supported accelerator?"
My installation of llvm sycl on Windows just failed to complete.
I have had OpenGL and Vulkan working fine with my AMD Tonga-based FirePro GPU on this computer.
Is there an issue with this acceleration target for llvm sycl?
The problem seems to be around building icd/loader:-
[last lines of Ninja script output]...

[23/28] Building C object CMakeFiles/OpenCL.dir/loader/windows/icd_windows_hkr.c.ob

[2019-11-06 18:38] alexbatashev commented on #795
@DGASUK I think, the problem is this line
[code]

I have faced a very similar problem recently. Can you please try cherry-picking https://github.com/intel/llvm/pull/792 and see if it resolves the issue?

Also, please note that we require SPIR-V support for SYCL offload targets. I'm not sure if your device supports it.

[2019-11-07 10:19] #784 closed

[2019-11-07 16:46] Pennycook opened #801 "[SYCL] ordered_queue Class Design"
The current implementation of `ordered_queue` as a separate class makes it difficult to switch between different queue types (e.g. for debugging purposes).  Passing an out-of-order property to the `queue` constructor would simplify this, and would also allow functions to accept either out-of-order or in-order queues without templates.

There was some discussion of this on https://github.com/intel/

[2019-11-08 03:59] DGASUK commented on #795
Thanks @alexbatashev for pointing me in the right direction, SYCL build problem was with compiler selection from environment info. Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\ folder was before mingw entry in path variable but version sub-folder was incorrect - had not been changed in line with recent update 14.16.27023.
SYCL built successfully after correcting this!

However, SYCl softwa

[2019-11-08 04:11] alexbatashev commented on #795
No, it does not. SPIR-V for Vulkan/OpenGL and OpenCL use different capabilities. To run SYCL applications, your graphics driver must support OpenCL-flavoured SPIR-V.

As for your error message. From what I see, it is not related to SYCL at all. Apple’s Objective C tests have failed. Try running `cmake --build . --target check-sycl` in your build directory. This will only run SYCL tests.

[2019-11-08 09:41] AlexeySachkov commented on #788
Hi @agozillon,

Here you go: we have released an updated version of Intel(R) CPU Runtime for OpenCL(TM) Applications with SYCL support: [`oclcpuexp-2019.9.11.0.1106_rel`](https://github.com/intel/llvm/releases/download/2019-10/oclcpuexp-2019.9.11.0.1106_rel.tar.gz)

I've just checked - reproducer works fine using it, I got `0 0 0` as a result.

[2019-11-08 14:10] agozillon commented on #788
Thanks very much @AlexeySachkov I'll try that today and close this issue when it solves it! Out of interest is the OpenCL CPU runtime open source like the OpenCL GPU Compute runtime?

[2019-11-08 14:11] bader commented on #788
No.

[2019-11-08 14:45] bader opened #806 "Compiler option to control SYCL extensions."
Today compiler has only two relevant options to turn on/off SYCL functionality:

| Option | Description |
| -------- | ------------ |
|`-sycl-std=<value>` | SYCL language standard to compile for |
|` -fsycl-unnamed-lambda` | Allow unnamed SYCL lambda kernels |

`-sycl-std` today supports only one value: "1.2.1" (default) and doesn't really help to restrict functionality to SYCL 1.2.1 version.

I t

[2019-11-08 15:33] agozillon commented on #788
Thanks for the quick answer @bader

[2019-11-08 15:35] agozillon commented on #788
I've checked and it does indeed fix the problem in this issue, thank you!

I'll now close this as it's solved.

[2019-11-08 15:35] #788 closed

[2019-11-08 16:01] AlexeySachkov commented on #806
What if user wants to use a particular set of extension?

Just an idea: `-sycl-ext=+ext1,+ext2`, similar to OpenCL

We could enable automatic passing of defines if extension is enabled (probably this will be easier for some users)

[2019-11-08 19:41] fodinabor commented on #795
Do you btw. know a way to convert the OpenCL-flavored SPIR-V to Vulkan SPIR-V?
Or is it possible to add a modified backend to generate Vulkan compatible SPIR-V?

[2019-11-08 19:43] alexbatashev commented on #795
@fodinabor AFAIK there's no such tool. SPIR-V LLVM translator only supports OpenCL-flavoured SPIR-V and crashes (I think) if you try to process shaders.

[2019-11-08 19:45] fodinabor commented on #795
I see ;-)

[2019-11-10 01:41] DGASUK commented on #795
OK @alexbatashev, ran check-syscl rather than check-all - results output from first few errors below.

The tests fail from number 7 onwards with Exit Code: 3221225477 and 'LLVM ERROR: SPIR-V not supported on legacy compiler lib' seems clear enough but I wasn't sure if it was from line 3 "env" "SYCL_DEVICE_TYPE=CPU" or line 4 "env" "SYCL_DEVICE_TYPE=GPU"?

...
[9/16] Performing build step for 'ocl-

[2019-11-10 04:55] alexbatashev commented on #795
@DGASUK from this extract it looks like CPU is failing. You can check for sure by running single test:

[code]

You may also need to add bin to `PATH` and lib to `LIB`.

[2019-11-10 14:03] bader commented on #806
I don't see any problems with that. Unused extensions do not affect final results. I think this proposal makes `-sycl-std=1.2.1` valuable for code code portability among different SYCL implementations.

[2019-11-11 09:55] AlexeySachkov commented on #806
I think there might be problems, for example, by SYCL spec you cannot capture a pointer as kernel argument. However, it is legal in USM extension.

My point is that it might be not so clear which exact set of extensions are enabled and user might accidentally use more functionality from extensions than he thought/intended originally.

[2019-11-11 15:59] cagnulein opened #813 "[SYCL] Weird performance behaviour"
Hi, i'm playing around SYCL and i'm facing a really strange performance behaviour on a little script.

Let's start form this little script:

[code]

This script runs in
sysele@sysele-C08:~/work/sycl/rotate$ time ./rotate.gpu

**real    0m0.978s**
user    0m0.172s
sys     0m0.084s

If i change the iterations of the parallel_for, **decreasing** them, putting 1761303172 instead of 1821303172, the tim

[2019-11-11 17:08] AlexeySachkov commented on #813
Hi @cagnulein,

These are CPU runtimes, while you are explicitly using `gpu_selector` in your application. Could you please specify version of GPU OpenCL runtime instead?

[2019-11-11 17:28] jeffhammond opened #814 "pi_die: Check if plugin is present. Failed to load plugin: libpi_opencl.so"
I see this issue with Ubuntu 19.04 with OpenCL as instructed in https://github.com/intel/compute-runtime/blob/master/documentation/Neo_in_distributions.md#ubuntu-1904-1910.
[code]
How do I debug this?

[2019-11-11 17:44] AlexeySachkov commented on #814
@jeffhammond, this should be fixed with #810, could you please check if this patch is included into your SYCL build?

[2019-11-11 17:48] jeffhammond commented on #814
I was using a build from 12 hours ago, so no, I didn't have this patch.  I'll try again the next time I can rebuild.

[2019-11-11 23:53] jeffhammond commented on #814
I updated to f9cbf2a6957a2741919dd404e2793f12dd57f036 and still see the problem.

[2019-11-12 02:14] DGASUK commented on #795
Not clear from your suggestion on the command line needed to run single test from the .out file and the relevance of lib?

[2019-11-12 05:34] alexbatashev commented on #795
@DGASUK sorry for confusion. LIT tests compile simple SYCL programs to test both compiler and runtime. *.out file is just a SYCL executable. You may run it as any other exe file. The only thing you have to keep in mind is the location of SYCL Runtime library. Test infrastructure usually takes care of this for you, but since you're going to run a standalone test, you need to tell operating system w

[2019-11-12 07:05] cagnulein commented on #813
Hi @AlexeySachkov , thanks for your reply. You're right, i've used https://github.com/intel/compute-runtime/releases/tag/19.43.14583

[2019-11-12 08:16] agozillon opened #823 "[SYCL] CPU JIT ICE in VPlan Vectorization Driver"
I've attached an example SYCL program it's a pretty contrived and nonsensical example and will segfault if it actually runs properly. It's a problematic excerpt I found from a larger project that runs fine when using the Intel GPU OpenCL runtime but dies with the CPU implementation due to at minimum this segment I've found. Happy to redirect to the much larger project if that's of use.

However, f

[2019-11-12 11:40] AlexeySachkov commented on #823
Hi @agozillon, thanks for the report!

Just to be sure, am I right that

is [oclcpuexp-2019.9.11.0.1106_rel](https://github.com/intel/llvm/releases/download/2019-10/oclcpuexp-2019.9.11.0.1106_rel.tar.gz)?

[2019-11-12 15:55] AlexeySachkov commented on #814
Ok, I've just encountered this by myself, but it was an easy thing to resolve, just ensure that `libpi_opencl.so` which should be under `build/lib` is accessible via `LD_LIBRARY_PATH`.

intel/llvm#708 has introduced Plugin Interface as it is described in the [docs](https://github.com/intel/llvm/blob/sycl/sycl/doc/SYCLPluginInterface.md). Now SYCL runtime contains not only `libsycl.so`, but also so

[2019-11-12 16:23] jeffhammond commented on #814
I am not going to reference files in the build directory, because that is transient.  The library is in the install directory and I set `-Wl,-rpath` to that location already.  It would be nice if the compiler could look in `rpath`.  I'd also like to be able to use a customer environment variable so that I don't have to mess with `LD_LIBRARY_PATH`.

[2019-11-12 20:11] cbenthin commented on #814
I've run into the same missing libpi_opencl.so issue, but the latest run-time or compiler do not include this .so file. Where did you get it from?

[2019-11-12 20:57] jeffhammond commented on #814
@cbenthin
I find it in the build and install directories:
[code]

[2019-11-12 20:58] jeffhammond commented on #814
@AlexeySachkov After updating `LD_LIBRARY_PATH`, it now fails here:
[code]

[2019-11-12 20:59] cbenthin commented on #814
I guess you compile from source while I pick the binary releases and libpi_opencl.so is not included in the package.

[2019-11-12 21:01] jeffhammond commented on #814
@cbenthin Yes, I am building the latest git from source every time.

[2019-11-12 21:22] agozillon commented on #823
yeah that's the one, the one that fixed the previous JIT issue for me!

[2019-11-12 23:57] jeffhammond commented on #814
I guess the problem is in OpenCL, but I've reinstalled NEO per https://github.com/intel/compute-runtime/blob/master/documentation/Neo_in_distributions.md#ubuntu-1904-1910 multiple times now to no avail.

What is really odd is that it crashes on the host selector.  I don't really understand why our SYCL compiler is initializing OpenCL in order to use the explicitly non-OpenCL back-end.
[code]

[cod

[2019-11-13 00:09] jeffhammond commented on #814
This appears to be a NEO problem (https://github.com/intel/compute-runtime/issues/230).  However, I would like SYCL to (1) not touch OpenCL when using the host device and (2) detect or otherwise mitigate whatever OpenCL problem is causing this.

[2019-11-13 04:53] rolandschulz commented on #806
Maybe we want both? We could add `-sycl-std=1.2.1-ext` to enable all and `-sycl-ext=+ext1,+ext2` to enable (or disable) specific ones. I don't think we only want the option to enable them separately. For users who want all the usability improvements they should have an easy way to enable them all. Otherwise we are adding a new usability problem for novice users.

[2019-11-13 07:11] cagnulein commented on #813
@AlexeySachkov any ideas?

[2019-11-13 16:06] mkinsner opened #832 "Suggested improvements for pipes extension"
Not all feedback on #635 was implemented for the current version of the extension, so this issue is to track the outstanding suggestions:

1. Additional class interface, such as:
[code]
   and probably with other container-like types: reference...
   * https://github.com/intel/llvm/pull/635#discussion_r324952087

2. "have instead of std::size_t a numeric type as a template parameter" for the pipe

[2019-11-13 18:14] smaslov-intel commented on #814
I think theses are both valid requests for improvement, could file them as Jira issues, please?

[2019-11-13 18:46] jeffhammond commented on #814
@smaslov-intel see 6640 and 6642

[2019-11-13 18:57] garimagu commented on #814
Hi Jeff, in my understanding you also stated the following issue:
"I am not going to reference files in the build directory, because that is transient. The library is in the install directory and I set -Wl,-rpath to that location already. It would be nice if the compiler could look in rpath. I'd also like to be able to use a customer environment variable so that I don't have to mess with LD_LIBRAR

[2019-11-13 19:16] jeffhammond commented on #814
@garimagu that sounds reasonable, but please note that it doesn't solve https://github.com/intel/llvm/issues/814#issuecomment-553176234.

[2019-11-13 19:18] garimagu commented on #814
Yes, for those you have created the two issues.

[2019-11-14 14:05] cagnulein commented on #813
There is definitely something wrong, here other results (you can check the code on my repo https://github.com/cagnulein/sycl-benchmarks/tree/master/issues)

<pre>
./test-around.sh
Index           Time 1st try    Time 2nd try    Time 3rd try

1761303161      1.548           1.561           1.563
<b>1761303162      3.177           3.173           3.194</b>
<b>1761303163      16.447          16.431

[2019-11-14 23:53] aisoard commented on #832
I find the spec quite sound.

But wouldn't it make more sense to have the following pipes:
[code]
all refer to the same physical pipe and impose said pipe to be of minimum capacity 5 (the max of all the capacities)?

Specifying a minimum capacity is a clever way of having a clear unambiguous unification strategy (this would not have been possible if they were an exact capacity, for instance). Why

[2019-11-15 09:00] AlexeySachkov commented on #813
Hi @cagnulein,

Sorry, I haven't had enough time to take a look

To extract device code during compilation, please take a look at [corresponding docs](https://github.com/intel/llvm/blob/sycl/sycl/doc/SYCLCompilerUserManual.md#sycl-device-code-compilation).

You can also use `SYCL_DUMP_IMAGES=1` env variable to extract SPIR-V file which is passed to JIT compiler during execution.

I suggest you to

[2019-11-15 10:23] cagnulein commented on #813
Thanks @AlexeySachkov , with the opencl-intercept-layer i saw that the time consumes on **clWaitForEvents: event_list** (the duration of this function changes proportionally with the table that i sent before with different indexes), so i assume that it's a SYCL RT issue isn't it?
If so, stupid question: where is the SYCL RT's repo? :)

<pre>

<<<< clCreateKernel: returned 0x16e59c0 -> CL_SUCCESS

[2019-11-15 10:37] romanovvlad commented on #813
@cagnulein
Hi,

No, 95% that the problem in OCL GPU because clWaitForEvents function is implemented there, SYCL RT just calls it.

SYCL RT sources are locates in https://github.com/intel/llvm, sycl branch, sycl directory.

[2019-11-15 10:40] cagnulein commented on #813
Hi @romanovvlad , thanks for your reply. So, on you opinion, which is best way to analyze this issue?

[2019-11-15 12:35] AlexeySachkov commented on #813
@cagnulein,

If that is the case, I would recommend to transfer this issue into [intel/compute-runtime](https://github.com/intel/compute-runtime) GitHub repo: please attach logs from opencl-intercept-layer there. Also, it would be perfect if you will be able to provide pure OpenCL reproducer there.

[2019-11-18 14:13] cagnulein commented on #813
Hi @AlexeySachkov , thanks for your time. For the loop issue i think @MichalMrozek was clear: i've to try with OpenCL 2.0 (i'm facing a clang issue and i can't try right now) but i think [the path is clear](https://github.com/intel/compute-runtime/issues/235).

In the meanwhile i saw another potential issue. This time we talk about memory buffer.

Let's talk about this [simple cpp](https://github.

[2019-11-19 17:27] bjoo opened #849 "[SYCL][SubBlockNDRange] Extend spec to allow dealing with USM pointers"
Hi, following conversations with @jbrodman and @Pennycook I am leaving this issue here as a placeholder. Currently the SubGroupNDRange Load and Save functions use sycl::multi_ptr<>
It would be good if they could accept raw USM pointers, both to connect up the USM and SubGroupNDRange extensions and also to provide for the possibility of casting. The use case for casting is in the case of SIMD opera

[2019-11-19 19:48] bjoo commented on #663
Follow-up: Had conversation with @jbrodman about this issue at SC19. Apparently the problem was in the NEO Graphics driver. I have verified that with driver version  19.45.14764 the issue appears resolved on my Gen9 device. I will close this issue. Thanks for the fix!

[2019-11-19 19:48] #663 closed

[2019-11-20 16:00] AlexeySachkov commented on #823
Hi @agozillon,

No, AFAIK, above mentioned release is the latest available one.

Good news: the issue seems to be not reproducible on the latest internal builds. Bad news: you have to wait for the next release

However, I believe that this issue is not blocking you since you already have workaround and it seems that attached reproducer is not fully correct:

[code]

Please note the following:
[cod

[2019-11-21 13:31] agozillon commented on #823
Hi @AlexeySachkov thank you very much for the reply. You are correct it's not initialized, that was more me being lazy at the time I created the test and trying to shrink the example! I didn't realize it would actually impact the IR in this case. My apologies for being misleading! I should have been more careful.

A reproducer more true to the source would be something like below:

[code]

Where I

[2019-11-21 14:54] AlexeySachkov commented on #823
Hi @agozillon, thanks for the updated reproducer.

I can confirm that new reproducer crashes on the latest [oclcpuexp-2019.9.11.0.1106_rel](https://github.com/intel/llvm/releases/download/2019-10/oclcpuexp-2019.9.11.0.1106_rel.tar.gz):
[code]
Also, as I can see, it works fine on the latest internal build. So, stay tuned for the next release!
Feel free to leave this issue open until your problem is

[2019-11-21 15:08] agozillon commented on #823
Ah that's good news! Thanks again @AlexeySachkov for the help!

At the moment I don't have a work-around unfortunately, however it's not a blocking issue as the benchmark works for Intel GPU at the moment, so I was happy to wait on the updated runtime rather than seek a work-around.

[2019-11-21 15:40] AlexeySachkov commented on #312
@pramodk, was your question answered? can we close this ticket?

[2019-11-21 15:41] AlexeySachkov commented on #561
@jinz2014, do you have any additional questions? Can we close this issue?

[2019-11-21 15:42] AlexeySachkov commented on #739
@smaslov-intel, looks like fix was provided, can we close this issue?

[2019-11-21 16:09] jinz2014 commented on #561
Please close the issue.

Thanks

On Thu, Nov 21, 2019 at 9:41 AM Alexey Sachkov <notifications@github.com>
wrote:

[2019-11-21 16:16] #561 closed

[2019-11-21 16:29] asavonic commented on #806
For OpenCL we also have `-cl-ext=+all` and `-cl-ext=-all`.

[2019-11-21 16:30] asavonic commented on #806
`-cl-ext=+all,-cl_khr_fp16`  is also supported.

[2019-11-21 19:53] romanovvlad commented on #191
https://github.com/intel/llvm/blob/sycl/sycl/test/basic_tests/handler/handler_mem_op.cpp

[2019-11-22 00:02] smaslov-intel commented on #739
Yes

[2019-11-22 06:23] #739 closed

[2019-11-22 06:28] AlexeySachkov commented on #653
I will close this one because of ~2 months of inactivity from the reporter.

@crtrott, feel free to re-open if the problem is still exists

[2019-11-22 06:28] #653 closed

[2019-11-22 06:30] AlexeySachkov commented on #646
@alexbatashev, @crtrott, what is the status of this issue?

Was the problem finally resolved? Do we need to submit any additional patches? Can we close this issue?

[2019-11-22 07:27] alexbatashev commented on #646
@AlexeySachkov I believe this PR has fixed the issue: https://github.com/intel/llvm/pull/763

[2019-11-22 07:27] #646 closed

[2019-11-24 20:55] AlexeySachkov opened #868 "[Regression?][GPU] Assert in buffer_impl.hpp on GPU"
The following code crashes on assertion if executed on GPU:

[code]

Assertion:
[code]

This assertion seems to be introduced by 16ae15a3. The strange thing is that I cannot reproduce it on CPU or HOST device.

@romanovvlad, could you please take a look? I'm not very familiar with the SYCL spec, but attached reproducer looks correct to me.

[2019-11-25 05:36] romanovvlad commented on #868
@AlexeySachkov
Cannot reproduce the issue. Please, check that you are running application with the up to date version of libsycl.so.

[2019-11-25 11:15] bader commented on #806
Summary of "SYCL upstream working group" discussion:

- All agree that we should have flags to turn on/off particular extensions.
- Flags controlling the same extensions might be set multiple multiple time in the same clang invocation - last one overrides previous flags.
- Hal: `-fsycl-<extension>` (e.g. `-fsycl-usm`) seems reasonable.
- Use `__has_extension` to detect if extension is supported in

[2019-11-25 18:58] AlexeySachkov commented on #868
Indeed, I used outdated libsycl.so

My bad, sorry for disturbance

[2019-11-25 18:58] #868 closed

[2019-11-26 02:08] QiAnXinCodeSafe opened #872 "The return value of 'sscanf()' should be checked"
https://github.com/intel/llvm/blob/9c2035a02f121feaef54f6b19266a19c15caea21/lldb/source/Plugins/Platform/Android/AdbClient.cpp#L259

[2019-11-26 06:48] bader commented on #872
@QiAnXinCodeSafe, please, open the issue in https://github.com/llvm/llvm-project/ - lldb development repository.

[2019-11-26 06:48] #872 closed

[2019-11-27 14:30] Alkeryn opened #879 "Oneapi dosen't work on nvidia gpu"
As there is no oneapi repo yet i'm posting the issue here
anyway i have some sycl code that works on my intel integrated GPU
but it does not work on my nvidia gpu, here is an example :
![image](https://user-images.githubusercontent.com/11599075/69731766-bdde9100-112a-11ea-8a66-c7a0c0aa09c6.png)
the compiled code is :
[code]

[2019-11-27 19:23] rolandschulz commented on #806
If we go with `-fsycl-usm` rather than `-sycl-ext=+usm` syntax how do we enable all extensions minus one specific one?

[2019-11-27 22:22] AlexeySachkov commented on #806
`-fsycl-all-extensions -fno-sycl-usm` ?

[2019-11-27 22:24] bader commented on #806
FYI: I'm trying to clarify clang community preference in this thread: http://lists.llvm.org/pipermail/cfe-dev/2019-November/064016.html.

[2019-11-29 13:15] cagnulein opened #887 "[SYCL] error: variable-sized object may not be initialized"
I'm facing a strange compiler issue. The source code are here https://github.com/cagnulein/sycl-benchmarks/blob/fix_2d_array_with_array/rotate/rotate_usm.cpp

Is it supposed to be ok? If yes, how can i use a dynamic multidimensional array with USM?

<pre>
$ clang++ -O2 -g -std=c++11 -fsycl rotate_usm.cpp -lOpenCL -o rotate_usm.gpu
rotate_usm.cpp:142:100: error: variable-sized object may not be ini

[2019-11-29 13:39] romanovvlad commented on #887
Hi,
it seems that it's impossible to capture variable length array by value.
The new_image variable cannot be captured in a standard C++ lambda like:
[code]
Compiler gives the same error message on such code.

I believe you need to initialize new_image using malloc_shared to use it in the kernel(preudo-code):
[code]

However the crash after diagnostics is a bug.

[2019-11-29 13:40] AGindinson opened #888 "[SYCL][Driver] Enable full clang driver unit tests on Windows"
Several `sycl-offload*.c` LITs under `clang/test/Driver` are marked with 'XFAIL: windows-msvc'. The failures are seemingly related to some path regexp issue. New tests addition also faces this limitation, e.g. https://github.com/intel/llvm/pull/884.

This XFAIL need to be analyzed and fixed as soon as possible to provide better.

[2019-11-29 13:58] cagnulein commented on #887
@romanovvlad thanks. I've changed the code following your tip but i have a similar issue.

https://github.com/cagnulein/sycl-benchmarks/commit/42d12d90e3f95fe28fb34ff78491e33205e2f71b

<pre>
$ clang++ -O2 -g -std=c++11 -fsycl rotate_usm.cpp -lOpenCL -o rotate_usm.gpu
error: array initializer must be an initializer list
rotate_usm.cpp:140:17: note: in instantiation of function template specializati

[2019-11-29 14:19] romanovvlad commented on #887
Hi,
old_image should be allocated in the same way. Attaching diff.
[usm_allocation.diff.txt](https://github.com/intel/llvm/files/3905519/usm_allocation.diff.txt)

[2019-11-29 15:15] cagnulein commented on #887
@romanovvlad i've tested in small arrays and it works, but with huge arrays (20000*40000 bytes) it gives me a segmentation fault. Looking with gdb this is the backtrace:

<pre>
Thread 1 "rotate_usm.gpu" received signal SIGSEGV, Segmentation fault.
0x00007ffff5e649cb in ?? () from /usr/local/lib/intel-opencl/libigdrcl.so
(gdb) bt
#0  0x00007ffff5e649cb in ?? () from /usr/local/lib/intel-opencl/libi

[2019-11-29 23:23] jinz2014 opened #892 "device code generation question"
Could you please list the commands using clang++/dpcpp to generate LLVM/SPIRV device code ?  It is not clear _how_ and _when_ a user can generate a human-readable device code for debugging and analysis.

Thanks

[2019-11-30 09:23] AlexeySachkov commented on #892
Hi @jinz2014,

Please take a look at [SYCL Compiler User Manual](https://github.com/intel/llvm/blob/sycl/sycl/doc/SYCLCompilerUserManual.md#sycl-device-code-compilation)

[2019-11-30 15:18] bader opened #894 "[SYCL] Rename variables so that they start with a lowercase letter"
LLVM project is going to adopt new code style for variable naming.

This change is already applied to LLD project (https://github.com/intel/llvm/commit/3837f4273fcc40cc519035479aefe78e5cbd3055 and https://github.com/intel/llvm/commit/136d27ab4de0c1d5dedfecc32a9857be78fa0648) and planned for the rest of LLVM.

SYCL library should adopt new variable naming.

Here is the main discussion thread to cha

[2019-12-01 19:55] romanovvlad commented on #887
Hm sounds like an issue in compute runtime, suggest creating issue there https://github.com/intel/compute-runtime/issues

[2019-12-02 12:43] #361 closed

[2019-12-02 15:47] Ruyk commented on #879
Codeplay is working on OneAPI CUDA support, but it is currently not available on the main DPC++ compiler. We will be open-sourcing our work early next year, and that will provide some early experimental support for CUDA 10.1 on platforms with at least SM 3.0 capabilities using DPC++.
Keep watching this space :-)

[2019-12-02 21:41] Alkeryn commented on #879
Thanks for the information, i'll be using hipsycl in the meanwhile ^

[2019-12-02 23:05] keryell commented on #887
I have the feeling that you should use just a 2-D array instead of an array of array, since all the dimensions seem to be `constexpr` if you do not need this complex data structure.
Even on a CPU this double indirection is inefficient anyway.
But in this example, you could just use 2-D `cl::sycl::buffer` + accessors instead of USM and explicit memory management.
It gives you this 2-D array-like in

[2019-12-02 23:57] keryell commented on #879
You could also ask Nvidia to implement it due to popular demand... ;-)

[2019-12-03 01:02] Alkeryn commented on #879
@keryell I think it is easier to just avoid depending on nvidia as how annoying they can be with following standards tho lol
Also it wouldn't make a lot of sense for them as they are still trying to push people to use shitty cuda instead.

A thing cuda/hip has i wish opencl and sycl had tho is dynamic memory allocation inside a gpu kernel.

[2019-12-03 02:40] keryell commented on #879
You can implement dynamic allocation in SYCL as a library if you have atomics & USM extensions.

[2019-12-03 10:21] cagnulein commented on #887
Hi @keryell , i've already tried the implementation with the cl::sycl::buffer (you can find here https://github.com/cagnulein/sycl-benchmarks/blob/master/rotate/rotate.cpp) and it works; it has only big issue: is really slow copying 800MB of data from the CPU to GPU and back.

With the USM, if i didn't misundarstood them, i will run my alghoritm without copying around my buffer. And when it works,

[2019-12-04 21:04] keryell commented on #887
I see. It depends probably on the the GPU architecture. If you have some efficient shared hardware access between CPU and GPU that makes sense. Otherwise, a 2-D buffer with the right access mode in the accessors (such as write_only...) might be more efficient, with a minimal number of huge copy instead a gazillions of inefficient individual accesses,

But my 2-D array suggestion was at the first p

[2019-12-04 22:11] jeffhammond commented on #879
I use [ComputeCpp](https://codeplay.com/products/computesuite/computecpp) PTX support on Volta.  ComputeCpp is free as in beer.  As noted above, CodePlay is working an open-source SYCL compiler for NVIDIA.

[2019-12-04 22:23] jeffhammond commented on #879
@Alkeryn You should create a new/separate issue on the topic of dynamic memory allocation inside a kernel.  This is a known issue under investigation, but having external users such as yourself request it helps to prioritize it.

You probably know this, but CUDA/HIP allocation inside of kernels is a hack that you can implement yourself pretty easily in SYCL.  As described in [CUDA docs](https://do

[2019-12-05 09:32] fwyzard opened #908 "[Experimental CPU runtime] support for CentOS 7"
The recent versions of the Experimental CPU runtime (e.g. [2019.9.11.0.1106](https://github.com/intel/llvm/releases/download/2019-10/oclcpuexp-2019.9.11.0.1106_rel.tar.gz)) depend on a version of `libstdc++.so.6` more recent than what is available on RHEL 7 / CentOS 7:
[code]

Would it be possible to bundle the required version of `libstdc++.so.6` together with the runtime ?

[2019-12-05 10:15] cagnulein commented on #887
@keryell thanks. I've tried your implementation here https://github.com/cagnulein/sycl-benchmarks/blob/7bcbe77a5551551e5355ce87adfe91aff99ac96b/rotate/rotate_usm.cpp but i have compilation issue:

<pre>
$ clang++ -O2 -g -std=c++11 -fsycl rotate_usm.cpp -lOpenCL -o rotate_usm.gpu
error: array initializer must be an initializer list
rotate_usm.cpp:147:17: note: in instantiation of function template

[2019-12-05 10:49] Alkeryn commented on #879
@jeffhammond Yeah that's what i do generally, i just give N memory to the gpu beforehand and implement my own "malloc" for use in kernel
still a true malloc would be nice, also i'd love to be able to use the stl containers in a kernel or have an stl gpu implementation (as that would make porting code easier)
but i guess i can do without ^

[2019-12-05 16:06] jeffhammond commented on #879
@Alkeryn I agree that your feature request is valid and we should do it, I just wanted to make sure you weren't waiting on this feature before getting started.

[2019-12-05 16:09] jeffhammond opened #910 "feature request: dynamic memory allocation inside a gpu kernel"
Creating a new issue on behalf of @Alkeryn...

https://github.com/intel/llvm/issues/879#issuecomment-560950093

https://github.com/intel/llvm/issues/879#issuecomment-562076622

[2019-12-06 01:38] keryell commented on #887
A limitation of the current compiler that might not handle references?
Can you try removing the reference by using instead for example
[code]

and replacing the `old_image` by  `(*old_image)` where it is used?

[2019-12-06 07:24] cagnulein commented on #887
@keryell i've tried but this is the result:

<pre>
$ clang++ -O2 -g -std=c++11 -fsycl rotate_usm.cpp -lOpenCL -o rotate_usm.gpu
Stack dump:
0.      Program arguments: /home/sysele/sycl/build/bin/clang-10 -cc1 -triple spir64-unknown-unknown-sycldevice -fsycl-is-device -aux-triple x86_64-unknown-linux-gnu -std=c++11 -disable-llvm-passes -sycl-std=1.2.1 -emit-llvm-bc -disable-free -disable-llvm-verif

[2019-12-09 17:29] vladimirlaz commented on #908
@fwyzard
This is not possible  because libstdc++.so.6 has sub-dependencies and finally it will require to install most of GCC 5 libraries set. We do recommend to install GCC5+ to use bits delivered as part  of SYCL compiler releases.

In fact the main use case for the Experimental CPU runtime is to support SYCL compiler and SYCL compiler requires GCC5 (see [GetStartedWithSYCLCompiler.md](https://g

[2019-12-09 18:15] fwyzard commented on #908
I see... I ended up upgrading the machine i'm using to CentOS 8.

[2019-12-10 03:50] vladimirlaz commented on #908
I am closing the issue. Initial question was answered and you were able to manage the problem.

[2019-12-10 03:50] #908 closed

[2019-12-12 21:07] mdtoguchi commented on #888
Most of the problems deal with using <code>FileCheck -DOBJ=%t.obj</code> type checks and trying to match with <code>[[OBJ]]</code>.  This doesn't look to work too well on Windows perhaps due to the additional escapes used for the directory separators and dots.

Is there any way to work around this?

[2019-12-16 14:44] AlexeySachkov opened #935 "Improve error handling in enqueue_kernel_launch::handleError"
https://github.com/intel/llvm/blob/d27cff25dcf46cae89245778c8267f9b71c22fc6/sycl/source/detail/error_handling/enqueue_kernel.cpp#L172

intel/llvm#860 introduced additional error handling which converts OpenCL error codes from `clEnqueueNDRange` to verbose SYCL exceptions to improve user experience.

However, current handling covers only `CL_INVALID_WORK_GROUP_SIZE` error code and need to be improv

[2019-12-16 14:48] AlexeySachkov opened #936 "Improve context constructor to throw exception if devices don't belong to the same platform"
https://github.com/intel/llvm/blob/07a3616495afdac237f877a585c9a84d7838e95f/sycl/source/context.cpp#L43

Description of the corresponding constructor from the SYCL 1.2.1 spec:

[2019-12-17 14:28] Fznamznon opened #942 "Upstream address spaces handling"
Spec assumes that SYCL implementation does address space deduction, but we implemented other approach.
Without our address space handing support even compilation of SYCL headers with clang from LLORG is not possible. I see the following diagnostics emitted from SYCL headers:

[code]

Diagnostic is silent in our version of the compiler by adding our own address space map. So when you write `__attri

[2019-12-17 14:28] Fznamznon commented on #942
@asavonic FYI.

[2019-12-17 17:35] Fznamznon opened #943 "Do not diagnose unsupported __float128 type if it's not used in device code"
Now LLORG clang emits the following diagnostics from standard headers:

[code]

and so on.
We disabled such diagnostics for device by the following change:
https://github.com/intel/llvm/pull/181#discussion_r358266350
Experiments show that we don't emit any diagnostics if `__float128` is used in device code. IMO, that is not fully correct and this diagnostic should be delayed.

[2019-12-18 09:32] Fznamznon opened #945 "Upstream bool vectors support for SYCL"
We added support of ext_vector_type attribute for boolean type SYCL language:
[code]

Without it, compilation of SYCL headers fails with error:
[code]

[2019-12-18 09:39] Fznamznon opened #946 "Upstream delaying of diagnostics about TLS declarations for device"
Thread-local storage is not supported for device, so we need to make corresponding diagnostic deferred.
Without it, compiler is emitting diagnostics from standard C++ headers during device code compilation:
[code]
We made it with the following commit:
[code]

[2019-12-18 09:57] Fznamznon opened #947 "[Upstream] Fix errors about unsupported sampler/image type"
clang emits errors from SYCL headers about unsupported OpenCL types:
[code]

We reused OpenCL types for SYCL, like here https://reviews.llvm.org/D63710 .
But we can also try another approaches.

[2019-12-18 12:05] Fznamznon commented on #943
Okay, we can start with simple disabling of diagnostic, like is was done for CUDA for _Float16 (see  https://reviews.llvm.org/D57369). Then improve it once we implement deferred diagnostics for SYCL.
@bader , do you have any objections?

[2019-12-18 12:20] bader commented on #943
No.

How difficult is to "implement deferred diagnostics for SYCL"?

[2019-12-18 12:25] Fznamznon commented on #943
I'll take a look. I need some time to understand how it's supposed to work.

[2019-12-18 16:40] illuhad commented on #801
I think what could be useful in addition to this is a mechanism that allows e.g. libraries to enforce an execution mode (e.g. ordered/unordered) for a section of code. For example, some library for parallel primitives may want that all kernels submitted for one algorithm should be executed in a low-latency ordered mode, regardless of the user-provided input queue. This is what I'm working towards

[2019-12-18 19:48] AlexeySachkov commented on #823
Hi @agozillon,

We have recently [released](https://github.com/intel/llvm/releases/tag/2019-11) newer version of Experimental Intel(R) CPU Runtime for OpenCL(TM) Applications with SYCL support: [oclcpuexp-2019.9.12.0.12_rel](https://github.com/intel/llvm/releases/download/2019-11/oclcpuexp-2019.9.12.0.12_rel.tar.gz): I've checked the updated reproducer and it seems to work fine with it.

Could you

[2019-12-18 19:49] AlexeySachkov commented on #795
Hi @DGASUK,

Do you experience any other issues with building/using SYCL compiler and runtime? Can we close this issue?

[2019-12-19 02:52] keryell commented on #801
Yes, it could be a property with a mechanism to change the queue property. Come with a proposal! :-)

[2019-12-19 06:01] agozillon commented on #823
Thanks for the update @AlexeySachkov it LGTM, I've tested a ToT version of the compiler and the new runtime and the issue is fixed for me as well. No other errors to report either, it now compiles and runs the benchmark as expected for Intel CPU and GPU, thanks for the awesome work guys!

[2019-12-19 06:07] agozillon commented on #823
Thanks for the update @AlexeySachkov it LGTM, I've tested a ToT version of the compiler and the new runtime and the issue is fixed for me as well. No other errors to report either, it now compiles and runs the benchmark as expected for Intel CPU and GPU, thanks for the awesome work guys!

As an off-topic aside I'm not sure if the documentation in the getting started guide for the Intel OpenCL CPU

[2019-12-19 06:07] #823 closed

[2019-12-19 07:08] AlexeySachkov commented on #823
Tagging @vladimirlaz to comment about TBB symlinks

[2019-12-19 07:15] vladimirlaz commented on #823
Good catch. I will provide an update for the document.

[2019-12-19 16:31] Fznamznon commented on #943
Okay, I've learned something new about deferred diagnostics. Actually, we already have almost working implementation of this feature. But we still emit diagnostics in SemaSYCL from `MarkDeviceFunction` Visitor's run, because deferred diagnostics aren't fully working now.
We still do it, because we don't build device call graph for diagnostics properly. `FunctionDecl` which represents operator `()`

[2019-12-22 18:51] jinz2014 opened #961 "cast atomic object from one type to another"
I have a question about casting atomic objects of different types.

How can I convert
atomic<float, access::address_space::global_space> address
to
atomic<uint, access::address_space::global_space> uaddress  ?

Thanks for your instruction.

[2019-12-25 12:44] Fznamznon commented on #943
Fix and cleanups for deferred diagnostics is here https://github.com/intel/llvm/pull/971 . Deferring of diagnostics about unsupported `__float128` type added as well.

[2019-12-30 10:44] matkara opened #982 "[MacOS] Minimal support/CI pipeline for MacOS ?"
It is common to find scientific software/libraries developed/tested on MacOS and then deployed on Linux.
As a user, I’m looking forward for a minimal support of MacOS by the Intel sycl/clang compiler.
When compiling one of the latest versions of the sycl branch, it fails with the following error

[code]

This error looks similar to the ones encountered in https://github.com/intel/llvm/issues/258

[2019-12-30 11:25] alexbatashev commented on #982
I'm pretty sure we don't have a buildable macOS in our master. For example, #857 is also os-dependent, and it does not contain any macOS fallback.
BTW, if you manage to build the whole thing, it would be great if you submitted a PR.

[2020-01-12 01:57] jon-chuang opened #1000 "CMake support?"
Is there any native CMake support for building SYCL projects? Can I just write standard a C++ CMakelists.txt, point to the SYCL Clang compiler and pass it the appropriate flags?

[2020-01-12 02:16] jon-chuang opened #1001 "How portable is will SYCL code be across the different toolchains?"
While SYCL is still a developing standard, I am wondering about portability. For instance, I may not simply want to compile to Spir-V, but also use hipSYCL. While of course this may vary from compiler to compiler which may offer different features, I don't have a picture of just how interoperable SYCL is meant to be. I suppose I have to keep track of which compilers support which features.

[2020-01-12 16:44] illuhad commented on #1001
Are you looking at any features in particular? Otherwise, I can only give a very general answer: While SYCL as a standard continues to move forward, SYCL 1.2.1 is already there - so, SYCL 1.2.1 conformant code should work on any SYCL 1.2.1 conformant SYCL implementation. With that said, neither Intel SYCL nor hipSYCL are conformant yet because both implementations are still young and in developmen

[2020-01-13 15:46] AlexeySachkov commented on #1000
Hi @jon-chuang,

In intel/llvm no, we don't have any additional CMake modules for building SYCL projects.

Yes, this should be enough: you just need to set `CMAKE_CXX_COMPILER` accordingly and pass `-fsycl` as additional command line option.

You can find some helper functions in [codeplaysoftware/computecpp-sdk](https://github.com/codeplaysoftware/computecpp-sdk/blob/master/cmake/Modules/FindComp

[2020-01-13 16:03] AlexeySachkov commented on #1001
Hi @jon-chuang,

If I understand correctly, SYCL spec doesn't describe SPIR-V at all: you just write SYCL code, compile it with corresponding compiler and then launch resulting application. As @illuhad pointed out, if you stick with SYCL 1.2.1 features (or with any other specification version), then your code should behave in the same way using any conformant implementation (unless you don't explo

[2020-01-15 11:40] j-stephan opened #1011 "[SYCL] Call to 'printArgs' is ambiguous"
I am currently trying to implement a SYCL backend for a third-party application. In this application's source code (which I can't change) there is a function called `printArgs`. Unfortunately, this breaks the compilation since there is another `printArgs` inside the SYCL implementation:

[code]

IMHO this shouldn't break so easily since the syntax `printArgs(Arg0, Args...)` is probably quite commo

[2020-01-15 15:57] erichkeane opened #1015 "ConstructOpenCLKernel doesn't set lexical context-"
When doing ConstructOpenCLKernel, we don't set the current function/lexical context correctly, so getCurLexicalContext (or getCurFunctionDecl) fails, as we're in the TU-level at that point.  This function should set the function for diagnostics purposes (and other analysis purposes).

[2020-01-15 16:36] erichkeane opened #1018 "Delayed Diagnostics broken for CallExpr."
After #998 as noticed in #971, some of the diagnostics are not diagnosing in kernels.  See this message here:

`The problem is that in SOME cases, we actually visit a diagnostic up to 3x (in the case of kernels).

1: When doing Phase 1 of templates.

2: when doing Phase 2. This is only supposed to happen when something has 'changed' via tree-transform. GCCAsm seems to skip the rebuild in tree-tran

[2020-01-15 17:53] erichkeane commented on #1018
The immediate problem is fixed here: https://github.com/intel/llvm/pull/1019

As for the more general solution (only diagnosing templates 1x), we likely need to solve this in community for warnings, so we likely want to figure out what happens there.

[2020-01-15 18:30] smaslov-intel commented on #1011
The SYCL's `printArgs` and the call to it are inside nested namespace:
https://github.com/intel/llvm/blob/sycl/sycl/include/CL/sycl/detail/pi.hpp
[code]

Even if the top-level "cl" is inlined, I don't see how this could possible clash with the user's `printArgs` unless they happen to define it also in the [cl]::sycl::detail::pi namespace, which would be weird.

@j-stephan, can you give a reproduce

[2020-01-16 15:09] #1015 closed

[2020-01-16 15:14] erichkeane commented on #1018
See

    // let's have regular "sycl_kernel" function
    template <typename name, typename Func>
    __attribute__((sycl_kernel)) void kernel_single_task(Func kernelFunc) {
      kernelFunc();
    }

    // and template function
    template<typename T> void some_foo(T t) {
      // Just do some bad things
     throw t; // or throw 3 if it's wrong, whatever
    }

    int main() {
    // And call

[2020-01-16 15:20] erichkeane commented on #1018
CUDA and OpenMP seem to have the same problem with 'throw'.  So I guess this is something we need to solve for everyone?

[2020-01-16 15:24] bader commented on #1018
Tagging @alexey-bataev to get an opinion on OpenMP.
Don't know who owns CUDA in clang.

[2020-01-16 15:32] erichkeane commented on #1018
Note @alexey-bataev  that I didn't come up with a reproducer for openmp, but I didn't see anything in the code to do anything about it, we all (SYCL/CUDA/OpenMP) seem to be using the same infrastructure (creating a delayed diagnostic, then calling emitDeferredDiags).

[2020-01-16 16:43] erichkeane commented on #1018
I made a repro for CUDA, humorously they DO skip templates (and I think OpenMP does too), but they end up double diagnosing anyway.  Not sure this is the same problem then.

[2020-01-16 16:56] erichkeane commented on #1018
HAH! Like the nodiscard, we actually double diagnose this too even without delayed diagnostics: https://godbolt.org/z/aGLQak

[2020-01-16 18:16] alexey-bataev commented on #1018
Known problem, sometimes messages may be emitted several times for template instantion case. Plus, seems to me, some of errors does not mark an outer declaration as invalid even without delayed diagnostics, this must be fixed of course.

[2020-01-16 18:19] erichkeane commented on #1018
@alexey-bataev Thanks!  I hadn't noticed any cases where non-delayed diagnostics (other than the ones that are specifically trying to exclude themselves for delayed diagnostics) don't do this for errors, but we definitely have the problem with warnings in some places.

IMO, this part of the problem is likely a global Clang issue rather than specific to SYCL/OpenMP/etc.

[2020-01-16 18:21] alexey-bataev commented on #1018
Hi Erich, yes, it seems to me so. Plus, delayed diagnostics may have their own issues in some corner cases, especially with templates.

[2020-01-17 12:07] bader opened #1023 "Latest Khronos SYCL CTS build is broken"
https://github.com/KhronosGroup/SYCL-CTS/pull/35 updated accessor test.
Corresponding spec change is here: https://github.com/KhronosGroup/SYCL-Docs/pull/31.

[2020-01-21 08:27] j-stephan commented on #1011
Sorry for the delay. Here is a reproducer:

[code]

Command line:

[code]

Full error log:

[code]

Tested with an up-to-date compiler (commit 97a199f).

[2020-01-21 11:33] Fznamznon opened #1032 "Deferred diagnostics are broken for In-class initializers"
The following test case cannot be diagnosed with deferred diagnostics system:
[code]
We do our reporting at a functiondecl->caller level, when the declcontext can actually be a CXXRecordDecl as well.
NOTE: This seems broken not only for SYCL, but for any other programming model which allows in-class initializes.

[2020-01-23 00:27] garimagu commented on #1023
The change in the SYCL doc essentially done the following functional changes to accessors:
Image Accessors: Removed get_size() method, and added get_range() method.
Local Accessors: Added get_range() method.
Creating a PR for this change.

[2020-01-23 18:42] garimagu commented on #1023
https://github.com/intel/llvm/pull/1050

[2020-01-27 10:36] hiaselhans opened #1059 "example fails to execute on amd gpu"
I couldn't get this to run with my amd-gpu.
One thing i noted was that sycl supports out-of-order queue devices only.
So i wonder, could we provide a compatibility matrix for non-intel-gpu-users? and also provide a check for CL_QUEUE_OUT_OF_ORDER_EXEC_MODE_ENABLE in the example?

below is my stack-trace.

[code]

[code]

[2020-01-27 10:44] bader commented on #1059
SYCL runtime library supports in-order queues as well.
@hiaselhans, could you provide a small reproducer for the issue (source code if possible), please?

[2020-01-27 10:53] hiaselhans commented on #1059
@bader thanks for the fast response.

I am actually using more less the example.
It's running on Arch-Linux using the amdgpu-pro opencl drivers.

[code]

[2020-01-27 11:17] bader commented on #1059
I don't see why this code can't be executed on non-Intel GPU.

[code]
It seems like OpenCL implementation failed to compile device code.
I looked at the device code I don't see any problems, so it might a be a bug in libamdocl-orca64.so.
I suggest reporting this issue to the team working on this OpenCL implementation.

You can get device code in LLVM IR or SPIR-V from from the source code using th

[2020-01-27 16:06] hiaselhans commented on #1059
Well thanks for the fast response. I tried to investigate but didn't come further with the libamdocl...

However i tried on a different machine with a gtx 1050 card.
That card supports out-of-order-queues.
It failed too for this. I will try to make a test case to reproduce.

[code]

[2020-01-27 18:17] bader commented on #1059
This is expected. Our compiler produces binary, which relies on OpenCL driver to support SPIR-V format of device code. AFAIK, NVIDIA OpenCL doesn't support SPIR-V,
I'm not sure why return code is `-34 (CL_INVALID_CONTEXT)`.
@romanovvlad is it possible to improve error reporting for this case?

[2020-01-27 18:54] hiaselhans commented on #1059
Ok. Thanks for all the help!

I could contribute to the "getting started" md with some hints on how to find out if one's card is supported and maybe add some logic to the selector.

[code]
with clear instructions on the fact that it needs to support spir-v might already save some users time.
Error reporting too of course...

Anyhow I'm glad a big name took over on open standards in GPU computing!

[2020-01-28 11:07] bader commented on #1059
We have a few words about supported device in our FAQ document: https://github.com/intel/llvm/blob/sycl/sycl/doc/FAQ.md#q-what-devices-are-supported-by-intel-sycl-compiler.

If have any ideas how we can make this information more accessible, feel free to share them via issues or open a PR.

I expected an error message from the `default_selector` to be a little bit more clear in this case.

NOTE: `

[2020-01-31 11:50] vladimirlaz opened #1085 "Clang memory consumption increase in "in-process" execution model"
Clang tool executes cc1 commands in the same process after b4a99a0. It causes increasing memory consumption for compilations where several source files are passed (for C++ application) or several build steps (e.g. for SYCL application we have host, device and integration header step per source file). Memory is not freed for all cc1 commands until end of overall process.
Commit d357addeb91134e480e6

[2020-01-31 16:33] pramodk commented on #312
yes, we can close this. Thank you very much!

[2020-01-31 16:33] #312 closed

[2020-02-01 12:17] jinz2014 commented on #892
It is not clear how users can disassemble a binary to view GPU assembly codes. Could you show some examples ?

[2020-02-05 02:52] jon-chuang opened #1099 "Verifying the functional correctness of SYCL"
Would there be any interest to develop tools to verify the functional correctness of SYCL, for instance, via the [Viper](https://www.pm.inf.ethz.ch/research/viper.html) framework?

[2020-02-05 08:00] #1023 closed

[2020-02-05 15:11] bader commented on #1059
I recently was educated that AMD OpenCL doesn't support SPIR-V, so it looks like AMD GPU require different compilation workflow. The one we use Intel devices requires SPIR-V support.

[2020-02-06 10:37] jbrodman commented on #801
Fixed by https://github.com/intel/llvm/pull/1035

[2020-02-06 10:37] #801 closed

[2020-02-06 10:40] jbrodman commented on #268
@kevin-harms We have since defined and implemented every flavor of allocation: C++-style allocator, named functions, parameterized functions, both of those but with <T>, etc.

Does that sufficiently address your concerns?

[2020-02-06 13:23] AlexeySachkov commented on #936
Fixed by #1092

[2020-02-06 13:23] #936 closed

[2020-02-07 18:53] keryell commented on #1099
In theory: yes.
In practice SYCL is pure C++, so at the end it resolves to verifying the correctness of a generic ISO C++ program at the first place... :-(
Perhaps using contracts which are studied in ISO C++ committee SG21 could help reducing the complexity of the task? https://isocpp.org/std/the-committee

[2020-02-10 18:54] jeffhammond opened #1110 "undefined symbol: __sycl_register_lib"
I installed 38ace4d50c3c61378197a4aea315c21063d28862 just now on my Hades Canyon NUC running Ubuntu 19.04 with all packages current.

[code]

[code]

[code]

I don't know why this error occurs, but it shouldn't.

[2020-02-10 19:41] bader commented on #1110
Could you attach a source file, so I can try to reproduce this issue on my side, please?

[2020-02-10 19:43] jeffhammond commented on #1110
@bader `git clone https://github.com/ParRes/Kernels.git PRK && cd PRK/Cxx11`

[2020-02-10 20:22] jeffhammond commented on #1110
@jbrodman can't reproduce, so maybe my build recipe is wrong.
[code]

[2020-02-10 21:39] jeffhammond commented on #1110
This issue was caused by user error, although it is very frustrating that the toolchain does not check shared library ABI versioning or use rpath to ensure that the compiler builds applications that will use the right runtime library and not some other runtime library from last summer.

To be specific, I installed the toolchain into `/opt/isycl` but had an installation from June 2019 in `/usr/loca

[2020-02-10 21:39] #1110 closed

[2020-02-11 04:29] fwyzard opened #1111 "[CUDA] ptxas: unresolved extern function __spirv_AtomicLoad(...)"
Hi,
following the [blog post](https://www.codeplay.com/portal/02-03-20-codeplay-contribution-to-dpcpp-brings-sycl-support-for-nvidia-gpus) and the latest instructions from Codeplay [here](https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/README.md) and [here](https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/sycl/doc/GetStartedWithSYCLCompiler.md), I am trying to use the [`cuda

[2020-02-11 04:30] fwyzard commented on #1111
@Alexander-Johnston FYI

[2020-02-11 08:37] Fznamznon opened #1112 "Improve diagnosing of __float128 type usage"
Recently I've made an attempt (https://github.com/intel/llvm/pull/1040/files) to implement diagnosing of __float128 type usage in device code through deferred diagnostics. Unfortunately resulting diagnostic doesn't work well for many cases due to bunch of problems.
First one - there isn't a single 'create declaration' type place that we could diagnose this. This results in quite messy changes arou

[2020-02-11 08:43] Fznamznon commented on #943
Submitted a change to disable diagnostic https://reviews.llvm.org/D74387

[2020-02-11 09:54] AGindinson commented on #787
https://github.com/intel/llvm/pull/1114

[2020-02-11 14:52] Ruyk commented on #1111
This is a missing mapping to a PTX builtin, it will come up soon after we manage to merge https://github.com/intel/llvm/pull/1091

[2020-02-12 00:27] varsha-madananth opened #1119 "runtime error when running Cuda backend for SYCL - returns CL_INVALID_VALUE -30 error"
I built sycl toolchain with support for nvidia cuda.  The app builds find on -fsycl-targets=nvptx64-nvidia-cuda-sycldevice.  I get the following error when i run the exe. I have attached the compile commands and also gdb output.  Any help debugging would be appreciated.

clinfo -l
Platform #0: Intel(R) FPGA Emulation Platform for OpenCL(TM)
 `-- Device #0: Intel(R) FPGA Emulation Device
Platform #

[2020-02-12 09:36] WilliamWangPeng opened #1120 "add a new command option in llvm-mc"
hi guys (*-*)
      I have done some tests about llvm-mc now.
and I have another problem:
How to add a option command in llvm-mc，like ---assemble , -disassemble ,-mattr=<a1,+a2,-a3,...>
and I have seen many options in llvm-mc --help, I want to add a new one

[2020-02-12 09:51] bader commented on #1120
@WilliamWangPeng, this doesn't seem like Intel specific issue, so I suggest raising this question here: https://github.com/llvm/llvm-project

[2020-02-12 10:16] bader commented on #1119
@varsha-madananth, according to the log, your application used OpenCL back-end, which seems unintentional.
I suggest checking if `SYCL_BE` environment variable is set like this `SYCL_BE=PI_CUDA`.
Also it would be great if queue is created with device selector argument to make sure that application is using correct device.
More information how to build/run SYCL applications using CUDA back-end you

[2020-02-12 11:22] bader commented on #1085
@erichkeane filed a bug here https://bugs.llvm.org/show_bug.cgi?id=44823.
Proposed fix: https://reviews.llvm.org/D74447.

@vladimirlaz, could you check if the proposed fix helps, please?
If so, please, replace https://github.com/intel/llvm/commit/d357addeb91134e480e61303fc91294fb876adb5 with the proper fix.

[2020-02-12 17:27] varsha-madananth commented on #1119
@bader : I have followed the instructions from https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/sycl/doc/GetStartedWithSYCLCompiler.md.
Currently, the executable does not work with SYCL_BE=PI_CUDA not set as per the documentation.
If i do not set the variable, i get the following.

Build program log for 'GeForce GTX 1080':
<kernel>:1:2: error: source file is not valid UTF-8
P<ED>U<BA><U

[2020-02-12 18:47] varsha-madananth opened #1124 "sycl-for-cuda causes build error"
We have been experimenting with sycl-for-cuda this week. We experienced couple of issues over this week. To summarize-
1. On 02/10 - Successful build of sycl-for-cuda. However, when running the executable generated for nvidia target , results in -
what():  OpenCL API failed. OpenCL API returns: -30 (CL_INVALID_VALUE) -30 (CL_INVALID_VALUE)
which is strange because as per the blogpost below you do

[2020-02-13 03:08] jon-chuang opened #1125 "WebGPU SPIR-V Support"
How ready is Intel's SYCL to compile down to WebGPU-compatible SPIR-V?

[2020-02-13 03:52] jon-chuang commented on #1125
misunderstanding

[2020-02-13 03:52] #1125 closed

[2020-02-13 18:39] AGindinson commented on #787
Fixed by #1114.

[2020-02-13 18:39] #787 closed

[2020-02-13 20:32] kevin-harms opened #1130 "ordered_queue is not derived from sycl::queue"
https://github.com/intel/llvm/blob/dd329d61fa427edb28cad917c08aa040814289f4/sycl/doc/extensions/OrderedQueue/ordered_queue.h#L2

Given the definition of sycl::ordered_queue, it can not be passed as a parameter to functions or methods that take a sycl::queue because it is not derived from sycl::queue. This limits the usefulness of sycl::ordered_queue. (Or all existing code needs to be updated to ac

[2020-02-13 20:36] jbrodman commented on #1130
Hi,

Based on feedback, we decided to deprecate ordered_queue in favor of: https://github.com/intel/llvm/pull/1035

Now there is only just the queue class.  The 'ordered'ness is determined by a property of the queue and can be queried by the programmer.

[2020-02-13 20:38] bader commented on #1130
@jbrodman, I think we need to update the extension documentation.

[2020-02-13 20:38] jbrodman commented on #1130
@bader, we did: https://github.com/intel/llvm/pull/1042
:)

[2020-02-13 20:44] bader commented on #1130
I mean make it obvious that first version is deprecated. It's done in the source code only.
If someone reads only documentation there are two legit versions of the proposal.
:)

[2020-02-13 20:50] jbrodman commented on #1130
Aha.

Done: https://github.com/intel/llvm/pull/1131

[2020-02-13 23:08] fwyzard commented on #1124
Hi @varsha-madananth ,

the build error you report should be fixed by now.
The `cuda-dev` should build fine by itself, but if you try to merge it with the HEAD of the `sycl` branch, you also need the fix in codeplaysoftware/sycl-for-cuda#4 .

About the runtime error, did you set the plugin according to the instructions on the blog
[code]
?
I haven't been able to test it myself, my sample applicati

[2020-02-14 11:28] Ruyk commented on #1124
We are working on cuda-dev to update the branch to the latest changes on the sycl branch. Currently, the main issue that is dragging us back is the changes to the PI plugin mechanism, which can now support multiple backends at the same time. That is great, because the environment variable is not needed and you could use OpenCL and CUDA on the same application, but we need to check all lit tests th

[2020-02-14 11:30] bader commented on #1130
Fixed by #1035, #1042 and #1131.

[2020-02-14 11:30] #1130 closed

[2020-02-14 11:31] bader commented on #1130
@kevin-harms, let us know if you have any other issues with using ordered queues.

[2020-02-14 13:38] Ruyk commented on #1119
There is an issue on the default device selection introduced by the latest PI plugin changes. Basically, SYCL_BE is ignored when using default selection, and can return an opencl device when there is no SPIRV binary or viceversa. We are working on a fix for that on the cuda-dev branch. This also affects a number of LIT tests, in case you see failures there.

[2020-02-16 19:53] reguly opened #1137 "sycl-for-cuda build/doc/run issues"
Quick note: please update [https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/sycl/doc/GetStartedWithSYCLCompiler.md](https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/sycl/doc/GetStartedWithSYCLCompiler.md ) to (1) indicate which branch should be used (still says sycl) and (2) to give a proper list of cmake flags, as currently one has to cherry-pick them from the "Build SYCL to

[2020-02-16 20:26] reguly commented on #1137
The same issue as reported in #1119 (@Ruyk in https://github.com/intel/llvm/issues/1119#issuecomment-586290889_) is resolved by explicitly using the CUDASelector.

[2020-02-16 20:34] reguly commented on #1137
Finally, when I try and compile a larger code, I get a linker error:
`ptxas fatal   : Unresolved extern function '_Z16__spirv_ocl_cbrtd'`

This symbol is not found in any of my object file being linked (even as an undefined one). Verbose clang link command (why sm_30??):

clang version 11.0.0 (https://github.com/codeplaysoftware/sycl-for-cuda.git bd5a107e069979318b314ba8c1b0933d57556eb1)
Target: x

[2020-02-17 10:36] bader commented on #1137
This looks like the application uses cbrt(double) built-in function and it seems to be unsupported by the current implementation. @Naghasan, am I right?

[2020-02-17 18:49] jon-chuang opened #1139 "Gauging interest/compatibility for WebGPU backend"
Apparently, there should exist a path from SYCL source to WebGPU backend, by writing an abstraction layer that takes SYCL calls and converts them to WebGPU C API calls (see [here](https://github.com/emscripten-core/emscripten/issues/9575#issuecomment-585941443) and the [header file](https://github.com/gfx-rs/wgpu/blob/master/ffi/wgpu.h)). WebGPU primarily exposes graphics interface, but should all

[2020-02-17 21:13] Ruyk commented on #1137
**Branches**: We are working in integrating with upstream (the sooner we get to do that the better for everyone) so the branches are not stable. We'll have a more stable branch once we get https://github.com/intel/llvm/pull/1091 merged.
**Documentation**: I've made a note on the branch situation on the repo.
**cbrt**: Yes, its missing, we are still adding mappings of builtins to PTX equivalents.

[2020-02-20 09:31] bader commented on #1120
Moved to https://github.com/llvm/llvm-project/issues/132.
Closing.

[2020-02-20 09:31] #1120 closed

[2020-02-20 16:37] steffenlarsen commented on #1111
Implementation of the mappings: https://github.com/codeplaysoftware/sycl-for-cuda/pull/14.

[2020-02-20 18:46] fwyzard opened #1154 "[CUDA] printfs results in ptxas error: Call has wrong number of parameters"
Testing the latest iteration of #1091 (as of 44af06f2eb0) on top of the HEAD of the `sycl` branch (as of 7743e86f522) with a SYCLE kernel that calls `printf`, the compilation for the CUDA backend fails with
[code]

All errors point to similar PTX code:
[code]

where `_Z18__spirv_ocl_printfPU3AS4Kcz` demangles to `__spirv_ocl_printf(char const AS4*, ...)`.

The same kernel compiles and runs with th

[2020-02-20 18:48] fwyzard commented on #1154
@Alexander-Johnston FYI

[2020-02-21 09:04] Ruyk commented on #1154
Thats an (undocumented?) intel extension, currently we are only implementing conformant SYCL features. We may do this later on if we have time.

[2020-02-21 09:04] Ruyk commented on #1154
@bader There is no extension document for this feature?

[2020-02-21 09:12] bader commented on #1154
@AlexeySachkov, could add documentation for the feature you added by https://github.com/intel/llvm/pull/835 to https://github.com/intel/llvm/tree/sycl/sycl/doc/extensions, please?

[2020-02-21 09:16] Ruyk commented on #1001
The core of the SYCL specification is compatible across [conformant implementations](https://www.khronos.org/conformance/adopters). The idea of conformance process is that implementations must pass a set of tests (in the case of SYCL 1.2.1, https://github.com/KhronosGroup/SYCL-CTS) for an implementation to be declared as "conformant". This means the complete set of features and API are supported.

[2020-02-21 22:20] fwyzard opened #1160 "[PI] print information about plugins ?"
Is there a way to print information about the plugin being used by each platform ?

And/or, if there a way to print information about the plugin(s) being loaded ?

[2020-02-22 07:22] fwyzard commented on #1137
The link seems to be broken ?

[2020-02-22 08:09] fwyzard opened #1161 "sycl-for-cuda documentation is inaccurate with the updated plugin system ?"
I am trying the [`cuda`](https://github.com/codeplaysoftware/sycl-for-cuda/tree/cuda) branch (currently at 38ec8bf8f2c) and I can compile and run the [simple application](https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/sycl/doc/GetStartedWithSYCLCompiler.md#run-simple-sycl-application) from the "getting started" guide.

However, the behaviour of the plugin system does not seem to match

[2020-02-22 10:20] bader commented on #1161
@fwyzard, thank you for trying it out and sharing the results of your experiments.
I noticed that the sample used in this experiment uses default device selector and it seems we have to improve how it behaves.
Also, although it's not documented in CUDA back-end documentation, multiple back-ends support was enabled by Plug-in system design, so it's expected to work.

[2020-02-22 16:58] fwyzard commented on #1161
@bader thanks for your comments.

Since it looks like both OpenCL and CUDA plugins are always available (if built), what is the purpose of the `SYCL_BE` variable ?

One aspect that could be improved is to avoid listing platforms or devices for which there is no support in the binary. That is, an application compiled with `-fsycl-targets=nvptx64-nvidia-cuda-sycldevice` should list only the CUDA dev

[2020-02-23 15:31] bader commented on #1161
I think someone from Codeplay team should reply. According to my understanding it might be just an artifact of old implementation version. We added runtime library support for multiple plug-ins not long ago.

I was my first thought too, but this might cause problems for applications, which don't have device code (e.g. use libraries with SYCL API). The application might just create a command queue,

[2020-02-23 16:17] bader commented on #1160
AFAIK, some information is logged if `SYCL_PI_TRACE` env. variable is set, but I'm not sure it includes information about plugins being used or loaded.
@romanovvlad or @smaslov-intel should be able to clarify this.

[2020-02-23 23:10] fwyzard commented on #1161
I see your point - the part of the application that queries the devices and the part that has the device code could have been built with support for different devices.

I think it would be useful to have some way for an application to know if a given device (or platform) is usable or not, for a given kernel.

[2020-02-24 15:56] Ruyk commented on #1161
The PI interface added support for multiple backends while the MR for the CUDA backend was up. Rebasing it was more trouble than expected, @Alexander-Johnston  and @bader  (and others) have been working on reviewing and rebasing the MR.
All this work is in the cuda-dev branch. The `cuda` branch will be updated once the `cuda-dev` is a bit more stable.

The SYCL_BE env var was originally used to se

[2020-02-24 16:00] fwyzard commented on #1161
Thanks for the details @Ruyk .

I can move my tests to the `sycl` + `cuda-dev` branches, and check again the behaviour.

[2020-02-24 16:26] Ruyk commented on #1137
Just realized its still private awaiting for further internal reviews, i'll update this issue once its public

[2020-02-25 08:42] AlexeySachkov opened #1166 "[CUDA] Upstream the SPIR-V translator changes into KhronosGroup/SPIRV-LLVM-Translator"
#1091 changed some things in the translator, in particular 09b3b2e.
All these commits were squashed into 7a9a4251f57f78164df2eda4b17efc4c26b4356d

We might lose this changes while doing pulldowns from KhronosGroup/SPIRV-LLVM-Translator repo

[2020-02-25 09:03] mfbalin opened #1167 "[CUDA] SYCL sees only one nvidia gpu"
commit: 80b0306376bcd426b717d6ae17767c5de10b3a88

Compiled using g++ with version 9.2 with CUDA support following instructions in getting started guide with the following configuration:

`cmake -DCMAKE_BUILD_TYPE=Release -DLLVM_TARGETS_TO_BUILD="X86" -DLLVM_EXTERNAL_PROJECTS="llvm-spirv;sycl" -DLLVM_ENABLE_PROJECTS="clang;llvm-spirv;sycl" -DLLVM_EXTERNAL_SYCL_SOURCE_DIR=$SYCL_HOME/llvm/sycl -DLLVM

[2020-02-25 11:10] fwyzard opened #1169 "CUDA backend compilation fails with -DBUILD_SHARED_LIBS=ON"
Building the SYCL toolchain with CUDA support fails with the CMake flag `-DBUILD_SHARED_LIBS=ON`:
[code]

The full CMake command is
[code]

The compilation completes correctly with `-DBUILD_SHARED_LIBS=OFF -DSYCL_BUILD_PI_CUDA=ON`, or with `-DBUILD_SHARED_LIBS=ON -DSYCL_BUILD_PI_CUDA=OFF`, but fails if both are set.

Tested with the [`sycl`](https://github.com/intel/llvm/tree/sycl) branch as of 80

[2020-02-25 11:30] fwyzard opened #1170 "How to specify the CUDA architecture to use ?"
Is there a way to specify which CUDA architecture to build for ?
E.g. `sm_35`, `sm_70`, etc ?

Trying with `--cuda-gpu-arch` does not seem to work:
[code]

[2020-02-25 11:51] fwyzard commented on #1161
OK, with the recently merged `cuda-dev` branch (and so with the current `sycl` branch) the behaviour is different:

   - `-fsycl-targets=...` specifies which backends to buld for (`spir64-unknown-linux-sycldevice` and/or `nvptx64-nvidia-cuda-sycldevice`);
   - `SYCL_BE` specifies which type of device should be selected by the default device selector (CUDA or OpenCL);
   - neither have any effect o

[2020-02-25 13:18] paboyle opened #1171 "Suspected bug on beta4 devcloud"
Hi,

I reproduced a problem with only a subset of threads getting the correct answer on dpcpp on the Intel devcloud.

This depends on the layout for local work group. If the local workgroup is working on consecutive data the problem occurs (I was targeting read/write coalescence), but mapping them to work on work items corresponding to well separated data worked.

All cases worked on CPU target, f

[2020-02-25 13:34] paboyle opened #1172 "Deep accèss to local coordinates"
Hello,

CUDA gives access to threadIdx.x and blockIdx deep in the application as a thread specific global variable, without passing it around from the top level kernel as arguments.

This is semantically different to SyCL.

However we noted internally that SyCL uses

__spirv_BuiltInGlobalInvocationId

There are two good reasons to expose and document accessors for invocationId.

i) Compatability w

[2020-02-25 13:43] AlexeySachkov commented on #1172
@Pennycook, @rolandschulz, @mkinsner: FYI

[2020-02-25 14:33] Pennycook commented on #1171
I haven't been able to reproduce the error on my local machine, but I think I might see the problem.
 The fastest-moving index in a SYCL ND-range is the rightmost, so you want your local range to be `{1, 1, Nsimd}`, and you need to use `get_global_id(2)` to query the SIMD lane.

[2020-02-25 14:43] steffenlarsen commented on #1167
This should be fixed with https://github.com/intel/llvm/pull/1175.

[2020-02-25 14:46] steffenlarsen commented on #1111
The PR for fixing this has been retargetted: https://github.com/intel/llvm/pull/1173

[2020-02-25 16:55] bader commented on #40
Fixed by #576.
@Naghasan, please, re-open if it still doesn't work for you.

[2020-02-25 16:55] #40 closed

[2020-02-25 17:00] bader commented on #191
Fixed by https://github.com/intel/llvm/commit/ff30897111ee8df5551212a758298f5f8c87275f.
@agozillon, please, re-open the issue if it doesn't work for you.

[2020-02-25 17:00] #191 closed

[2020-02-26 07:45] fwyzard opened #1190 "Document the -fintelfpga flag ?"
Is there any documentation about the `-fintelfpga` flag ?

I've tried to build the simply SYCL application from [the getting started page](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedWithSYCLCompiler.md#run-simple-sycl-application) with
[code]
but that failed with
[code]

Where do I get `aoc` (apart from the oneAPI beta) ?
One installed, Is there any way to point the location of `ao

[2020-02-26 08:03] fwyzard opened #1191 "Document the -fsycl-targets flag"
`clang++ --help` says very little about `-fsycl-targets`:
[code]

Digging through some code, documentation,  and `-sycl-help` I found five possible targets:
   - `spir64-unknown-unknown-sycldevice`: OpenCL backend (default target ?)
   - `spir64_gen-unknown-unknown-sycldevice`: OpenCL backend, with ahead-of-time compilation for Intel NEO driver and Gen "X" GPUs (via `ocloc`)
   - `spir64_x86_64-un

[2020-02-26 08:28] fwyzard commented on #1191
In fact, it looks like `nvptx64---sycldevice` and `spir64---sycldevice` work just as well ?

[2020-02-26 08:54] fwyzard commented on #1190
It looks like `-fintelfpga` is roughly equivalent to `-fsycl-targets=spir64_fpga-unknown-unknown-sycldevice -MMD -lOpenCL` ?

[2020-02-26 09:10] fwyzard opened #1194 "-fsycl-targets is order dependent"
It looks like the behaviour of the `-fsycl-targets` flag is somewhat dependent on the order of the targets.

Passing `-fsycl-targets=nvptx64-unknown-unknown-sycldevice,spir64-unknown-unknown-sycldevice` results in a binary that can run on both backends, CUDA and OpenCL:
[code]

Passing `-fsycl-targets=spir64-unknown-unknown-sycldevice,nvptx64-unknown-unknown-sycldevice` results in a binary that ca

[2020-02-26 09:11] fwyzard commented on #1194
@krasznaa FYI

[2020-02-26 10:26] bader commented on #1190
SYCL specific compiler options are documented here:
https://github.com/intel/llvm/blob/sycl/sycl/doc/SYCLCompilerUserManual.md#intel-fpga-specific-options

Please, let us know if it's not clear.

[2020-02-26 11:03] Ruyk commented on #1137
The repo is pulic now, https://github.com/codeplaysoftware/SYCL-For-CUDA-Examples. There is only one trivial example at the moment but we will be adding more as we work in the project.

[2020-02-26 11:40] fwyzard commented on #1190
Thanks @bader.
I think I understand what it means, and I would find it useful to add a bit more information, e.g.
  - that it relies on the `aoc` external tool
  - that it is a shortcut for `-fsycl-targets=spir64_fpga-unknown-unknown-sycldevice` or similar
  - that (unlike this) it is not compatible with other `-fsycl-targets` options

[2020-02-26 12:40] Ruyk commented on #1170
The GPU arch is a backend-specific option, you need to add `-Xsycl-target-backend` in front.
This should work in your case:

[code]

[2020-02-26 12:50] krasznaa opened #1198 "Using cl::sycl::platform::get_platforms() on a machine without a CUDA or OpenCL device"
I am running some tests at the moment with the HEAD of the sycl branch (https://github.com/intel/llvm/commit/65da01b2a2912237048d61ec0c511dac6346a489). I was hoping to build the compiler on CentOS 7 such that it could be used on machines that have no CUDA or OpenCL devices, in which case the produced executables could just fall back on the host device. (As is the intention with SYCL...)

Unfortuna

[2020-02-26 13:06] fwyzard commented on #1198
I can reproduce this also on a machine with NVIDIA GPUs, just setting `CUDA_VISIBLE_DEVICES` to an empty list:
[code]

It looks like the reason is in [pi_cuda.cpp](https://github.com/intel/llvm/blob/sycl/sycl/plugins/cuda/pi_cuda.cpp#L545-L547):
[code]

`cuIinit()` returns `CUDA_ERROR_NO_DEVICE`, which makes `PI_CHECK_ERROR` call `abort()`.

[2020-02-26 13:11] fwyzard commented on #1170
Would this be
[code]
to ties the option to the specific backend, and build for multiple CUDA architectures ?

[2020-02-26 13:16] Ruyk commented on #1170
This works too, and saves you a bit of typing
[code]

[2020-02-26 13:30] fwyzard commented on #1170
Thanks for the suggestion.

Unfortunately this doesn't seem to work:
[code]

As you can see both `clang-11` and `ptxas` are still targeting `sm_30`.

[2020-02-26 14:21] Ruyk commented on #1119
The CUDA backend has been merged, this  problem should be solved now. Could you try again and let us know?

[2020-02-26 16:31] bader commented on #1190
@fwyzard, if you could propose a new wording via PR, it would be great.
If not, @AGindinson and/or @mdtoguchi should be able to help.

[2020-02-27 11:27] Ruyk commented on #1170
I can reproduce that locally, its probably some regression, we'll take a look

[2020-02-27 11:43] Ruyk commented on #1124
@varsha-madananth  Do you still have problems building the CUDA support now that it has been merged in the `sycl` branch?

[2020-02-27 13:35] paboyle commented on #1171
Reordered the indexing but still fails. I think I had already tried both
Advice appreciated.

Diff is:

 #ifdef GRID_SYCL_SIMT
-       cl::sycl::range<3> global{Nsimd,Ls,nsite};
-       cl::sycl::range<3> local {Nsimd,1,1};
+       //      cl::sycl::range<3> global{Nsimd,Ls,nsite};
+       //      cl::sycl::range<3> local {Nsimd,1,1};
+       cl::sycl::range<3> global{nsite,Ls,Nsimd};
+       cl::