[2021-01-13 15:32] sl1pkn07 commented on #3025
it depends on new libraries not available on the system, and updating them requires recompiling many other dependencies. so i prefeer rebuild only one (oclcpuexp) instead partialy all system

greetings

[2021-01-13 16:34] elizabethandrews commented on #2911
Thanks for the inputs!

I took a look at the attributes and identified these with what looks like an arbitrary upper bound
[code]
I can keep the lower bounds but remove the upper bounds for these.

@mohammadfawaz are you confirming the backend doesn't care? Or is this something I need to verify with someone?

[2021-01-13 16:59] AlexeySachkov commented on #3025
It is apparently a hacky way, but theoretically it should be possible to obtain local copies of those new libraries and play around with `LD_LIBRARY_PATH` to get oclcpuexp working on an older system. At least once I used such "Frankenstein" setup where I copied a bunch of glibc-related libraries from newer system to an older one and I was able to launch some tests just fine

[2021-01-13 17:05] sl1pkn07 commented on #3025
thats is one of things i want avoid (or use chrpath/patchelf to point RPATH/RUNPATH to "newer" lib path)

greetings

[2021-01-13 18:25] mohammadfawaz commented on #2911
Already verified that the backend doesn't care. Thanks!

[2021-01-14 03:26] pvchupin commented on #2971
Thanks for issue and list of items noticed as missing. Work is in progress for SYCL2020. We should update our documentation to set clear expectations. I'll update docs and we'll keep this issue open until items mentioned here are done.

[2021-01-14 09:43] #2910 closed

[2021-01-14 12:32] bader commented on #3020
@nyalloc, unfortunately, I can't reproduce this problem.

Line [819](https://github.com/intel/llvm/blob/sycl/sycl/include/CL/sycl/handler.hpp#L819), doesn't look like this in the latest version of the source code. Could you check if your build directory is up-to-date, please?

[2021-01-14 17:45] AaronBallman commented on #2981
All of this library code is part of the implementation, so I think all of the identifiers (aside from parts of the public API other than parameter names) should be in the reserved namespace, correct?

[2021-01-14 17:59] kbobrovs commented on #2981
I think this is already the case (`sycl::detail` namespace is used), bit we can't protect template formal argument names with namespace from being redefined with `#define` or `-D` compiler switch.

[2021-01-14 18:29] kbobrovs commented on #2981
Yes, that's exactly what I meant. So the suggested solution is to use `__` prefix for template argument names. I think that's what other compiler vendors do (e.g. Microsoft). We can't protect all the identifiers that way obviously, as this would be impractical, but all-capital ones which are acronyms with high probability of redefinition can be protected.

[2021-01-14 18:38] AaronBallman commented on #2981
My suggestion is to use `__` prefix for all names that are not exposed to the user as part of the public API. e.g., go with regular identifiers for classes, public class members, enumeration constants, etc but go with ugly names for template parameters, function parameters, private members of a class, implementation details, etc. This is a common strategy for other library code: https://github.com

[2021-01-14 18:46] AaronBallman opened #3035 ""ii" is a low-quality name for an attribute"
While in the attribute definition file, I happened to notice that we have an attribute named `[[intel::ii]]` (https://github.com/intel/llvm/blob/sycl/clang/include/clang/Basic/Attr.td#L1843). While `ii` may have some domain-specific meaning within SYCL, that meaning doesn't translate well when reading code. I'd have no idea what such an attribute would mean or what effects it could have when readi

[2021-01-14 19:03] kbobrovs commented on #2981
Adding @bader.

[2021-01-14 19:34] bader commented on #2981
I might be wrong, but heard that libcxx is required to use `__` prefix by C++ specification, which applies to rule to standard library implementations. User libraries are not required to follow this rule, but obviously library developers should think about how their libraries might be used. You can notice that other LLVM libraries do not use `__` prefix - https://github.com/intel/llvm/blob/sycl/ll

[2021-01-14 20:01] AaronBallman commented on #2981
STL libraries are not required to do this as a matter of specification, but they do it as a matter of Quality of Implementation because of just how often user-defined macros conflict with library code in practice.

User library code like APFloat.h doesn't go to these lengths because they basically can't. Identifiers that start with double underscores (or single underscore followed by a capital let

[2021-01-15 10:17] al42and commented on #2971
@pvchupin Thanks for the heads up.

Not sure if this issue is worth keeping open after the docs are updated. It's not a comprehensive list of all things missing. E.g., there's also `sycl::group_any_of`, `sycl::memory_order`, `sycl::memory_scope`, `sycl::atomic_ref` that are part of SYCL2020, but are currently only available in `sycl::ONEAPI` namespace. Probably others -- these are the ones I perso

[2021-01-15 14:57] keryell commented on #2971
This issue will need some update anyway once the final specification is published but it is probably useful to keep it open to be sure we do not miss at least these points if they still exists in respect to the final spec.

[2021-01-15 21:22] pvchupin commented on #2971
Right, it's clear that list mentioned here is not complete. We track many other items internally. I think it is a good idea indeed to produce a more detailed list on what's not supported yet for SYCL2020. I think as soon as final spec is published we can build one.

[2021-01-16 05:01] smaslov-intel commented on #3000
@al42and , thanks for the analysis, this is exactly what was missing.
I've created https://github.com/intel/llvm/pull/3045 with a fix.
Feel free to contribute yourself next time.

[2021-01-16 05:01] #3000 closed

[2021-01-16 22:06] al42and commented on #3000
Can confirm that #3045 solves the issue. Thanks!

[2021-01-17 07:09] AlexeySachkov opened #3046 "Sphinx documentation target can't be built because of documented attribute without spelling"
The following attribute breaks sphinx documentation build:

https://github.com/intel/llvm/blob/9c136945ed0d83caa56463cb2e8b765dff322b32/clang/include/clang/Basic/Attr.td#L1183-L1190

Example of logs:
[code]

https://github.com/intel/llvm/blob/9c136945ed0d83caa56463cb2e8b765dff322b32/clang/utils/TableGen/ClangAttrEmitter.cpp#L4084-L4088

[2021-01-17 14:15] AaronBallman commented on #3046
I can take this one on Tue when I get back, if no one else gets to it first.

[2021-01-19 21:07] kbobrovs commented on #3046
The fix: https://github.com/intel/llvm/pull/3058

[2021-01-19 21:17] CaoZhongZ opened #3059 "Could I create image from buffer or USM device pointer?"
Can I do that? Without moving data between host and device.

[2021-01-20 10:46] bader commented on #947
https://reviews.llvm.org/D77220 - enables most of the OpenCL types in SYCL mode.

[2021-01-20 11:34] bader opened #3062 "Remove usages of `opencl_constant` attribute from DPC++ library headers"
The patch adding [address space attributes ](https://reviews.llvm.org/D89909) to llvm-project repository doesn't support `opencl_constant` attribute and using this attribute in DPC++ headers leads to the crash ([here](https://github.com/llvm/llvm-project/blob/main/clang/lib/Sema/SemaType.cpp#L6489)).

In particular this attribute is defined in https://github.com/intel/llvm/blob/sycl/sycl/include/C

[2021-01-20 11:44] bader opened #3063 "Upstream __builtin_unique_stable_name implementation to llvm-project."
`__builtin_unique_stable_name` implementation was reverted in llorg - https://reviews.llvm.org/rGcec49a583693752b3984e49f9c193de07c2a7698, but it's still used in DPC++ headers and required for successful parsing with llorg's version of clang.

[2021-01-20 11:54] bader commented on #3062
`opencl_constant` attribute support should be removed from the DPC++ compiler as well.
If it's not removed during https://reviews.llvm.org/D89909 integration to DPC++, we should file another issue on that.

[2021-01-20 18:02] bader opened #3065 "[Upstream] Handle sample image types."
https://github.com/intel/llvm/pull/1945 added new built-in types, which are used in DPC++ library headers.

We should upstream this patch to llorg to enable parsing of DPC++ headers.

This issue blocks https://github.com/intel/llvm/milestone/1. To unblock this milestone we could guard sampled image types uses in DPC++ with pre-process for compilers w/o sampled image types support.

[2021-01-20 23:51] v-klochkov commented on #3020
I don't know if CTS that I am using is the latest one. It is reproducible for me.
Below is the reduced version of one of failed CTS tests:

clang++ -fsycl accessor_api_buffer.cpp

Adding 'const' specifier to the MyFunctor::operator() fixes the problem.

[2021-01-21 07:08] bader commented on #3020
@v-klochkov, you should build SYCL-CTS with `-sycl-std=121` option ON.
If you are building source from https://github.com/KhronosGroup/SYCL-CTS/ repository, please, make sure that it contains this commit -
https://github.com/KhronosGroup/SYCL-CTS/commit/856f9a2a63bedc2c72c4ffb2ae745b0657d7aa2d.

[2021-01-21 13:08] #3046 closed

[2021-01-21 17:19] v-klochkov commented on #3020
I forgot to write that, but with -sycl-std=121 the error is the same. A month or two ago -sycl-std=121 worked as a workaround for that issue, but not now. Probably, something got pulled to compiler

[2021-01-21 19:05] v-klochkov commented on #3020
The problem is caused by the fix https://github.com/intel/llvm/pull/2703

[2021-01-22 10:00] mmmm1998 opened #3077 "Wrong binary distribution in configuration file, referred by documentation"
This is more like a continue a problem, reported #2774
The wrong binary distiribution still in [configuration file](https://github.com/intel/llvm/tree/sycl/buildbot/dependency.conf), which mentioned in [DPC++ documentation](https://intel.github.io/llvm-docs/GetStartedGuide.html#install-low-level-runtime). So, any consumer which will try to install the low-level runtime according the docs will face

[2021-01-22 13:27] al42and opened #3078 "[SYCL] Poor error reporting for unbound placeholder accessor"
Hello!

This is not a bug, but a case of a very unclear error message from the SYCL runtime in case of incorrect code.

**Example code**

Please note, that the code is invalid since a placeholder accessor is not bound using `cgh.require` before accessing it in a kernel.
While such a mistake is not hard to notice here, it might easily creep into complicated kernels with multiple accessors.

[code]

[2021-01-23 00:07] dzarukin opened #3084 "[SYCL][CUDA] OneDNN fails to compile sources designated for cuda backend support"
Hi!

OneDNN has a problem when compiling sources containing cuda backend support. The problem happens if to rely on compiler identifying path to `<CL/cl.h>` header file. Consider the following source containing both sycl-specific and cuda-specific code:
[code]

To compile it, one uses the following command line:
[code]

This result in the following error:
[code]

This is happening due to the fact

[2021-01-25 19:23] #3077 closed

[2021-01-26 13:30] smanna12 opened #3100 "Investigate/Verify diagnostic for `func<float>()` and 'func<int>()' for attributes"
Is it expected that we get an implicit conversion for `func<float>()` or was that a surprise (if a surprise, maybe open an issue for it)?

Also, is the inconsistency between the other attributes with `func<int>()` expected? I would assume we'd want all of these or none of these to behave the same way. If it's unexpected, maybe open another issue?

_Originally posted by @AaronBallman in https://git

[2021-01-26 15:34] #3100 closed

[2021-01-26 15:35] smanna12 commented on #3100
Not a issue based on note: https://github.com/intel/llvm/commit/f0112fca4ca1d0ad458e4d9e4222ec56efb74dcb#r46386167

[2021-01-26 16:22] pkeir opened #3101 "queue::wait doesn't wait"
I believe the call to `queue::wait` in the program below should perform a blocking wait for the completion of all enqueued tasks in the queue. Instead, I get a segmentation fault. If I uncomment the pair of braces, the buffer is destroyed, and the code executes correctly. I compile with `clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sycldevice qw.cpp` using CUDA 10.1 on Ubuntu 20.10 using a bu

[2021-01-26 16:45] romanovvlad commented on #3101
I think it crashes because the buffer `buf` tries to make copy back to the pointer, passed during construction `p`, in its desctructor, but destructor due to standard C++ rules runs at the end of the main function after `p` has been `delete`d.
The program is ill-formed, it is illegal to access pointer passed to the buffer c'tor in this way until the buffer is destroyed.
Lines `bool b = p[0]==9;` a

[2021-01-26 17:10] pkeir commented on #3101
Thanks. Yes, I see now that the `delete [] p` should be moved, but doesn't the `q.wait()` copy the data back; so `p[0]` should equal `9`?

[2021-01-26 18:00] romanovvlad commented on #3101
No, it doesn't.

[2021-01-26 18:05] pkeir commented on #3101
Ok, I see. I had thought the required data movements would correspond to implicitly enqueued tasks on the queue.

[2021-01-26 18:14] #3101 closed

[2021-01-26 18:44] srividya-sundaram opened #3103 "[SYCL] Diagnose kernel names in nested "std" and "anonymous" namespace"
The below cases should be diagnosed:

[code]

and emit "`kernel names should be globally-visible`" error message.

[2021-01-27 19:26] al42and opened #3109 "[SYCL] No error when using wrong kind of accessor in explicit copy op"
This issue is not about a bug, but imperfect handling of bad user code.

Per both SYCL-1.2.1 and SYCL-2020 (provisional), the source accessor to `handler::copy` must be either `read` or `read_write`.

However, the code below compiles and runs fine with the mode set to `discard_write` or `write`.

[code]

An example where such a diagnostic would have been helpful (besides just being pedantic):

A k

[2021-01-27 21:49] keryell commented on #3109
I like the straight-forward solution with a `static_assert` or something like that.

[2021-01-28 18:20] #2922 closed

[2021-01-28 22:55] #3109 closed

[2021-01-29 18:35] zjin-lcf opened #3121 "[DPC++] reduction error using a vector type"
The reproducer is listed below.  A comment is added to the line of issue which causes build errors.  Thank you.

[code]

[2021-01-31 02:16] malixian opened #3124 "How to create program objects from SPIRV with clCreateProgramWithBinary runtime API ."
I can emit SPIRV with command `clang++ -fsycl -fsycl-device-only -fno-sycl-use-bitcode test.cpp`.
And I would like to know how to create program objects from SPIRV with `clCreateProgramWithBinary `runtime API .
If this way works, can you give me some examples?

[2021-01-31 11:21] MrSidims commented on #3124
For OpenCL it is: clCreateProgramWithIL (https://www.khronos.org/registry/OpenCL/sdk/2.1/docs/man/xhtml/clCreateProgramWithIL.html). I think [this](https://github.com/intel/llvm/blob/sycl/sycl/test/on-device/online_compiler/online_compiler_OpenCL.cpp) is an OK example.

[2021-01-31 15:14] MrSidims commented on #3035
Tagging @GarveyJoe

[2021-02-01 01:41] malixian commented on #3124
thx your reply @MrSidims ,  I will try it.

[2021-02-01 11:17] bader commented on #3124
@malixian, could you clarify how are you going to use the program object?

[2021-02-01 16:25] GarveyJoe commented on #3035
That's fair.  II in this case is short for initiation interval, which is a well known concept and acronym in the context of pipelined loops and high level synthesis but not for SYCL users in general.  [[intel::initiation_interval]] or [[intel::pipelineII]] would be more descriptive.  @ajaykumarkannan what do you think?  If we change this I ask that we support both names for some time to give users

[2021-02-01 16:34] AaronBallman commented on #3035
I think `[[intel::initiation_interval]]` would be plenty descriptive -- it would certainly solve my concerns. And I agree on the deprecation strategy. We should even be able to provide a pretty easy fixit to help users migrate their code to the new name.

[2021-02-01 17:26] ajaykumarkannan commented on #3035
While I agree with the sentiment here, II is an extremely common initialism in the FPGA community, so every user who would want to use this would know what it means, and I worry a little about forcing a more verbose naming here. Is one option allowing both to cater to both types of users? Note that this attribute will have no impact on non-FPGA targets.

[2021-02-01 17:52] Pennycook commented on #3121
@v-klochkov: As far as I can tell, the issue here is that the shorthand operators are only declared inside of the specialization of `reducer` that is used for reductions with known identity values.

Should the shorthand operators be duplicated in the base class (or maybe just moved there)?

[2021-02-01 18:14] AaronBallman commented on #3035
I don't think having both names officially supported is a good option, though it wouldn't be a burden for us to implement. The biggest issue is that users will invariably be confused as to why there are two names (neither of which is deprecated) which adds complexity when they need to decide which spelling to use. Additionally, should anyone else want to be compatible with our behavior, they're st

[2021-02-02 05:00] ajaykumarkannan commented on #3035
I solicited an initial set of feedback from some of our internal users. The gist is that that they would object to anything but ii or initiation_interval, and while they're not happy about the extra 21 characters that they would have to type, this is the only feasible alternative that is descriptive. While II is a common term in the FPGA community, it is also not web searchable whereas "initiation

[2021-02-02 06:55] Wanzizhu opened #3138 "Reduction function throws an instance of 'cl::sycl::nd_range_error'"
When i use reduction function, it raised a 'cl::sycl::nd_range_error' when input array >=409600 bytes.
Below is the detailed error log:
[code]
but actually my global_work_size = num_work_group * work_group_size
Below is the code:
[code]

[2021-02-02 09:06] AlexeySachkov commented on #3059
Hi @CaoZhongZ, looking at both [SYCL 1.2.1](https://www.khronos.org/registry/SYCL/specs/sycl-1.2.1.pdf) and [SYCL 2020 Provisional](https://www.khronos.org/registry/SYCL/specs/sycl-2020-provisional.pdf) I don't see a way to do so.

I see that in [OpenCL](https://www.khronos.org/registry/OpenCL/sdk/2.2/docs/man/html/clCreateImage.html) there is an image type `CL_​MEM_​OBJECT_​IMAGE1D_​BUFFER`, whic

[2021-02-02 09:18] AlexeySachkov commented on #2786
Hi @mgarciamartinez, any updates from your side? Have you confirmed that the issue is fixed?

[2021-02-02 12:53] AaronBallman commented on #3035
Sounds good to me, thank you! Btw, regarding the name length, the usual approach for most attributes is to hide them behind a macro for code portability reasons, so `#define II(N) [[intel::initiation_interval(N)]]` would always be a possibility for those users.

[2021-02-02 13:31] alexbatashev opened #3142 "Post-commit testing fails on compilation of vc-intrinsics"
Compilation fails during link phase:

[code]

Full logs can be found here: https://github.com/intel/llvm/runs/1813851231?check_suite_focus=true

[2021-02-02 13:57] zjin-lcf opened #3143 "undefined reference to `llvm::SimplifyExtractElementInst(llvm::Value*, llvm::Value*, llvm::SimplifyQuery const&)'"
Building the DPC++ toolchain shows the following error.  Could you reproduce the error ?  Thank you.

[ 87%] Built target clangStaticAnalyzerCore
/usr/bin/ld: CMakeFiles/LLVMGenXIntrinsics.dir/GenXSingleElementVectorUtil.cpp.o: in function `llvm::genx::collapseExtractInst(llvm::ExtractElementInst*, bool)':
GenXSingleElementVectorUtil.cpp:(.text._ZN4llvm4genxL19collapseExtractInstEPNS_18ExtractElem

[2021-02-02 14:10] AlexeySachkov commented on #3143
Hi @zjin-lcf, the same error was reported in #3142.

I think as a short-term workaround you can revert #3127 locally

[2021-02-02 15:44] ajaykumarkannan commented on #3035
Got it, thanks Aaron. I just got consensus. I think we can go ahead with `initiation_interval`.

[2021-02-02 15:51] AaronBallman commented on #3035
Thanks! I'll go ahead and assign this issue to myself and tackle it, unless anyone objects.

[2021-02-02 17:28] DenisBakhvalov commented on #3143
@asidoren-intel , can you please take a look?

[2021-02-02 18:35] DenisBakhvalov commented on #3143
I checked that the simple change in vc-intrinsics repo resolves the issue, but I leave the decision on the final fix for @asidoren-intel :
[code]
I submitted a PR with the fix here: https://github.com/intel/vc-intrinsics/pull/49

[2021-02-02 18:35] DenisBakhvalov commented on #3142
I submitted a PR with the fix here: https://github.com/intel/vc-intrinsics/pull/49

[2021-02-02 22:07] kbobrovs commented on #3142
@DenisBakhvalov, I suggest to add reviewers in the above PR and/or notify code owners

[2021-02-02 22:11] DenisBakhvalov commented on #3142
@kbobrovs I can't find a way to do this. I just wrote a comment and tagged a few maintainers.

[2021-02-02 22:25] v-klochkov commented on #3138
I cannot reproduce the error. Can you please give a) more complete test, b) what OS you used, c) how you compile and run the code.

Below is how I tried reproducing it on Linux/Ubuntu using today/fresh compiler:

[code]

[2021-02-02 22:49] GarveyJoe commented on #2912
Currently these attributes are only understood by the FPGA backend and since the only way to target that backend is through SYCL there's no value to supporting them in C.  This answer could change in the future if other backends decide to support these attributes as well.

[2021-02-02 22:56] v-klochkov commented on #3121
I agree. This test shows that there is no any need in adding constraints for reduction operators like operator+=.
If += is used in lambda function and user's type does not support it, then it would be reported to user, and that can be fixed immediately for user's type.

[2021-02-02 23:04] v-klochkov commented on #3121
@Pennycook , I think some constraints for _known_ type/operation may be useful.
E.g., if the reduction operator is std::plus<int>, then it would be good to have a compilation error if lambda function has "Sum *= value;".
The alternative is to say it is undefined behavior at runtime.

[2021-02-02 23:18] v-klochkov commented on #3121
Another alternative, which seems a bit odd, just wanted to mention it.

  reducer &operator+=(const T &Partial) {
    combine(Partial);
    return *this;
  }

  reducer &operator*=(const T &Partial) {
    combine(Partial);
    return *this;
  }

Here if the reduction operator is std::plus, then using "Sum *= value" by mistake in the lambda function will have the result of "Sum.combine(value)", whi

[2021-02-02 23:20] zjin-lcf opened #3148 "[Question][CUDA] dump ptx code"
How can a user dump PTX codes annotated with SYCL's kernel code ?

nvcc has the option "--source-in-ptx".

Thank you for the instructions.

[2021-02-02 23:38] Pennycook commented on #3121
You're right, there are several options here that I hadn't considered.

I think we should keep the `IsReduPlus` check (and equivalent checks for other operators) but move the operators to the base class, so that they're available for all `T`.

That should ensure the shorthands are always available for the built-in functional types, but only when they match.  We should throw an error if the user tr

[2021-02-03 01:38] Wanzizhu commented on #3138
Sorry for the unclear test. I already updated the test.Below are platform details.
os: Ubuntu 20.04.2 LTS
compiler: Intel(R) oneAPI DPC++ Compiler 2021.1 (2020.10.0.1113)
platform: Intel(R) Level-Zero
name: Intel(R) Graphics [0x3e98]
vendor: Intel(R) Corporation
driver_version: 1.0.18912

[2021-02-03 01:51] keryell commented on #3035
At least you save the characters of `#pragma `...

[2021-02-03 02:53] v-klochkov commented on #3138
With the complete test and the most recent compiler from intel/llvm I cannot reproduce the error.
Most likely it is something what was fixed by this patch: https://github.com/intel/llvm/pull/2859 (Merged to intel/llvm on Dec05'2020). The fix could be NOT included into oneAPI 2021.1

[2021-02-03 03:33] malixian commented on #3124
I want to build a program object by myopencl with spir that is generated by dpcpp. And codes the main program to emti kernel in spir style to myopencl. I think the examples from the [link](https://www.khronos.org/registry/OpenCL/sdk/2.1/docs/man/xhtml/clCreateProgramWithIL.html) shows me how to program.

[2021-02-03 06:32] alexbatashev commented on #3148
@zjin-lcf you can try `-fsycl-device-only` option. Also there's a `-###` compiler option. Instead of performing actual compilation, it will print out all the steps, required to obtain resulting binary. You can execute only those, that lead to PTX.

[2021-02-03 08:09] bader commented on #3124
I'd like to note that ABI for SPIR kernels generated by DPC++ compiler is implementation defined. Some implementation details are documented here: https://github.com/intel/llvm/blob/sycl/sycl/doc/CompilerAndRuntimeDesign.md, but it's subject to change. I would not recommend using this approach "in production".

[2021-02-03 12:33] AaronBallman commented on #2912
Good to know, thank you! Then I think it's safe to close this issue and we can revisit it in the future.

[2021-02-03 12:36] zjin-lcf commented on #3148
What is -### ?

[2021-02-03 14:25] alexbatashev commented on #3148
It's a command line option, just like `-g`, or `-O0`, or `-fsycl`. You just add `-###` to your compilation command line, and compiler driver prints exact steps it does to produce the result. It's aimed to be used to debug the driver, but can also serve your purpose. There's been a nice talk on LLVM Dev on how clang compiles the program, and it also explains the different driver stages and use of `

[2021-02-03 16:12] #2912 closed

[2021-02-03 19:09] #3142 closed

[2021-02-03 19:09] #3143 closed

[2021-02-03 19:29] zjin-lcf commented on #3084
May a user replace cuda-specific codes with sycl-specific codes ?

[code]

[2021-02-04 01:40] v-klochkov commented on #3138
Closing the issue as fixed in 2021.2, and on github.com/intel/llvm by https://github.com/intel/llvm/pull/2859

[2021-02-04 01:40] #3138 closed

[2021-02-04 01:44] Wanzizhu commented on #3138
Thank you for your reply。

[2021-02-04 05:43] #3035 closed

[2021-02-04 07:38] malixian commented on #3124
Whether the SPIR generated by dpcpp can be used to program with amd-opencl `clCreateProgramWithBinary ` ?  Whether The SPIR generated by dpcpp has some extensions?

[2021-02-04 07:44] bader commented on #3124
No.
NOTE: DPC++ generates SPIR-V by default and AFAIK, amd-opencl doesn't support SPIR-V.
DPC++ is able to produce executable binary for `clCreateProgramWithBinary` API in ahead of time compilation mode (AOT), but it's device specific and AMD devices are not support at the moment.

It depends on the DPC++ features used by the application, but in most cases the answer is yes.

[2021-02-04 07:54] malixian commented on #3124
thx very much @bader .

[2021-02-04 07:59] malixian commented on #3124
BTW, if my amd-opencl supports SPIR-V and  the SPIR-V  generated by DPC++  don't have extensioncan, it's work?

[2021-02-04 08:00] bader commented on #3124
This setup should work.

[2021-02-04 09:00] malixian commented on #3124
Can you give me some code that can be compiled into spirv without extensions? thank you very much.

[2021-02-04 09:10] bader commented on #3124
For example:
[code]

[2021-02-04 09:26] malixian commented on #3124
Thank you so much for your generous help @bader !

[2021-02-04 13:10] AaronBallman opened #3159 "Should CI be running clang-format on the test directory?"
Question: why is the CI running clang-format on *test files*? (That seems like a really odd decision given that the community doesn't require formatting of their test files and frequently test files *can't* be formatted the way clang-format wants because of the nature of some tests (like lexing and preprocessing tests).

_Originally posted by @AaronBallman in https://github.com/intel/llvm/issues/3

[2021-02-04 13:36] bader commented on #1476
Fixed by https://github.com/intel/llvm/pull/1841,

[2021-02-04 13:36] #1476 closed

[2021-02-04 13:46] illuhad commented on #3063
Is there anything we can do to accelerate the process of getting this back in upstream clang?

This is a key bit of functionality for future developments in hipSYCL, and is in fact already used in some hipSYCL PRs because it was part of the official clang 11 release. We will not be able to support clang 12 without it. (I'm quite unhappy that features vanish silently from upstream clang even though

[2021-02-04 13:51] bader commented on #3063
@erichkeane, do you have any suggestions?

[2021-02-04 14:22] erichkeane commented on #3063
We've got a developer working with a pair of community members to design an appropriate replacement.  @schittir can give you an update on that progress.  If @illuhad would like to help, she can also help with that discussion.

[2021-02-04 15:05] illuhad commented on #3063
@erichkeane Thanks for the update! I would be interested in how that replacement would like, at least the interface of it since we require that functionality.

PS: I'm a guy ;)

[2021-02-04 15:12] erichkeane commented on #3063
Interface wise I think we want it to look the same. The biggest concern is how to make the string/mangling both demangleable AND unique/stable.  The initial implementation was intended for a proof-of-concept and was never updated so it uses source-location information to create the uniqueness.  We're likely going to instead replace that with something similar to the integral-value discriminator th

[2021-02-04 15:21] sebastian-freitag-pylot commented on #2508
compiler-rt in LLVM_ENABLE_PROJECTS is the one that will provide libclang_rt.profile-x86_64.a
See here:
https://compiler-rt.llvm.org/

[2021-02-04 15:25] illuhad commented on #3063
That's great news. So, I will be able to develop against the current interface and it will continue to work. I assume the concern about mangling is because of debugging/tooling?

Ah, sorry, I misinterpreted that sentence.

[2021-02-04 15:28] erichkeane commented on #3063
That is the concern with wanting it to be demangled, yes. Crashes tend to print this name, so it is a pretty poor user interface when they don't know the name of what kernel crahsed.  However, it was reverted because of the hacky-way in which we initially derived uniqueness.

[2021-02-04 20:18] AaronBallman opened #3162 "How should duplicate attributes be handled?"
We're inconsistent with how we report duplicate attributes and I'm wondering what direction we'd like to resolve the inconsistencies.

Some attributes check to see if the same attribute was already applied to the declaration, but do not check whether the arguments to the attributes are the same. We then issue a diagnostic saying that the attribute is applied with different parameters (which may be

[2021-02-05 12:02] MrSidims commented on #3162
I'm down with only diagnosing duplicated attributes with mismatching arguments. Regarding where we shall ignore duplicated attribute or we shall pick one of them. Actually, I slightly leans towards replacing warning diagnostic with an error, in some cases it might be more user-friendly, what do you think?

[2021-02-05 12:59] AaronBallman commented on #3162
Okay, I can go with only warning on actually mismatched arguments. I was a bit worried that this may kick some diagnostics back to template instantiation time, but now that I think on it... that would require some contortions to get duplicate attributes with different arguments on the redeclarations. :-)

I'm not keen on making it an error -- the code is certainly confused, but picking one attribu

[2021-02-05 15:09] AaronBallman commented on #3162
A related question -- I assume we want to warn on duplicate attributes in redeclarations as well?
[code]

[2021-02-05 15:53] AlexeySachkov commented on #3162
Tagging @Pennycook, @mkinsner, @GarveyJoe and @bashbaug for additional inputs here

[2021-02-05 19:37] GarveyJoe commented on #3162
I like the idea of only providing a diagnostic if the attributes have mismatching arguments.  There is one exception I can think of though: ivdep.  If I have [intel::ivdep(N)] and [intel::ivdep(M)] on my loop then regardless of the order they are applied there is a clear way to handle this situation: take whichever is larger between N and M as the larger one provides strictly more information than

[2021-02-05 21:00] dzarukin commented on #3084
Hi @zjin-lcf, not sure this is possible due to the final goal is to utilize cuda optimizations from libraries they ship with specific APIs they provide from cuDNN or cuBLAS. This is just a small reproducer for show-case. Thanks.

[2021-02-06 23:36] schittir commented on #3063
Hi @illuhad,

I second Erich's comment about the interface remaining the same. That goal is to leave it unchanged.

The following are the main ideas of the new design that emerged from discussion with community members.
1.  Add "kernelness" to lambda signature to distinguish kernel-involved lambda from others:
     Discussion here: https://reviews.llvm.org/D76620
2.  Ensure correct/instantiation-i

[2021-02-07 02:43] illuhad commented on #3063
Thanks for your insights, @schittir.

I quite liked the previous approach because it also solved the pathological macro `#ifdef` that is mentioned at the end of the discussion you have linked. If I understand correctly, this is now solved by numbering kernel-involved lambdas separately?

I'm a bit concerned about the "kernelness". How is it determined if a lambda is part of a kernel, exactly?
I'm

[2021-02-07 09:12] schittir commented on #3063
Correct. The local context based numbering of kernel-involved lambdas addresses this issue.

"Kernelness" is set in Sema::CheckSYCLKernelCall when a kernel object (a CXXRecordDecl) is a lambda.

Yes, in the new approach, the value returned by `__builtin_unique_stable_name()` might be different between passes.
Good point. I will check again.

[2021-02-07 12:19] bader opened #3172 "DPC++ front-end compiler allows illegal address space casts."
I noticed that DPC++ doesn't detect this illegal cast in the FE, but fails to convert it to SPIR-V file:
[code]

[code]

DPC++ FE compiler should diagnose illegal cast between address space attributes.

[2021-02-07 15:06] illuhad commented on #3063
Good point. I will check again.

Thanks for checking. In general, I believe there is great value in keeping this feature independent from the SYCL frontend. This is because an independent `__builtin_unique_stable_name()` allows building frameworks that aggregate compiled kernels from device passes from different clang-supported heterogeneous models (SYCL/CUDA/HIP/...) in a single binary. This requ

[2021-02-07 15:20] bader commented on #3063
I'd like to add that this was also requested in the comment for review @schittir mentioned earlier - https://reviews.llvm.org/D76620#2327617.

[2021-02-08 04:06] malixian opened #3174 "Transform opencl file to SPIRV failed."
I try to transform opencl kernel file to SPIRV with code:
`clang -cc1 -emit-spirv -triple=spir64-unknown-unknown -cl-std=CL2.0 -include opencl.h kernel.cl -o kernel.spir`
But I get a filed log:
[code]
HelloWorld.cl is:

[code]

[2021-02-08 05:38] smanna12 opened #3175 "Fix potential problems with optional arguments on ReqdWorkGroupAttr"
One thing to double-check is whether `YDimVal` and `ZDimVal` can ever be null when we create the default values from `SetDefaultValue()`. I don't think they can be null within this `if` block, but it seems plausible they could be null in the `D->getAttr<WorkGroupAttr>()` block below (which could be an existing bug).

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3170#di

[2021-02-08 05:39] smanna12 commented on #3175
Those test cases does not work with current implementation (existing bug).

struct TRIFuncObjGood11 {
   //expected-warning@+1 {{attribute 'reqd_work_group_size' is already applied with different parameters}}
  [[intel::reqd_work_group_size(64)]] [[intel::reqd_work_group_size(128)]]void
  operator()() const {}
};

struct TRIFuncObjGood3 {
   //expected-warning@+1 {{attribute 'reqd_work_group_size'

[2021-02-08 07:39] bader commented on #3174
The front-end crashes because of unknown option (most likely `-emit-spirv`). I suggest using clang driver instead of front-end compiler (i.e. invoke clang w/o `-cc1`) to get user friendly diagnostics.

The right way to get SPIR-V is:
[code]

[2021-02-08 07:39] #3174 closed

[2021-02-08 13:43] #3059 closed

[2021-02-08 13:44] #2972 closed

[2021-02-08 13:47] #2704 closed

[2021-02-08 13:47] #2212 closed

[2021-02-08 14:07] AaronBallman commented on #3162
I thought about this a bit over the weekend and have a different idea. I think the rule of thumb we should follow is: for attributes that can be duplicated through redeclarations, I think we should warn only if the attribute arguments differ. For attributes that can't be duplicated through redeclarations (like statement attributes such as `ivdep`), I think we should diagnose always regardless of v

[2021-02-08 18:53] GarveyJoe commented on #3162
It's probably rare for a user to specify ivdeps with different arguments if they are both literals, but I could see it happening if one or both are macros set elsewhere in the code.  Maybe they both come from different properties of the code but which one is larger (and thus meaningful) depends on the values of the macros which the user may change from one compile to the next.

[2021-02-09 17:09] keryell commented on #3063
If I remember correctly it was not reverted because it was intrinsicly bad but because it was introduced as a generic Clang builtin without strong RFC and some important Clang contributors did not want this to be cast in stone forever. I have the feeling it could have been added and accepted as a SYCL-specific builtin in at the first place as an experimental workbench to play with and tune it more

[2021-02-09 17:12] erichkeane commented on #3063
That does not reflect my conversation with John McCall about it.  He/Richard are open to the feature if we can implement it in a more sane way, which we've been working closely with John to architect an acceptable solution.

[2021-02-09 22:00] SimonWang9610 opened #3192 "using item.barrier() to synchronize data accessed by USM"
**Describe the bug**
I was trying to write matrix multiplication using sycl, but I found some problems that I can not fix. I an not sure whether they are bugs or not, so  I post here for some help.
In the below codes, if I use the first for-loop to calaulate `result_shared = w_device  * x_device + b_device`, it occasionally gave me wrong results (only part wrong elements). However, if I use the se

[2021-02-09 22:50] SimonWang9610 commented on #3192
Also, if I use `work_group` instead of `nd_range`, the result also keep correct!

[2021-02-10 03:18] v-klochkov commented on #3121
Initial version of a fix for this issue: https://github.com/intel/llvm/pull/3193
LIT test: https://github.com/intel/llvm-test-suite/pull/140

[2021-02-11 17:59] #3159 closed

[2021-02-12 19:18] #3121 closed

[2021-02-14 02:19] illuhad commented on #3192
In the SYCL execution model, synchronization is only possible within a work group. `item.barrier()`  only synchronizes work items within a group, it doesn't synchronize with other groups.
Since `item.get_local_id()` returns the same set of values for each work group, all your work groups are attempting to write into the same `temp` memory. Huge race condition, and most likely not a DPC++ bug.
For

[2021-02-14 15:50] zjin-lcf opened #3217 "[DPCT][SYCL] floating-point atomics over local memory"
While compiling a DPCT program using floating-point atomics over global memory is successful, it is not true for local memory. The issue can be reproduced with the pasted program as follows.  The program contains floating-point atomics over global and local memory.  If you need the original CUDA program, please let me know. Thanks for your feedback.

[code]

[2021-02-15 02:50] smaslov-intel opened #3218 "piEnqueueEventsWaitWithBarrier is not support by CUDA backend"
**Describe the bug**
The PI function piEnqueueEventsWaitWithBarrier is not implemented by CIDA PI plugin.

**To Reproduce**
Use the barrier test (currently disabled for CUDA): https://github.com/intel/llvm-test-suite/blob/intel/SYCL/Basic/enqueue_barrier.cpp

**Environment (please complete the following information):**

- OS: Windows/Linux
- Target device and vendor: CUDA GPU
- DPC++ version: any

[2021-02-15 16:38] #3192 closed

[2021-02-15 17:00] SimonWang9610 opened #3220 "failed to allocate memory when using malloc_device"
[code]
`x = malloc_device<T>(N * K, Q);`, `r = malloc_device<T>(M * K, Q);`
In my codes, when I have multiple `Linear` instances sequently, all of them can allocate successful for `weight` and `bias`. However, only the last `Linear` instance can allocate successfully for `dz`, others failed to allocate for `dz` and return `0`. (`dz == nullptr` is `true`).
I use `dz` for storing temporary result in

[2021-02-16 10:10] romanovvlad commented on #3220
@SimonWang9610
Could you please provide a short reproducer?

[2021-02-16 16:22] SimonWang9610 commented on #3220
Yeah, in my older solution, no matter how I create `dz`, it always returned `0`. I tried to print (`std::cout`) every member in `Linear`, the result always showed `dz = 0`, other members show they have different addresses. Like below (I put `dz`, `dw` as members of `Linear`):
[code]
Today, I create a new solution with same codes in VS 2019. and I found it works (`dz` can be allocated correctly. Th

[2021-02-17 03:00] smanna12 opened #3223 "Store ConstantExpr into the semantic attribute rather than calling getIntegerConstantExpr() for attribute dimension values"
We should be sure to double-check the definition of `getXDimVal()` and friends so that it uses the `ConstantExpr` stored into the semantic attribute rather than calling `getIntegerConstantExpr()`. Nothing to be done during this patch (if there's work here, it is better as a follow-up fix, I think).

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3170#discussion_r57692807

[2021-02-17 06:09] #2911 closed

[2021-02-17 19:11] SimonWang9610 commented on #3220
I found why it always failed to allocate although I am not clear why it happened.
In my old solution, `Linear` have a member `bool end.  Like this:
[code]
When I delete `end` from `Linear`, all allocations work correctly. Besides, if I change `bool end` as `const int end` in `Linear`, it also works well.
Hope it can help you a lot.

[2021-02-18 07:03] romanovvlad commented on #3220
@SimonWang9610
Thanks, but could you please provide a small self-contained .cpp file which shows the problem so we can compile and run it on our side?

[2021-02-18 13:24] al42and commented on #2971
Updated references to the final SYCL 2020 specs:

- Section 4.3: The include should be `sycl/sycl.hpp`, but only `CL/sycl.hpp` is available.
- Section 4.9.4.2: Providing a name for lambda-kernel must be optional, but requires `-fsycl-unnamed-lambda` to work.
- Section 4.9.1.8: There should be `sycl::sub_group` class, but only `sycl::ONEAPI::sub_group` is available.
- Section 4.17.4.5: There should

[2021-02-18 15:46] SimonWang9610 commented on #3220
[my code](https://github.com/SimonWang9610/sycl-dnn/tree/copy-solution)
I have no ideas how to put my files here, so I post the above link.
All codes in the above link can pass compilation and run as I expected on `Ubuntu 18.04, Nvidia GPU`. (I failed to configure CPU on `Ubuntu`, so currently I only can use GPU).

And I am sure the reason why it allocates wrongly is because I set `bool end` and u

[2021-02-18 16:35] RudenkoRNK opened #3229 "[ESIMD] [[intel::sycl_explicit_simd]] does not work"
**Description**
This instruction advertises [[intel::sycl_explicit_simd]] attribute as the way to mark esimd kernels.
https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/ExplicitSIMD/dpcpp-explicit-simd.md
Is it obsolete or is it the new way? If it is the new one, it does not work:
[code]

**To Reproduce**
Basically any esimd kernel:
[code]

[2021-02-18 17:04] bader commented on #3229
Only GNU spelling is enabled for this attribute - https://github.com/intel/llvm/blob/489df6bbf3d4f307fee6cef1cc05caf2d395412d/clang/include/clang/Basic/Attr.td#L1179.

You can use `__attribute__((sycl_explicit_simd))` like here: https://github.com/intel/llvm/blob/d2d20d6c45561da8d107a68929f183fa7eb7e479/sycl/test/esimd/intrins_trans.cpp#L20

Either implementation or documentation must be fixed.

[2021-02-18 17:32] NikitaRudenkoIntel commented on #3229
Thanks!
GNU-styled one works.

[2021-02-19 08:39] AGindinson commented on #2122
Will be resolved by the pulldown of https://github.com/KhronosGroup/SPIRV-LLVM-Translator/pull/916.

[2021-02-21 22:30] DenisBakhvalov opened #3239 "[sycl-post-link] Handle SYCL_EXTERNAL functions in sycl-post-link"
Currently, the `sycl-post-link` tool only processes kernel functions and skips `SYCL_EXTERNAL` functions. So, for example, if splitting of the device code takes place, we would lose SYCL_EXTERNAL functions.

I think, most of the time we use `sycl-post-link`, all external functions are already resolved, however, I'm not 100% sure there no use case when sycl-post-link must handle those.

[2021-02-22 09:38] malixian opened #3245 "Is it possible for dpc++ to support amd rocm？"
Since ROCm does not support SPIRV, I want to try to use IR to compile the device code.
Is this feasible? How can I try it if it works？ Thanks very much.

[2021-02-22 09:51] illuhad commented on #3245
DPC++ does not currently support ROCm. You are already aware of hipSYCL which you can use to compile for ROCm and generate e.g. LLVM IR that targets ROCm.
AFAIK IR generated by DPC++ and targeted for SPIR-V cannot be compiled for ROCm in a straight-forward way, e.g. builtins and kernel entrypoint metadata are different.

Note that the opposite way might be possible soon, using hipSYCL to target DP

[2021-02-22 10:02] malixian commented on #3245
Thanks @illuhad, you mean that the IR generated(AFAIK IR) by dpc++ is not the standard LLVM IR? And can dpc++ generate standard llvm IR?

[2021-02-22 10:38] illuhad commented on #3245
My understanding is that while the LLVM IR as a language is always the same, there is no universal convention for the interface of device libraries which implement device builtins such as math functions. Similarly, how some metadata is expressed within LLVM IR (e.g. which functions are kernels i.e. program entrypoints, and which are just regular device functions) varies between toolchains. Because

[2021-02-22 12:32] vibhad1509 opened #3246 "Getting Error while compiling OneAPI sample codes"
**Describe the bug**
/tmp/vector-add-usm-fb120e.o: In function `VectorAdd(cl::sycl::queue&, int const*, int const*, int*, unsigned long)':
vector-add-usm.cpp:(.text+0x75): undefined reference to `cl::sycl::queue::submit_impl(std::__1::function<void (cl::sycl::handler&)>, cl::sycl::detail::code_location const&)'
/tmp/vector-add-usm-fb120e.o: In function `main':
vector-add-usm.cpp:(.text+0x320): und

[2021-02-23 01:41] malixian commented on #3245
Thanks for your reply @illuhad, I have a better understanding of this.

[2021-02-23 12:16] MrSidims commented on #3245
While (standard) LLVM IR is being generated by `clang` for DPCPP code the end goal for the compiler is SPIR-V. After `clang` generated a device module it's being [translated](https://github.com/KhronosGroup/SPIRV-LLVM-Translator) to SPIR-V format (more details of a compiler's design is [here](https://github.com/intel/llvm/blob/sycl/sycl/doc/CompilerAndRuntimeDesign.md)). This format was chosen bec

[2021-02-23 14:35] AaronBallman opened #3252 "num_simd_work_items and reqd_work_group_size argument checking"
The `num_simd_work_items` argument must evenly divide the `reqd_work_group_size` arguments. Does that mean this code should diagnose?
[code]
Note that `reqd_work_group_size` takes three arguments, two of which are optional and default to the value `1`, which is not evenly divisible by `4`.

According to https://www.intel.com/content/www/us/en/programmable/documentation/mwh1391807965224.html#mwh139

[2021-02-23 14:37] AaronBallman opened #3253 "reqd_work_group_size argument checking"
According to https://www.intel.com/content/www/us/en/programmable/documentation/mwh1391807965224.html#mwh1391807939093, 11.3.1.2 says: "Note: The parameters of the reqd_work_group_size(X,Y,Z) attribute must be divisors of 2^32.". it is not clear how to interpret this note because it can be read two ways:

1) that `reqd_work_groups_size` should *always* be able to evenly divide 2^32 (regardless of

[2021-02-23 15:04] smanna12 commented on #3252
Tagging @GarveyJoe here incase he needs more information

[2021-02-23 15:07] smanna12 commented on #3253
Tagging @GarveyJoe here for discussion here too.

[2021-02-23 15:31] MrSidims commented on #3252
AFAIK this attribute is used as a hint for a device backend to specify work group sizes for ND range kernel. It's possible to have 3 dimensions (X, Y, Z) within ND range. I was under impression, that this requirement applies only for X argument of reqd_work_group_size attribute, but currently I can't prove this impression.

[2021-02-23 15:34] AaronBallman commented on #3252
That's what I'm starting to think the correct answer is, but the specification is very unclear about it. Once we validate what the intent is, hopefully we can open an issue to get the OpenCL docs clarified.

[2021-02-23 18:07] smanna12 commented on #3253
Currently we do not have support available for "autorun" attribute in DPC++, the OpenCL attribute is available only in downstream. My impression was that it is a requirement only when reqd_work_group_size is used in conjunction with autorun attribute.  Currently i can't prove this.

Tagging @MrSidims for any information/comment on this?

[2021-02-23 18:58] MrSidims commented on #3253
IMO this interpretation is correct, see: https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/functionQualifiers.html (`reqd_work_group_size` is not Intel-specific attribute, instead it's a part of core OpenCL spec). As we see, Intel spec append an extra rule in case of simultaneous use of `autorun` and `reqd_work_groups_size` attributes.

AFAIK there are no plans to add support of `auto

[2021-02-23 20:03] GarveyJoe commented on #3252
@MrSidims is right, it's only the X or 0th dimension that must be divisible by num_simd_work_items.  I'll file a case to make this more clear in the docs.

[2021-02-23 20:07] smanna12 commented on #3252
Thanks @AaronBallman, @MrSidims and @GarveyJoe for the discussion and comments about this bug. I will fix this bug in the compiler side.

[2021-02-23 20:08] AaronBallman commented on #3253
Thank you for the explanation! In that case, I think this issue can be closed and we should probably open a new issue for the Intel OpenCL docs to be investigated or corrected.

[2021-02-23 23:07] GarveyJoe commented on #3252
My earlier comment is misleading because I used OpenCL-centric terminology.  When I said the Xth or 0th dimension I was speaking in terms of the dimension that iterates the fastest.  There's a gotcha here because the order of the arguments to reqd_work_group_size in SYCL and OpenCL are reversed.  In the OpenCL syntax, reqd_work_group_size(X,Y,Z), X is the index that increments the fastest, followe

[2021-02-23 23:24] GarveyJoe commented on #3253
In OpenCL autorun kernels actually can have larger reqd_work_group_sizes than 1,1,1 but extra restrictions apply to them in that case (e.g. they can't use get_compute_id()).  @MrSidims is correct that we don't currently support autorun in dpcpp and don't have any plans to at this time.

[2021-02-23 23:50] keryell commented on #3245
All this is open-source, so you can do whatever you want. :-)
For example https://github.com/triSYCL/sycl is a mix-and-match of DPC++ with some triSYCL spices to generate code for 2 non SPIR-V targets, Xilinx FPGA (LLVM IR with a SPIR 2.0 flavor) and Xilinx Versal ACAP AIE CGRA (pure LLVM IR). The Xilinx ACAP AIE side is not open-source yet because the architecture details and tooling are just get

[2021-02-24 12:58] AaronBallman commented on #3253
@GarveyJoe -- do you know where I should open the issue for the Intel OpenCL docs? Once I (or someone) does that, I'll close this issue.

[2021-02-24 13:08] smanna12 commented on #3252
@GarveyJoe, Thanks for the comments.

This is not correct. n SYCL the attribute is specified as reqd_work_group_size(X,Y,Z). We do not swap the "X" and "Z" dimension values for semantic checking, this only happens with codegen now on https://github.com/intel/llvm/pull/2962 that i worked on.

So In summary, in SYCL the num_simd_work_items must evenly divide the first argument to reqd_work_group_siz

[2021-02-24 15:58] vmaksimo opened #3257 "[L0] plugins/level_zero_dynamic_batch_test.cpp failed"
**Describe the bug**
llvm/sycl/test/on-device/plugins/level_zero_dynamic_batch_test.cpp failed after community pulldown (https://github.com/intel/llvm/pull/3233) and after this fix (https://github.com/intel/llvm/pull/3233/commits/600a1520efea5a626a7e478f1e96408221fbbffc).

**Log**
[code]

**Environment:**

- OS: Windows, Linux
- Target device and vendor: Intel GPU
- DPC++ version: https://github.c

[2021-02-24 17:06] tomdeakin opened #3258 "SYCL 2020 Implementation prioritisation for me"
The SYCL 2020 features I'd like to see implemented are:

1. SYCL header location.
2. `sycl` namespace.
3. Unspecified work-group size `parallel_for(range<1>,)` reductions.
4. Accessor CTAD, though I think this is already there.
5. Multiple `sycl::reduction` objects in a single `parallel_for`.

For 1. through 4., my use case is the [SYCL 2020 update to BabelStream](https://github.com/UoB-HPC/BabelS

[2021-02-24 17:51] GarveyJoe commented on #3253
I opened one.

[2021-02-24 17:56] smanna12 commented on #3252
I talked to @GarveyJoe offline. I misunderstood his comments on SYCL and OpenCL language design. This is clear now. Thanks.

[2021-02-24 17:58] smanna12 commented on #3253
Thanks @GarveyJoe

[2021-02-24 18:55] AaronBallman commented on #3253
Thank you @GarveyJoe, I'll close this issue now.

[2021-02-24 18:55] #3253 closed

[2021-02-25 08:31] alexbatashev commented on #3246
@vibhad1509 I'm a bit concerned about `-stdlib=libc++`. Did you enable libc++ support in compiler at build time? We have a section about that in [Getting Started Guide](https://intel.github.io/llvm-docs/GetStartedGuide.html#build-dpc-toolchain-with-libc-library). If not, the problem is not with the compiler. We use libstdc++ to build SYCL runtime by default, and user application must use it too.

[2021-02-25 09:58] vmaksimo opened #3263 "[SYCL] "Assuming SYCL queries fit in int" feature is broken for -O1"
**Describe the bug**
https://github.com/intel/llvm/blob/sycl/sycl/test/check_device_code/id_queries_fit_int.cpp test fails after community changes (https://github.com/intel/llvm/pull/3233/). "llvm.assume" intrinsic is not generated with O1 optimization level as it expected from test checks.
I temporarily disabled optimizations to unlock pulldown https://github.com/intel/llvm/pull/3233/commits/18b3

[2021-02-26 08:13] #3229 closed

[2021-02-26 08:50] malixian opened #3269 "The mechanism of DPC++ generating LLVM IR for different devices(Intel or Nvidia)"
In my understanding, LLVM front-end Clang can read the .c file and output the IR corresponding to the device target, and the DPC++ maybe using the front-end of LLVM(Clang) or source(dpc++)-to-source(c++) to generates IR?  Whether to use a technology similar to clang plugin?  I want to know more details about DPC++ source code to generate IR for different devices.  And can you tell me some details

[2021-02-26 11:15] vibhad1509 commented on #3246
I have not explicitly enable libc++ support in compiler at build time. I get following error if I remove -stdlib=libc++
/root/llvm-sycl/bin/bin/clang -O2 -std=c++17  -L/root/llvm-sycl/bin/lib/ -lpi_cuda -L/usr/local/lib/ -I /root/llvm-sycl/bin/include/sycl/ -lc++ -lc++abi -lm -lstdc++ -lsycl -o vector-add-usm src/vector-add-usm.cpp
In file included from src/vector-add-usm.cpp:22:
In file included

[2021-02-26 11:18] vibhad1509 commented on #3246
nm -a /root/llvm-sycl/bin/lib/libsycl.so|grep submit_impl
00000000002dc5d0 T _ZN2cl4sycl5queue11submit_implESt8functionIFvRNS0_7handlerEEERKNS0_6detail13code_locationE
00000000002dc5f0 T _ZN2cl4sycl5queue11submit_implESt8functionIFvRNS0_7handlerEEES1_RKNS0_6detail13code_locationE
000000000008561a t _ZN2cl4sycl5queue11submit_implESt8functionIFvRNS0_7handlerEEES1_RKNS0_6detail13code_locationE.cold
0

[2021-02-27 08:53] alexbatashev commented on #3246
@vibhad1509 DPC++ requires GCC 7+ to work correctly. RHEL 7 should allow you to update your current GCC version. For example, using [these](https://developers.redhat.com/blog/2018/07/07/yum-install-gcc7-clang/) instructions.

[2021-02-28 06:33] rolandschulz opened #3271 "[SYCL][CUDA] pass 'Add implicit SYCL global offset': Assertion `Val && "isa<> used on a null pointer"' failed."
Trying to build [GROMACS SYCL](https://manual.gromacs.org/2021-sycl/download.html) fails during linking:

[code]
[gmx-74893b.zip](https://github.com/intel/llvm/files/6056328/gmx-74893b.zip)

(filename doesn't match because I copied error and file from two different invocations)

[2021-03-01 09:35] vibhad1509 commented on #3246
I have compiled all the code with gcc9.2

[2021-03-02 01:46] keryell commented on #3246
I guess you mean the C++ standard library from G++, not the compiler itself.
But anyway, it would be nice to have it working with the LLVM C++ standard library too and having it the CI validation.

[2021-03-02 12:17] alexbatashev commented on #3246
@jinge90 has submitted a number of patches recently, so it should be working if the runtime is linked with libc++.

I'm not sure if your issue is resolved, but as Ronan mentioned above, you need to use the standard library, that comes with new compiler toolchain. One way you can do that is specifying `--gcc-toolchain=/path/to/gcc` flag to a location, where your gcc toolchain resides. Otherwise, cl

[2021-03-02 12:31] #3269 closed

[2021-03-02 15:22] vladimirlaz opened #8815 "ESIMD/fp_call_from_func.cpp test sporadically hangs on Windows"
The test is going to be disabled on Windows (OpenCL  and Level Zero BE) until stabilized:

List of failed jobs which succeeded after restart:
  - http://pre-commit.llvm.intel.com:8010/job/LLVM-Test-Suite-CI/job/LLVM-Test-Suite-WIN/273/display/redirect
  - http://llvm-ci.intel.com:8080/job/SYCL_CI/job/intel/job/Win/job/Test_Suite/1400/display/redirect

[2021-03-03 07:52] #2122 closed

[2021-03-03 17:11] hiaselhans opened #3296 "Debug build (help needed)"
**Describe the bug**

I have an application that builds fine using cmake/dpc++.
Now, i'd like to debug it partially and used -DCMAKE_BUILD_TYPE=Debug.

all parts compile with the -g flag but during linking i see the following message:

[code]

I tried to build a minimal reproducer but still working on it. from looking at `make VERBOSITY=1` I see the only difference is `-g` being added to the comma

[2021-03-04 07:25] hiaselhans commented on #3296
Well. Sorry for the noise.

I was abit too fast to file an issue. Now after a clean rebuild it seems to work fine.

[2021-03-04 07:25] #3296 closed

[2021-03-05 05:28] masterleinad opened #3308 "llvm.fshr.i32 missing"
**Describe the bug**
Bit rotate right triggers "unexpected llvm intrinsic (`llvm.fshr.i32`)

**To Reproduce**
Compiling
[code]
via
[code]
results in
[code]

**Environment (please complete the following information):**

- OS: Linux
- Target device and vendor: Intel(R) Xeon(R) Gold 6254 CPU @ 3.10GHz
- DPC++ version: Intel(R) oneAPI DPC++ Compiler 2021.1 (2020.10.0.1113) but also daily release 2021/

[2021-03-05 06:50] bader opened #3309 "SYCL introduces unnecessary(?) dependency on Sema"
This looks very suspicious. Community version doesn't have this dependency. https://github.com/llvm/llvm-project/blob/main/clang/lib/CodeGen/CMakeLists.txt#L92
+@erichkeane, @AaronBallman, do you know the reason for clang's CodeGen to depend on Sema library?

_Originally posted by @bader in https://github.com/intel/llvm/pull/3301#discussion_r588063845_

[2021-03-07 07:04] #3252 closed

[2021-03-08 15:23] malixian opened #3320 "Does dpc++ use clang plugin technology to support CUDA programming front-end?"
hipSYCL using clang plugin to understand SYCL code to hip or cuda, does dpc++ also use clang plugin technology to understand DPC++  to c++?
when running `clang -### -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sycldevice -S -c -emit-llvm multi_device.cpp -o multi_device.ll` command , we can find `clang ... -x c++ test.o ... `. So I guess DPC++ frontedn transform dpc++ to c++.
Isn't right?

[2021-03-08 18:41] TApplencourt opened #3324 "[SYCL] Memory leaks on execption handling."
**Describe the bug**
With the OpenCL Backend, when a SYCL kernel raises an exception, some OpenCL objects are not freed.

**To Reproduce**

[code]

If you have a tracer available (VTune or thapi/iprof `https://xgitlab.cels.anl.gov/heteroflow/tracer`, OCL intercep layer), you can see the number of OpenCL Call:

[code]
As you can see `clReleaseContext` is missing. If you compile this code with WG >

[2021-03-08 22:59] GeekOffTheStreet opened #3325 "Unable to build with CUDA backend for NVIDIA Jetson"
**Describe the bug**
I am attempting to build DPC++ with CUDA backend for a Jetson TX2 that is running Ubuntu 18.04.  The CPUs are AARCH64, but I'm only interested in the CUDA backend.

Eventually, the build will fail with:
`error: unable to create target: 'No available targets are compatible with triple "aarch64-unknown-linux-gnu"'`

**To Reproduce**
Please describe the steps to reproduce the beh

[2021-03-09 13:08] alexbatashev commented on #3325
@GeekOffTheStreet if you aren't going to use [this](https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/C-CXX-StandardLibrary/C-CXX-StandardLibrary.rst) extension, I can suggest a quick workaround:
1) Remove this line: https://github.com/intel/llvm/blob/297166fb63eb45ea898fe654ef99414a59a4b6b7/sycl/CMakeLists.txt#L360
2) Add `export SYCL_DEVICELIB_NO_FALLBACK=1` to your `~/.bashrc`.

[2021-03-09 13:13] alexbatashev commented on #3320
@malixian no, the changes have been made permanently. See the initial PR for CUDA support in DPC++: https://github.com/intel/llvm/pull/1091

You may also find [this](https://intel.github.io/llvm-docs/CompilerAndRuntimeDesign.html) document interesting.

[2021-03-09 13:14] #3320 closed

[2021-03-10 00:33] GeekOffTheStreet commented on #3325
Thanks for the suggestion.  I gave it a try, but am still receiving similar compile errors:

[code]

After reconfigure/build:

[code]

[2021-03-10 08:29] #3271 closed

[2021-03-10 11:02] alexbatashev commented on #3325
@GeekOffTheStreet I realized that ARM architecture is actually not enabled by default. You have to pass `--arm` flag to `configure.py` script along with other flags. I'm, however, a bit skeptical if the build will finish successfully. I happen to own Jetson Nano, and I'm getting GCC ICE while building `clangSema`, but I didn't have time do dig in since building llvm on such a low performance machi

[2021-03-10 12:45] AaronBallman opened #3335 "id_queries_fit_int.cpp testing confusion"
It looks like this test is supposed to check LLVM IR emitted by the host compiler. Right?
1. Should we remove  `-fsycl` as well? Is there a better way to get the result of host-side compilation?
2. (not relevant to this PR) Should it be located in sycl/test/**check_device_code**/ directory, if it doesn't check device code at all?

_Originally posted by @bader in https://github.com/intel/llvm/pull/

[2021-03-10 13:04] smanna12 opened #3336 "Ignore duplicate attribute when adding or merging."
Good catch! That's a mistake on my part -- we should silently drop a duplicate attribute when adding or merging.

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3251#discussion_r591476499_

[2021-03-11 19:38] jomoga opened #3346 "Problem compiling example in DPC++ book"
I am attempting to compile the example in Fig 2.7 from the DPC++ book by Reinders et al.  Here is the code:

[code]

I compile it with:

clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sycldevice -fsycl-unnamed-lambda fig-2.7.cpp -o fig-2.7

which give the following output:

clang-13: /home/joel/sycl_workspace/llvm/llvm/lib/Target/NVPTX/SYCL/LocalAccessorToSharedMemory.cpp:51: virtual bool (anon

[2021-03-12 08:12] rNoz commented on #3346
I have the same error in another code (custom) that works correctly with the dpcpp from oneAPI/intel. First I thought about USM, since the error seems related with LocalAccessorToSharedMemory, but the error persists after I removed everything involving USM (just using plain SYCL Buffers).

In my case I am using ubuntu 18, CUDA 11.1 and the `simple-sycl-app.cpp` works correctly for the NVIDIA devic

[2021-03-12 08:24] rNoz commented on #3346
If I do `std::cout << "Selected device: " << Q.get_device().get_info<sycl::info::device::name>() << "\n";` it works.

[2021-03-12 17:10] jomoga commented on #3346
If I add a submit statement to the code it compiles and runs on the intel llvm  branch.  Here is the modified code:

#include <CL/sycl.hpp>
#include <iostream>
using namespace sycl;

int main() {
   // Create queue on whatever default device that the implementation
   // chooses. Implicit use of the default_selector.
   queue Q;

   std::cout << "Selected device: " <<
     Q.get_device().get_info<

[2021-03-12 20:30] illuhad commented on #2376
Any update on this? The hipSYCL unit tests also trigger this ICE when compiling with hipSYCL's new SPIR-V backend (which basically uses the clang SYCL frontend with hipSYCL header files and runtime)

[2021-03-13 03:58] GeekOffTheStreet commented on #3325
Hey, thanks again for the suggestion.  I was able to get it to build and simple programs linking.  However, it seems that there is an issue with clang recognizing neon SIMD.  I've tried various architecture flags, but still am receiving errors similar to:

[code]

A couple different combinations I've tried are:

[code]

Is there something else I need to pass into configure?

[2021-03-15 02:44] GeekOffTheStreet commented on #3325
For what it's worth, when I look at the verbose output of clang, it shows neon in the target options ( `-target-feature +neon`):

[code]

[2021-03-15 03:25] GeekOffTheStreet commented on #3325
One other note, it appears the issue is directly related to the `-fsycl` option.  I created a dummy source file:

[code]

If I compile with `clang++ -c blah.cpp` it compiles Ok.  If I switch to: `clang++ -fsycl -c blah.cpp` it fails with the errors above.

[2021-03-15 12:55] smanna12 opened #3361 "reqd_work_group_size and max_work_group_size argument checking"
// Checks correctness of mutual usage of different work_group_size attributes:
    reqd_work_group_size, max_work_group_size and max_global_work_dim.

1.	Values of reqd_work_group_size arguments shall be equal or less than values coming from max_work_group_size.
2.	In case the value of 'max_global_work_dim' attribute equals to 0 we shall ensure that if max_work_group_size and
         reqd_work_gr

[2021-03-15 13:00] smanna12 commented on #3361
Tgging @MrSidims , @GarveyJoe , @AaronBallman for the discussion about this bug. Thanks

[2021-03-15 13:26] AaronBallman commented on #3361
I'm not following along on this one. :-)

look at X or Z?

I think we do for `reqd_work_group_size` since there's an OpenCL spelling and SYCL reversed the argument order. I don't think we do for `max_work_group_size` because there's no OpenCL spelling supported for that (but it does raise the really sad question of "did we specify the order for `max_work_group_size` to be Z, Y, X like we did for `

[2021-03-15 13:49] smanna12 commented on #3361
This seems to be a bug with existing implementation since we are currently swapping the values during codegen part

// For a SYCLDevice SYCLIntelMaxWorkGroupSizeAttr arguments are reversed.
    if (getLangOpts().SYCLIsDevice)
      std::swap(XDimVal, ZDimVal);

[2021-03-15 15:33] MrSidims commented on #3361
Initially, all of the work group attributes had X, Y, Z order (same order as in OpenCL and as in SYCL runtime/language work group specifiers). Later, SYCL runtime/language work group specifiers were swapped from left-most order to the right-most (following C++ guidance). And the same was done for the attributes. And we see it created a bit of mess.

look at X or Z?

I think we don't. From semantic

[2021-03-15 15:37] MrSidims commented on #3361
BTW, thanks for bringing this, I think clearing this is very helpful for maintaining the code!

[2021-03-15 16:00] AaronBallman commented on #3361
Are SYCL and OpenCL modes mutually exclusive? The situation I am most concerned by is with `__attribute__((reqd_work_group_size)`` being used in SYCL code when it is an OpenCL attribute, and the resulting argument order confusion.

One possibility that may or may not be a terrible idea would be to have `OpenCLReqdWorkGroupAttr` and `SYCLReqdWorkGroupAttr` as semantic attributes in Attr.td, but giv

[2021-03-15 16:01] smanna12 commented on #3361
Thanks @MrSidims for looking into this bug and the explanation.

Yes, it should not be the "first argument" here, It should be last one. I misunderstood.
I am working on this PR https://github.com/intel/llvm/pull/3337 to fix the issue.

[2021-03-17 13:10] MrSidims commented on #3361
That is a very good point. AFAIU OpenCL operability mode implies not only to host code, but also to device code (see: 4.8.9.4 Defining kernels using OpenCL C kernel objects). So the modes aren't exclusive.

TBH I kinda like it.

[2021-03-17 13:15] bader commented on #3361
What does it mean? Are you saying that we should be able to compile a source file with both modes enabled (i.e. -fsycl-device-only -x cl)?

[2021-03-17 13:20] MrSidims commented on #3361
Not really. The spec doesn't specifies what compiler (or in which mode) OpenCL C code should be compiler. But in our implementation I see an `online_compiler` extension, which allows to compile OpenCL C sources nearby SYCL device code. At least that is how I got it, please correct me if I'm wrong.

[2021-03-17 13:22] MrSidims commented on #3361
Okay, I just tried` clang++ -fsycl -fsycl-device-only online_compiler_OpenCL.cpp` and I see there is no device code generated.

[2021-03-17 13:47] AaronBallman commented on #3361
The reason I ask is because `__attribute__((reqd_work_group_size))` is an attribute specified by the OpenCL standard (https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/functionQualifiers.html) and so I don't think we *can* treat it as having the SYCL argument ordering when compiling for SYCL.

[2021-03-17 13:54] bader commented on #3361
I think @MrSidims misinterpret the question. Modes are mutually exclusive, so we can't compile the same kernel attribute in OpenCL and SYCL modes, but I agree that even if document the argument order difference, it might lead to non-obvious bugs.

[2021-03-17 18:50] keryell commented on #55
Actually the contracts were remove from C++20 and moved into a TS instead.

In the meantime there have been some developments on *properties* in the C++ committee, like http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p2183r0.html http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1393r0.html that allows to recycle the C++ type system as a way to specialize objects.

This has been alr

[2021-03-17 19:12] keryell opened #3374 "Do no pollute the top level namespace"
While playing with FPGA libraries we got some compiling conflicts with some `::ap_int` type.

It happens that while https://github.com/intel/llvm/blob/sycl/sycl/include/CL/__spirv/spirv_types.hpp declares things inside `::__spv` there are also some random declarations at the end of the file, like `RPipeTy`, `WPipeTy`, `ConstantPipeStorage`, `ap_int`.

If these declarations are useful, they should

[2021-03-17 19:46] AaronBallman commented on #55
Not quite -- they never made it into C++20 in the first place, and they don't exist in a TS form yet. WG21 formed a study group (SG21) to explore contracts, but the SG hasn't produced a design yet. I'd be wary of basing anything off the previous contracts syntax (the syntax was part of why the feature failed to gain consensus).

Thanks, I'll check it out!

[2021-03-18 06:14] keryell commented on #3361
I have the feeling that OpenCL and SYCL compilation mode are mutually exclusive.
Bugs? Ahem... https://github.com/triSYCL/sycl/pull/113

[2021-03-18 09:13] MrSidims commented on #3374
That is bad, not sure why I named `ConstantPipeStorage` like that and not like `__spirv_ConstantPipeStorage`. And it might be tricky to change it now (may be in staggered way).
@tiwaria1 @GarveyJoe can users operate with `ap_int` type directly or they supposed to use wrappers around it? Aka can we put it in a namespace safely (for sure again in a staggered way)? And a following question to Joe: pr

[2021-03-18 11:27] AaronBallman commented on #3361
Good to know they're mutually exclusive, we may want to document that explicitly (similar for CUDA or other interesting language modes). But my original question sort of boils down to whether users can plausibly do this:
[code]
I assume there's nothing invalid about this code. If that's true, the reason why I think we have to care about which spelling was used is because the user could later write

[2021-03-18 11:51] tiwaria1 commented on #3374
Users are supposed to use the wrapper ac_* types (ac_int, ac_fixed etc). We can move ap_int into a namespace. This will impact the ac_* type headers and also: [the spirv_ops.hpp header](https://github.com/intel/llvm/blob/sycl/sycl/include/CL/__spirv/spirv_ops.hpp). So these changes must occur together.

[2021-03-18 15:01] keryell commented on #3374
It looks like it is only used from https://github.com/intel/llvm/blob/sycl/sycl/include/CL/__spirv/spirv_ops.hpp so it should be simple to fix.

[2021-03-18 16:51] zjin-lcf commented on #3346
Could you please post the correct code in the first place ?  I couldn't reproduce your error for the following code.

The output is
[code]

[code]

[2021-03-18 17:01] GarveyJoe commented on #3374
@MrSidims it seems at least one of our code samples is still using the sycl:: namespace version.  Once that is updated I think it's safe to deprecate the old namespace.

[2021-03-18 19:21] keryell commented on #3374
Just to clarify: we are talking about `::` here, not `::sycl` or whatever. I guess your new and old libraries could be just updated to use the functions in `::some_detail` instead?

[2021-03-18 22:12] jomoga commented on #3346
If the error can't be reproduced then it's probably due to some subtle difference in the build environment.  I don't have the skill to debug the clang++ compiler directly but fortunately I have a workaround as noted above.  In addition almost all SYCL routines
have a submit statement so this isn't really a practical problem.

[2021-03-19 12:28] zjin-lcf commented on #3346
@bader
A user may expect that Device vendor is non-empty. Is that right ?

[code]

[2021-03-19 12:33] bader commented on #3346
I think SYCL specification leaves it to the implementation to decide.
@zjin-lcf, what do you think should be returned for the host device?

[2021-03-19 12:53] zjin-lcf commented on #3346
Is 'Device vendor'  not applicable or not available for a host selector ?
Is 'Device vendor'  the same as the one when choosing a cpu selector ?

[2021-03-19 16:24] MrSidims commented on #3374
It's about `sycl::pipes` vs `sycl::INTEL::pipes` in tests and user tutorials, like: https://github.com/oneapi-src/oneAPI-samples/blob/master/DirectProgramming/DPC%2B%2BFPGA/Tutorials/Features/pipes/src/pipes.cpp

[2021-03-20 15:35] jomoga commented on #3346
The problem is not that it doesn't return the device vendor.  The problem is that it doesn't compile.

[2021-03-20 21:32] zjin-lcf commented on #2793
I updated the report. The two applications, which was listed here before, can be executed successfully.

[2021-03-20 22:47] Lenzebo opened #3385 "Fail to generate working code for "assert" with CUDA backend"
**Describe the bug**

When the "assert()" function is called and compiled with the CUDA backend, the compiler will generate code that has an unresolved symbol for  assert:

[code]

`assert()` on the other hand  is working fine when using native cuda.

**To Reproduce**

To reproduce, just add `assert` to any kernel like:

[code]
and compile with:

`clang++ -fsycl -fsycl-unnamed-lambda -fsycl-target

[2021-03-23 03:47] jinge90 commented on #3385
@bader
It seems that this issue can be fixed by enabling device library for cuda backend. I will try to enable it.
Thanks very much.

[2021-03-23 09:41] bader commented on #1262
Tests were re-enabled and issue is not reproducible anymore.

[2021-03-23 09:41] #1262 closed

[2021-03-23 10:10] bader commented on #3385
@jinge90, enabling device library extension for CUDA back-end might help with fixing compilation issue.
AFAIK, @s-kanaev is working on device specific implementation of `assert` function, so you might want to coordinate your work.

[2021-03-23 22:25] pvchupin commented on #2119
It looks like issue is still reproducible on latest driver 450.102.04.
Let's reopen it, at least for the tracking purpose.

[2021-03-25 19:31] erichkeane opened #3415 "Clang LIT tests using the sycl.hpp header should use "#" syntax instead of @Inputs/sycl.hpp@LINE"
As discussed in #3345, we want to have all of those common warning places have a 'stable name' (done by adding a comment containing #SomeName), and to update all the tests to use the same syntax.

Tentatively assigning to @srividya-sundaram  since she did all the Inputs/sycl.hpp split work.

[2021-03-26 07:02] elizabethandrews commented on #3415
Just an FYI - I modified test lines breaking due to header change in my patch. I'm not sure if any remaining tests have this issue. This bug can be closed after this has been verified.

[2021-03-26 07:38] bader commented on #3415
I suggest we verify by adding an empty line at the beginning of the header to change **all** line numbers. PR https://github.com/intel/llvm/pull/3345 moves lines after 295, so all hard-coded checks for lines up to 295 are not verified by https://github.com/intel/llvm/pull/3345.

[2021-03-26 13:06] erichkeane commented on #3415
A just as easy way is to just  'grep' for "Inputs/sycl.hpp" in our files, just about every use should go away.

[2021-03-27 10:28] #1478 closed

[2021-03-29 07:25] mlychkov opened #3436 "Validate the scope of group-local variables definintion"
Checking validity should somehow be addressed for group-local variables definintions.
It should be checked that `__sycl_allocateLocalMemory` (or its source form - `group_local_memory`) does not occur:
- in a function (other than user lambda/functor)
- in a loop
- in a non-convergent control flow

I think it is OK to occur in convergent if. Some execution paths will just not use the global created

[2021-03-29 14:57] #3336 closed

[2021-03-30 16:14] DenisBakhvalov opened #8814 "[Flaky] Unexpectedly passing SYCL/Sampler tests."
Windows + LevelZero configuration is affected.

Examples are here:
http://icl-jenkins.sc.intel.com:8080/blue/organizations/jenkins/SYCL_CI%2Fintel%2FWin%2FTest_Suite/detail/Test_Suite/2168/pipeline/

And here:
http://134.191.240.166:8010/blue/organizations/jenkins/LLVM-Test-Suite-CI%2FLLVM-Test-Suite-WIN/detail/LLVM-Test-Suite-WIN/406/pipeline

[2021-03-30 20:11] vrpascuzzi commented on #1154
@Ruyk And me today with sycl-nightly/20210330. (@jeffhammond I swear, I'm not trolling your posts. Rather, seem to be some months behind you.)

[2021-03-30 20:20] DenisBakhvalov opened #3451 "Refactor construction of LLVM-SPIRV job to eliminate duplicated code"
There is some amount of duplicate code in `SPIRVTranslator::ConstructJob` and in `SYCL::Linker::constructLLVMSpirvCommand`, that was raised during the review of https://github.com/intel/llvm/pull/3443.

[2021-03-31 12:03] vmaksimo opened #3453 "Post-commit testing fails on compilation with clang and shared LLVM libraries"
Compilation fails with (full log here https://github.com/intel/llvm/runs/2225133433):
[code]
Compilation fails with (full log here https://github.com/intel/llvm/runs/2234404218):
[code]

[2021-03-31 13:02] bader commented on #3453
@alexbatashev, @vladimirlaz, these issues impact post-commit testing. Could you take a look ASAP, please?

[2021-03-31 13:06] alexbatashev commented on #3453
@bader for the first bug the fix should be trivial. For the second, I don't see how the first failed commit is related to the failure. It looks like the latest llvm contains some kind of bug, so self build fails with ICE.

[2021-04-02 12:56] bader opened #3474 "Host/Device interfaces: integration header vs host compiler."
See these two threads: https://reviews.llvm.org/D99190?id=333780#inline-935611 and https://reviews.llvm.org/D99190?id=333780#inline-935593.

In nutshell, @Naghasan suggests we consider using a host compiler to emit the data from the integration header. OpenMP-offload uses such approach for binding offloaded code with the host application. I assume CUDA and HIP compilers are doing something similar

[2021-04-02 12:58] bader commented on #3474
[Reply](https://github.com/intel/llvm/pull/3471#issuecomment-812516166l) from @erichkeane

[2021-04-05 10:14] vmaksimo commented on #3453
Fixed by referenced PRs.

[2021-04-05 10:14] #3453 closed

[2021-04-05 13:37] steffenlarsen opened #3490 "Fails to build with C++14"
**Describe the bug**
Building with DPC++ with C++14 causes errors. Looks like 4524a6b1d06636b93f9805387ce2d2fec0374416 broke C++14 support and the only test that used it was removed shortly after: https://github.com/intel/llvm/commit/815b43b13c6e828992047c612e1a2854b790268c

Among other similar errors, the commands results in the error:
[code]

Has C++14 support been dropped in its entirety?

**To

[2021-04-05 13:48] steffenlarsen commented on #3346
I have seen this problem before on some systems an not others. Seems to me like the CUDA version has something to do with it, but I haven't had time to investigate any further.

The problem appears to be that some modules are missing the "nvvm.annotations" metadata. The work around I've used has been to replace https://github.com/intel/llvm/blob/sycl/llvm/lib/Target/NVPTX/SYCL/LocalAccessorToShare

[2021-04-05 15:00] dm-vodopyanov commented on #3490
Hi @steffenlarsen, that's correct, since 4524a6b the compiler now supports C++17 and higher C++ standards. I've prepared a PR with an update to documentation: https://github.com/intel/llvm/pull/3478

[2021-04-05 15:16] steffenlarsen commented on #3490
According to the documentation (even after the current change in #3478):

However, the failure above stems from CL/sycl/kernel_handler.hpp using C++17 features, so it does not adhere to that requirement. Maybe that point needs to be change accordingly?

[2021-04-05 16:01] pvchupin commented on #3490
@steffenlarsen, any concerns if we move forward with #3447 ?

[2021-04-05 16:04] steffenlarsen commented on #3490
Apart from my comment above, if this is the plan I will not stand in the way. Thank you for clarifying. 😄

[2021-04-05 16:04] #3490 closed

[2021-04-06 02:55] jomoga commented on #3346
Thanks for looking into this.  Workarounds look like the best approach for now.

[2021-04-06 13:47] smanna12 opened #3495 "[Regression] SubGroup/sub_group_as.cpp, sub_group_as_vec.cpp fails with default ON for sycl-id-queries-fit-in-int"
Blocks PR: https://github.com/intel/llvm/pull/3427 - [SYCL] Turn on -fsycl-id-queries-fit-in-int by default

This causes regression for SubGroup/sub_group_as.cpp, sub_group_as_vec.cpp after changing default behavior for sycl-id-queries-fit-in-int option. The tests were added for sub-group load/store methods for raw pointers on https://github.com/intel/llvm/pull/3255:

http://icl-jenkins.sc.intel.c

[2021-04-06 17:35] #3103 closed

[2021-04-08 00:24] paboyle opened #3510 "What IPC interface should I use?"
**Is your feature request related to a problem? Please describe**

On other multiGPU architecture I use peer2peer memory access.

There is no defined API that I see in SYCL 2020.

There is a defined API in Level 0 API,

https://spec.oneapi.com/level-zero/latest/core/PROG.html?highlight=peer#memory-1

Is this intended for end user use?

**Describe the solution you would like**

I would like to prog

[2021-04-08 14:27] bader commented on #3510
Tagging @mkinsner, @gmlueck, @jbrodman as it looks like we need some specification work first.

[2021-04-09 22:00] TApplencourt commented on #3510
@paboyle  Maybe https://github.com/TApplencourt/GPU_IPC_Handle, can be useful to drag the conversation.

It shows the usage of Level0 IPC in SYCL via the `get_native` extension (https://github.com/TApplencourt/GPU_IPC_Handle/blob/main/syclo_ipc_copy_dma_buf.cpp).

I agree that an SYCL Extension to target IPC can reallsy useful.

My understanding is that CUDA IPC gives you an opaque IPC that shares

[2021-04-10 14:17] schittir opened #3529 "Remove FE dependency on SYCL header scope of accessor properties"
Remove the fragility caused by the FE relying on SYCL header scope gathered from the DeclContext; This needs to be addressed for not only no_alias, but also buffer_location and other (future) accessor properties such as no_offset and noinit. This can be addressed using an attribute consistently for all the accessor properties. Creating this task to as a follow-up to the conversation here: https://

[2021-04-12 11:09] bader opened #3534 "Can we drop target triple environment component `-sycldevice`?"
One of the use cases for this target triple component is configuring SPIR target address space map.
During discussion in https://reviews.llvm.org/D89909 comments we decided to implement a different approach, which doesn't require adding environment component for SYCL.
I'd like to gather to all existing use cases for `-sycldevice` and check if it's really necessary.

Use cases:
1. ~~NVPTX~~
  - ~~W

[2021-04-12 15:54] mdtoguchi commented on #3534
@bader, looking through the driver, we should be able to make the adjustments to move away from anything `-sycldevice` and just check for `isOffloading(OFK_SYCL)`

[2021-04-12 15:58] bader commented on #3534
Great! Thanks for the update.
I think #3535 should remove (1) use cases for NVPTX target.

[2021-04-12 17:12] j-stephan opened #3536 "[SYCL] Cannot use placeholder accessors with property lists."
The [accessor properties extensions](https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/accessor_properties/SYCL_ONEAPI_accessor_properties.asciidoc) introduces an additional template parameter for accessors:

[code]

However, this cannot be used together with placeholder accessors because `handler::require` is missing this parameter:

https://github.com/intel/llvm/blob/58604686a7d74e5c7a

[2021-04-12 17:16] j-stephan commented on #3536
From a quick glance, this seems to affect the `copy` methods, too. Interestingly, `fill` would work because it supports the template parameter.

[2021-04-12 19:57] naromero77 opened #3537 "is_device_copyable use case from E3SM+YAKL"
**Is your feature request related to a problem? Please describe**
This may be redundant with other requests that you already have from Argonne. (I think the Intel compiler team is aware of this request, but perhaps not.) I have a DOE science code, E3SM (Fortran) that makes use of a Kokkos-like performance portability layer called YAKL (C++).  YAKL needs the `is_device_copyable` type trait. We have

[2021-04-13 14:25] al42and opened #3539 "[SYCL][OpenCL] Host accessors wait for barriers when not needed"
**Describe the bug**

I want to submit many tasks to the device queue asynchronously, minimizing the CPU time:

- Do some operations on bufferB in queue B, synchronize with it. Apparently, this binds the buffer to the queue?
- Submit a long-running task to queue A, not touching bufferB.
- Submit a barrier waiting for this task to queue B.
- Request a `discard_write` host accessor to bufferB, and w

[2021-04-15 14:14] krasznaa opened #3549 "[SYCL] Function calls on a template type become unpredictable in kernels in some situations"
**Describe the bug**

I wrote a small template class that I use to pass simple information to my kernels. But it seems that a function call of the form

[code]

starts returning garbage when running on an OpenCL CPU device, with "large enough" execution ranges.

**To Reproduce**

I boiled the issue down to the following example:

[code]

I pass an instance of my `vector_view<T>` type to a small ke

[2021-04-15 14:35] romanovvlad commented on #3549
Not sure it will help, but could you please `wait` for the kernel to finish before calling `sycl::free`?

[2021-04-15 14:37] krasznaa commented on #3549
That's fair, I forgot about adding `queue.wait()` to the example code. (I did have it in my original.)

It doesn't seem to make a difference for the printouts. But you're right, the posted code is pretty unsafe without the `wait()` call.

[2021-04-15 15:35] Pennycook opened #3550 "[CUDA] Build error in imageElementByteSize"
**Describe the bug**
Trying to build the CUDA backend fails with the following error:
[code]

I've added a `default` to the switch statement locally to work around this, but the error about `-Wno-covered-switch-default` suggests to me that this is a violation of some style guide and some other fix is expected.

**To Reproduce**
Build with:
[code]

**Environment:**

- OS: Ubuntu 18.04
- C/CXX Compi

[2021-04-15 15:43] bader commented on #3550
Probably this should be a feature request to support CUDA 11.
The supported CUDA version is 10.2.

[2021-04-15 16:27] Pennycook commented on #3550
I'm happy to convert this to a feature request if that would be preferable; I wasn't sure exactly what was going on here.

The switch statement in question looks weird to me:
[code]
It covers all the formats from CUDA 10.2, so it's impossible to reach the `die` statement.  It seems like the design is intended to allow unsupported `enum` values, but the code doesn't compile in that case.

[2021-04-16 06:56] vladimirlaz opened #3553 "memadvise.cpp test fails on CUDA BE after #3365"
**Describe the bug**
intel/llvm-test-suite/blob/intel/SYCL/USM/memadvise.cpp test start to fail with the following output:
[code]
**To Reproduce**
The problem can be reproduced following instructions under https://github.com/intel/llvm-test-suite/blob/intel/SYCL/README.md
[code]
**Environment (please complete the following information):**

- OS: ubuntu 18.04
- Target device and vendor: NVidia GPU

[2021-04-16 07:04] bader commented on #3553
@vladimirlaz, I expect https://github.com/intel/llvm/commit/3269c4775664113adebbf7d2c328b5b584a76599 to fix this bug. Could you check, please?

[2021-04-16 07:06] hiaselhans opened #3554 "install target"
i am trying to make a docker build container with llvm precompiled:
https://github.com/airgproducts/llvm/blob/private/Dockerfile

however i'd need some help with the install step:

[code]

results in CL/sycl being missing.
Also i can see a file `include/llvm/cmake_install.cmake` but none in `include/sycl`

how can i add the sycl toolchain to the install targets? Should we have a buildbot script fo

[2021-04-16 08:13] bader commented on #3554
Tagging @vladimirlaz.
Don't we use `deploy-sycl-toolchain` target instead of `install`?

[2021-04-16 11:21] vladimirlaz commented on #3553
according to postcommit testing for the commit. The test is still failing but fail symptoms changed to:
[code]

[2021-04-16 11:25] vladimirlaz commented on #3554
We are using deploy-sycl-toolchain to install minimum subset of SYCL specific and LLVM files required to use SYCL compiler and runtime.

[2021-04-16 11:28] bader commented on #3553
@nyalloc, does this test work for you?

[2021-04-16 14:36] hiaselhans commented on #3554
thx @bader @vladimirlaz

i tried:
[code]

no sign of CL/sycl.hpp includes... :/

[2021-04-16 15:05] hiaselhans commented on #3554
Here are my logs:

[code]

so, after all it seems like the manifest targets don't support CMAKE_INSTALL_PREFIX ?

[2021-04-16 15:18] alexbatashev commented on #3554
@hiaselhans did you pass `-DCMAKE_INSTALL_PREFIX=smth` to your cmake configuration command? `configure.py` has `--cmake-opt` option for that.

[2021-04-16 15:57] steffenlarsen commented on #3550
I think it was assumed that the compiler would allow incomplete switches, though we should arguably have checked. I think the easiest solution to your problem would be to move the `die` into a `default` case. I don't have CUDA 11 ready at this time so I cannot confirm whether or not that fixes your issue, but if you give it a try and confirm that it works I'll be happy to give a patch a 👍 .

[2021-04-16 16:22] Pennycook commented on #3550
Thanks, @steffenlarsen.  Makes sense to me -- I've opened a PR as https://github.com/intel/llvm/pull/3562.

[2021-04-16 21:46] masterleinad opened #3565 "[SYCL] Abort on non-uniform work-groups for reductions"
**Describe the bug**
Reductions where the number of work items is divisible by the workgroup size fail to run with
[code]

**To Reproduce**
Compile
[code]
via
[code]
and run. Even if this might be a problem with the underlying `OpenCL` backend, I would expect the compiler to handle this case gracefully and still do the reduction correctly. Otherwise, it's impossible to use the reduction interface

[2021-04-16 22:07] masterleinad commented on #3565
Also seeing this with `Intel(R) oneAPI DPC++/C++ Compiler 2021.2.0` printing
[code]

[2021-04-16 22:11] Pennycook commented on #3565
This is by design, as SYCL does not support non-uniform work-group sizes: https://github.com/KhronosGroup/SYCL-Docs/pull/101.

The ND-range form of `parallel_for` is designed to be explicit, and if you want to set a specific work-group size then you have to account for divisibility in your lambda, something like:
[code]
I appreciate that you can't change the user's lambda in a framework like Kokko

[2021-04-16 22:34] masterleinad commented on #3565
Thanks for the insight! I couldn't find that clearly in the SYCL 2020 specifications. Maybe, I'll have a look into that document in the future. :slightly_smiling_face:

Yes, as of now, we are using our own parallel_reduce implementation but I am interested in using the SYCL's/DPC++'s reduction interface if we can make it work for all use cases. This issue was not a road blocker but just something

[2021-04-16 22:34] #3565 closed

[2021-04-16 22:40] masterleinad opened #3566 "[SYCL] submit_barrier segfaulting"
**Describe the bug**
Using sycl::queue::submit_barrier() with CUDA segfaults.

**To Reproduce**
Compiling and running
[code]
via
[code]
segfaults. The backtrace is
[code]

**Environment (please complete the following information):**

- OS: Linux
- Target device and vendor: NVIDIA CUDA GPU
- DPC++ version:
[code]
- Dependencies version: CUDA 10.2

[2021-04-17 05:43] dzarukin commented on #3084
Hi! Any progress here?

[2021-04-17 16:36] hiaselhans commented on #3554
that's it, thanks!
The configure script already sets cmake_install_prefix.

[2021-04-17 16:36] #3554 closed

[2021-04-19 06:06] #3550 closed

[2021-04-19 13:13] nyalloc commented on #3553
Memadvise test is not correct. The value you pass into memadvise is backend-specific, [this test assumes 0 is a valid value](https://github.com/intel/llvm-test-suite/blob/e1607bfeb08f2936c0ffa3442c4d8dca095aa5a9/SYCL/USM/memadvise.cpp#L39). [For CUDA this is not the case](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__UNIFIED.html#group__CUDA__UNIFIED_1g27608c857a9254789c13f3e3b72029e2)

[2021-04-19 18:12] steffenlarsen commented on #3346
Looks like https://github.com/intel/llvm/pull/3535 fixed this.

[2021-04-20 02:23] jomoga commented on #3346
Yes, this fixes the problem.  The Fig 2.7 code in the original post now compiles and runs correctly.  Thanks for your help.

[2021-04-20 06:08] #3346 closed

[2021-04-20 07:49] bader commented on #3553
@nyalloc, thanks for sharing this insight.

@vladimirlaz, could you update the test, please?

[2021-04-20 08:54] krasznaa commented on #3549
I think I came to the wrong conclusion here... :thinking:

By now I'm starting to think that `printf(...)` printouts in device code are not nearly as reliable as I was hoping that they would be. Since while investigating a different issue I spent way too long looking at the wrong thing because of misleading printouts. In that case the problem was very different than what the printouts suggested. (

[2021-04-20 09:05] AlexeySachkov commented on #3549
[code]

Please note that `cl::sycl::ONEAPI::experimental::printf` is directly lowered into OpenCL C `printf` with all its limitations, like:

Quotes from [docs](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/printfFunction.html)

This is likely the reason why you see the strange output here.

None that I'm aware of, do you have a reproducer for that problem?

[2021-04-20 09:46] nyalloc commented on #3553
No problem

[2021-04-20 10:01] krasznaa commented on #3549
I'm just flip-flopping here as it turns out... :frowning: Since as I had to re-discover, my "atomic example" only breaks if I combine it with the sort of class that I use in this example.

So this very basic example works fine:

[code]

But this doesn't:

[code]

So something **is** wrong with the usage of this template type. There can be problems with `printf(...)` as well, but I think the "origi

[2021-04-20 13:12] steffenlarsen commented on #3566
I have made a fix to avoid this from segfaulting (https://github.com/intel/llvm/pull/3581). I will spare you the details, but sadly this is currently unimplemented in the CUDA backed.

[2021-04-20 13:19] masterleinad commented on #3566
Would falling back to `queue.wait()` internally violate semantics? That way, we can at least use the function in a portable way, it just creates temporarily more synchronization points for `CUDA`.

[2021-04-20 17:26] TApplencourt opened #3583 "Memcopy between devices sharing the same context doesn't work"
**Describe the bug**

Memcopy between devices sharing the same context doesn't work.  This bug is only triggered by a platform that contains multiple devices.

This is not quite a common pattern, but this will be in a near future.
Bug confirm with OpenCL and LevelZero backend

[code]

**To Reproduce**
[code]
The OpenCL command who segfault is `clEnqueueMemcpyINTEL` or `zeCommandListAppendMemoryCop

[2021-04-20 17:28] abagusetty commented on #3583
Thanks @TApplencourt, just commenting for tracking

[2021-04-21 05:50] vladimirlaz commented on #3553
Fixed in https://github.com/intel/llvm-test-suite/pull/240

[2021-04-21 05:50] #3553 closed

[2021-04-21 10:18] alexbatashev opened #3587 "CTS program_api and program_constructors fail with CUDA backend"
**Describe the bug**
`program_api` and `program_constructors` tests fail with CUDA backend on latest SYCL builds. See logs below:
[code]

**To Reproduce**
*Note:* Due to a recent uplift of minimal supported C++ standard, one should modify [this](https://github.com/KhronosGroup/SYCL-CTS/blob/5f769dbc589355f797eb926ce104494ae788873d/CMakeLists.txt#L5) line to require C++17.
1. Get SYCL with CUDA sup

[2021-04-21 10:33] alexbatashev opened #3588 "CTS stream_api_core test segfault"
**Describe the bug**
stream_api_core test results in segmentation fault:
[code]

**To Reproduce**
*Note:* Due to a recent uplift of minimal supported C++ standard, one should modify [this](https://github.com/KhronosGroup/SYCL-CTS/blob/5f769dbc589355f797eb926ce104494ae788873d/CMakeLists.txt#L5) line to require C++17.
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedG

[2021-04-21 11:18] steffenlarsen commented on #3566
As it is used right now, I think you're right that it would suffice for now. However, it is a bit more complicated than that as I would like to avoid any potential problems that may arise from the underlying interface being used for other purposes in the future. I will investigate and let you know.

[2021-04-21 11:47] steffenlarsen commented on #1542
@erichkeane @bader

I don't see any more `XFAIL: cuda` in intel/llvm. Can we close this?

[2021-04-21 11:53] steffenlarsen commented on #3588
That definitely shouldn't happen! Do you have the specific commits you're working off of, for both intel/llvm and the CTS?

[2021-04-21 11:53] bader commented on #1542
+@vladimirlaz, I think we should check https://github.com/intel/llvm-test-suite/tree/intel/SYCL as most of these tests moved from `intel/llvm` there.

[2021-04-21 11:55] steffenlarsen commented on #1542
I think there are a handful of xfails left in there, but would it make sense to open a new ticket on that repo for tracking those?

[2021-04-21 12:03] vladimirlaz commented on #1542
Simple grepping showed that there are some:
It looks like tests in Regression and USM are inherited, the other may be new:
[code]

[2021-04-21 12:06] steffenlarsen commented on #1542
To my knowledge, some of them have both `XFAIL: cuda` and `REQUIRES: level-zero`, such as SYCL/USM/smem_concurrent.cpp. Am I right in assuming the latter makes lit ignore the former?

[2021-04-21 12:07] vladimirlaz commented on #1542
You are right.

[2021-04-21 12:11] alexbatashev commented on #3588
@steffenlarsen I used SYCL build from 04/16 (should be around this tag https://github.com/intel/llvm/releases/tag/sycl-nightly%2F20210416) and the latest CTS, that I checked out today.

[2021-04-21 12:16] steffenlarsen commented on #3588
Thank you! I'm currently trying to build as instructed, but I'm getting some errors. Just to make sure I'm not trying to fix the wrong problems, are you on `SYCL-1.2.1/master` or `SYCL-2020` of the CTS?

[2021-04-21 12:35] alexbatashev commented on #3588
I'm on `SYCL-1.2.1/master`. I just checked again. Due to a recent uplift of minimal requirements, some headers are no longer compatible with C++11. So, I modified [this](https://github.com/KhronosGroup/SYCL-CTS/blob/5f769dbc589355f797eb926ce104494ae788873d/CMakeLists.txt#L5) line some time ago and completely forgot about it. I'll update both reports.

BTW, the issue is also reproducible on March S

[2021-04-22 06:08] bader commented on #1542
I'm okay with that.
I can even [transfer this issue](https://docs.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository) to llvm-test-suite if you are okay with it.

[2021-04-22 09:40] steffenlarsen commented on #1542
I think it may be cleaner to just restart it and link. That way people who read it won't have to go through all the previous discussions on fixed issues to get to the relevant information. Thank you though!

If you are okay with that solution, I will go find the relevant XFAILs and list them in a new issue on llvm-test-suite. I'll leave out the ones with `REQUIRES: level-zero` and make a PR to rem

[2021-04-22 09:47] bader commented on #1542
Sounds good to me. Thanks!

[2021-04-22 10:51] steffenlarsen commented on #3588
That did the trick, thanks! I am able to reproduce the issue and will do some investigation.

[2021-04-22 10:57] bader commented on #3588
@alexbatashev, can you switch to `SYCL-2020` branch, please?
I think recent DPC++ changes might make it incompatible with `SYCL-1.2.1/master` branch.

The C++ version has been updated in the `SYCL-2020` branch https://github.com/KhronosGroup/SYCL-CTS/blob/SYCL-2020/CMakeLists.txt#L5.

[2021-04-22 12:15] steffenlarsen commented on #1542
I have opened the continuation issue here: https://github.com/intel/llvm-test-suite/issues/249

[2021-04-22 20:49] DrTodd13 opened #3602 "bin/config --libs does not list "-lLLVMGenXIntrinsics""
**Describe the bug**
llvm/bin/config --libs does not include "-lLLVMGenXIntrinsics" when I believe that it should.

**To Reproduce**
Run llvm/bin/config --libs.

**Environment (please complete the following information):**

- OS: Linux
- Target device and vendor: Not applicable to llvm/bin/config.
- DPC++ version: Not applicable.
- Dependencies version: Not applicable.

[2021-04-23 17:50] NikitaRudenkoIntel opened #3608 "[ESIMD] DPC++ does not generate OpenCL types for passing through SPIRV"
**Description**
In order to compile `ESIMD` kernel with VC backend, DPC++ has to pass several attributes for each kernel arguments. These are `VCArgumentDesc` and `VCArgumentKind`. There are two ways of doing so:
1. Non-standard legacy way with using `FuncParamDescINTEL` and `FuncParamKindINTEL` spirv decorations, which are not supported (and never will) in Khronos translator.
2. Standard way with

[2021-04-23 17:51] NikitaRudenkoIntel commented on #3608
PR: https://github.com/intel/llvm/pull/3607

[2021-04-26 13:28] SylvainJoube opened #3618 "Unable to compile intel/llvm on Linux Mint 20"
**Describe the bug**

Unable to compile Intel/LLVM on branch `sycl`. Output for the build (at 97%) :

[code]

**To Reproduce**

Commands I used :

[code]

On branch `sycl`, at the following commit :

[code]

**Environment (please complete the following information):**

OS : `Linux Mint 20 (Ulyana)` (based on Ubuntu focal)

Current compiler : `gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0`

Clang versio

[2021-04-26 13:49] bader commented on #3618
FYI: CUDA 11 is not supported yet.

Could you attach the full log, please? I suppose the problem happened before:

Tagging @steffenlarsen.

[2021-04-26 14:12] bader commented on #2264
https://github.com/intel/llvm/pull/2458 fixes failure of sycl/test/basic_tests/boolean.cpp.

[2021-04-26 14:28] SylvainJoube commented on #3618
I thought CUDA 11 was fully supported yet, sorry, because @steffenlarsen just said on the IWOCL oneAPI Developer Summit (I'm currently following it) that his tests were working with CUDA 11 but I may have misunderstood what he was saying.

Here is the full log : [cuda_11-3_mint-20_log.log](https://github.com/intel/llvm/files/6377789/cuda_11-3_mint-20_log.log)

[2021-04-26 14:39] bader commented on #3618
The documentation still lists only CUDA 10.2: https://intel.github.io/llvm-docs/GetStartedGuide.html#build-dpc-toolchain-with-support-for-nvidia-cuda (although I'm not sure it's relevant to the issue). Our CI system uses CUDA 10.x to build DPC++ with CUDA support and there is no such issue there.

[2021-04-26 14:39] steffenlarsen commented on #3618
I am glad I made an impression! Yes, I am currently using CUDA 11.0, however we haven't yet gone as far as to mark it as "officially support".

That said, I was able to reproduce your problem. Looks like using Unix Makefiles to build DPC++ for CUDA causes a problem in libclc. Exactly what the issue is still to be determined, but the quickest solution may be to use Ninja instead if possible.

[2021-04-26 14:53] steffenlarsen commented on #3618
If Ninja is not available, you can try and run the make command again. For me it succeeded after failing the first time. It smells a bit like a broken dependency in libclc.

[2021-04-26 19:16] AaronBallman opened #3622 "Crash on unreachable that is reachable"
When running CodeGen, there is an `llvm_unreachable` call for creating the SYCL runtime object that is eminently reachable. Executing something like this will trivially hit the issue:
[code]
(Note the lack of a target triple -- I am on an x86_64 machine.)

I think this unreachable should be a frontend diagnostic when running `-cc1 -fsycl-is-device` rather than a crash.

[2021-04-27 07:59] steffenlarsen commented on #3618
Great news, @SylvainJoube! I believe I found the issue and has a fix up (https://github.com/intel/llvm/pull/3624) so if you ever feel like returning to using Unix Makefiles as the generator you should hopefully be able to.

Thank you for reporting this issue. I will discuss this with the tutorial maintainers so we avoid problems like this in the future. If you have any other issues, feel free to p

[2021-04-27 11:11] #3618 closed

[2021-04-27 13:43] bader opened #3629 "Clang ESIMD lit tests rely on sycl-post-link tool"
**Describe the bug**
`Clang :: CodeGenSYCL/esimd-accessor-ptr-md.cpp` and `Clang :: CodeGenSYCL/esimd-private-global.cpp` invoke `sycl-post-link` tool, but it's [not listed](https://github.com/intel/llvm/blob/sycl/clang/test/CMakeLists.txt#L107) as a dependency, which leads to failed tests.

**To Reproduce**
Checkout `sycl` branch, configure build files and build `check-clang` target. It's importa

[2021-04-27 13:51] bader opened #3630 "[Driver] Clang :: Driver/sycl-device-lib.cpp fails if libdevice project is not pre-built"
**Describe the bug**
`Clang :: Driver/sycl-device-lib.cpp` has a dependency on `libdevice` libraries. It seems to me, that driver schedules different actions based on presence of `libdevice` libraries. If libraries are missing some actions are skipped, but test passes only if required libraries are present.

**To Reproduce**
Checkout `sycl` branch, configure build files and build `check-clang` tar

[2021-04-27 13:55] Michoumichmich opened #3631 "[SYCL] Target ordering breaks compilation"
**Describe the bug**
When build for CUDA and CPU targets with  `-fsycl-targets=spir64_x86_64-unknown-unknown-sycldevice,nvptx64-nvidia-cuda-sycldevice` everything works fine. But when targets are swapped there's an error.

**To Reproduce**

With SPIR64 first, it works
[code]

But with CUDA first it does not find the library.
[code]

I'm aware that I'm using an unsupported version of CUDA, but stil

[2021-04-27 14:50] AlexeySachkov commented on #3629
I've had related discussion with @vladimirlaz here: https://github.com/intel/llvm/pull/3561#discussion_r617696190

I guess such tests where we need to launch several tools to check how they operate together, i.e. some integration tests are definitely needed in the project, but I'm not sure what is and/or should be the official location for them?

I was thinking that putting such tests under `sycl/

[2021-04-27 16:22] SylvainJoube commented on #3618
Oh, great, thank you !

Got it, I'll remember it should I have another issue :)

[2021-04-27 18:08] abagusetty opened #3635 "[SYCL] reduction variables with `range`"
Can someone please comment if reduction_variables are supported only with `nd_range` and not with `range` launch configuration.

[code]

Given that `nd_range` supports reduction variable launches from `parallel_for`, a similar support for `range` is beneficial. Link to SYCL specs: https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#sec:reduction

[2021-04-28 08:56] alexbatashev commented on #3588
Switching to `SYCL-2020` branch fixes C++17 issue, but the test still segfaults

[2021-04-28 16:35] Pennycook commented on #3635
Reductions supporting `range` objects is on our to-do list.  We've already started working on implementing the new reduction interface from SYCL 2020 (e.g. see https://github.com/intel/llvm/pull/3315, https://github.com/intel/llvm/pull/3410), and supporting the creation of `sycl::reduction` objects from a `range` object will come as part of that.

Assigning to @v-klochkov, so that he can close thi

[2021-04-28 23:53] DenisBakhvalov commented on #3629
The dependency on sycl-post-link in ESIMD tests wasn't real -- it was rather a leftover from previous big changes I made for SYCL-ESIMD coexistence feature.

[2021-04-29 05:36] ImanHosseini opened #3652 "latest OpenCL cpu runtime not working"
I have the latest graphics drivers (27.20.100.9466), Windows 10 OS, I followed the instructions here: [https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#install-low-level-runtime](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#install-low-level-runtime)to get CPU runtime, and now the device (CPU) is exposed to OpenCL (it gets listed) _BUT_ it doesn't work, fo

[2021-04-29 06:10] ImanHosseini commented on #3652
Ok, the issue was _just_ that: if you manually move tbb12.dll, it works. I didn't find that 'install.bat' and well, it has already made it's way to *Release*, anyway hopefully someone can fix that, or add a line here: [https://github.com/intel/llvm/edit/sycl/sycl/doc/GetStartedGuide.md](https://github.com/intel/llvm/edit/sycl/sycl/doc/GetStartedGuide.md) saying that either rename tbb12.dll to tbb.

[2021-04-29 06:16] ImanHosseini commented on #3652
This did not solve it, now the program crashes at clCreateContext, and here is the debugging state:
![icrash](https://user-images.githubusercontent.com/12172889/116509196-e70bcf80-a890-11eb-887b-22aef9986ed8.PNG)

[2021-04-29 08:35] vladimirlaz commented on #3652
I have applied fix in install.bat https://github.com/intel/llvm/pull/3654
As a workaround you can create links to correct files manually

[2021-04-29 11:10] ImanHosseini commented on #3652
As I discovered above, this did not work, it seems the "tbb.dll" isn't a typo:

The renaming did not fix it for me. What fixed it was using an older OneTBB release from 2020. Back then it was actually named 'tbb.dll' so it seems that it was meant to work with that version and it's incompatible with new tbb12 ones. Fix would be to change dependency configuration file and instructions to reflect the

[2021-04-29 11:37] vladimirlaz commented on #3652
@ImanHosseini  Could you please share the link you used to get CPU RT?

[2021-04-29 17:24] ImanHosseini commented on #3652
installation instructions links to: https://github.com/intel/llvm/blob/sycl/buildbot/dependency.conf
in which we find: https://downloadmirror.intel.com/30381/a08/igfx_win10_100.9466.zip
and I guessed that the issue is compatiblity with OneTBB because the dll used to be called 'tbb.dll' so I guessed the batch install was made back then and the rt would work with that older version (and it does).

[2021-04-29 19:06] TApplencourt opened #3659 "[SYCL2020] `sycl::noinit` -> `sycl::no_init`"
**Describe the bug**
Sycl 2020 changed  `sycl::noinit` into `sycl::no_init` (see 4.7.6.4. Properties https://www.khronos.org/registry/SYCL/specs/sycl-2020/pdf/sycl-2020.pdf)

**To Reproduce**

This code will not compile
[code]

[2021-05-02 13:27] AaronBallman opened #3677 "SYCL headers using unreserved identifiers"
Looking through the SYCL headers, I can't help but notice that it makes *heavy* use of unreserved identifiers in places where reserved identifiers should be used. The SYCL headers are part of the implementation of DPC++ and thus are allowed to use reserved identifiers (similar to the STL or C standard library). We should make use of that allowance to provide a better user experience.

Specifically

[2021-05-03 06:53] dosarudaniel opened #3678 "clang frontend command failed"
**Describe the bug**

clang-13 failed at link time
[code]

**To Reproduce**
When I am trying to execute `make example9.1` in this [code](https://github.com/dosarudaniel/oneAdePT/tree/linking_error/examples/Example9.1) I get this error:
[code]
I tried to link only one object file and the error above appeared when I executed:
after the CMakeFiles/example9.1.dir/electrons.dp.cpp.o is produced:
[code]

[2021-05-03 14:00] AaronBallman commented on #3677
One potential way to address this would be to write a clang static analyzer plugin that gets run automatically by clang-tidy (clang-tidy does not support plugins currently). This way, new code added into the SYCL headers can fail the CI pipeline if an unreserved identifier is used instead of a reserved one. Then we can incrementally improve the existing headers as code is touched, unless we want t

[2021-05-03 20:53] jbrodman commented on #3325
Hi - you might look here to see if there's anything of use: https://github.com/jeffhammond/intel-llvm/tree/agx-works

[2021-05-04 09:36] vmaksimo opened #3686 "List of SPIR-V Translator patches that were reverted during pulldowns from Khronos repo"
Should be enabled back once CPU RT is updated to new version:

* ~~Encode debug info producer in SPIR-V https://github.com/KhronosGroup/SPIRV-LLVM-Translator/commit/601e4a5. Revert patch: https://github.com/intel/llvm/commit/6822b42879305760ce7389f975c58837fb16b736
Follow-up patch to be applied too: https://github.com/KhronosGroup/SPIRV-LLVM-Translator/commit/8f59b426696757370ea1ca7b0ff7ef2880e871

[2021-05-05 10:33] steffenlarsen commented on #3678
This looks similar to https://github.com/intel/llvm/issues/3346 which was fixed with https://github.com/intel/llvm/pull/3535 ~2 days after the DPC++ version you are using. Very unfortunate timing!

[2021-05-05 15:52] dosarudaniel commented on #3678
I managed to reproduce the error in this simple [example](https://github.com/dosarudaniel/oneAdePT/blob/reproduce_bug/tests/test12.cpp).

Even if I am using the latest version of clang++ (c2d6cfa0ffff2f45465e822447af318d01811b68)  (which has the #3535 fix when I execute `make test12` I get:
[code]

I found a workaround to this problem with this piece of code such that when I am compiling for devic

[2021-05-05 17:01] #3652 closed

[2021-05-05 17:12] steffenlarsen commented on #3678
I see! Looks like there are two separate bugs in the report, the first having been fixed in https://github.com/intel/llvm/pull/3535. I apologize for my confusion.

Yes, you will have to use the `sycl::cos` inside the kernels. However, these should also work as intended on host. If you really want to make a distinction between `sycl::*` and `std::*` then what you are doing with `__SYCL_DEVICE_ONLY_

[2021-05-05 17:34] alexbatashev commented on #3678
I think, for now using `sycl::` builtins is a go-to way.
However, we have an [extension](https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/C-CXX-StandardLibrary/C-CXX-StandardLibrary.rst), that could make life easier for those, who port CUDA/C++ code to SYCL. If you look closely, those `std::` math functions result in a call instruction in final binary ([proof](https://godbolt.org/z/5P8q

[2021-05-06 08:29] dosarudaniel opened #3699 "fsycl-targets ordering interfere with cuda-gpu-arch flag"
**Description**
When I am trying to compile this [sample code](https://github.com/dosarudaniel/oneAdePT/blob/62a0612372291d97877920767c3d6c394270c0f7/tests/test12.cpp) (`make test12`) , with this [CMakelist file](https://github.com/dosarudaniel/oneAdePT/blob/62a0612372291d97877920767c3d6c394270c0f7/CMakeLists.txt#L29)
which contains these flags:
[code]
  I get this error : `const: Assertion !GpuAr

[2021-05-06 10:18] alexbatashev commented on #3699
Tagging @AGindinson @mdtoguchi and @steffenlarsen

[2021-05-07 01:35] keryell commented on #3699
@Ralender is this the same bug you are working on with Nvidia GPU + Xilinx FPGA in https://github.com/triSYCL/sycl ?

[2021-05-07 09:57] malixian opened #3711 "How to use cudnn or cublas by DPC++?"
Is it possible to achieve this demand? Can you give me an example？

[2021-05-07 10:13] alexbatashev commented on #3711
Both [oneDNN](https://github.com/oneapi-src/oneDNN) and [oneMKL](https://github.com/oneapi-src/oneMKL) have CUDA backend, and as far as I know, they use cudnn and cublas under the hood. As a bonus you get full DPC++ compatibility and performance portability across multiple vendors and device types. Would that fit your needs?

[2021-05-07 10:13] #3711 closed

[2021-05-07 15:36] Ralender commented on #3699
I dodged this issue via:
[code]
but this is more a way to bypass the issue than to fix it as it will also affect the cuda workflow.

[2021-05-07 20:02] smaslov-intel commented on #1516
This can be closed as we had settled with a solution, which is different for different backends.
**OpenCL**: https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#sec:opencl:interfacing-with-opencl

**Level Zero**: https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/LevelZeroBackend/LevelZeroBackend.md#44-level-zero-handles-ownership-and-thread-safety

I am not aware of

[2021-05-11 14:44] bader opened #3723 "Update isAddressSpaceSupersetOf function comment."
Might be good to update the comment of that function to reflect the changes

_Originally posted by @Naghasan in https://github.com/intel/llvm/pull/3634#r627318254_

[2021-05-12 05:04] SchrodingerZhu opened #3731 "Intel Compiler Classic Does Not Recognize __extension__"
**Describe the bug**
Intel Compiler Classic Does Not Recognize __extension__. However, libcxx (used on MacOS) relies it to implement `atomic<T>`/

**To Reproduce**
On MacOS with latest `icpc`:
[code]
This produces:
[code]
**Environment (please complete the following information):**
- OS: MacOS
**Additional context**
Sorry, I could not find any place to report classic compiler issues. But this is r

[2021-05-12 09:38] krasznaa opened #3732 "[SYCL] Creating a buffer from a vector results in a linker crash"
**Describe the bug**

While trying to test something entirely different, I found that a way in which I've set up buffer objects in the past for tests, is apparently not working anymore. The compilation crashes... At least I think the trigger is how the `sycl::buffer` object is created in the test. But I'm really not sure.

**To Reproduce**

I can make the compiler crash with something as simple as

[2021-05-12 09:51] alexbatashev commented on #3732
@krasznaa on the contrary, I think buffer is ok. But I find it suspicious, that you capture a contexpr static variable by value. I'm not sure it is allowed. Like, what should be the behavior, if you decide to change the value of that variable inside kernel. Also, the backtrace points to spirv translator.

Tagging @AlexeySachkov @AlexeySotkin

[2021-05-12 09:51] krasznaa commented on #3732
Aaargh... :angry:

No, it's not he buffer after all. It's how the kernel tries to compare the value of `sycl::id<1>` to the `std::size_t` constant. If I remove that, the build succeeds. I thought that I would be free to use the `BUFFER_SIZE` variable in the kernel, but apparently not.

And I see your comment now as well. :stuck_out_tongue:

[2021-05-12 09:53] alexbatashev commented on #3732
@krasznaa does removing `static` help?

[2021-05-12 10:14] krasznaa commented on #3732
It does... (Simply removing that one keyword makes the build succeed.)

:thinking: I'm always just using `constexpr` together with `static`. Not because of some deep idea behind all of it, just because I'm mostly replacing `static const` variables with `constexpr` ones. In the end, behaviour-wise `static constexpr` and `constexpr` should not be all too different, or should they be?

I think I more

[2021-05-12 10:54] alexbatashev commented on #3732
It's a common misconception, that `constexpr` values will be evaluated in compile time. Compiler may still emit some code for those constructions. Like in your case, the code may actually try to reference `BUFFER_SIZE ` inside your lambda. See my example: https://godbolt.org/z/75YjYG4hz The compiler had to actually emit something for `Foo` for me to be able to take it's address. Without `static` k

[2021-05-12 11:01] AlexeySachkov commented on #3732
`constexpr` implies `const`, so any modifications won't be allowed and therefore it shouldn't matter whether the variable is global (implied by `static`) or not. From https://en.cppreference.com/w/cpp/language/constexpr:

It is surprising for me that such simple kernel contains non-constant length memmove within it and it is even more surprising that it is triggered by that "if".

[2021-05-12 13:01] JackAKirk opened #3734 "inconsistent tbb versions in buildbot/dependency.conf"
In dependency.conf links are given to packages followed by version definitions that do not match the package links.  This is a bit confusing.

e.g. see from line 17:

# https://github.com/oneapi-src/oneTBB/releases/download/v2021.1.1/oneapi-tbb-2021.1.1-lin.tgz
tbb_ver=2021.2.0.236
# https://github.com/oneapi-src/oneTBB/releases/download/v2021.1.1/oneapi-tbb-2021.1.1-win.zip
tbb_ver_win=2021.2.0.2

[2021-05-12 16:16] jasonsewall-intel opened #3737 "[SYCL] Passing global variable to kernel lambda compiles, produces confusing results"
SYCL 2020 (sec 5.4) says:

`Variables with static storage duration that are odr-used inside a device function, must be const or constexpr and zero-initialized or constant-initialized`

It seems possible to use a variable with static storage duration inside a device function, and furthermore running it yields unexpected results.

**To Reproduce**

1. global.cpp:
[code]

2 .compile with:
`$ dpcpp gl

[2021-05-12 17:40] pkeir opened #3740 "[SYCL] Unnamed lambdas should be fine with -sycl-std=2020"
With a build of the current DPC++ tip, the code below from Section 3.2 of the SYCL 2020 spec. can be compiled using `clang++ -fsycl -fsycl-unnamed-lambda sycl_spec_2020_example_3_2.cpp`.

The same command will fail with the `-fsycl-unnamed-lambda` flag removed; even with `-sycl-std=2020` added explicitly. Am I right that the code below should build without the `-fsycl-unnamed-lambda` flag?

[code]

[2021-05-12 21:42] smanna12 opened #3742 "Refactor of reqd_work_group_size and max_work_group_size attributes"

[2021-05-12 21:54] smanna12 opened #3743 "check the dimensionality of the kernel as well"
I think we need to check the dimensionality of the kernel as well (see https://github.com/KhronosGroup/SYCL-Docs/issues/142).

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3728#discussion_r631073882_

[2021-05-13 00:37] zjin-lcf opened #3745 "[SYCL][CUDA] Support multiple devices"
Add a relevant issue for multiple Nvidia GPUs  when running the example #3583

Thanks.

llvm/sycl/plugins/cuda/pi_cuda.cpp:1588: pi_result cuda_piContextCreate(const pi_context_properties*, pi_uint32, _pi_device* const*, void (*)(const char*, const void*, size_t, void*), void*, _pi_context**): Assertion `num_devices == 1' failed.

[2021-05-13 10:07] vmaksimo commented on #3686
Re-applied in https://github.com/intel/llvm/pull/3687

[2021-05-13 12:36] AaronBallman commented on #3742
It'd be helpful to add a description to the bug. :-)

[2021-05-13 12:54] erichkeane commented on #3740
I don't have a good idea of that, are we saying that 'unnamed lambda' support is required for SYCL2020?  If so, there is likely a task here to enable that feature by default.  @mdtoguchi : is this something that fits in with the driver, or should this be done in the CC1 invocation? @AaronBallman : Do you happen to know how we might do that for the marshalling?

[2021-05-13 13:01] AaronBallman commented on #3740
Given that CC1 has a `-sycl-std=`, this likely should be handled in the CC1 invocation only if the `-fno-` flag is not also present. I have no idea how to do that from the new-fangled marshaling stuff.

[2021-05-13 13:27] jasonsewall-intel commented on #3737
I'll add that I can reproduce this behavior with this nightly: https://github.com/intel/llvm/releases/tag/sycl-nightly%2F20210512

[2021-05-13 13:35] erichkeane commented on #3737
There is likely a feature request here to implement the global limitation, as well as perhaps a bug for why 'i' evaluated that way (which would be consistent with lambdas in general).  I likely don't have a chance to look at this anytime soon, but if someone else can evaluate this, it would be helpful.

A preprocessed and reduced version that provides as little of the headers as possible would als

[2021-05-13 13:39] jasonsewall-intel commented on #3737
Any suggestions on how to reduce the preprocessed version? Looks like it's about 222k lines long.

[2021-05-13 13:42] erichkeane commented on #3737
I've used creduce successfully in the past.

[2021-05-13 14:36] erichkeane commented on #3740
Actually, I'm not sure how we could do this with our compiler without driver help.  The unnamed-lambdas only work with support for __builtin_unique_stable_name in the 'host' compiler, so we can't jsut set this with sycl-2020.

[2021-05-13 14:37] zjin-lcf opened #3753 "[SYCL] memset in a kernel"
Will some features be supported by SYCL compilers ?
https://stackoverflow.com/questions/34785671/using-memset-in-a-cuda-kernel

[2021-05-13 14:52] mdtoguchi commented on #3740
I suppose the driver could be of assistance here given the lovely ability to call an external host compiler. :)

[2021-05-13 14:54] zjin-lcf commented on #3737
Using SYCL buffers shows the following error message at compile time:

SYCL kernel cannot use a non-const global variable

"I would expect this to fail to compile"

[2021-05-13 15:03] zjin-lcf commented on #3740
My test is that the compiler reports errors without using the 'unamed flag'

sycl/CL/sycl/handler.hpp:1004:50: error: unnamed lambda 'sycl::detail::__pf_kernel_wrapper<(lambda at )>' used

a minor change: no_init -> noinit

[2021-05-13 15:16] zjin-lcf commented on #3732
My test shows the following error when the keyword 'static' is not removed in the codes:

While deleting: void (%"union._ZTSSt9_Any_data.std::_Any_data"*, %"class._ZTSN2cl4sycl7handlerE.cl::sycl::handler"*)* %
Use still stuck around after Def is destroyed:  store void (%"union._ZTSSt9_Any_data.std::_Any_data"*, %"class._ZTSN2cl4sycl7handlerE.cl::sycl::handler"*)* <badref>, void (%"union._ZTSSt9_An

[2021-05-13 15:20] jasonsewall-intel commented on #3737
@zjin-lcf  can you elaborate on your comment? How do SYCL buffers figure into this?

[2021-05-13 15:25] jasonsewall-intel commented on #3737
@erichkeane My preprocessed file doesn't compile at all, presumably because of device/2-pass magic. Can you share your workflow for extracting preprocessed files that then compile?

[2021-05-13 15:35] zjin-lcf commented on #3737
Could you please run the following program ?  I just added my observation  after building the buffer-style program in my reply. Compiler people will know the cause for your USM-style program.  Thanks for the example.

[code]

[2021-05-13 19:40] erichkeane commented on #3737
There IS some funny business that I think @mdtoguchi is just managing recently, but I find that if you open the preprocessed file and remove all but the 1st 'version', you can do a device-only compile that gets you everything you'd want.

[2021-05-13 19:49] mdtoguchi commented on #3737
there were a few updates made to preprocessing recently (couple of weeks ago).  Basically, the generated preprocessed file is a fat preprocessed file (has both device and host preprocessed files).  The compiler should be able to take that and will unbundle it accordingly as long as the `-fsycl` option is passed.  Just be sure that the compiler knows it's a preprocessed file by using the `.ii` exte

[2021-05-13 21:02] jasonsewall-intel commented on #3737
Well, I don't know if I need to file another issue or what, but here's what I'm doing:

[code]
And the second call produces the following errors (among others):
[code]

So what should we do to get to the bottom of this?

[2021-05-13 21:08] erichkeane commented on #3737
On the first error, that is strange!  Apparently posix_memalign is defined in 2 different ways.  Can you manually add that in your file?

For the constexpr issues, you can just add -Wno-invalid-constexpr to remove those.

That said, and perhaps @mdtoguchi can explain: It appears that the ' line markers' are missing.  Both of those things look like errors that would be ignored in the 'header', but

[2021-05-13 21:12] jasonsewall-intel commented on #3737
Oho, that's the issue! I was using `-P -E`, because I would normally strip the line markers for this sort of thing. But clearly, they are important! When I remove the `-P` option from the first command, it compiles. I'll set creduce to work on it.

[2021-05-13 22:23] erichkeane commented on #3737
Ah! I missed that in the command line you sent.  Yes, that would explain it :)  The compiler suppresses all warnings in the 'system headers' as well as SOME errors (particularly with builtins, we aren't as strict at matching and assume the standard headers do what the standard says), so they are often pretty useful.

It'll slow CReduce down slightly, since it will have to keep line markers around

[2021-05-14 04:14] keryell commented on #3677
What about starting a `clang-tidy` project to protect an existing library by prepending `__` almost everywhere? The problem is then how to specify what is really part of the user-facing API and does not need to be protected... I guess some people had already this issue... Just use the new module exporting syntax? :-)

[2021-05-14 09:41] AlexeySachkov opened #3758 "[ESIMD] private_memory tests sporadically fail"
`pm_access_1/2/3` tests fail on GPU sporadically with the following error message:

[code]

They were disabled in intel/llvm-test-suite#277 and intel/llvm-test-suite#282. Failures were encountered in #3748 and #2292. This issue is submitted to track analysis and tests re-enabling

[2021-05-14 10:01] bader commented on #3758
More instances of these failures in https://github.com/intel/llvm/pull/3634 and https://github.com/intel/llvm/pull/3718

[2021-05-14 11:18] AaronBallman commented on #3677
We could use clang-tidy if we want to have an internal build of it, rather than loading plugins through the static analyzer. One benefit to that approach is that we can then run the tidy check on Windows CI as well as Linux (plugin support doesn't work on Windows).

I think the user-facing parts could be nailed down somewhat rigorously:
  * Public namespaces are a configurable set (either configur

[2021-05-14 11:38] vmaksimo commented on #3686
Unfortunately, re-applying of these patches caused regressions that were caught by llvm-test-suite. Will wait for a proper investigation and fix (maybe from @MrSidims)

[2021-05-14 12:14] #3659 closed

[2021-05-14 15:09] #3622 closed

[2021-05-14 15:55] DenisBakhvalov commented on #3758
Yes, the vector backend compiler team is working on it.

[2021-05-14 19:32] smanna12 opened #3761 "Can we add AdditionalMember to set LangOptions for WorkGroupSize"
I sort of wonder whether we'd be doing a good thing by having an `AdditionalMember` like:
[code]
Perhaps not as part of this PR though -- this may be worth thinking about for when we correct the behavior of the one, two, and three arg forms of the attribute.

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3728#discussion_r632719591_

[2021-05-14 19:35] TApplencourt commented on #3659
Thansk!

[2021-05-18 17:46] mmeterel opened #3780 "[SYCL][CUDA] Recommended API for deprecated ones"
oneMKL open source interfaces is using the context "get" API for CUBLAS backend. As noted below, it is being deprecated. What is the recommendation to replace this API?

https://github.com/intel/llvm/blob/bd581c5e04338dc068bdbedd8980ae4bf76bdbe1/sycl/include/CL/sycl/context.hpp#L191

[2021-05-18 17:48] bader commented on #3780
I think this message must be updated to include the replacement.

[2021-05-19 13:24] romanovvlad commented on #3780
@alexbatashev  Could you please help?

[2021-05-19 17:22] smanna12 opened #3784 "Replace the call to `llvm::any_of()` instead of doing the loop manually"
I am pretty sure this can be replaced by a call to `llvm::any_of()` instead of doing the loop manually (I'm not quite certain of the lambda signature for the predicate though as I'm not familiar with whatever the offload toolchain iterator is vending).

_Originally posted by @AaronBallman in https://github.com/intel/llvm/pull/3776#discussion_r635431428_

[2021-05-20 06:50] alexbatashev commented on #3780
That is not a correct usage of APIs. `get()` method does not return a native handle for CUDA backend, and instead returns [this structure](https://github.com/intel/llvm/blob/sycl/sycl/plugins/cuda/pi_cuda.hpp#L123).

You can use [get_native](https://github.com/intel/llvm/blob/5c4275ac8f37f210a2529ab494dcf74c56ba8406/sycl/include/CL/sycl/backend.hpp#L64)

[2021-05-20 15:00] AlexeySachkov commented on #1382
@Alexander-Johnston,

Some work in this direction has been already done: intel/llvm#3471, for example, allows us to generate both LLVM IR and integration header by a single `clang` invocation. However, I'm not that familiar with driver so I'm not exactly sure that your problem was fixed by that PR. @mdtoguchi and @AGindinson should know better

[2021-05-20 15:07] AlexeySachkov commented on #1797
Hi @ax3l,

I did some experiments with `ccache` some time ago using simple SYCL/DPC++ apps and I was able to do so just fine.
A few notable moments, though:

`ccache` which is available in Ubuntu 20 repos is a bit outdated (for me it was `3.4.1`) and [per the docs](https://ccache.dev/manual/3.4.1) it doesn't have a mechanism to tell which kind/type of compiler is being used - that version was main

[2021-05-20 15:12] AlexeySachkov commented on #3308
Hi @masterleinad,

We have actually fixed this problem already in the upstream SPIR-V translator repo: KhronosGroup/SPIRV-LLVM-Translator#985, but by some reason I don't see this patch in intel/llvm repo: it looks like it was lost. @vmaksimo, could you please check as well and include it into the next pulldown?

[2021-05-20 15:17] WeiqunZhang commented on #1797
I can confirm that `ccache` and `dpcpp` now work for me.  I am using ccache 4.3 and oneAPI 2021.2.0.  I am also using it without specifying `compiler_type`.  It seems to just work fine.

[2021-05-20 15:28] vmaksimo commented on #3308
Actually, two commits were lost between WW17 and WW18 pulldowns:
https://github.com/KhronosGroup/SPIRV-LLVM-Translator/commit/5071ae977065ac11661c6d3a9e56cf42f2258c42
https://github.com/KhronosGroup/SPIRV-LLVM-Translator/commit/b9e4fa4b912d9dc65f776c94197185a86d1d200f

I'll apply them with the nearest pulldown.

[2021-05-20 17:10] mmeterel commented on #3780
@alexbatashev Thanks for the recommendation. It works. Closing.

[2021-05-20 17:10] #3780 closed

[2021-05-21 08:09] dbabokin opened #3796 "Assert in ScalarEvolution.cpp:4075"
Here's the reduced tests case:

[code]

When compiled by Intel version of clang (for example, by latest compiler `DPC++ daily 2021-05-20`) with `-O2`, it asserts at `ScalarEvolution.cpp:4075`. The bug is not reproducible with "pure" open source clang.
[code]

[2021-05-21 08:27] bader commented on #3796
@dbabokin, could you clarify what version of "pure" open source clang can't reproduce this bug, please?

[2021-05-21 08:30] dbabokin commented on #3796
Neither `trunk` nor `12.0`: https://godbolt.org/z/afKrozcxn

[2021-05-21 13:00] jasonsewall-intel commented on #3737
creduce's output (finally!):

[code]

[2021-05-21 13:16] erichkeane commented on #3737
I looked at the IR and int header from the CFE and can't find a reason why the answer would be wrong.  I'm guessing this is something later in the process assuming that all globals are unmodified :)

So the error here is that the global-variable-not-static/const error isn't working for this for some reason.  @premanandrao  I seem to remember you were working on that at one point?  Do you have an i

[2021-05-21 14:21] premanandrao commented on #3737
I think there is a general bug where because of how the deferred diagnostic mechanism works, the declaration that is associated with the diagnostic is the template declaration, where as at the point of diagnostic emission, the declaration is the instantiated version.  And because they don't match, the diagnostic emission is skipped.   Let me see if that is the case with this reproducer.

[2021-05-21 23:13] kbobrovs commented on #3631
@mdtoguchi, FYI. AFAIK you are about to do some refactoring in the driver anyway, so maybe you could take a look at this one too.

[2021-05-24 11:17] dm-vodopyanov commented on #3324
@TApplencourt, thanks for reporting! The fix is available in this commit: https://github.com/intel/llvm/commit/67eac4bd76837650ed3fb299ce96d2df9ad19b8b

[2021-05-24 11:17] #3324 closed

[2021-05-24 13:54] bader commented on #942
Done by https://reviews.llvm.org/D89909 and https://reviews.llvm.org/D100396.

[2021-05-24 13:54] #942 closed

[2021-05-24 15:29] TApplencourt commented on #3324
Thanks a lot!

[2021-05-25 17:59] Pennycook opened #3816 "Support std::memcpy or improve detail::memcpy"
**Is your feature request related to a problem? Please describe**
As noted in https://github.com/intel/llvm/pull/3815, the performance behavior of `sycl::detail::memcpy` is different to the performance behavior of `std::memcpy`.  In my tests, performance is up to 2x better with `std::memcpy`.

**Describe the solution you would like**
I think there are two options:
1. Support `std::memcpy` in devic

[2021-05-25 21:15] AGindinson opened #3817 "[Driver][Test] Move SYCL LITs into a separate directory"
As discussed in [this review thread](https://github.com/intel/llvm/pull/3801#discussion_r639194006), the benefits of moving Driver LITs into a dedicated subdirectory could be:
1. Easier time launching SYCL-specific tests locally (`llvm-lit clang/test/Driver/SYCL/` instead of `llvm-lit clang/test/Driver/sycl-* # Let's hope there are no other namings`)
2. Less clutter in the base directory
3. Along

[2021-05-26 05:54] bader commented on #3816
Tagging @jinge90.

[2021-05-26 06:10] jinge90 commented on #3816
Hi, @bader and @Pennycook
We also plan to add support std::memcmp, std::memcpy in SYCL device library since we found some std items request by users had dependency on those mem* functions.
Thanks very much.

[2021-05-26 13:49] yiakwy-mapping-team opened #3823 "[BUG] Terrible DPC++ configuration for Linux Ubuntu machine"
## What is going on
Here is an instruction from intel how to configure latest DPC++ in a new machine:

From "Build DPC++ toolchain" and "Use DPC++ toolchain" , they just don't tell it clear how to build and test the DPC++ libraries.

After compilation, I try to run one of test cases from "oneAPI-Samples" for reduce operation. It apparently failed.

## Expected

1. build it in a linux env like Ubun

[2021-05-26 14:08] Pennycook commented on #3816
Thanks, @jinge90.  Do we have an ETA?

@bader: All of the tests in #3815 pass.  Would you still rather wait until `std::memcpy` is officially supported before merging?

[2021-05-26 14:16] bader commented on #3816
I'm not sure if CI pre-commit tests cover shuffle functionality very well, but if you okay to address issue found post-commit, I don't have any objections.

[2021-05-27 10:55] alexbatashev opened #3833 "kernel_bundle::get_kernel_ids returns empty vector on CUDA"
kernel_bundle gets information about available kernels from offload entries. However, no offload entries are generated for CUDA images (according to [this](https://github.com/intel/llvm/pull/3609/files#diff-f8c64e36dfe3828a6f816c4550e78bb0305769ace1be53207e86ac9a3280ac9eR4351)). As a result no kernel_id-related APIs are available with CUDA backend.

[2021-05-27 14:26] romanovvlad commented on #3833
@mdtoguchi, @AGindinson  FYI

[2021-05-27 16:45] s-kanaev commented on #3385
Well, it's being a late response here.
Anyway, having the following declarations/definitions in user's app might be quite of a workaround:
[code]

The application like this should be built and run with the following commands:
[code]
Commands:
[code]

[2021-05-31 10:28] Fznamznon commented on #2376
I've tried test case from @krasznaa  with the latest compiler sources and it fails with an assertion from clang FE. @elizabethandrews , @premanandrao , @AaronBallman , FYI.

[code]

[2021-06-01 02:25] yiakwy-mapping-team commented on #3823
@romanovvlad

[2021-06-01 08:17] AlexeySachkov commented on #3823
Hi @yiakwy-mapping-team, thanks for you bug report

A few questions:

Could you please attach corresponding logs and reproducer? There is an example of the failed test, but it has nothing to do with DPC++ - it is just a test for `llvm-ranlib` utility which is not used by the toolchain as far as I know.

From my point of view this is exactly what we have right now: according tp [Build DPC++ toolcha

[2021-06-01 12:27] AaronBallman commented on #2376
When trying to reduce the example, I noticed that something strange is happening. I had gotten it down to:
[code]
I could still reproduce the failed assertion with that. Notice how the `queue` object is unused? When I remove that... the assertion goes away. But if I leave `queue` alone and remove the kernel call instead, the crash goes away. If I change `BUFFER_SIZE` to a literal, the crash also g

[2021-06-01 17:59] dm-vodopyanov commented on #3734
@tfzhu, can you please respond?

[2021-06-02 07:04] yiakwy-mapping-team commented on #3823
@alexey-bataev

1. I will give you full message print onto the screen soon. To reproduce the screen, just follow the steps (misunderstanding might happen here) and check the tests
2. It became confusing when I went to section

3. Yes I can compile but it is not very clear what which version of gcc used by the project.
4. I mean there is no FindDPC shipped. How I can use them in a third-party cmake

[2021-06-02 07:37] vladimirlaz opened #3862 "Build options are ignored when compile/link is done as separate commands"
**Describe the bug**
When JIT compile/link is done as separate command both for program and kernel bundle build options passed in device image API and environment variables are missed.
Use tests from https://github.com/intel/llvm-test-suite/pull/302/commits/274a06cb96ab5cd2019e3d436775c74b636f85bf

**To Reproduce**
Build/Run programs from the link above with SYCL_PI_TRACE=2. Make sure that options

[2021-06-02 07:47] MrSidims commented on #3823
According to https://intel.github.io/llvm-docs/GetStartedGuide.html#prerequisites

Or are we talking about device/host compilation of the actual DPCPP code and not compilation of the compilator? I'm confused.

[2021-06-02 07:50] alexbatashev commented on #3823
Just like you'd use any other compiler: either by setting `CC=clang` and `CXX=clang++` (on Linux), or by passing `-DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++` (also linux) or `-DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl` (windows) flags to cmake configuration line. Just make sure that `clang` is actually clang executable, that was result of building this repository code.

[2021-06-02 17:35] schittir commented on #3529
Hi @AaronBallman - I am considering picking up this issue soon; there is still the case for it, but I don't think no_offset support is implemented yet. Could you please share your thoughts on this/what you would like to see?

[2021-06-02 18:19] AaronBallman commented on #3529
We should check with @bader and probably @erichkeane as well, but my thinking was that we should have an undocumented attribute that only works in system headers along the lines of what's prototyped in https://github.com/intel/llvm/pull/2091. I'm not certain where this PR ended up or why it was dropped though, so it'd be good to understand what was learned from it.

[2021-06-02 18:21] erichkeane commented on #3529
Yeah, that is supposed to be the direction of the fix.  @Fznamznon stopped working on CFE tasks, so I'm guessing that is why this was abandoned.

[2021-06-03 09:44] bader commented on #3529
@schittir, according to my understanding @zahiraam is about to start working on #2091.
Please, sync with @zahiraam to avoid work duplication.

[2021-06-03 11:53] zahiraam commented on #3529
Yes I have started looking at the #2091 that implements the sycl_class_attribute.

[2021-06-03 12:58] AlexeySachkov commented on #3823
Yes, this is a missing thing for sure. Related feature request is #1000 - if you have particular suggestions feel free to post them there.

I see that there was an attempt to add `FindSYCL` into `CMake` distribution [here](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/5701), but it doesn't seem to be finished due to some [design concerns](https://gitlab.kitware.com/cmake/cmake/-/issues/2

[2021-06-03 16:31] schittir commented on #3529
Thank you all for your comments/updates! I transferred this issue to @zahiraam

[2021-06-03 18:39] bader commented on #3063
BTW, @erichkeane, can we close this?

[2021-06-03 18:40] #3063 closed

[2021-06-03 18:41] erichkeane commented on #3063
Re-implementation (with a different name and slightly different syntax) here: https://github.com/llvm/llvm-project/commit/eba69b59d1a30dead07da2c279c8ecfd2b62ba9f

[2021-06-03 19:37] ax3l commented on #1797
Awesome, thanks a lot for testing and confirming!

[2021-06-03 19:37] #1797 closed

[2021-06-04 00:20] mdtoguchi opened #3877 "[Driver] Multiple unbundlings occur for preprocessed files"
**Describe the bug**
When compiling with `-fsycl` with a preprocessed input file (file.ii), 2 unbundle passes take place, one for the device, the second for the host.  This should be a single unbundling call that generates both of the host and device preprocessed files to be consumed.

**To Reproduce**
clang++ -fsycl file.ii -c

[2021-06-04 06:25] bader commented on #3630
@jinge90, it looks like the is not fixed. There were two commits recently breaking SYCL project build, which impacted `check-clang` results. `Clang :: Driver/sycl-device-lib.cpp` still fails if libdevice project is not built.
Could you take a look, please?
See https://github.com/intel/llvm/runs/2738419633?check_suite_focus=true and https://github.com/intel/llvm/runs/2740297660?check_suite_focus=tr

[2021-06-04 07:59] jinge90 commented on #3630
Hi, @bader
It looks weird, I just built the latest compiler and removed all libdevice binary, the sycl-device-lib.cpp can still pass with all the libdevice binary removed.
Can I log in the machine to have a look or can anyone provide the file list in compiler library folder from the failed SYCL project?
Thanks very much.

[2021-06-04 10:10] bader commented on #3630
I think this issue should be reproducible from clean state (i.e. when build directory is removed):
1. run `configure.py` + `check-clang` before building other targets.
2. or maybe `make/ninja clean` + `check-clang` will work.

Anyway the steps from post-commit will work if you checkout https://github.com/intel/llvm/commit/70281eac7af19d242259490ec4ae88c4248f8cf5.

Please, contact @tfzhu or @DoyleL

[2021-06-09 19:51] AGindinson opened #3906 "[Driver] Provide CLI for configuring SPIR-V extensions"
In specific cases, the compiler user may want to enable/disable certain or all SPIR-V extensions for the forwards SPIR-V translation. For example, whenever a third-party OpenCL Runtime is to be used under the hood of DPC++ RT, it [can be necessary](https://github.com/intel/llvm/pull/3869#discussion_r648358297) to pass `--spirv-ext=-all` to the translator.

Possible driver solutions:
1. A CLI optio

[2021-06-11 06:52] Fznamznon commented on #2376
FYI: the translator's problem with llvm.memmove of non-constant length should be fixed now https://github.com/KhronosGroup/SPIRV-LLVM-Translator/pull/1060 , the fix will come there with one of the next pull downs, it doesn't fix the front-end assertion fail though.

[2021-06-11 12:16] dosarudaniel commented on #3678
As a follow up, I used this hack
[code]

for the following math functions:
`log, exp, cos, sin, pow, frexp, ldexp, modf`

Other used functions which did not need this hack:
`abs, fabs, sqrt`

[2021-06-11 20:33] 0x6675636b796f75676974687562 opened #3925 "[SYCL] clang++: `-fsycl` invokes the compiler front-end even in pure preprocessor mode (`-E`)"
`clang++ -E` is supposed to run just the preprocessor.
The preprocessor mode combined with `-fsycl` (`clang++ -E -fsycl`), however, invokes the compiler front-end.

**To Reproduce**

Consider the following partial (non-compilable) code:

[code]

Whenever the above code is preprocessed with either

[code]

or

[code]

both compilers produce their output w/o any error, and the result may be included

[2021-06-11 20:39] bader commented on #3925
@mdtoguchi, could you take a look, please?

[2021-06-11 21:20] mdtoguchi commented on #3925
This is expected behavior.  When creating preprocessed files, we need to take into account the integration header.  The integration header is created by the device compilation which will be used to create the preprocessed file for the host compilation.

[2021-06-12 05:14] #2264 closed

[2021-06-14 14:40] Michoumichmich commented on #3925
Maybe you could use `#if defined(__SYCL_DEVICE_ONLY__)` to circumvent your problem?

[2021-06-15 08:45] vladimirlaz opened #8813 "Basic/host-task-dependency.cpp fails sporadically on CUDA"
The test is disabled in the scope of intel/llvm-test-suite#319
The failure log is below:
[code]

[2021-06-15 09:27] vmaksimo commented on #3308
These patches were merged as a part of https://github.com/intel/llvm/pull/3779 on May, 25.

[2021-06-15 09:31] AlexeySachkov commented on #3308
@vmaksimo, thanks!

@masterleinad, could you please verify that you don't see this problem on your side anymore and close the issue?

[2021-06-15 10:58] unix-junkie commented on #3925
@mdtoguchi, thank you for looking into this!

Still, isn't `-E` supposed to also imply `-fsycl-device-only`?

[2021-06-15 11:15] 0x6675636b796f75676974687562 commented on #3925
@Michoumichmich, thank you for your suggestion, but, unfortunately, we coudln't.

We accept a user-specified compiler along with its default switches (similarly to the way how _CMake_ accepts `CMAKE_<LANG>_COMPILER` and `CMAKE_<LANG>_COMPILER_ARG1`) and try to infer the compiler information from the preprocessor output.

Looks like our assumption that `-E` meant "do not compile" was wrong.

[2021-06-15 11:27] Michoumichmich commented on #3925
[This](https://github.com/intel/llvm/commit/3a18db6ab266d3ba4890b0de75c9408c8c5901f0) is the commit that "broke" my toolchain integration fyi

[2021-06-15 16:51] masterleinad commented on #3308
Yes, the issue seems to be resolved. Thanks!

[2021-06-15 16:51] #3308 closed

[2021-06-17 10:59] Michoumichmich opened #3947 "SYCL Device Selector can return an invalid device"
Hello,

My question concern device selectors. It seems to me that clang allows you to construct a `device` and a `queue` for a 'target' without having compiled for it.

Let's consider the following code :

[code]

And the "makefile"
[code]

**Expected behaviour**
We would expect `try_get_queue(cuda_selector{})` to return a device that satisfies `sycl::info::device::is_available` and has a cuda bac

[2021-06-17 11:07] Michoumichmich opened #3948 "[Regression] Cannot target nvptx64 and spir64_x86_64 at the same time"
**Describe the bug**
When compiling the example from https://github.com/intel/llvm/issues/3947 we cannot target both CPU and GPU at the same time. Targeting the CPU or GPU separately works.

**To Reproduce**
See https://github.com/intel/llvm/issues/3947 and build with `make all`.

We get, with the current version of clang (`clang version 13.0.0 (git@github.com:intel/llvm.git 5e8e5eaa253d0881c5772e

[2021-06-17 12:04] alexbatashev commented on #3947
@Michoumichmich I think the observed behavior is correct. Consider the following situation:

You are writing an application, that doesn't really need much of SYCL. All you do is create a buffer, fill it with data, create a queue from some sort of device (doesn't really matter what device), and then pass the queue and the buffer to a library (oneMKL or something). In this scenario your application

[2021-06-17 12:06] alexbatashev commented on #3948
@mkinsner @AGindinson @steffenlarsen could you please take a look?

[2021-06-17 13:30] gmlueck commented on #3947
An application can use `is_compatible)()` to determine if a kernel is compatible with a device.  I think it would make sense for the implementation to return `false` if the kernel has no device image that could be used on the queried device.

It looks like there is a larger question here about whether the `-fsycl-targets` option should cause the runtime to hide devices for targets that were not co

[2021-06-17 14:15] AGindinson commented on #3947
`-fsycl-targets` is, in essence, used for every compilation - it's just that its implicit value is the generic `spir64` target.

A larger concern with this example is the practical impossibility to compile any application in a way that would have some modules compiled for a different set of targets. Considering the following build scenario:
[code]
The object files would actually contain LLVM BC fo

[2021-06-17 15:19] gmlueck commented on #3947
I guess you are saying that the `-fsycl-targets` option is ignored when creating an object file, and it is only meaningful on the link line?  Answering your question about shared libraries, though, yes I think you could have a case where the main application and a shared library had different device image types (e.g. main library AOT compiled for CPU and shared lib has SPIR-V, etc.)

[2021-06-17 18:48] AGindinson commented on #3947
In short, yes :)

[2021-06-17 19:47] Ruyk commented on #3947
Probably going off-topic on the issue, but I am working on an example (https://github.com/codeplaysoftware/SYCL-For-CUDA-Examples/pull/16) where I mix CUDA Fortran with SYCL code. Because nvfortran does its own magic at linking, I cannot use clang for linking the final binary. The only way I could put together the two is if I create a library with the SYCL code and link that with the Fortran binar

[2021-06-18 06:17] AGindinson commented on #3947
@Ruyk, I've reposted your question here: https://github.com/intel/llvm/discussions/3952 so that we can discuss that in isolation from the main thread.

[2021-06-18 08:44] Fznamznon commented on #3732
With the compiler build from latest sources of intel/llvm, I got the following assertion:
[code]

@AaronBallman , @elizabethandrews , @premanandrao FYI

[2021-06-18 08:45] Fznamznon commented on #3732
The error `LLVM ERROR: llvm.memmove of non-constant length not supported` should have been fixed though.

[2021-06-18 09:42] KimBioInfoStudio opened #3953 "codecoverage for dpc++"
**Describe the bug**
when I try get code coverage of dpc++ code I find a error like
[code]

**To Reproduce**
Please describe the steps to reproduce the behavior:

1. Include code snippet as short as possible
2. Specify the command which should be used to compile the program
3. Specify the comment which should be used to launch the program
4. Indicate what is wrong and what was expected

**Environm

[2021-06-18 10:07] KimBioInfoStudio commented on #3953
yep, i am  using a closed-source  compiler and  i have source vars.sh before run

[2021-06-18 14:29] maximdimakov opened #3955 "[CUDA] Unresolved extern function"
command stderr:
[code]

How to reproduce:
[code]

Code:
[code]

[2021-06-21 10:49] pkeir opened #3962 "[SYCL] Incorrect `aspect` system allocator enumerator spelling"
The enumerator of the `aspect` enumeration which indicates "that the system allocator may be used instead of SYCL USM allocation mechanisms for `usm::alloc::shared` allocations" has a different spelling than in the SYCL 2020 specification.

In DPCPP's include/sycl/CL/sycl/aspects.hpp we find `aspect::usm_system_allocator`, whereas in the SYCL 2020 specification (p82. & p.84), this is spelled: `asp

[2021-06-21 11:12] olegmaslovatintel commented on #3953
@KimBioInfoStudio
For closed-source compiler can you please submit issue at Intel Data Parallel C++ support forum - https://community.intel.com/t5/Intel-oneAPI-Data-Parallel-C/bd-p/oneapi-data-parallel-c?

[2021-06-21 22:41] TApplencourt opened #3967 "[L0] SYCL does not destroy all events before destroying ze event pool / context"
**Describe the bug**

 SYCL does not destroy all events before destroying ze event pool/context. This is against the Level Zero semantic (https://spec.oneapi.com/level-zero/latest/core/api.html#zeeventpooldestroy) which states  that `the application must destroy all event handles created from the pool before destroying the pool itself.`

This breaks profilers among other things.

**To Reproduce**

[2021-06-22 01:05] XunZhangIntel opened #3969 "CTS handler_copy fail with CUDA backend"
**Describe the bug**
CTS handler_copy fail with CUDA backend on latest SYCL builds. See logs below:

[code]
**To Reproduce**
_Note_: Due to a recent uplift of minimal supported C++ standard, one should modify this line to require C++17.
1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html)) and [SYCL-CTS](https://github.com/KhronosGroup/SYCL-CTS)
2. Build CTS

[2021-06-22 01:45] XunZhangIntel opened #3970 "CTS math_builtin_float_base fail with CUDA backend"
**Describe the bug**
CTS math_builtin_float_base fail with CUDA backend on latest SYCL builds. See logs below:

[code]
**To Reproduce**
_Note_: Due to a recent uplift of minimal supported C++ standard, one should modify this line to require C++17.

1. Get SYCL with CUDA support ([GSG](https://intel.github.io/llvm-docs/GetStartedGuide.html)) and [SYCL-CTS](https://github.com/KhronosGroup/SYCL-CTS)

[2021-06-22 09:36] AGindinson opened #3972 "Move SYCL device-side macro initialization from Driver into FE"
Generally, SYCL device-side macros are being initialized within `clang/Frontend/InitPreprocessor.cpp`, e.g. `SYCL_EXTERNAL` (https://github.com/intel/llvm/blob/sycl/clang/lib/Frontend/InitPreprocessor.cpp#L1180), `__SYCL_DEVICE_ONLY__` (https://github.com/intel/llvm/blob/sycl/clang/lib/Frontend/InitPreprocessor.cpp#L1179), target-specific `__SYCL_NVPTX__` (https://github.com/intel/llvm/blob/sycl/c

[2021-06-23 07:30] AGindinson commented on #3972
`__SYCL_NVPTX__` patch: https://github.com/intel/llvm/pull/3977

[2021-06-23 14:25] AlexeySachkov opened #3980 "Consider improving warnings.cpp LIT tests"
In #3978 I extended the test a bit by adding more explicit template instantiations to get bigger coverage in the test, which actually allowed to find one more warning.

Besides increased coverage, I've also discovered that some warnings are disabled for no (or at least unknown to me) reason and could be enabled back to improve our headers and tests further: https://github.com/intel/llvm/pull/3978#

[2021-06-23 17:52] Michoumichmich opened #3981 "Scheduler stuck on empty memcpy and memset"
Hello,

I've encountered a bug that involves memcpy when the copied size is 0. Turns out that you cannot make a kernel that depends on an event returned by `q.memcpy(dst, src, 0)`. Here's a little reproductible example:

[code]

The mentioned behaviour is not limited to the `host_device`, it happens also for other devices/targets

I haven't checked whether the same issue also appears for H2H, D2H

[2021-06-23 17:55] Michoumichmich commented on #3981
Turns out memset is also affected.

[2021-06-24 10:38] #3245 closed

[2021-06-24 15:04] erichkeane opened #3988 "configure.py should support "-DLLVM_USE_LINKER=gold""
On my RHEL7 machine the default LD linker is both super slow and crashes routinely.  I also don't have access to LLD on the machine, so I'm stuck with having to either use cmake directly, or just doing my build calls multiple times until the link succeeds.

I would like to be able to use 'gold' via configure.py instead.

[2021-06-24 15:10] bader commented on #3988
This cmake option can be passed via `--cmake-opt`.
Do you mean we should add a dedicated option to configure the linker?

[2021-06-24 15:12] erichkeane commented on #3988
That `--cmake-opt` actually doesn't work it seems, since it either has an equal-sign in it, or it is a 2-part option.

[2021-06-24 15:18] erichkeane commented on #3988
Here is my attempts to use `--cmake-opt`
[code]

[2021-06-24 15:22] erichkeane commented on #3988
Ah, that does it!  It wasn't at all clear to me from the 'usage' output that it requires an 'equal' sign to do so, when none of the others do.

[2021-06-24 15:22] #3988 closed

[2021-06-25 17:27] smaslov-intel commented on #3967
A fix is coming in https://github.com/intel/llvm/pull/3985

[2021-06-27 20:10] bader commented on #3967
https://github.com/intel/llvm/pull/3985 is merged.

[2021-06-27 20:10] #3967 closed

[2021-06-27 20:11] #3972 closed

[2021-06-28 06:13] ManuelCostanzo opened #4005 "PI CUDA ERROR, with value: 4"
Hi everyone!

I have a problem in execution time: Before finish the program (after running the program perfectly), the program stops for about 40 seconds and displays this message:

PI CUDA ERROR:
	Value:           4
	Name:

What can I do to avoid this error? I don't have any other information, that's all.

I'm compiling with:

clang++ -march=native -O3 -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sy

[2021-06-28 14:03] TApplencourt commented on #3967
Amazing! Thanks a lot for the quick fix.

[2021-06-28 14:31] erichkeane opened #4009 "-funnamed-lambda should be passed by default in sycl-2020 mode."
As came up with #3990 (which is currently blocked by this), we need to be passing -funnamed-lambda by default (perhaps with a -fno flag?) to the CFE from the driver when we are in SYCL2020 mode, since it is required for standards compliance.

Attn @AlexeySachkov and @mdtoguchi .  I tried to look into it, but couldn't find a good way to identify whether we were in SYCL2020 or not.

[2021-06-28 14:46] erichkeane commented on #4009
Alterrnatively, if we can figure out how to use the 'Default' bit to work with the default-marshalling, it might work.

[2021-06-28 15:19] erichkeane commented on #4009
I might have a solution actually... I think I can just change the driver to pass `-fno-unnamed-lambda` and make the CFE do the determination based on the sycl version.

[2021-06-28 16:56] mdtoguchi opened #4010 "[Driver] Enhance usability by allowing more simplified known targets"
We are adding short aliases for commonly used triples that are passed via the `-fsycl-targets` option here: https://github.com/intel/llvm/pull/3984

This only covers the `spir64` arch targets for device and AOT.  We should enhance this by providing additional known documented aliases that can be used for other targets as well.

From @AGindinson : Could/should we extend the aliasing logic for the n

[2021-06-30 21:11] ax3l commented on #2187
Hi @bader, I just realized that even with the latest oneAPI release, we still need to pass `-mlong-double-64 -Xclang -mlong-double-64` to our compile logic to avoid hitting this bug when offloading to Intel GPUs.

Is this the permanent solution or will this still be relaxed/adjusted?

[2021-07-02 10:19] anton-v-gorshkov opened #4041 "[CUDA] sycl::sqrt leads to IEEE754 incompatible results on NVidia cards"
**Bug Description**

Using of `sycl::sqrt()` function leads to results that are incompatible to IEEE754 on NVidia cards (`sqrt.approx.f` PTX instruction is generated) even for precise ffp-model. `sqrtf()` works fine in contrast (`sqrt.rn.f` PTX instruction is generated).

**To Reproduce**
1. Go to "sqrt" folder from archive in attachment;
2. Build test application with `./build.sh`
3. Run `./sqrt`

[2021-07-02 16:11] Alexander-Johnston opened #4048 "Failure compiling LAMMPS fmtliib_format.cpp"
**Describe the bug**
When -fsycl is present, clang asserts and fails to build the version of fmtlib present in the LAMMPS project (https://github.com/lammps/lammps/blob/master/src/fmtlib_format.cpp). This was working at llvm commit d697c849d998 but is failing now as of 9d8e94d0a333853160d2104d8ce2e44b64d14caa.

fmtlib is not dependent on any other code in LAMMPS, just the headers in https://github

[2021-07-05 14:19] bader commented on #4048
The regression is introduced by https://github.com/intel/llvm/commit/9a9a018c823ecce9e50f476c3f149635563b6f3a. If I revert this commit, the compiler doesn't crash.

[2021-07-06 15:33] MrSidims opened #4061 "[Driver] FPGAEmulationMode name and use-cases are confusing"
FPGAEmulationMode flag (default value is true) by its is supposed to be used to distinguish FPGA H/W flow from FPGA emulation flow. But it's also possible to use it to distinguish FPGA H/W flow (false value) from other flows (it would be again true (default) value). Suggestion here is to either:
Rename it to FPGAHWMode with default value = false
or
Introduce a enum, probably:
[code]

[2021-07-06 15:34] MrSidims commented on #4061
Addresses this confusion: https://github.com/intel/llvm/pull/4055#discussion_r664515865

[2021-07-07 20:00] erichkeane commented on #4009
Closed by #3990.

[2021-07-07 20:00] #4009 closed

[2021-07-07 22:10] elizabethandrews commented on #4048
This is the statement triggering assert -

[code]
  I will take a closer look tomorrow

[2021-07-07 22:32] Michoumichmich commented on #3948
So I diffed the compilation logs, when I add `spir64`, the `clang-offload-bundler` is not called - the following step is missing:
[code]

[2021-07-08 09:06] #3962 closed

[2021-07-08 13:23] Pennycook commented on #3816
Closed by https://github.com/intel/llvm/pull/3879.

[2021-07-08 13:23] #3816 closed

[2021-07-08 17:56] vmaksimo opened #4079 "3 llvm-test-suite tests failed on GPU with PI CUDA error after pulldown from LLORG"
3 LLVM test suite tests started to fail on CUDA GPU after LLORG pulldown (https://github.com/intel/llvm/pull/4054). They are temporarily disabled by https://github.com/intel/llvm-test-suite/pull/349 to unlock the pulldown process.

List of failed tests:
[code]
Failure log:
[code]

**To Reproduce**
[code]
**Environment (please complete the following information):**
- OS: Linux
- Target device and v

[2021-07-10 05:03] lfmeadow opened #4088 "inconsistent offload section name change for SYCL+CUDA"
**Describe the bug**
The offload section for -fsycl-targets=nvptx64-nvidia-cuda-sycldevice in .o files used to be called sycl-nvptx64-nvidia-cuda-sycldevice but now it is called sycl-nvptx64-nvidia-cuda-sycldevice-sm_50. There was no corresponding change to the clang-offload-bundle invocations that extract the offload bundles; they still use the old name. Therefore the unbundling does not extract

[2021-07-10 09:30] bader commented on #4088
It seems to be the same problem as described in https://github.com/intel/llvm/issues/4079.

[2021-07-10 11:18] Michoumichmich commented on #4088
Might be related to f7ce532d622dc26eddd25f87faec0ff35dc0c2e9

[2021-07-10 11:27] Michoumichmich commented on #4088
Not sure, but could be related to f7ce532d622dc26eddd25f87faec0ff35dc0c2e9

[2021-07-12 15:37] lfmeadow commented on #4088
f7ce532 used to guard this change with OFK_HIP and now it is always done, so that explains the regression for SYCL+CUDA
clang-offload-bundler would give an error except there's a flag passed --allow-missing-bundles. Maybe because it is also looking for host offload bundles? Truly I don't understand the whole flow, it also checks for fpga offload bundles at the beginning.

[2021-07-12 17:14] smanna12 opened #4094 "Add Table Gen support to refactor of collectSYCLAttributes()"
I am starting to think more and more that it's past time to table generate this logic rather than continuing to struggle to maintain these lists manually. Do I understand correctly that we really have one collection need with three (maybe four) modes: never propagate, always propagate, only propagate when directly called (possibly with a diagnostic), but the mode may differ based on the language o

[2021-07-14 09:29] bader commented on #2187
@ax3l, sorry for the delay.
I'm not aware of plans to adjust/relax diagnostics for `long double` data type.
Probably we can discuss this with @AaronBallman, @erichkeane, @premanandrao, @elizabethandrews if it can be achieved.
The reason to have this diagnostics is to make sure that device code produced by clang will not use `long double` data type - this data type is not supported by accelerators.

[2021-07-14 16:25] elizabethandrews opened #4109 "[SYCL] Add basic verification for accessor type"
When processing accessors, we use the template parameters to make
various assumptions. It is important to ensure these parameters are
defined as expected, to prevent the compiler from crashing due to a
rogue library implementation.

An attempt was made to fix this here  -  https://github.com/intel/llvm/pull/4099

But it has been decided to wait for https://github.com/intel/llvm/pull/3892 to be imp

[2021-07-15 11:21] steffenlarsen commented on #4079
Thanks for the detailed report! This problem with https://github.com/intel/llvm/pull/4112 and the corresponding tests are re-enabled for CUDA with https://github.com/intel/llvm-test-suite/pull/365.

[2021-07-15 16:26] elizabethandrews opened #4115 "[SYCL] Refactor accessor handling"
There are a couple of issues with how accessors are handled -

1. There is a discrepancy in how inherited accessors are handled - SYCLSimdAccessorPtrAttr is not handled. Is this correct?
2. Accessor diagnostics do not set IsInvalid and therefore does not exit early in case of errors
3. Code is messy in general mixed in with handleSpecialType.

[2021-07-15 23:55] smanna12 opened #4118 "[SYCL] Split diagnostic and AST parts for sema tests."
@elizabethandrews, i agree, I will do this in a separate patch. Thanks

_Originally posted by @smanna12 in https://github.com/intel/llvm/pull/4084#discussion_r670874380_

[2021-07-16 01:31] smanna12 opened #4119 "Do we need to add duplicate attributes"
ok Thank you. I didn't notice the `implicit` and was wondering why we have so many nodes.  I wonder if we actually need to add duplicate attributes (not just SYCLSimdAttr. I mean all) when we collect and propagate attributes. If we don't, we should probably look into that. Anyway, that is outside the scope of this PR . Thanks again for explaining!

_Originally posted by @elizabethandrews in https:

[2021-07-16 13:16] bader commented on #4079
@steffenlarsen, does #4112 resolves https://github.com/intel/llvm/issues/4088 as well?

[2021-07-16 13:22] steffenlarsen commented on #4079
I believe so, but I will have to test it.

[2021-07-18 17:57] bader opened #4132 "Clang tests use tools, but they are not built."
**Describe the bug**
Following clang lit tests use `append-file` tool.
  Clang :: Driver/print-internal-defines-for-sycl.c
  Clang :: Driver/sycl-int-footer.cpp
  Clang :: Driver/sycl-intelfpga-aoco-win.cpp
  Clang :: Driver/sycl-intelfpga-aoco.cpp
  Clang :: Driver/sycl-intelfpga-return-check.cpp
  Clang :: Driver/sycl-intelfpga-static-lib.cpp
  Clang :: Driver/sycl-offload-static-lib-2.cpp
  Cla

[2021-07-19 09:24] anton-v-gorshkov opened #4134 "[SYCL] Inefficient Loop Unrolling"
**Bug Description**

For a specific loop that could be unrolled, compiler generates inefficient native binary.

Loop looks like this (kernlels.cc:350 in reproducer):
[code]
Here `N` is constexpr equals 2 so compiler should be able to unroll this loop. In reality one can observe twice more dynamic instruction count for the loop that leads to visible performance overhead. Not sure though it's connec

[2021-07-19 12:48] Naghasan opened #4137 "[XPTI] Include path not setup correctly when building pi-trace"
**Describe the bug**

When building `pi-trace` with tip `sycl`, the include path to `xpti` seems to not be configured properly.

I end up with a
[code]

I tried a fresh build and configured using the configure script in the buildbot folder (`python3 buildbot/configure.py -s . -o ../build -t Release --cuda`), but after this I end up with the path to opencl headers not being found:

[code]

(I rely

[2021-07-19 14:26] vmaksimo opened #4140 "[SYCL] Need to fix warnings related to Doxygen documentation build"
A bunch of warnings for Doxygen code documentation is generated during build (see in Actions, e.g.
https://github.com/intel/llvm/actions/runs/1032341110)

Example of failures:
[code]

[2021-07-19 15:00] bader commented on #4137
This looks like a regression introduced by e239fdf791295e5f57b9bfb949150b67fe6a5412.
@alexbatashev, could you fix this ASAP, please?

[2021-07-19 16:03] danchitnis commented on #4137
Further error log info here:
https://github.com/intel/llvm/discussions/4050#discussioncomment-1022651

[2021-07-19 16:12] steffenlarsen commented on #4079
@bader I can confirm that #4112 seems to resolve #4088 .

[2021-07-19 17:03] rolandschulz commented on #4137
I can confirm that reverting e239fdf fixes the problem. Why don't we revert that commit until the issue is resolved?

[2021-07-19 17:08] bader commented on #4137
Done by https://github.com/intel/llvm/pull/4144.

[2021-07-19 17:08] #4137 closed

[2021-07-20 05:57] #4079 closed

[2021-07-20 05:58] bader commented on #4088
Fixed by #4112.

[2021-07-20 05:58] #4088 closed

[2021-07-21 11:47] steffenlarsen opened #4152 "Windows on-device tests - 'true': command not found"
**Describe the bug**
Running `check-sycl-*-on-device` on Windows causes the majority of on-device tests to fail with `'true': command not found`.

**To Reproduce**
Follow the instructions for building on Windows as described in the [Getting Started guide](https://intel.github.io/llvm-docs/GetStartedGuide.html). Run any `check-sycl-*-on-device`.

**Environment:**

- OS: Microsoft Windows 11 Pro - 1

[2021-07-21 11:48] steffenlarsen commented on #4152
Pinging @bader  and @alexbatashev

[2021-07-21 11:51] alexbatashev commented on #4152
@steffenlarsen could you please try the same in git bash? `true`, as well as some other utilities, used in our tests, are unix-based, so using git bash should help.

[2021-07-21 11:53] bader commented on #4152
@alexbatashev, how do you configure MSVC compiler environment in git bash?

[2021-07-21 11:55] alexbatashev commented on #4152
@bader I see two options:
a) Configure it in `cmd.exe` and then copy environment variables to git bash console.
b) Configure it in `cmd.exe` and then run `bash.exe` in the same console. The environment should be inherited by bash.

[2021-07-21 13:58] elizabethandrews commented on #4048
Small reproducer -

[code]
I'm looking into the fix now.

[2021-07-21 15:03] steffenlarsen commented on #4152
I am trying to do b, but bash doesn't seem to carry the environment correctly. I have also tried building it in bash started from a cmd with the right environment set, but it insists on using gcc instead of MSVC. Do you have some more detailed instructions?

[2021-07-21 15:09] bader commented on #4152
I think the right solution is to remove usages of Linux tools from the tests executed on Windows platform.

[2021-07-21 16:52] sergey-semenov opened #4156 "Program with device code in multiple translation units fails on CUDA"
**Describe the bug**
A simple program with device code in multiple translation units fails in runtime with CUDA_ERROR_INVALID_IMAGE as of https://github.com/intel/llvm/pull/3735

**To Reproduce**
h.hpp:

[code]
b.cpp
[code]
main.cpp:
[code]
[code]
This reproducer fails with CUDA_ERROR_INVALID_IMAGE, note that compiling this results in 2 device images as of https://github.com/intel/llvm/pull/3735,

[2021-07-21 16:55] bader commented on #4156
@sergey-semenov, I think this issue is already fixed by https://github.com/intel/llvm/commit/351af240e693c4e8348c08cc5f08e8c389753ec2. Could you check with newer version of the compiler?

[2021-07-21 16:57] bader commented on #4156
https://github.com/intel/llvm/issues/4088 and https://github.com/intel/llvm/issues/4079 seems to be about the same problem.

[2021-07-21 17:02] sergey-semenov commented on #4156
Ah, I specified the guilty commit rather than the version of the compiler I reproduced this on. This problem is still reproducible on https://github.com/intel/llvm/commit/e9d308e5fc70fd4ca80dfb47a72fbc0b375c11ee, so it seems https://github.com/intel/llvm/commit/351af240e693c4e8348c08cc5f08e8c389753ec2 didn't address this.

[2021-07-21 17:07] bader commented on #4156
Okay, thanks for the update.
Maybe https://github.com/intel/llvm/pull/4107 will help this case.

[2021-07-21 18:07] Michoumichmich commented on #4156
@sergey-semenov can you try [that](https://github.com/intel/llvm/issues/4088#issuecomment-877622036)?

[2021-07-21 22:23] jbrodman opened #4159 "[SYCL][RT][Documentation]"
**Describe the bug**
The comments in the headers about USM memcpy() operations is incorrect.

**Additional context**
For example:

  /// Copies data from one memory region to another, both pointed by
  /// USM pointers.
  /// No operations is done if \param Count is zero. An exception is thrown
  /// if either \param Dest or \param Src is nullptr. The behavior is undefined
  /// if any of the poin

[2021-07-22 12:31] sergey-semenov commented on #4156
@Michoumichmich Reverting the driver part of https://github.com/intel/llvm/commit/f7ce532d622dc26eddd25f87faec0ff35dc0c2e9 didn't help, the reproducer is still failing as before.

[2021-07-23 16:26] s-kanaev opened #4171 "[SYCL] [CUDA] Invalid memory access in multithreaded application when multiple contexts used"
**Describe the bug**
Invalid memory access when using multiple contexts.

**To Reproduce**

Build commands:
[code]

The first command builds an application which will produce invalid memory access. The second one will produce an application which won't produce invalid memory access. The only difference between these two applications is that the former will use different contexts for two queues. Th

[2021-07-23 17:27] Pennycook opened #4172 "Using atomic_ref operator= causes compiler error"
**Describe the bug**
Although `operator=` is defined in atomic_ref.hpp, the compiler does not consider it a viable overload.

**To Reproduce**
Change the test in https://github.com/intel/llvm/blob/sycl/sycl/test/atomic_ref/store.cpp to use `operator=` instead:
[code]

Trying to compile the test gives the following error (repeated several times for each type in the test):
[code]

**Environment:**
-

[2021-07-26 10:34] sergey-semenov commented on #4171
It appears that enqueue-arg-order-buffer/image.cpp tests from llvm-test-suite are failing on CUDA due to the same issue of context management race condition. I've noticed that, for reasons that are unclear to me, replacing `cuCtxSetCurrent` with `cuCtxPushCurrent`/`cuCtxPopCurrent` in `ScopedContext` from the CUDA plugin fixes the issue (both for the tests and this reproducer), but I'm not sure if

[2021-07-26 11:37] bader commented on #4156
@steffenlarsen, could you take a look, please? It looks like #3735 introduced a significant functional regression.

[2021-07-26 11:41] steffenlarsen commented on #4156
https://github.com/intel/llvm/pull/4107 introduces a better solution for the driver changes in #3735. @sergey-semenov would you be able to check if that solves this issue?

[2021-07-26 12:36] sergey-semenov commented on #4156
This is indeed resolved by #4107

[2021-07-27 08:49] arkantos493 opened #4197 "Bug in sycl::queue::copy"
**Describe the bug**
Divergent function signature of the `sycl::queue::copy` function compared to the SYCL standard.
In the SYCL standard the `sycl::queue:copy` function has the signature:
[code]
However, in the file https://github.com/intel/llvm/blob/sycl/sycl/include/CL/sycl/queue.hpp the signature is:
[code]
i.e. the source and destination pointers are reversed.

**To Reproduce**

This leads fo

[2021-07-27 08:54] bader commented on #4197
I think your spec text is 5+ days old :).
Here is the spec change https://github.com/KhronosGroup/SYCL-Docs/commit/d1c96f6b2d3e8ec5fa9685d23178df6087142d91, which resolves this issue.

[2021-07-27 08:54] #4197 closed

[2021-07-27 09:02] arkantos493 commented on #4197
Ah ok. I only looked at the standard PDF uploaded on the official Khronos homepage.

However, what is the rationale behind this change?
`sycl::queue::memcpy` still has the dest -> src order. Why change `sycl::queue::copy` to have a src -> dest order?
That's really confusing and dangerous imho.

[2021-07-27 09:05] bader commented on #4197
From https://github.com/KhronosGroup/SYCL-Docs/pull/168 description:

Tagging @gmlueck for awareness.

[2021-07-27 11:49] gmlueck commented on #4197
Just adding some more information on the rationale ... we thought it was more important for all of the functions named "copy" to take the same parameter order of `(src, dest)`, so we changed these USM functions to match the other functions named "copy".

We agree that it is unfortunate that the functions named "memcpy" take the opposite parameter order.  However, this inconsistency exists in stand

[2021-07-27 12:12] #3953 closed

[2021-07-27 14:43] #4172 closed

[2021-07-29 05:40] #4156 closed

[2021-07-30 10:09] #3955 closed

[2021-07-30 13:50] kkasimov opened #4222 "[SYCL] [CUDA] Unresolved extern function '__sqrtf_finite' when compiling for CUDA BE with -fast-math"
**Describe the bug**
When compiling the code snippet below with -ffast-math option, user is getting ptxas fatal   : Unresolved extern function '__sqrtf_finite' error.

**To Reproduce**
Please describe the steps to reproduce the behavior:

Here is the code snippet (my file is called repro.cpp):
[code]

Fails with -ffast-math:
[code]

Compilation succeeds when -ffast-math is not specified and when -

[2021-07-30 15:30] npmiller commented on #2130
The DPC++ build now automatically fetches the correct version of the OpenCL headers from the Khronos repository and uses them, see:

* https://github.com/intel/llvm/blob/sycl/opencl/CMakeLists.txt

In addition the include path for the downloaded Khronos headers is included before the path to the CUDA headers so these should be correctly picked up over the outdated CUDA headers.

So unless anyone h

[2021-07-30 16:11] bader commented on #2130
@tomdeakin, do you still have problems with building DPC++ with CUDA back-end?

[2021-07-30 16:32] Pennycook opened #4224 "reqd_work_group_size attribute is not reversed correctly"
**Describe the bug**
Using `sycl::reqd_work_group_size` to specify a 1- or 2-dimensional work-group size compiles correctly, but fails at runtime.  Something somewhere is not correctly accounting for the difference in dimension ordering between SYCL and OpenCL.

**To Reproduce**
[code]

The first kernel fails to launch, with the following error:
[code]

If you comment out the first kernel, the sec

[2021-07-30 16:37] AaronBallman commented on #4224
FWIW, I think this relates to https://github.com/intel/llvm/issues/3175 and https://github.com/intel/llvm/issues/3361.

[2021-07-30 16:50] masterleinad commented on #3566
Fixed by https://github.com/intel/llvm/pull/3932.

[2021-07-30 16:50] #3566 closed

[2021-07-30 16:51] masterleinad commented on #3218
Partly addressed by #3932.

[2021-07-30 17:02] joeatodd opened #4226 "Internal include directories not respected"
**Describe the bug**

#4071 breaks compilation of sources with identically named header files in different directories.

**To Reproduce**

Attempt to compile https://github.com/kokkos/kokkos, which has the following files:
[code]

Compilation instructions:
[code]

This will fail to build as the compiler no longer distinguishes correctly between:
[code]
and
[code]

**Environment (please complete th

[2021-07-30 17:05] joeatodd commented on #4226
We're pretty sure this snippet is causing the issue:
[code]

[2021-07-30 17:28] bader commented on #4226
@mdtoguchi, could you take a look, please?

[2021-08-02 09:10] joeatodd commented on #4226
Confirmed that #4228 fixes this issue. Thanks!

[2021-08-02 15:59] TApplencourt commented on #3583
In `https://intel.github.io/llvm-docs/MultiTileCardWithLevelZero.html#memory`, On the `malloc_device`  you have this sentence: `Allocation can only be accessed by the specified device but not by other devices in the context nor by host.`

In `malloc_shared` I saw `No explicit copy is necessary for synchronizing between the host and the device, but it is needed for other devices in the context.`

T

[2021-08-02 16:42] TApplencourt commented on #3583
``

[2021-08-02 16:42] #3583 closed

[2021-08-02 23:15] TApplencourt commented on #469
Sorry for the necromancy, but this seems to have be fixed. At least your example compile in run in my version of the compiler

[2021-08-03 07:17] bader commented on #469
@TApplencourt, thanks for confirming. I'm closing this issue.
@j-stephan, please, let us know if you still have issues with building your example.

[2021-08-03 12:13] FMarno opened #4238 "potential incorrect accessor offset behaviour in get_access"
Hello,
I think the way DPC++ handles offsets in get_access is at odds with the specification.
Looking at page 119 here https://www.khronos.org/registry/SYCL/specs/sycl-2020-provisional.pdf and 94 here https://www.khronos.org/registry/SYCL/specs/sycl-1.2.1.pdf it says

Whereas the DPC++ spec (https://docs.oneapi.io/versions/latest/dpcpp/iface/buffer.html#buffer-get-access) suggests that a sub buffe

[2021-08-04 07:20] j-stephan commented on #469
@TApplencourt Which version of the compiler are you using? I just built the current `sycl` branch and still encounter the error:

[code]

@bader Unfortunately this doesn't seem to be fixed (at least for me).

[2021-08-04 08:37] bader commented on #469
@j-stephan, thanks for checking that. I tried it myself and I see the same issue.

Based on the discussion, the original example doesn't seem to satisfy SYCL specification restrictions, so I'm not sure what is expected from the compiler here.
I guess at least we can improve the diagnostics to make it clear for the user what is the problem. Right?

@erichkeane, @elizabethandrews, @premanandrao, do

[2021-08-04 08:38] j-stephan commented on #469
Sure, that would be sufficient (for me).

[2021-08-04 12:57] erichkeane commented on #469
There is an opportunity to, yes...  I'm a little surprised that what it is complaining about is 'parent' and not 'foo' though.  I think @srividya-sundaram went through and did a refactor in this area a while back, but I believe she's still out.  This seems worth fixing to me.

[2021-08-04 13:55] erichkeane commented on #469
Min Repro that shows the problem:

[code]

We should be error-ing based on the use of 'child', which isn't forward-declarable.  The bit about the int-header not being valid is likely some assumption about it assuming that the parameter is valid.

[2021-08-04 14:20] erichkeane commented on #469
@schittir : This is likely a good task for you.  See the SYCLKernelNameTypeVisitor, which isn't catching this situation for some reason.  The minimal example I provided should be enough to figure out what is missing.

from a quick look at `Visit(QualType T)` overload, it appears that the class-template-specialization is handled to ONLY check the template args, but it should ALSO check the class te

[2021-08-04 15:30] masterleinad opened #4255 "[Level Zero] sycl::parallel_for with ranges larger than INT_MAX deadlocks or aborts"
**Describe the bug**
Running
[code]
deadlocks on CUDA devices or gives
[code]
on Intel GPUs when compiled and run via
[code]
resp.
[code]

**Environment:**

- OS: Linux
- Target device and vendor: Intel GPU, NVIDIA GPU
- DPC++ version: nightly release 20210621

[2021-08-04 17:34] AlexeySachkov opened #4256 "Changing selector to cpu causes Internal compiler error"
### Discussed in https://github.com/intel/llvm/discussions/4185

<div type='discussions-op-text'>

<sup>Originally posted by **bagrorg** July 26, 2021</sup>
Initially, I wanted to post this as an issue, but then I doubted whether it was a bug or my mistake.

I have a kernel, after I changed gpu_selector to cpu_selector, I started getting the following error:
[code]
I started looking for where it c

[2021-08-04 19:09] TApplencourt commented on #469
@j-sthephan. My bad, it works with the `dpcpp` packaged with the OneAPI SDK compiler but not with the clang++ compiler.

[code]

One should can investigate `dpcpp -v` to see what magic happend

[2021-08-04 19:12] erichkeane commented on #469
That is going to be the -fsycl-unnamed-lambda extension on drops prior to 7/8 of this year.  Before that point, all kernels were treated as 'unnamed', so it went through a different mechanism.

[2021-08-04 19:48] TApplencourt commented on #469
Bingo. The code work compiles with it:
[code]
As said before, maybe it should not compile because it's not complient but 🤷🏽

[2021-08-04 19:54] erichkeane commented on #469
Yep, we should be diagnosing this in the non-unnamed-lambda/kernel case.  Unfortunately our diagnostics in this section of code are pretty poor, particularly because differentiating between an inline-implicit declaration and an otherwise non-forward-declarable type is quite difficult.

[2021-08-04 21:04] hiaselhans opened #4261 "pass dependency cycle?"
I am having a weird problem recently compiling for opencl / intel-compute:

When executing the code i get this:
[code]
It seems to happen mid-run at kernel deploys.
i use intel-compute-runtime in version `21.21.19914-1`

has anyone expecienced this recently?
I can make it happen in latest 'sycl' branch with the example from getstartedguide

[2021-08-05 07:28] AlexeySachkov opened #4265 "-fsycl-device-code-split option values are not validated properly"
If you pass incorrect/non-existing value into `-fsycl-device-code-split` option, you will get an assertion failure instead of user-friendly error message that the value is not correct:

[code]

[2021-08-05 07:47] hiaselhans commented on #4261
never mind, this seems to be a bug in arch-linux intel-graphics-compiler packages

[2021-08-05 07:47] #4261 closed

[2021-08-05 09:17] #3608 closed

[2021-08-05 13:46] JackAKirk commented on #2820
@huanghua1994 @zjin-lcf @bader

Hi, thanks for posting this. I find that the results of the timing depends a lot on the device used. But in any case, if you try your benchmark using the latest DPC++ commit you may see that the T = float case behaves differently than it did before whereas the T = int case is probably unchanged. This is because the float reduction now also uses atomic operations for

[2021-08-05 20:01] zjin-lcf commented on #2820
Thank you for your feedback. Look forward to your updates.

From: JackAKirk ***@***.***>
Sent: Thursday, August 5, 2021 9:46 AM
To: intel/llvm ***@***.***>
Cc: Jin, Zheming ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [intel/llvm] [SYCL] DPC++ reduction library incorrect event profiling timing (#2820)

@huanghua1994<https://github.com/huanghua1994> @zjin-lcf<https://github.com/zjin-l

[2021-08-05 21:44] swoodeng opened #4273 "Host execution not following event depend_on specification"
The example https://github.com/argonne-lcf/sycltrain/blob/master/9_sycl_of_hell/8_event.cpp
Runs correctly on a GPU and out of order on the Host.

[2021-08-06 06:33] cdai2 commented on #4256
The reported error "Calls with kernel-call-once attributes cannot be serialized" is from Vplan.  But anyway Could you please ask the reporter to post the  whole reproducer? You missed the header file including and macro definition.  We cannot compile the code you posted to reproduce the issue.

[2021-08-06 06:37] zsrkmyn commented on #4256
@bagrorg, Could you help provide a full reproducer that can be compiled by the compiler?

[2021-08-06 06:51] bagrorg commented on #4256
Sure
[code]

[2021-08-06 08:36] cdai2 commented on #4256
got it. we filed internal JIRA to track.

[2021-08-06 08:51] zsrkmyn commented on #4256
@bagrorg, thanks for the reproducer. We've reproduced the error, and we are investigating it.

[2021-08-06 13:17] joeatodd opened #4277 "__builtin_sycl_unique_stable_name & kernel_device_specific info"
**Describe the bug**

I have been attempting to compile kernel functors prior to kernel launch in order to extract `kernel_device_specific` information to inform work group size (see context below). However, when working with either an anonymous lambda directly, or a functor which wraps an anonymous lambda, this fails with the following error message:

[code]

Essentially, the generation of the un

[2021-08-06 14:06] joeatodd opened #4278 "CUDA Symbols"
**Is your feature request related to a problem? Please describe**

In CUDA, a kernel functor can be copied to a CUDA symbol, which can be marked \_\_const\_\_. This enables the compiler to perform various optimisations including LICM & CSE. DPC++ does not currently support this feature; kernel arguments are always passed into global device memory. This means that significant optimisation opportuni

[2021-08-06 14:32] npmiller opened #4279 "Update CudaArch structs and functions in clang to something more generic"
The `CudaArch` struct and functions include AMD GPU values in:

* https://github.com/intel/llvm/blob/sycl/clang/lib/Basic/Cuda.cpp#L73

It would be good to revisit this and change it to something more generic like maybe `GPUArch` or something like that as the `Cuda` tag doesn't really reflect what it is anymore.

This was discussed on the following PR:

* https://github.com/intel/llvm/pull/4239#di

[2021-08-06 15:35] keryell commented on #4278
That sounds like a useful feature.
It would be preferable to use a compile-time kernel property *à la* https://github.com/intel/llvm/pull/4280 or a decorating function, instead of adding yet another attribute.

[2021-08-06 15:41] erichkeane commented on #4277
What does `build_with_kernel_type` do?  If it is what is causing the `__builtin_sycl_unique_stable_name` evaluation, it likely needs to ALSO mark this as a device type.  @romanovvlad likely is the one who needs to fix this in the library.

[2021-08-08 10:49] joeatodd commented on #4277
It compiles the kernel for the default device, AFAIK. The motivation is to get device-specific kernel info before kernel launch. As you suggest, it is indeed what's causing the evaluation of `__builtin_sycl_unique_stable_name`.

[2021-08-09 07:06] bader commented on #4256
I think this is fixed by https://github.com/intel/llvm/commit/6a055ec242762acc67028c8142d1993dcd6b297c. @bagrorg, could you confirm that, please?

[2021-08-09 07:37] bader commented on #4256
@bagrorg, sorry, I think https://github.com/intel/llvm/commit/6a055ec242762acc67028c8142d1993dcd6b297c doesn't fix it for broadcast operation used in this example. It addresses similar issue for other operations.
On the other hand, you can see apply the same workaround to the application. I.e. replace the `bool` type with 32-bit integer for the variable passed to work_group_broadcast function.

[2021-08-09 07:45] bader commented on #4277
Let's simplify the question:
@erichkeane, `parallel_for<decltype(my_lambda)>();` - is this allowed? I thought types which can't be forward-declared by the compiler are not allowed as a kernel name type. Am I wrong?
If so, it's exactly the same problem we discussed last week with oneDPL library team.

[2021-08-09 11:37] romanovvlad commented on #2820
@v-klochkov FYI

[2021-08-09 11:54] JackAKirk commented on #2820
Update:
I think it is a reduction specific issue and I expect that it affects all backends, not just cuda. In short the issue is that the reduction parallel_for interface creates more than one event for the USM case and the event, 'ev1', that is returned by the call to parallel_for is the latest one that corresponds to the call to reduSaveFinalResultToUserMem.

I believe that the resolution for th

[2021-08-09 13:30] erichkeane commented on #4277
That, as written, isn't legal, no.

[2021-08-09 13:56] bader commented on #4277
The reproducer has the same problem.
`parallel_for` implicitly calls `build_with_kernel_type` to build the kernel if it's not built already explicitly with `build_with_kernel_type`.

Another issue is that kernel invocation function must be specialized with the kernel name type as well.
[code]
I'm not sure if CTAD is enabled/helps to bind kernel build and invoke APIs, so better to do this explicitl

[2021-08-09 17:20] Michoumichmich opened #4294 "Clang crashes since last pulldowns when building shared objects"
**Describe the bug**
Since last week I'm experiencing crashes when building SYCL projects. All the crashes happens when linking the SYCL back-end of that library into a shared object.

When targeting the CUDA back-end, I get the following crashes:
I get, when building with `-Og`:
[code]

And when building for release with `-O2`, the previous error disappear and I get this one instead:
[code]

On t