[2020-02-27 14:12] #1167 closed

[2020-02-27 14:43] alexbatashev opened #1208 "Unused argument in GraphBuilder member function"
https://github.com/intel/llvm/commit/7a9a4251f57f78164df2eda4b17efc4c26b4356d introduced a new argument to `addHostAccessor` function which seems to be unused in this function. The same applies to `addHostAccessor` in Scheduler as well. These artifacts must be removed from code.

https://github.com/intel/llvm/blob/8d77a38bf178e906a9bd598fa5ea5bf4899eafc4/sycl/source/detail/scheduler/graph_builder.

[2020-02-27 15:18] Ruyk commented on #1170
I took a look to this, only the `--cuda-gpu-arch` spelling is accepted by the driver, not the `-cuda-gpu-arch`. It fails silently, because the argument is claimed, my own debugging output below:

[code]
The GPU Arch list is empty because the argument is not parsed properly (`Name:"<unknown>"`), however when using `--cuda-gpu-arch`:

[code]
The argument is properly understood and the sm_35 is used

[2020-02-27 16:32] fwyzard commented on #1170
Thanks.

Yes, using `-Xsycl-target-backend '--cuda-gpu-arch=sm_35'` does work, thank you.

On to the next issue: using `-Xsycl-target-backend '--cuda-gpu-arch=sm_35,sm_50'` results in
[code]

Using `-Xsycl-target-backend '--cuda-gpu-arch=sm_35 --cuda-gpu-arch=sm_50'` fails in the same way.

Using `-Xsycl-target-backend '--cuda-gpu-arch=sm_35' -Xsycl-target-backend '--cuda-gpu-arch=sm_50'` does wor

[2020-02-27 18:27] Pennycook commented on #1171
Thanks for checking.  I've managed to reproduce the error now on my local machine, and I think I might have identified a workaround in arch/rrii/Simd_rrii_vec.h:
[code]

Does this fix things for you, and does it align with what you're trying to do?  If so, it looks like there may be some issue with the vector attribute that we need to investigate further.

[2020-02-27 19:43] varsha-madananth commented on #1124
@Ruyk We are now able to build sycl apps on nvidia hardware. thank you

[2020-02-27 19:57] Ruyk commented on #1198
Interesting, CUDA_ERROR_NO_DEVICE is not supposed to be returned by [cuInit](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__INITIALIZE.html#group__CUDA__INITIALIZE_1g0a2f1517e1bd8502c7194c3a8c134bc3).

[2020-02-27 20:10] Ruyk commented on #1124
Thanks!
@bader  I believe this can be closed now then

[2020-02-27 20:47] Ruyk commented on #1208
@Alexander-Johnston could this be an accident while re-basing?

[2020-02-27 21:05] paboyle commented on #1171
I confirm that I also get this behaviour. It works with the SYCL vec.

I get 20GF/s double precision from SIMT  read coalesced version, and 5 GF's from the non-SIMT version.

I get 35GF/s single precision.

The four cores on same code give 125GF/s single precision, and 93 in double, but I have an artificially short vector length in single so not surprising the ratio is not 2x.

Personally, I'd rea

[2020-02-27 21:15] Ruyk commented on #1198
https://github.com/intel/llvm/pull/1210 should fix this problem

[2020-02-27 21:53] keryell commented on #1172
Yes, this is how the SYCL standard is designed on purpose.
SYCL is a portable pure C++ executable DSL which can be also executed on any CPU with any plain C++ compiler. This is extremely powerful to debug for example SYCL on a CPU with your normal development environment.

CUDA is a language similar to C++, with some magical extensions such as the one you mention. Unfortunately, this means it requ

[2020-02-28 01:32] mfbalin opened #1211 "Make fails the first time it is called after cmake"
`commit 03326f70e3227fbb8121b3dffed264aad486b088 (HEAD -> sycl, origin/sycl, origin/HEAD)`

Make fails the first time it is called after cmake but calling it again, it works without any issue. See the cmake and make output below, to see where the error is, search for "compilation terminated":

[code]

[2020-02-28 03:26] Pennycook commented on #849
I've tested this since #1183 and it almost works.  You can now write something like `sg.store(global_ptr<float>(usm_ptr), x)`, but you can't write something like `sg.store(usm_ptr, x)`.  The latter still fails despite pointers now being implicitly convertible to `multi_ptr`, because the type and space of the `multi_ptr` template arguments need to be deduced.

I'll need to think about this some mor

[2020-02-28 08:38] bader commented on #1124
Fixed by #1091.

[2020-02-28 08:38] #1124 closed

[2020-02-28 08:50] AlexeySachkov commented on #1211
[code]

It seems like we have missed dependencies for `pi_cuda` target or they doesn't work as intended.

For example, for OpenCL PI Plugin we have:

https://github.com/intel/llvm/blob/03326f70e3227fbb8121b3dffed264aad486b088/sycl/plugins/opencl/CMakeLists.txt#L17-L20

https://github.com/intel/llvm/blob/03326f70e3227fbb8121b3dffed264aad486b088/sycl/plugins/opencl/CMakeLists.txt#L30-L33

For Cuda P

[2020-02-28 08:51] AlexeySachkov commented on #1211
@Ruyk, @Alexander-Johnston, could you please take a look?

[2020-02-28 11:10] #1111 closed

[2020-02-28 15:37] paboyle commented on #1172
I can use compiler extensions, but would prefer a guarantee that such an extension would exist, even if it is compiler dependent. I actually _prefer_ an intrinsic _function_ to an intrinsic variable from an aesthetic sense.

I'm trying to implicitly process vector types at the lowest level in code as one "extra" work item per SIMD lane. This keeps the semantics the same in rest of code.

But, SyCL

[2020-02-28 15:40] paboyle commented on #1172
Poster:

www.ph.ed.ac.uk/~paboyle/ECP_2020.pdf

[2020-02-28 17:31] fwyzard commented on #1190
Done in #1218.

[2020-02-28 19:42] keryell commented on #1171
Is there a way to avoid this vector attribute? It is non standard C++, so I do not know if it can really be named "cross platform" then...
Do you think there is something missing in the SYCL standard?

[2020-02-28 23:49] jinz2014 commented on #1119
I also got the same error. Could you also suggest debugging methods ?

[2020-03-01 11:00] fwyzard commented on #1194
### passing nvptx64 as the first target:
[code]

### passing spir64 as the first target:
[code]

### passing spir64 as the first target, with #1223:
[code]

[2020-03-02 10:02] jon-chuang commented on #1139
Can I get some response on this issue?

[2020-03-02 10:15] bader commented on #1139
AFAIK, clspv compiles "OpenCL C" source code to SPIR-V shaders at the cost of limiting OpenCL features. So I don't think proposed compilation flow is possible with the available tools.

Do you have any particular examples where using SYCL programming model for WebGPU back-end is beneficial?

[2020-03-02 16:30] #1198 closed

[2020-03-02 21:58] fwyzard commented on #1211
@krasznaa is this the same issue you are seeing ?

[2020-03-02 22:07] fwyzard opened #1229 "Issues with `make deploy-sycl-toolchain`"
After configuring with
[code]
building with
[code]
and installing with
[code]

I find under `$INSTALL_PATH`:
[code]

I see few issues with this:
   - `libsycl.so` does not honour `LLVM_LIBDIR_SUFFIX`
   - `libpi_opencl.so` does not honour `LLVM_LIBDIR_SUFFIX`
   - `libpi_cuda.so` is not installed by `make deploy-sycl-toolchain`
   - `clc` does not honour `LLVM_LIBDIR_SUFFIX`

when building with `-

[2020-03-03 08:04] fwyzard opened #1231 "Execution fails when using both plugins"
There seems to be some initialisation/finalisation issues when using multiple plugins.

If I try to run the same simple operation on both OpenCL and CUDA plugins, in any order, I get
[code]
The stack trace is
[code]

And
[code]
The stack trace is
[code]

[2020-03-03 08:06] fwyzard commented on #1231
From the stack trace, the problem seems to be that the wrong plugin is being used:
[code]
so the runtime is trying to use the CUDA plugin for the OpenCL CPU device.

And
[code]
so the runtime is trying to use the OpenCL plugin for the NVIDIA GPU.

[2020-03-03 09:04] krasznaa commented on #1211
It is. I've been compiling the HEAD of the code for the last few times with:

[code]

:stuck_out_tongue: I was hoping that somebody would "magically" fix this at one point...

[2020-03-03 09:23] fwyzard commented on #1231
A minimal test case to reproduce the crashes is
[code]

I noticed that if I move the `buffer` inside the device loop, instead of reusing it, the crashes disappear.

Is a buffer supposed to be accessible across all devices ?

[2020-03-03 11:48] #1194 closed

[2020-03-03 13:53] Ruyk commented on #1231
Thanks for the report and the code. Part of this is a known issue (`cuda_piEventSetCallback` not implemented), for which a patch will come up soon (@steffenlarsen is working on this).
The other problem with the OpenCL event not working we still need to investigate, seems to me its creating the user event in the wrong context, but we'll look into this.

[2020-03-03 22:36] cgleggett opened #1240 "runtime error when using CUDA plugin"
I'm building from git commit e6ce6143d407e4b79a38e1c6521e01b2b690e1ff, in a ubuntu 18.04 container on a centos7 host with an nvidia 2080 super GPU. All kernels throw exceptions upon execution:

[code]

gdb shows:
[code]

I'm using the same simple-sycl-app.cpp that @fwyzard gave in   #1231

compilation was done with:
[code]

[2020-03-04 12:51] sergey-semenov opened #1247 "Refactor cl::sycl::info::device_type to allow bitwise operations internally"
Current underlying values of `cl::sycl::info::device_type` do not lend themselves for bitwise operations.
[code]
 This leads to some unnecessarily complex logic of `cl::sycl::detail::match_types` and `cl::sycl::detail::force_types`, which could be merged into a single simpler method.

[2020-03-04 13:31] mkinsner commented on #1247
There is a wider issue, in that an OpenCL device can identify as more than one of these types (in a bitfield way):

In OpenCL, device types are a bitfield and not mutually exclusive.

In SYCL 1.2.1, device_type is an enum:

So the bitfield representation should probably be exposed through SYCL, and not just an internal implementation detail.

A proposal here or in the [SYCL 1.2.1 spec repo](https:

[2020-03-04 23:55] cgleggett commented on #1240
This actually fails in 2 different ways depending on which  `sycl::platform` is chosen. The above failure is when platform name is `NVIDIA CUDA` and platform version is `OpenCL 1.2 CUDA 10.2.95`. This results in a sycl::device with driver name `440.33.01`. If I instead choose a different platform, where the version resolves as `CUDA 10.20` and the device driver is `CUDA 10.20`, the failure is
[cod

[2020-03-05 10:36] krasznaa opened #1251 "cl::sycl::buffer getting stuck after parallel_for calculation"
Hi,

The following may very well just be me not understanding how the code should be written, but I still find the current behaviour of my compiled executable very confusing. Take the following simple example code:

[code]

When I compile/run it, I get:

[code]

I.e. the application gets stuck. Looking at it with GDB, I see the following:

[code]

I.e. the code is stuck on the

[code]

call. :conf

[2020-03-05 10:52] sergey-semenov commented on #1251
Hi, @krasznaa

The reason why the first code gets stuck is that you attempt to create two host accessors (one of which has write access) for the same buffer. Destroying the first accessor via scoping first will resolve the issue.

[code]

[2020-03-05 11:37] Ruyk commented on #1240
The NVIDIA OpenCL is a valid OpenCL device for the OpenCL backend when using the `nvptx64-nvidia-opencl-sycldevice` triple. The triple `nvptx64-nvidia-cuda-sycldevice` produces CUDA binaries that are only valid for the CUDA backend (i.e., version CUDA 10.20).
The GPU selector only finds a GPU, doesn't look for a specific backend, so the NVIDIA OpenCL comes up first.

[2020-03-05 11:51] krasznaa commented on #1251
Dear Sergey,

Very interesting. Thanks, this indeed fixes the issue!

I wonder though if it would make sense to issue a runtime warning/error when such a thing is encountered. If such a situation can reasonably be looked for in LLVM/Clang that is...

Cheers,
   Attila

[2020-03-05 14:55] Ruyk commented on #1231
Pinged you on #1252, which should fix this problems. There is some more work do to (enable more lit tests and a lifetime issue on the callback) that @steffenlarsen is still looking into, but I would like to see if this fixes the problem in your side.

[2020-03-05 15:21] cgleggett commented on #1240
using the target `nvptx64-nvidia-opencl-sycldevice` pulls in the 32 bit compatibility libraries:

[code]

installing those leads down a rabbit hole of other missing things:
[code]

this starts looking like a conflict between the gcc8 environment with which llvm was built, and the system libraries.

[2020-03-05 15:59] fwyzard commented on #1231
It works (see https://github.com/intel/llvm/pull/1252#issuecomment-595302656), thank you.

[2020-03-05 16:25] fwyzard commented on #1240
I'm confused ...

I tried
[code]
and
[code]
and the two binaries that I get are virtually identical:
[code]

[2020-03-05 16:45] fwyzard commented on #1240
I got the same error when I forgot the `-sycldevice` in the target, using only `-fsycl-targets=nvptx64-nvidia-opencl`:
[code]

[2020-03-05 17:43] romanovvlad commented on #1251
Blocking is a valid behavior that you can rely on in the multi-threaded application. If you are sure that an application you are looking at doesn't rely on the feature you can try to set SYCL_THROW_ON_BLOCK env var and see if something changes. But note, this variable is for the SYCL runtime developers, please do not rely on it in production code.

[2020-03-05 17:44] romanovvlad commented on #1251
It seems the issue can be closed. Please, reopen if I'm missing something.

[2020-03-05 17:44] #1251 closed

[2020-03-05 18:46] bjoernknafla commented on #1169
Quick update - we are testing a fix locally at the moment.

[2020-03-05 19:22] Pennycook opened #1254 "Cannot distinguish between host/device warnings and errors"
I'm not sure if this issue is specific to kernel attributes or has wider applicability, but it can be difficult to understand whether host or device compilation is producing a given warning or error.

I'm most concerned about cases when only one of the compilers produces a warning, as below:
[code]
[code]

It is not clear from this message that the attribute was ignored on the host but respected o

[2020-03-05 23:18] fwyzard commented on #1211
Something that seems to work for me is
[code]

@krasznaa would you check if that fixes the build for you as well ?

[2020-03-06 02:46] cgleggett opened #1255 "event profiling broken (not implemented?) with cuda backend"
accessing `event.get_profiling<cl::sycl::info::event_profiling::command_submit>()` causes an error when running with the cuda backend:

[code]

gdb shows:
[code]

[2020-03-06 06:37] againull opened #1258 "[CUDA] LLVM optimization passes can ignore cuda memory barrier"
LowerWGScope pass generates copies between private and shared memory.
Logic is to share private value from leader work item to other work
items through shared memory. Example in pseudo code:
[code]
Generated load/store operations are not supposed to be moved across
memory barrier but barrier intrinsics like @llvm.nvvm.barrier0() are
not handled specially by LLVM middle end passes and recognized on

[2020-03-06 08:59] bader commented on #1190
@fwyzard, can we close this issue or there is anything else you wanted to add regarding `-fintelfpga` flag?

[2020-03-06 09:30] fwyzard commented on #1190
Is there a way to install `aoc` without installing the full oneAPI beta ?

[2020-03-06 09:32] AGindinson commented on #1190
None that I'm aware of. @GarveyJoe, could you please chime in?

[2020-03-06 11:00] #1169 closed

[2020-03-06 13:51] fwyzard commented on #1169
Thanks, #1259 fixed our build.

[2020-03-06 14:47] bader opened #1262 "[SYCL] Sporadic failures in LIT tests on Windows"
We observe a lot of sporadic failures in pre-commit LIT tests on Windows for "OpenCL accelerator" device type.
Typical error message look like this:
[code]

[2020-03-06 15:20] Ruyk opened #1265 "[SYCL][CUDA] Remove opencl-headers dependency from pi-cuda.h"
From https://github.com/intel/llvm/pull/1260:

Things like this are plug-in specific and should reside in plug-in specific headers:
pi-opencl.h <-- interop with OpenCL
pi-cuda.h <-- interop with CUDA

We should use only CUDA plug-in on platform and this plug-in should not include OpenCL headers. This will resolve the problem.

No for this patch. I already approved it.

_Originally posted by @bader

[2020-03-06 15:37] #1211 closed

[2020-03-06 15:58] fwyzard commented on #1229
These
   - `libsycl.so` does not honour `LLVM_LIBDIR_SUFFIX`
   - `libpi_opencl.so` does not honour `LLVM_LIBDIR_SUFFIX`
   - `clc` does not honour `LLVM_LIBDIR_SUFFIX`

are fixed by #1261.

This
   - `libpi_cuda.so` is not installed by `make deploy-sycl-toolchain`

is still pending.

[2020-03-06 17:02] ywang30intel opened #1267 "Unresolved extern function '_Z17__spirv_ocl_s_absi' when using CUDA plugin"
Build with simple-sycl-app.cpp with cl::sycl::abs() function in the sycl kernel, this will trigger the following error:
$clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sycldevice simple-sycl-app.cpp -o test
ptxas fatal   : Unresolved extern function '_Z17__spirv_ocl_s_absi'
clang-11: error: ptxas command failed with exit code 255 (use -v to see invocation)

Just add cl::sycl::abs() function cal

[2020-03-07 01:38] fwyzard commented on #1229
these
 * `libLLVM*.so` are not installed by `make deploy-sycl-toolchain`
 * `libclang*.so` are not installed by `make deploy-sycl-toolchain`

have not been fixed yet.

[2020-03-07 01:51] keryell commented on #1254
This is another argument for not using attributes directly but use C++ DSL constructions instead that can switch the the hidden attributes on/off behind the scene according to the context and also emit error messages at the library level instead of adding more and more cognitive load in the compiler...

[2020-03-07 03:50] keryell commented on #1254
A good example of a DSL approach seems https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/IntelFPGA/FPGAReg.md

[2020-03-07 09:56] fwyzard commented on #1229
These, when building with `-DBUILD_SHARED_LIBS=ON`:
   - `libLLVM*.so` are not installed by `make deploy-sycl-toolchain`
   - `libclang*.so` are not installed by `make deploy-sycl-toolchain`

are fixed by calling `make install-llvm-libraries install-clang-libraries`; would it make sense to add them as dependencies of `deploy-sycl-toolchain` ?

[2020-03-07 20:24] airlied opened #1274 "USM spec should have a reasons why SVM is broken"
I've read the USM spec and I think it really needs a small section (unless I missed it) stating why the current SVM APIs aren't suitable and what this allows that they don't.

[2020-03-08 18:14] bashbaug commented on #1274
Sure, good idea, I'll add this.  Here is a brief summary before the spec is updated.  In short, USM provides a different mix of features and control that we believe matches the needs of implementations and applications better than SVM:

* USM provides explicit control over host allocations with wide visibility, devices allocations with best performance, and shared allocations that can migrate.  SV

[2020-03-09 18:28] Pennycook commented on #1254
I don't disagree, but I'm worried that hiding implementation details like this may still produce cases where the host and device compiler passes see different code and produce different warnings/errors.

I'll give some more thought to the `reqd_sub_group_size` attribute and what it would take to implement it at the library level.  We'd need a solution that could modify the type of a functor, a lam

[2020-03-09 19:41] GarveyJoe commented on #1190
There is not.

[2020-03-09 19:45] fwyzard commented on #1190
Thanks.
Do you know if the installation from beta 4 is compatible with this branch ?

[2020-03-09 21:36] keryell commented on #1254
Well, it is obviously up to the library implementer to come with the correct implementation and the righ error messages. :-)
For your last sentence, I made already some presentations inside the SYCL committee around 2016 and we discussed this again during last F2F meeting.
I summarized this in https://gitlab.khronos.org/sycl/Specification/issues/296

[2020-03-10 13:03] paboyle commented on #1171
There's always ways to get rid of things, it just increases the volume of code and test coverage cases, but that is a significant penalty. Currently, I cannot combine host vectorisation with GPU acceleration (x86 intrinsics don't run on an Nvidia thread) but this is a route to do so.

I'm trying to minimise the difference between SyCL GPU code and vectorisable CPU code that is compiled with non-SY

[2020-03-10 19:12] #1229 closed

[2020-03-10 21:39] keryell commented on #1247
This is mentioned in https://gitlab.khronos.org/sycl/Specification/issues/261

[2020-03-10 22:39] keryell commented on #1171
There is always a design issue, either to put more and more things into SYCL or to just use SYCL as a pure C++ component to target some accelerators in a bigger picture.

Anyone can contribute to the SYCL open-source implementations. Why not people from Fujitsu? :-)

What prevents you for example you to use SYCL with vector extensions if you want at least inside host kernels or more generally host

[2020-03-11 11:15] krasznaa opened #1285 "libOpenCL not being installed with LLVM/clang"
Dear All,

I know that this is probably not a black-and-white issue, but this has hurt me on multiple platforms already...

When building LLVM out of the default (`sycl`) branch, by default it builds its own `ocl-icd` library. (`libOpenCL.*`) At first I tried to use `-DOpenCL_BUILD_WITH_SYSTEM_SDK=TRUE` as much as possible, but I've given up on that by now. In too many cases the system would have

[2020-03-12 11:20] steffenlarsen opened #1291 "Missing function in hierarchical when targetting PTX"
Compiling
[code]
using the `nvptx64-nvidia-cuda-sycldevice` triple causes the following error:
[code]

[2020-03-12 17:53] paboyle commented on #1172
Does C++11

thread_local

specifier work with DPCPP kernels?
If so this could be used.

[2020-03-12 18:17] romanovvlad commented on #1172
thread_local is not allowed to be used in the device code.

[2020-03-13 14:30] AlexeySachkov commented on #1166
I've found a bug in this commit, which affects translation from SPIR-V to LLVM IR: some built-in SPIR-V variables translated not into OpenCL built-ins, but into something strange, like: `__spirv_BuiltInWorkgroupId` -> `__spirv_WorkgroupId_z` (not `get_group_id`).

Faulty code is additional lanes in the following mapping:

https://github.com/intel/llvm/blob/3b6799ab420db1ffc8d72c7941fed89f91abcb0f/

[2020-03-13 15:27] pvchupin commented on #1291
@againull, can you take a look please?

[2020-03-13 15:41] AlexeySachkov commented on #1166
Unfortunately, my analysis wasn't quite correct: mentioned map is actually used to map from string to built-in id:

https://github.com/intel/llvm/blob/3b6799ab420db1ffc8d72c7941fed89f91abcb0f/llvm-spirv/lib/SPIRV/OCL20ToSPIRV.cpp#L1262-L1263

So, it seems that we cannot just remove additional lines with stuff like `add("__spirv_GlobalSize_x", BuiltInGlobalSize);` - we probably need two independent

[2020-03-13 15:42] bader commented on #1166
+@Naghasan

[2020-03-13 15:42] Ruyk commented on #1119
https://github.com/intel/llvm/pull/1293

[2020-03-13 15:45] AlexeySachkov commented on #1166
Also, as quick workaround/hack we just need to modify the mapping:

https://github.com/intel/llvm/blob/3b6799ab420db1ffc8d72c7941fed89f91abcb0f/llvm-spirv/lib/SPIRV/OCLUtil.h#L610-L616

By some reason `__spirv_WorkgroupSize_*` are inserted twice: if we left only the first one bunch of them, then reverse mapping would only contain `BuiltInWorkgroupSize` -> `"get_local_size"`, which is fine for the

[2020-03-13 17:08] againull commented on #1291
Yes, I will work on it.

[2020-03-14 11:34] fwyzard commented on #1285
See also https://github.com/codeplaysoftware/sycl-for-cuda/commit/bd85c027681b9c22c632356e5e563250c8a74b2e#r37748342 .

[2020-03-14 16:18] fwyzard opened #1320 "Building with -DBUILD_SHARED_LIBS=ON is broken (again)"
Building with `-DBUILD_SHARED_LIBS=ON` is broken (again) as of 0d56408c9e2b2eb6759ca1e262b9dbd7c20aa3f5 :
[code]
results in
[code]

I suspect the origin is #1306, given that the link failures are in `LLVMSYCLLowerIR`.

The full build log is attached.
[build.log](https://github.com/intel/llvm/files/4332995/build.log)

[2020-03-14 19:34] jinz2014 commented on #1267
Please also add  sqrt

Unresolved extern function '_Z16__spirv_ocl_sqrtIddET_T0_'

Thanks

[2020-03-14 23:44] fwyzard commented on #1320
Seems to be fixed by #1321.

[2020-03-15 09:26] fwyzard opened #1322 "Building with -DLLVM_BUILD_LLVM_DYLIB=ON -DLLVM_LINK_LLVM_DYLIB=ON is broken"
Building with `-DLLVM_BUILD_LLVM_DYLIB=ON -DLLVM_LINK_LLVM_DYLIB=ON` is broken as of 0d56408c9e2b2eb6759ca1e262b9dbd7c20aa3f5 :
[code]
results in
[code]

[2020-03-15 10:44] fwyzard commented on #1322
This patch
[code]

seems to fix the build., though I don't know if that is the correct fix or just a workaround.

[2020-03-16 09:47] bader commented on #1322
@fwyzard, thanks for fixing this issue.
FYI, we don't use `LLVM_BUILD_LLVM_DYLIB` as it's not supported on Windows.
You patch looks okay to me, but I'd like Alexey Sotkin to approve before the merge.

[2020-03-16 11:24] bader commented on #1322
Out of curiosity: why do you build this configuration?
What are the advantages over `BUILD_SHARED_LIBS`?

[2020-03-16 11:25] bader commented on #1320
Can we close this issue?

NOTE: we added this configuration to the post-commit, so hopefully we will detect commits regressing this configuration much earlier.

[2020-03-16 11:35] fwyzard commented on #1320
Fixed by #1321.

[2020-03-16 11:35] #1320 closed

[2020-03-16 11:49] fwyzard commented on #1322
In fact, we have been using `BUILD_SHARED_LIBS` so far, but while checking what it does I found this on [Building a Distribution of LLVM](https://llvm.org/docs/BuildingADistribution.html):

So now we are switching from `BUILD_SHARED_LIBS` to `LLVM_LINK_LLVM_DYLIB`.

[2020-03-16 11:58] bader commented on #1322
So you

?

NOTE: we distribute our tools with LLVM libraries linked statically.
We might reduce the size of the tools if we link with dynamic LLVM library, but as noted in the LLVM documentation, it doesn't work on Windows. AFAIK, it's due to MS linker limitation on # of exported symbols - LLVM exports too many symbols.

[2020-03-16 12:55] fwyzard commented on #1322
Yes, that's the idea, though I haven't checked the final size of the installation recently.

[2020-03-16 14:24] Naghasan commented on #1166
Oh yes, that's not really the intention here. I will make sure this doesn't happen for SPIR-V -> LLVM IR

[2020-03-17 05:36] rogela opened #1337 "Latest release cannot be extracted correctly"
When the release 20200316 is extracted, include/CL shows up as a single file instead of the expected directory.

[2020-03-17 08:27] bader commented on #1337
Most likely this issue was introduced by https://github.com/intel/llvm/pull/1308.
@vladimirlaz, please, take a look.

[2020-03-17 08:29] bader commented on #1274
@airlied, did https://github.com/intel/llvm/pull/1315 address your concern?

[2020-03-17 08:31] AlexeySachkov commented on #1231
@fwyzard, can it be closed or there is some work left to do?

[2020-03-17 08:35] fwyzard commented on #1231
I would suggest to close this when #1252 is merged.

[2020-03-17 09:41] airlied commented on #1274
Sorry was off for a few days, but yes this addresses what I wanted to see. Thanks.

[2020-03-17 09:41] #1274 closed

[2020-03-17 10:37] AlexeySachkov commented on #1190
Tagging @vladimirlaz to answer the question

[2020-03-17 10:54] bader commented on #1119
@varsha-madananth, does #1293 with clarified instructions fix your problem?

[2020-03-17 12:54] jinz2014 commented on #1119
Yes. Thanks for improving the guide.

On Tue, Mar 17, 2020 at 5:54 AM Alexey Bader <notifications@github.com>
wrote:

[2020-03-17 12:59] bader commented on #1119
@Ruyk, 👍.

[2020-03-17 12:59] #1119 closed

[2020-03-17 13:01] bader commented on #1137
@reguly, does #1293 address this issue?

[2020-03-17 13:07] bader commented on #1255
@cgleggett, @steffenlarsen, did #1298 fix this issue?

[2020-03-17 14:57] cgleggett opened #1338 "[CUDA] compilation error: undefined function without SYCL_EXTERNAL"
after building  commit a0384801a28a1c80fa2bf70b5b8098f40eb6ee5a

compilation error when targeting CUDA backend:
`> /home/leggett/intel/git/build/bin/clang++ -std=c++14 -fsycl -pthread -g -O2 -fsycl-targets=nvptx64-nvidia-cuda-sycldevice -o prog.o -c prog.cpp`

[code]

llvm was built with
[code]

[2020-03-17 15:00] reguly commented on #1137
It does - thank you!

[2020-03-17 15:00] #1137 closed

[2020-03-17 15:02] cgleggett commented on #1255
no.

First I can't compile targeting the CUDA backend, see #1338

If I don't target the CUDA backend, (still using the CUDA enabled build of llvm), I get a different compilation error:
[code]

[2020-03-17 15:34] Ruyk commented on #1255
That looks unrelated to the original issue?

[2020-03-17 16:00] cgleggett commented on #1255
apologies - I had done an incremental build instead of a clean and build from scratch.

Now I get a few warnings:
[code]

and a linker error:
[code]

so, still hard to tell if fixed....

[2020-03-17 16:01] cgleggett commented on #1338
apologies - I had done an incremental build.

a full build from clean resolved this issue.

[2020-03-17 16:01] #1338 closed

[2020-03-17 16:14] jbrodman commented on #1255
FYI: If you're using ordered queues, an example of the new usage is found at https://github.com/intel/llvm/blob/sycl/sycl/test/ordered_queue/prop.cpp

[2020-03-17 16:31] cgleggett commented on #1255
I'm not using the ordered queues explicitly - I think it's related to the internals of the event profiling.

[2020-03-17 17:11] pvelesko opened #1340 "Unable to compile SYCL for CUDA"
I am trying to compile [SYCL for CUDA](https://github.com/codeplaysoftware/sycl-for-cuda)  and it says to direct issues here.

System:
[code]

I followed [these instructions](https://github.com/codeplaysoftware/sycl-for-cuda/blob/cuda/sycl/doc/GetStartedWithSYCLCompiler.md#build-sycl-toolchain-with-support-for-nvidia-cuda)

add -DCMAKE_C_COMPILER=gcc (and g++) otherwise it will default to system g

[2020-03-17 17:12] bader commented on #1255
Linker error duplicates #1267.

@cgleggett, as original issue is resolved, I suggest closing this issue. Are you okay with that?

[2020-03-17 17:20] cgleggett commented on #1255
yes. If necessary, I will re-open.

[2020-03-17 17:20] #1255 closed

[2020-03-17 17:59] cgleggett opened #1342 "[CUDA] "CL/sycl.hpp" include not found when compiling with CUDA backend"
header CL/sycl.hpp is not automatically found when targeting the CUDA backend, unless the include directory is explicitly specified in the compilation line via `-I$(SYCL_BLD_DIR)/include/sycl`

This is not the case if the CUDA backend is not targeted.

[2020-03-17 22:13] againull commented on #1291
Hi @steffenlarsen
I get the following error on your test case:
[code]
And problem is that kernel name class is not specified.
After the following change test is compiled successfully:
[code]

[2020-03-18 11:00] vladimirlaz commented on #1337
I am working on that.

[2020-03-18 12:47] Ruyk commented on #1340
Looks that CUDA support hasn't been build, do you have a libpi_cuda.so file in your build?
The error afterwards seems a toolchain problem not related to CUDA...

[2020-03-18 12:52] pvelesko commented on #1340
@Ruyk  no it hasn't been built it seems. Complains that no target was found.
I attached relevant stuff from CMakeCache.txt.
Cmake does complete, however.

[2020-03-18 14:26] vladimirlaz commented on #1337
@rogela, please try 20200318 release. Fixed compiler package has been uploaded.

[2020-03-18 14:26] #1337 closed

[2020-03-18 14:43] Ruyk commented on #1170
@Alexander-Johnston is working on this

[2020-03-18 19:51] steffenlarsen commented on #1291
I don't know why that error didn't occur before, but the error I reported is still there with the changes you suggested. It doesn't happen if sycl-targets is not `nvptx64-nvidia-cuda-sycldevice`.

As a note, there is currently another error (https://github.com/intel/llvm/issues/1342) which can be circumvented by setting the include path explicitly.

[2020-03-18 20:31] againull commented on #1291
I am aware of #1342.
I found out how to reproduce the error. You haven't mentioned in the description of the issue that build **must** be with assertions enabled to reproduce the error. If assertions are not enabled then  "-disable-llvm-verifier" option is added by clang and there is no error.

[2020-03-18 20:36] steffenlarsen commented on #1291
Apologies. I'm running a debug build, which I should have mentioned.

[2020-03-18 20:41] vladimirlaz commented on #1342
Fix is available in https://github.com/intel/llvm/pull/1347

[2020-03-18 20:46] againull commented on #1291
No problem. I will work on the fix.

[2020-03-19 09:07] pvelesko opened #1350 "CUDA unresolved extern function '_Z16__spirv_ocl_sqrtIffET_T0_'"
The same use case works in a simple reproducer, but when trying to compile the full code it breaks with the mentioned error.
Tried using sqrt, cl::sycl::sqrt,compiler inline the function, manual inline, different sm_ targets.

to reproduce:
export SYCL_BE=PI_CUDA
export ARCH=sycl-intel
make

./nbody.x

[Reproducer attached](https://www.dropbox.com/s/h5zr7bkxlnod8vs/reproducer.tar?dl=0).

[2020-03-19 10:08] Ruyk commented on #1340
I don't see any attachment. What version of cmake are you using?

[2020-03-19 12:32] pvelesko commented on #1340
I've added the relevant errors to the original post.
cmake 3.16 .3

Someone else got it build on this system using the same cmake command.. so I suppose we can close this ticket.

[2020-03-19 12:32] #1340 closed

[2020-03-19 16:00] pvelesko opened #1352 "CUDA CL_INVALID_VALUE error when instantiating a global scope queue"
Hi all,
the program compiles but fails at runtime when trying to create a queue that's declared global.
[code]
[Reproducer](https://www.dropbox.com/s/l7c1cvcznwvpzwj/global_queue_codeplay.tar?dl=0).

In the comments there is a working version - everything local. Compiles and runs without crashing.

[2020-03-19 16:20] romanovvlad commented on #1352
@pvelesko  Could you please provide more details of how it fails?( Message, exception, backtrace where exception is thrown)

[2020-03-19 16:25] pvelesko commented on #1352
[code]

[2020-03-19 16:53] romanovvlad commented on #1352
Could you please attach logs when PI_TRACE var is enabled? Or backtrace for the place where exception is thrown?

Does it work without setting SYCL_BE to PI_CUDA ?

[2020-03-19 17:17] pvelesko commented on #1352
One other thing I noticed this is using CUDA 10.0 instead of CUDA 10.1
I tried switching versions but I think the person who compiled it built it against 10.0 since once I switch it can no longer find the plugin.

Looking at the backtrace it seems like fails when
`queue q;` which gets initialized later on in an `init()` function.
This same exact setup works with dpcpp.

no change

[code]

[code]

[2020-03-19 17:29] cgleggett opened #1353 "[CUDA] compilation error: invalid input constraint 'x' in asm"
when compiling a simple program with CUDA backend against d9b178fbb8751a6e25059889d551826d716fbfec :
[code]

[2020-03-19 17:32] cgleggett commented on #1342
looks good. I'm now faced with #1353, but it looks like it's finding the header files without manual intervention.

[2020-03-19 18:33] bader commented on #1342
Fixed by https://github.com/intel/llvm/pull/1347.

[2020-03-19 18:33] #1342 closed

[2020-03-19 19:40] AlexeySachkov commented on #1353
This might be a side effect of intel/llvm#1341

[2020-03-19 22:35] jinz2014 commented on #1267
Please also add cl::sycl::trunc

[2020-03-19 23:02] jinz2014 opened #1354 "[CUDA] matrix multiplication"
Can you please run the attached sycl example to double check the output ?

Thanks

Problem size: c(150,600) = a(150,300) * b(300,600)
fail - The result is incorrect for element: [0, 0], expected: 45150 , but got: 45012
fail - The result is incorrect for element: [0, 1], expected: 45150 , but got: 45012
fail - The result is incorrect for element: [0, 2], expected: 45150 , but got: 45012
fail - The

[2020-03-20 10:19] christgau commented on #1350
I'm observing the same issue but also with a very simple reproducer, basically a vector fill example that sets every vector element to the square root of the index. I built the compiler with fcadd26d7cf517127e9d5a99b293058ef9e0a7ab

Here's the code
[code]

I get the following error

ptxas is invoked with ` "/path/to/ptxas" -m64 -g --dont-merge-basicblocks --return-at-end -v --gpu-name sm_30 --outp

[2020-03-20 14:56] bader opened #1361 "[SYCL] Code not using virtual functions relies on function pointers"
While I was reviewing https://github.com/intel/llvm/pull/1295, I realized that the compiler emits the code relying on function pointer extension support even when it's not supposed to.

Here is a short example ([godbolt link](https://godbolt.org/z/V-8MFp)):
[code]

Even though foo function doesn't use virtual functions, the produced code still initializes A::vtable, which type uses function pointe

[2020-03-20 14:59] erichkeane commented on #1361
When we did the implementation that allowed type 'A' here, I think the idea was that the translator would simply ignore the vtable in this case and not bother emitting it.

[2020-03-20 16:12] steffenlarsen opened #1362 "PI Unittests currently disabled"
Currently almost all PI unittests are disabled, both due to no current reliable way of selecting the right plugin and due to the plugin they select (OpenCL) fails to find any devices. This should be investigated so we can reenable the tests.

[2020-03-20 16:59] bader commented on #1361
AFAIK, it's a bit different.
SPIR-V translator relies on clang to prohibit unsupported features, so they are not expected in LLVM IR. SPIR-V translator translates as much as it can and for add "Capabilities" to the final code, so

For instance, if images are used in the LLVM IR, SPIR-V translator adds `ImageBasic` capability. Translator can't be configured to ignore/remove images from the LLVM IR,

[2020-03-20 21:10] Ruyk commented on #1161
@fwyzard  , is this still relevant?

[2020-03-20 21:59] fwyzard commented on #1161
I think #1293 updated the getting started guide to describe the current status; however it should be updated again once #1252 is merged.

If you prefer, we can close this issue, and review the documentation after #1252 is merged.

[2020-03-20 23:33] fwyzard commented on #1322
Fixed by #1323, and upstream by KhronosGroup/SPIRV-LLVM-Translator#458 .

[2020-03-20 23:33] #1322 closed

[2020-03-21 00:43] fwyzard commented on #1354
I get the correct results using dpcpp from Intel oneAPI beta 5:
[code]

[2020-03-21 03:06] jinz2014 commented on #1354
I am sorry for missing the information. Please check it using SYCL for CUDA.

[2020-03-22 12:57] hiaselhans opened #1367 ""libsycl-fallback-cassert.spv" not found"
[code]

i can't find the libsycl-fallback-cassert.spv in build/lib

i tried adding `libdevice` to `DLLVM_EXTERNAL_PROJECTS` and set `DLLVM_EXTERNAL_LIBDEVICE_SOURCE_DIR` as in #1276 but still can't find anything. what else do i need to build these files? it worked a few weeks back but now following the path in getting started doesn't work for me.

[2020-03-22 13:07] bader commented on #1367
You need to add `libdevice` to `LLVM_ENABLE_PROJECTS` variable.
The easiest way to configure CMake is to use https://github.com/intel/llvm/blob/sycl/buildbot/configure.py script.

[2020-03-22 13:18] hiaselhans commented on #1367
thanks for the quick answer! i used that script but only updated external_projects.

[2020-03-22 13:19] hiaselhans commented on #1367
i will compile, verify and close the issue.
and probably send a PR for gettingstarted

[2020-03-22 15:13] #1367 closed

[2020-03-24 10:53] #1011 closed

[2020-03-24 10:54] Alexander-Johnston opened #1382 "SYCL Driver unable to support multiple outputs for a single triple"
SYCL driver is unable to accept multiple CUDA gpu architectures (sm_*) at once. Instead it only takes the final architecture given. It seems this is an inherent problem in the SYCL drivers design, probably inhereted from the OpenMP driver.

The current driver has some builtin assumption that there is a 1-1 mapping between device binary output, toolchain, and triple. This holds for SPI, but not for

[2020-03-24 12:07] AlexeySachkov commented on #1353
@cgleggett, could you please check if #1366 helps to resolve this problem?

[2020-03-24 14:59] cgleggett commented on #1353
looks good. thanks.

[2020-03-24 14:59] #1353 closed

[2020-03-24 18:19] paboyle commented on #1172
thread_local is compliant C++, and if not supported, could at least be used to _implement_
the host CPU version of a documented API call to get the global work item ID with the desired semantics.

Seems to me that you are making a benefit of not providing complete C++ support, saying the semantics don't match GPU's when it suits, while making a virtue of the C++ standard nature.

But not providing

[2020-03-24 20:18] keryell commented on #1172
Even inside the ISO C++ committee `thread_local` is already a tough subject on CPU with a lot of problems.

The good news inside SYCL or CUDA kernels: all the variables you just declare normally are in the private address space, which means... `thread_local` from a SIMT perspective. :-)

Or do you need something else for your application?

[2020-03-24 22:02] mfbalin opened #1388 "Allowed work group sizes in SYCL - CUDA backend"
Hello,

I am writing SPMM code to do sparse matrix with dense matrix multiplication and I am trying to use the local memory while doing that. I have been using the CUDA backend so far and have been having trouble with the work-group sizes. CUDA doesn't seem to handle work-group sizes other than 1024 well, the code crashes with error messages as provided below. Do you have any tips on this?

[Click

[2020-03-25 03:16] paboyle commented on #1172
OK, then pthread_setspecific, pthread_getspecific.

Have existed for decades.

[2020-03-25 03:17] paboyle commented on #1172
and thread_local is important because it can make a variable visible across multiple functions scopes, which is different from an automatic local variable within a function scope, and you know that, so that was a nonsense reply

[2020-03-25 04:43] #1231 closed

[2020-03-25 12:55] vladimirlaz commented on #1085
revert of workaround in https://github.com/intel/llvm/pull/1391

[2020-03-25 18:37] keryell commented on #1172
I am unsure we are talking about the same thing.

[2020-03-27 02:07] pvchupin commented on #1291
@againull , please update on status

[2020-03-27 06:34] againull commented on #1291
@pvchupin Fix is on review: https://github.com/intel/llvm/pull/1405

[2020-03-27 15:34] #1291 closed

[2020-03-27 17:31] hiaselhans opened #1410 "float atomics"
I have a real-world problem where float atomic_adds would greatly simplify the process and reduce kernel calls. Cuda comes with atomic_floats and this is somewhat documented in the sycl reference.

So i tried to set up a small example, compile and run with the cuda backend.
I found that in [atomic.hpp](https://github.com/intel/llvm/blob/c98559b7a870132c5fd26e2ffc81a2b639213b2f/sycl/include/CL/sycl

[2020-03-27 17:42] AlexeySachkov commented on #1410
Hi @hiaselhans,

Basically that assertion is enforced by the SYCL spec.

SPIR-V also don't have support for such atomics, but the translator we are using is capable to translate these functions somehow into undocumented, non-conformant with the spec, OpenCL built-ins which should even work on Intel CPU & GPU (again, this is unfortunately undocumented, so, no guarantees so far).

Yes, definitely, p

[2020-03-27 20:45] ce107 opened #1412 "failing SYCL tests"
I built following the instructions on an Ubuntu 18.04LTS system with CUDA 10.2 (I did get a compilation giving a warning about that), V100 Nvidia GPUs (as well as Fiji class AMD ones). Various OpenCL versions included in the system configuration (including AMD ROCm and Intel Studio 2019 CPU one) but the only way I could get things to build was to ask the build system to download and install its ow

[2020-03-28 12:44] hiaselhans commented on #1410
thanks @AlexeySachkov !

[2020-03-28 12:44] #1410 closed

[2020-03-30 05:23] #1085 closed

[2020-03-30 06:01] crocodiletongue opened #1426 "Build DPC++ toolchain failed on windows10"
I tried to build intel sycl on Windows10 (64-bit) machine but an unexpectable  "ninja error" appears and building failed. I cannot understand the cause and solve.

Does anyone have an idea ?

[code]

[2020-03-30 08:37] hiaselhans commented on #1426
did you try configure.py with `--no-ocl` ?

[2020-03-30 09:10] hiaselhans opened #1427 "using dpc++ in cmake projects"
I tried to use the dpc++ in a cmake environment with llvm in a submodule and configured `
set(CMAKE_CXX_COMPILER "${LLVM_PATH}/bin/clang++")` and a few more.

now, cmake seems to split the linking and building process and that opens for some troubles. the program builds fine, but fails to execute due to the device code missing..?
[code]

CMake seems to invoke:

- `clang++ -fsycl -o sycl.o -c sycl.

[2020-03-30 09:13] bader commented on #1412
I think we should work towards improving two things here:
1. Error diagnostics. The error message like
[code]
 doesn't help much to understand what is the problem and how to fix it. @Ruyk, @romanovvlad, @smaslov-intel, can we improve the error message?
2. We need improve LIT testing infrastructure to make it more predictable i.e. provide developers control over the testing configuration. I think t

[2020-03-30 14:54] bader opened #1429 "SPIR-V built-ins declarations rejected by the SYCL device compiler"
@Naghasan, I have problem with building libdevice library with my version of the SYCL compiler. "My version" includes improved "deferred diagnostics" patch from https://reviews.llvm.org/D70172, which seems to enable diagnostics https://github.com/intel/llvm/pull/1026 for the TableGen-emitted declarations. There seems to be a bug in existing implementation.

Am I right that SPIR-V built-ins are emi

[2020-03-30 15:33] Naghasan commented on #1429
No they are emitted with this attribute ([set here](https://github.com/intel/llvm/blob/sycl/clang/lib/Sema/SemaLookup.cpp#L912)), that would trigger SYCL diagnostics otherwise.

This should be check regardless I guess, I'll make a PR.

[2020-03-30 17:41] Fznamznon opened #1431 "Upstream SPIR-V built-ins declarations"
We have to upstream SPIR-V buit-ins declarations (enabled by https://github.com/intel/llvm/pull/1384 ) to llorg. Otherwise we can't compile any SYCL sample using our SYCL headers and llorg clang:

[code]

[2020-03-30 19:02] bader commented on #1431
We can put an explicit header with the built-in declarations as a mitigation measure under ifdef and replace error directive with a warning/note.

[2020-03-30 19:39] bader commented on #1429
I think I found the problem. The attribute set by clang is "implicit", where as original code was explicit.
Diagnostics is emitted because implicit attribute is added by clang during "device code traversal".

There are two ways to fix this problem:
1. Emit explicit attribute for SPIR-V built-ins.
2. @Fznamznon, I think you recently change the way clang emits device code and I think we don't add im

[2020-03-31 01:25] crocodiletongue commented on #1426
　

Thank you. I tried it then the compliation proceeded but get error in the middle.

[code]

sycl/types.hpp seems to output the error when _WIN32 is defined. I wonder why this micro is defined although I use x64 Native Tools Command Prompt for VS 2019.

[code]

[2020-03-31 08:07] hiaselhans commented on #1426
but how would that make the compiler fail...? it's a pragma message.
i don't think they are even treated as warnings but could you try to set `DSYCL_ENABLE_WERROR=OFF` in configure.py?

according to [MS docs](https://docs.microsoft.com/en-us/cpp/preprocessor/predefined-macros?redirectedfrom=MSDN&view=vs-2019) `_WIN32` is supposed to be true...

`_WIN32 Defined as 1 when the compilation target is 3

[2020-03-31 08:21] bader commented on #1426
Right. I see similar messages in successful CI builds. E.g. http://ci.llvm.intel.com:8010/#/builders/18/builds/1206/steps/9/logs/stdio.
This should be break the build.

[2020-03-31 08:55] vladimirlaz commented on #1429
@bader , @Fznamznon I faced the same issue during LLVM pulldown to intel/llvm and tried option 2 mentioned in Alexey's comment (https://github.com/otcshare/llvm/pull/1033/commits/061a2c6947fb41212c49aa74df49dd13af1b1199). It helps!!

[2020-03-31 08:56] Fznamznon commented on #1429
Right, implicit `sycl_device` attribute is not needed for all the functions to emit them in device code anymore. There are two places where I left adding it implicitly:
- Applying `indirectly_callable` to a function https://github.com/intel/llvm/blob/d15de0bc493a323952f16aa9ba92605097aacf11/clang/lib/Sema/SemaDeclAttr.cpp#L4463 . I think we can safely remove it if we extend this condition https://

[2020-03-31 09:39] bader commented on #1429
@Fznamznon, I don't think we should change the code for indirectly callable or SYCL kernel functions.
Your analysis shows that we should definitely lift the restriction on explicit attribute.
If I understand it correctly, forward declaration annotated with `[[indirectly_callable]]` might still cause the error.

It seems to me that the right thing to do is to remove this line: https://github.com/in

[2020-03-31 09:53] Fznamznon commented on #1429
Okay. But I don't see the point in adding `sycl_device` attribute to generated OpenCL kernel. This is not needed for device code outlining anymore and it shouldn't affect any diagnostics.

[2020-03-31 09:55] bader commented on #1429
Right.

[2020-03-31 16:12] #945 closed

[2020-03-31 20:41] bjoo commented on #1172
Hi, I brought up this issue in a discussion with @Pennycook and Jeongnim today and I am posting this on @Pennycook's suggestion. I would like to add my voice to @paboyle on this. Passing ID information down to lower functions is not always easy. The case of nested operator overloads as @paboyle noted is a good illustration. I anticipate I will have a similar need to @paboyle in the near-to-interme

[2020-04-01 01:53] crocodiletongue commented on #1426
Hi all

Thank you for your reply.

I changed the buiId command according to GetStartedGuide.md includes the following release package, and the compilation finished properly even though the error messages still remain.

https://github.com/intel/llvm/releases/tag/20200331

[code]

[2020-04-01 08:05] vladimirlaz commented on #1429
@bader, yes until corresponding check is not submitted earlier

[2020-04-01 08:18] Fznamznon commented on #749
I have feeling that https://github.com/intel/llvm/pull/1423 will fix this issue. @rdeodhar , is it possible to try code sample from the description with your patch?

[2020-04-01 08:47] Naghasan opened #1442 "Hierarchical: LowerWG pass ignores convergent functions"
When I compile this code:

[code]
The LowerWG pass wraps the call to `async_work_group_copy` so it gets only executed by the workgroup leader. This disregards the call to `__spirv_GroupAsyncCopy` made by `async_work_group_copy` which a convergent function, hence must be reachable by all work items.

[2020-04-01 11:04] hiaselhans commented on #1354
i did test on cuda and had the same result as you. however changing the problem size to 1024 gave correct results
[code]

maybe the issue is related to #1388 ?

[2020-04-01 11:18] bjoernknafla opened #1443 "Dead Linux and Windows links to CPU OpenCL runtime in February'20 release notes"
The [February'20 release notes ](https://github.com/intel/llvm/blob/sycl/sycl/ReleaseNotes.md#february20-release-notes) mention Linux [prerequisites](https://github.com/intel/llvm/blob/sycl/sycl/ReleaseNotes.md#linux) for the experimental Intel CPU Runtime for OpenCL whose link does not work:
* https://github.com/intel/llvm/releases/download/2020-02/oclcpuexp-2020.10.3.0.04_rel.tar.gz

The prerequ

[2020-04-01 13:12] Fznamznon commented on #946
Diagnostic moved to regular Sema https://github.com/intel/llvm/commit/eb373c497efbdbaefff58537f3e4774f8ca2aff1

[2020-04-01 14:45] vladimirlaz opened #1448 "device_api and device_constuctor crashed with "pi_die: cuda_piextDeviceConvert not implemented""
I used the latest sources from https://github.com/KhronosGroup/SYCL-CTS and the following cmake command line:
[code]

[2020-04-01 14:47] #1448 closed

[2020-04-01 16:04] Ruyk commented on #1412
I think the problem is related to device selection, sometimes it picks up the wrong plugin for a given device. We have hit this problem in some configurations, @ce107  is it possible for you to disable the NVIDIA OpenCL from the system and try again? Removing the nvidia.icd from `/etc/OpenCL/vendors` should be enough.

Also, I think we need some mechanism that ensures the plugin used for a certain

[2020-04-01 16:08] hiaselhans commented on #1354
actually it does work well for problem sizes N*64.
@jinz2014 can you confirm that?

[2020-04-01 17:21] rdeodhar commented on #749
Yes, the program compiles successfully with PR 1423 applied, and by adding prints I confirmed that it runs correctly too.

[2020-04-01 18:21] vladimirlaz opened #1453 "'Invalid output constraint diagnistic' is duplicated for sycl devices code"
Diagnostic is duplicated after LLVM pulldown for kernel definition and kernel call.
See example below for clang/test/SemaSYCL/inline-asm.cpp LIT test.

Corresponding LIT test has been XFAILed (a28778c2a686f503fad805ca4de963e5a39fdeb6) to unblock pulldown
[code]

[2020-04-01 18:24] vladimirlaz commented on #1453
@premanandrao, could you please have a look?

[2020-04-01 18:29] premanandrao commented on #1453
This is related to https://reviews.llvm.org/rGb670ab7b6b3d2f26179213be1da1d4ba376f50a3.

[2020-04-01 21:11] jinz2014 commented on #1354
Sorry, I would not open the issue if I just ran the test with your problem sizes.

[2020-04-02 07:54] #1429 closed

[2020-04-02 11:12] hiaselhans commented on #1412
I experienced the same with an NVIDIA and non-intel cpu.
setting `static constexpr int DbgProgMgr` in `program_manager.cpp` reveals that when compiling for spirv- and nptx-target it always picks the spirv-pi-plugin though the CUDA device was selected:

[code]
removing the nvidia.icd doesn't change it.
I will look into it more this afternoon, but it feels like something isn't yet working as it shou

[2020-04-02 11:36] Ruyk commented on #1350
Could you retry this? A number of libcl PRs have been merged and we can't see this issue locally.

[2020-04-02 11:39] Ruyk commented on #1267
Do you still have this problem? A number of PRs solving libcl issues have been merged, and the functions mentioned should be there...

[2020-04-02 11:43] hiaselhans commented on #1354
Sorry, i don't get it. What do you mean to say?

[2020-04-02 12:44] electribald commented on #1443
I have encountered the same issue.
The following links seem to be working:
https://github.com/intel/compute-runtime/releases/tag/20.06.15619
https://downloadcenter.intel.com/download/29426/Intel-Graphics-Windows-10-DCH-Drivers
But these are GPU related.

[2020-04-02 13:03] romanovvlad commented on #1443
Should be fixed soon.

[2020-04-02 13:20] jinz2014 commented on #1354
I will keep the issue open.

On Thu, Apr 2, 2020 at 6:43 AM simon klemenc <notifications@github.com>
wrote:

[2020-04-02 13:31] hiaselhans commented on #1354
Of course.
In fact i was just asking you to verify in your environment that the matrix multiplication seems to work for a problem size of a multiple of 64.
This in turn could be helpful to find the root of your issue, which - i suppose - you'd like to see fixed after all...

[2020-04-02 15:29] jinz2014 opened #1459 "[CUDA] DeviceName may not contain NVIDIA"
I found that DeviceName doesn't necessarily contain NVIDIA. Please double check.

class CUDASelector : public cl::sycl::device_selector {
  public:
    int operator()(const cl::sycl::device &Device) const override {
      using namespace cl::sycl::info;

      const std::string DeviceName = Device.get_info<device::name>();
      const std::string DeviceVendor = Device.get_info<device::vendor>();

[2020-04-02 16:18] jinz2014 commented on #1354
I verified.

#define SIZE     1200   // Must be a multiple of 8.

When the SIZE is 32, 256, or 1024, the result is correct.

On Thu, Apr 2, 2020 at 8:31 AM simon klemenc <notifications@github.com>
wrote:

[2020-04-02 16:24] jinz2014 commented on #1267
abs is included.

Can you please add the following math functions for RSBench ?

ptxas fatal   : Unresolved extern function '_Z16__spirv_ocl_atand'
clang-11: error: ptxas command failed with exit code 255 (use -v to see invocation)

Thanks

[2020-04-02 16:26] jinz2014 commented on #1459
I noticed some people changed DeviceName to DeviceVendor, but it was not reported.

Thanks

[2020-04-02 16:32] jinz2014 commented on #1350
sqrt is supported.
Please do not compare in the following way
**std::cout << "The result is incorrect for element: " << I
                  << " , expected: " << sqrt(1.0f * I) << " , got: " << HostAccessor[I]
                  << std::endl;**

[2020-04-02 17:08] jinz2014 opened #1461 "[CUDA] math functions support list"
I think a table of math functions is needed for people to know which math functions are supported...

https://github.com/codeplaysoftware/computecpp-sdk/blob/master/samples/monte-carlo-pi.cpp
~/computecpp-sdk/samples$ clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sycldevice  monte-carlo-pi.cpp
ptxas fatal   : Unresolved extern function '_Z18__spirv_ocl_lengthDv2_f'

Add another one
ptxas fatal

[2020-04-02 17:14] jinz2014 opened #1462 "[CUDA] reduction"
https://github.com/codeplaysoftware/computecpp-sdk/blob/master/samples/reduction.cpp
~/computecpp-sdk/samples$ clang++ -fsycl -fsycl-targets=nvptx64-nvidia-cuda-sycldevice reduction.cpp
~/computecpp-sdk/samples$ SYCL_BE=PI_CUDA ./a.out
 SYCL Sample code:
   Reduction of an STL vector
 Device Name: ...
 Platform Name NVIDIA CUDA
SYCL Reduction result: 614
 STL Reduction result: 1218

[2020-04-02 19:53] pvelesko commented on #1350
The issue persists with 6788713cc0469af65963c3948f66354fce28af1e

[2020-04-02 21:41] jinz2014 opened #1467 "[CUDA] floating-point exception in cuda_piextUSMSharedAlloc"
https://github.com/jeffhammond/dpcpp-tutorial/blob/master/saxpy-usm.cc

Debugging the above program shows the following:

Thread 1 "a.out" received signal SIGFPE, Arithmetic exception.
0x00007ffff62eae0b in cuda_piextUSMSharedAlloc () from /home/cc/sycl_workspace/build/install/lib/libpi_cuda.so
(gdb) bt
#0  0x00007ffff62eae0b in cuda_piextUSMSharedAlloc () from /home/cc/sycl_workspace/build/instal

[2020-04-03 07:12] pvelesko commented on #1350
I didn't update my modulefiles and tested old version. Issue resolved with new patch.

[2020-04-03 07:12] #1350 closed

[2020-04-03 08:16] jon-chuang opened #1469 "MultiGPU/multinode support?"
What is SYCL's abilities to accomodate multigpu (e.g. NVLink) and multinode (e.g. Infiniband GPUDirect) setups?

[2020-04-03 08:25] alexbatashev commented on #1461
@Ruyk are all builtins listed on https://github.com/intel/llvm/blob/sycl/sycl/doc/cuda/cuda-vs-opencl-math-builtin-precisions.md supported by the backend?

[2020-04-03 09:08] christgau commented on #1350
I can confirm that the error is gone now. Programs compile and run fine now.

@jinz2014 sure the reproducer was/is not the best, but illustrated the main issue discussed here.

[2020-04-03 15:51] cgleggett opened #1473 "[CUDA] illegal memory access from cuda_piEnqueueMemBufferRead"
I'm now seeing this error:
[code]

the stack trace is:
[code]

this is with some test code that's run fine with all other previous versions of dpcpp. It fails with commit hash ee21d66e32e008eaf9ac37b1cc6ec272bb7e6907 . The previous version that I tested it with was from 03/24

[2020-04-03 17:26] jinz2014 commented on #1473
Could you please show the program for me to verify ?

[2020-04-03 18:00] hiaselhans commented on #1473
Did you try with `SYCL_BE=PI_CUDA`?

My guess is that this is due to USM relying on `pi::useBackend(pi::Backend::SYCL_BE_PI_OPENCL)` which basically quest's `SYCL_BE` env...

Maybe there is a way to get the backend from Context instead?

[2020-04-03 19:51] hiaselhans commented on #1473
it's an environment variable at run-time. like in [GetStarted](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md).

`SYCL_BE=PI_CUDA ./my-executable`

:)

[2020-04-03 19:59] cgleggett commented on #1473
@hiaselhans : setting the env var `SYCL_BE=PI_CUDA` did the trick.

[2020-04-03 20:06] cgleggett commented on #1473
BTW, I am compiling with `-fsycl-targets=nvptx64-nvidia-cuda-sycldevice`, and explicitly selecting the device with CUDA driver, which resolves as
[code]

[2020-04-03 22:04] jinz2014 opened #1476 "[SYCL] Unsupported kernel parameter type"
Building the sycl benchmark at (https://github.com/bcosenza/sycl-bench) causes the following error after I build the current SYCL. Thanks for your check.

[  3%] Building CXX object CMakeFiles/sobel7.dir/single-kernel/sobel7.cpp.o
Unsupported kernel parameter type
UNREACHABLE executed at /home/cc/sycl_workspace/llvm/clang/lib/Sema/SemaSYCL.cpp:1057!
Stack dump:
0. Program arguments: /home/cc/sycl_

[2020-04-04 08:41] bader commented on #1476
@jinz2014, the application seems to [capture array](https://github.com/bcosenza/sycl-bench/blob/master/single-kernel/sobel7.cpp#L48), which is not supported yet.
This is supposed to be fixed by https://github.com/intel/llvm/pull/1423.
You can also put this array into SYCL buffer to fix this problem.

[2020-04-04 09:44] #1352 closed

[2020-04-04 12:57] bader opened #1478 "Two LLVM lit tests fail with BUILD_SHARED_LIBS flag set."
Following tests are failing in post-commit job for the `sycl` branch.
[code]
There are no obvious reasons why these tests might fail.

[2020-04-04 15:55] jinz2014 commented on #1476
I will close the issue after it is supported. Thanks again.

On Sat, Apr 4, 2020 at 3:41 AM Alexey Bader <notifications@github.com>
wrote:

[2020-04-06 16:10] romanovvlad commented on #1443
Should have been fixed. @bjoernknafla  Could you please confirm?

[2020-04-06 21:17] bjoernknafla commented on #1443
👍 Looks good to me! Thank you.

[2020-04-06 21:17] #1443 closed

[2020-04-06 23:05] zjin-lcf opened #1484 "Questions about USM improvement"
Could the developers explain Improved support for Unified Shared Memory (USM) pointers and Extension APIs to support USM version of device_ptr in Beta05 ?

Thanks

[2020-04-07 17:19] Srividya2212 opened #1489 "Add more clarity/info on the -fsycl-device-code-split=<value> flag"
`clang++ --help` did not list `-fsycl-device-code-split=<value>`.
The description provided in the [user-manual](https://github.com/intel/llvm/blob/7a2e75e57d224436468f263c9e3385b1ea6b8c25/sycl/doc/UsersManual.md) is not very helpful. For example : what is a `device code module`? What does `per-source basis` mean? A much elaborate description for this flag and what each of the 3 values mean would b

[2020-04-07 17:31] alexbatashev commented on #1489
I definitely see the documentation bits in the code:  https://github.com/intel/llvm/blob/803f6cc552e8b557d05958a1aa06e44bad0294ae/clang/include/clang/Driver/Options.td#L1857-L1862

@AGindinson @mdtoguchi do you know why they are not shown?

[2020-04-07 17:35] alexbatashev commented on #1484
@zjin-lcf the specification draft is available at https://github.com/intel/llvm/tree/sycl/sycl/doc/extensions/USM for both SYCL and OpenCL. You can track changes by the commit history. Is there something that needs clarification?

[2020-04-07 17:39] AGindinson commented on #1489
Aren't they?
[code]
prints this information precisely.

[2020-04-07 17:40] Fznamznon commented on #1489
Yep, I can see it too.

[2020-04-07 17:48] Srividya2212 commented on #1489
This is my `clang++` version
[code]
And my result for `clang++ --help | grep device-code-split -A 1` is empty:
![clang-help](https://user-images.githubusercontent.com/8020274/78702196-11bd6b80-78bd-11ea-8201-5767aa5f563e.JPG)

Am I missing something here?
Also, does clang++ help print the exact same description provided in the User Manual? If yes, then it would be helpful to update the description

[2020-04-07 18:00] AGindinson commented on #1489
@Srrividya2212, it appears that you're using the llvm.org release version of the compiler. Our DPC++ implementation is not part of the llvm.org codebase _yet_, so you would need to build the compiler manually as per our [Get Started Guide](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md) and make sure that the resulting binaries are called instead of the vanilla Clang.

[2020-04-07 18:03] alexbatashev commented on #1489
@Srividya2212 please reopen if you still have problems.

[2020-04-07 18:03] #1489 closed

[2020-04-07 18:07] Fznamznon commented on #1489
You are running some old version of clang installed into system. Probably you forgot to set `PATH` env variable to local build or dpc++ installation.

It doesn't. `clang++` prints reduced description comparing with User Manual.
Actually for me User Manual seem describing all the option and "what is per_source basis" pretty well, doesn't it?

(translation unit). Each device code module will contain

[2020-04-07 18:31] Srividya2212 commented on #1489
Thanks for the clarification. The main reason to open this issue was to get clarification on the few terms used in the description of the flag. It might be obvious for folks working on compiler but few of us who are new to compiler development couldn't make complete sense of those terms. Your explanation for "device code module" makes sense.

[2020-04-07 20:05] jinz2014 commented on #1267
Can you please point a link to "A number of PRs solving libcl issues have been merged" ?

Thanks

[2020-04-07 20:53] zjin-lcf commented on #1484
Could you please clarify the USM version of device_ptr ?

[2020-04-07 21:06] alexbatashev commented on #1484
I think @jbrodman can provide an exhaustive answer to the question.

[2020-04-07 21:09] zjin-lcf commented on #1484
I will look at test examples related to the USM version of device_ptr. Thanks.

[2020-04-07 21:09] #1484 closed

[2020-04-08 01:38] erichkeane opened #1491 "OpenCL Kernel Generation in SemaSYCL.cpp needs significant refactoring-"
The code to construct the OpenCL kernel (Basically everything from ConstructOpenCLKernel down) as well as integration headers is quite a mess.  We need to refactor/split a number tasks into their own functions, and simplify the implementation significantly.

CreateOpenCLKernelBody and buildArgTys are particularly bad.

[2020-04-08 01:55] erichkeane commented on #1491
BTW: I'm using this bug to keep track of our efforts here, so a bit of my comments here will be 'stream of conciousness' as I go along.

First, we use large lambdas stuffed into std::functions WAY too often.

Second, we seem to loop around the fields of the lambda about 3-4 times on the way through this, with horrifyingly similar (albeit different) implementations.  It seems to me that we need to

[2020-04-08 02:29] erichkeane commented on #1491
Hmm... BuildArgTys seems to have quite a few responsibilities that I'm not sure are all in its socpe.  it seems to be doing type checking as well for the parameters list.

Also, this concept of a "special SYCL Obj" is odd, I'll ahve to figure out more of what that means beyond the accessor (and possibly samplers, though there is a TODO to consider that).

It would be really nice if we could create

[2020-04-08 02:51] erichkeane commented on #1491
A little more thinking... ConstructOpenCLKernelBody ONLY needs the declaration context of the function as far as I can see?  We can change the type of the functoindecl after it is constructed (or as it is constructed), which might be worth trying.

[2020-04-08 03:09] kbobrovs commented on #1491
+ @Fznamznon, the author of the original ConstructOpenCLKernelBody (AFAIK)

[2020-04-08 03:12] kbobrovs commented on #1491
seems like their evolution went the wrong way...

[2020-04-08 03:15] erichkeane commented on #1491
Absolutely... The whole set of functions seems to have diverged and evolved in the opposite way the original author thought they would. As I get time the next few days, I'll start a high-level refactor with limited functionality that I may ask you (@kbobrovs)  and @Fznamznon to help out with.  I noticed even the unqiue-stable-name implementation ended up in what I would consider the 'wrong' place,

[2020-04-08 07:11] hiaselhans commented on #1426
i think this can be closed @bader @crocodiletongue ?

[2020-04-08 07:58] crocodiletongue commented on #1426
I'm OK because I solved the problem with another way, but I think compile.py still has any problems.

python %DPCPP_HOME%\llvm\buildbot\compile.py -s %DPCPP_HOME%\llvm -o %DPCPP_HOME%\build

[2020-04-08 08:03] bader commented on #1426
@crocodiletongue, could you share what problems do you have and what commands do you run, please?
We regularly build DPC++ toolchain on Windows and there are should be no issues.

[2020-04-08 09:32] AGindinson opened #1493 "[Driver] Some SYCL-specific options propagate to FE in non-SYCL mode"
Generally, when no `fsycl` is given and a SYCL-specific option is passed by the user, we error out (e.g. as is the case with `-fsycl-targets`). `-sycl-std` is a known exception, however:
[code]
will show the option's presence in the FE call. It doesn't seem to affect the compilation, therefore is a minor issue by itself.

We should revise the list of SYCL-specific options, making sure that those a

[2020-04-08 11:34] elizabethandrews commented on #1491
Very basic algorithm -
1. Loop over fields to do required processing (based on type) and create OpenCLKernel Arguments
2. Loop over fields to generate local clone and assign it from arguments created in 1.

@Fznamznon had suggested doing away with the local clone if we're passing the whole object as a parameter, when discussing refactor with me a couple of weeks backs. I'm not sure how to handle t

[2020-04-08 11:52] Fznamznon commented on #1491
I think we will still have to do some special handling for special fields as we do now, but number of required kernel parameters will be reduced.

[2020-04-08 11:58] Fznamznon commented on #1491
BTW, I heard that OpenMP and maybe CUDA has some additional code generation like we have for generation of OpenCL kernel in SemaSYCL. But they do somewhere inside the CodeGen instead of Sema. We can try to investigate what is happening there, maybe we have to reconsider our approach to OpenCL kernel generation at all.

[2020-04-08 12:11] elizabethandrews commented on #1491
https://github.com/intel/llvm/blob/sycl/sycl/doc/CompilerAndRuntimeDesign.md#lowering-of-lambda-function-objects-and-named-function-objects
_"To facilitate the mapping of SYCL kernel data members to OpenCL kernel arguments and overcome OpenCL limitations we added the generation of an OpenCL kernel function inside the compiler. An OpenCL kernel function contains the body of the SYCL kernel function

[2020-04-08 13:06] hiaselhans commented on #1426
i don't see a lot of differences between `compile.py` and manual commant, but it runs `ninja -j nproc sycl-toolchain`.
Memory could be a problem? :)

[2020-04-08 15:39] erichkeane commented on #1491
See https://github.com/intel/llvm/pull/1495 for my first run at this.

[2020-04-08 21:43] keryell commented on #832
Since we need this internally to replace our obsolete SYCL 2.2 implementation, I started to implement this on CPU first. Look at https://github.com/triSYCL/triSYCL/pull/263

Globally, I like the API and think that this compile-time static approach is good for devices such as FPGA.

But the interesting part is that the non blocking API is super verbose as shown in example https://github.com/triSYCL

[2020-04-13 10:53] fadeeval opened #1508 "handler_mem_op.cpp and buffer_dev_to_dev.cpp tests fail sporadically on cuda"
sycl/test/basic_tests/handler/handler_mem_op.cpp and sycl/test/basic_tests/buffer/buffer_dev_to_dev.cpp tests fail sporadically on cuda.

Signed-off-by: Aleksander Fadeev aleksander.fadeev@intel.com

[2020-04-14 09:54] Ruyk commented on #1461
Not yet, we are working on the full list, @Naghasan has the details

[2020-04-14 13:24] steffenlarsen opened #1516 "PI object created from native handles take ownership"
https://github.com/intel/llvm/pull/1332 introduces a number of PI API functions for creating various PI objects from native objects (`piext*CreateWithNativeHandle`.) However, given that the CUDA backend is unable to share a reference count between the native object and the native object, like the OpenCL backend does, two solutions were proposed:

1. The user keeps ownership of the native object, w

[2020-04-14 14:27] nazavode opened #1518 "nd_item::barrier not implemented for host device"
When run on the host device, every call to `nd_item::barrier` triggers [this](https://github.com/intel/llvm/blob/12805544848a37e009cd1e5c67942930d70f83e2/sycl/source/spirv_ops.cpp#L27) call to `abort()`. Just opening an issue to keep track of it.

[2020-04-14 16:33] nyalloc opened #1520 "pi_event objects are not destroyed by the runtime"
It has been observed in the PI CUDA backend that `pi_context` objects, `pi_queue` objects and `pi_event` objects can be leaked by the runtime.

In the PI CUDA backend, `pi_context` and `pi_queue` objects are retained by `pi_event` objects. The runtime creates many new `pi_event` objects without releasing them.

https://github.com/intel/llvm/blob/3f21371a40ccff330089ddbfe260d0950c588481/sycl/source

[2020-04-14 20:25] smaslov-intel commented on #1516
I think it is important that the PI objects created with the `piext*CreateWithNativeHandle` are retained, i.e. one does not need to call `pi*Retain` after creating. Can we move the cl*Retain into OpenCL plugins? And have other plugins follow the rule: created PI object is retained, which means it's reference counter set to 1 in the plugins where reference counter is not shared with native RT.

[2020-04-15 10:48] steffenlarsen commented on #1516
My primary concern is that this would make a difference in how native objects are handled between the OpenCL BE and the CUDA BE.

For the sake of argument, assume we do as you suggest and have +1 reference count on the created object. Say now that we have the `make` function from the [generalization proposal](https://github.com/KhronosGroup/SYCL-Shared/blob/master/proposals/sycl_generalization.md)

[2020-04-15 12:21] bader commented on #1508
sycl/test/basic_tests/buffer/buffer_dev_to_dev.cpp is disabled by #1526.

[2020-04-16 15:40] bader commented on #1508
sycl/test/basic_tests/handler/handler_mem_op.cpp is disabled by https://github.com/intel/llvm/pull/1533

[2020-04-17 13:18] erichkeane opened #1542 "Re-enable CUDA tests"
In 7a9a4251 Alexander disabled quite a few SYCL tests for CUDA with XFAIL:CUDA in order to get the commit in.  These all need to be re-enabled.  This likely can be handled by a few different people, but Alexander should own re-enabling that which he disabled.

Note that most have a TODO associated with them.

The following test all have XFAIL:cuda in them, so they need to be analyzed and fixed:
us

[2020-04-17 15:30] Fznamznon opened #1544 "Pass whole SYCL kernel object as OpenCL kernel argument"
This will help to reduce amount of code in SemaSYCL. With SYCL kernel object passed as OpenCL kernel argument we can avoid creation of kernel object local clone and reduce number of explicit OpenCL kernel arguments.

[2020-04-17 17:37] bader opened #1546 "libdevice code clean-up"
We need to set the single name for the library located here: and use this unified name to name the directory, cmake target, functions.
Today we use
- `libsycldevice` as CMake target name.
- `devicelib` as function prefix
- `libdevice` directory name

It also should probably specify that it's for SPIR devices only.

[2020-04-17 22:17] vpascuzz opened #1548 "[CUDA] MKL compatibility"
Hi,
I am trying to compile some MKL code and use the CUDA plugin interface (ee21d66e32e). Only the sycl/cuda toolchain is installed on the machine so I'm pulling MKL from the oneAPI (beta05) we have installed. Seems either they're incompatible, or I'm doing something wrong.
[code]
Should this work, or does MKL need a separate build for the CUDA PI? I note that the same code compiles fine if I do a

[2020-04-19 16:33] #1427 closed

[2020-04-20 07:35] sergey-semenov commented on #1520
The first iteration of the patch that addresses the issue should be up for review on Tuesday.

[2020-04-20 10:49] Fznamznon opened #1552 "SYCL stream should be usable as a base type"

[2020-04-20 11:16] Fznamznon opened #1553 "Extend compiler testing for handling of stream class"
We have only one pretty small compiler test for sampler handling https://github.com/intel/llvm/blob/sycl/clang/test/CodeGenSYCL/stream.cpp .
The real stream class implemented in SYCL library is much more complicated than the simple class used in the test.
This test should be extended to check more and we probably need Sema test as well.

[2020-04-20 12:50] bjoernknafla commented on #1542
A lot of work of the community and us went into fixing LIT testing to work as expected for CUDA - without marking tests as XFAIL it would have taken longer with more breakage slipping through. Without a lot of visible and invisible work of Alexander there would to this time be no reliable and deterministic LIT testing.

Sometimes I mark tests as XFAIL that we expect to pass in the future. This way

[2020-04-20 12:57] erichkeane commented on #1542
That is fine, we just need a bug/series of bugs to track these. So, this is here to track them.

At least one is disabled because of design implementation details of __builtin_unique_stable_name, which is how this came up.  It is disappointing that it was never brought up via bug/etc, since we could have fixed this trivially immediately (I've since fixed it in the upstream, so we're awaiting the p

[2020-04-20 13:10] asavonic commented on #1546
@bader, @vzakhari
I'm not sure why the directory is called `libdevice` now, it used to be `devicelib` to match the functions prefix. Does it make sense to rename it back? I'm hesitant to rename the functions instead, because it is a part of the API now.

[2020-04-20 14:07] bader commented on #1542
@erichkeane, it looks like @vladimirlaz has some problems with pulldown, so if `__builtin_unique_stable_name` fix is required soon, it can be cherry-picked manually.

[2020-04-20 14:10] erichkeane commented on #1542
I don't know if it necessarily IS required soon, just before we hit a release that locks us into ABI.  Presumably, we could have these problems with some of the things that CUDA disabled as well, so I just want to make sure we have a plan for HOW to fix these before a release locks us into not being able to make said change.

[2020-04-21 09:23] tomdeakin opened #1559 "CUDA version simultaneously needs and cannot have OpenCL"
The CUDA version still requires the OpenCL ICD to build and run against (an issue in it's own right). If there is then a valid OpenCL platform available at runtime, a runtime error is thrown on device selection.

One unacceptable workaround is this, but it means we then can't run any OpenCL code on that system.
[code]

We're running CentOS 7.6, CUDA 10.1, and building with GCC 8.3.0.

[2020-04-21 11:29] sergey-semenov commented on #1520
I thought I found a reproducer for this behaviour, but on further investigation this turned out not to be the case. In stark contrast to "`event_impl`'s destructor never calls `piEventRelease` in any of our tests", all the tests I inspected had a `piEventRelease` call for each `piEventCreate`/`piEventRetain`/`piEnqueue*`... call (outputs for two tests with `SYCL_PI_TRACE=1` attached: [accessor.txt

[2020-04-21 13:06] bader opened #1560 "[CUDA] Compilation for NVPTX target doesn't support -fsycl-device-code-split"
Only `off` value for `-fsycl-device-code-split` is compatible with `-fsycl-targets=` set for NVIDIA CUDA API.

Should we add support for `-fsycl-device-code-split`?

Revealed by https://github.com/KhronosGroup/SYCL-CTS/pull/51.

[2020-04-21 13:07] bader commented on #1560
@Naghasan, FYI.

[2020-04-21 13:29] Ruyk commented on #1559
https://github.com/intel/llvm/pull/1543 should fix the accidental selection of the NVIDIA OpenCL platform.

[2020-04-21 13:52] sergey-semenov commented on #1520
As a side note, here's a PR that changes that behaviour in order to release events earlier: https://github.com/intel/llvm/pull/1561

[2020-04-21 15:22] pvelesko opened #1562 "[CUDA] -fsycl-unnamed-lambda causes "Symbol name with unsupported characters""
[code]
I put my reproducer here: https://github.com/pvelesko/PPP/tree/master/languages/c%2B%2B/sycl/test_sycl4cuda_unnamedlambda

`make cuda;`

[2020-04-21 18:32] vzakhari commented on #1546
I just followed the naming convention for top-level library projects, that is why I named the directory libdevice.  I do not see big problem in having project directory named lib* and using devicelib prefix for the function names.

I suggest naming the library libspirdevice.  If we find a convenient way for combining SYCL and OMP parts into one library, then we can have the same libspirdevice CMak

[2020-04-21 19:58] bader commented on #1546
`libspirdevice` seems quite reasonable. It's more common to use `lib` as a prefix than as a post-fix.

What API do you mean here? I was under impression that it's an internal API and not outside of this project, so we should be able to update all uses of this API, right?
If so we can discuss if it function prefix can be renamed to align with the library name. (e.g. `__spir_device_`).

[2020-04-21 20:42] vzakhari commented on #1546
I think Andrew means that `_devicelib_` prefix is already documented here https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/C-CXX-StandardLibrary/DeviceLibExtensions.rst and probably as OpenCL extensions as well.

[2020-04-22 01:50] erichkeane opened #1567 "Visitor pattern for kernel/int-header gen needs to handle arrays."
The new 'visitor' pattern (and as far as I can tell, the old version) doesn't iterate downward through arrays.  The result is that accessors/etc in these are not split out.

[2020-04-22 03:42] keryell commented on #1552
Maybe... :-) At the end I am wondering what to do if a type inherit from an accessor, a stream, and a few image samplers at the same time...

Are there convincing use cases?

[2020-04-22 03:53] keryell commented on #1542
ABI, ABI... Ahem... Is it a proof of success when we end up into ABI stability discussion? :-)

[2020-04-22 04:17] erichkeane commented on #1542
Any language worth using has to end up in an ABI discussion eventually. As a person shipping a compiler frontend, ABI compatibility between versions and compilers is a constant headache.

[2020-04-22 04:20] elizabethandrews commented on #1544
WIP - https://github.com/intel/llvm/pull/1568

[2020-04-22 10:00] pvelesko opened #1569 "[CUDA] q.wait() causes CUDA_ERROR_NOT_PERMITTED error"
capturing the event `auto e = q.submit...`  followed by `e.wait()` works but doing `q.wait()` causes the following error:

[code]

[2020-04-22 10:38] asavonic commented on #1546
It is expected that device backends implement this API outside of this project. I don't think that rename is justified: if nobody asked about this during code review, then it doesn't sound critical and worth changing.

[2020-04-22 13:01] bjoernknafla commented on #1542
Fix of tests for `basic_tests/buffer/buffer.cpp`: https://github.com/intel/llvm/pull/1570

[2020-04-22 14:37] bd4 opened #1572 "[SYCL] error bulding with gcc 9.3.0 (multi_ptr class-conversion)"
Using buildbot configure/compile scripts, in release mode with no other options (in particular no cuda). I have Manjaro linux, arch based, default compiler is g++ 9.3.0. I get the following error. Will try again with g++-8 (and -7 if that fails), I suspect this is an issue due to differing warning/error handling in 9.

[code]

[2020-04-22 15:17] bd4 commented on #1572
With g++ 8.4.0, I get a different error:
[code]
trying with 7.5.0

[2020-04-22 15:33] bader commented on #1572
@bd4, thank you for reporting these issues.
All these seems like a new warnings, which are treated as errors for the library project.
You can configure the build system to keep them as warnings using [--no-werror](https://github.com/intel/llvm/blob/sycl/buildbot/configure.py#L133) option for `configure.py` script.

[2020-04-22 16:08] romanovvlad commented on #1467
Looks like the crash happens because alignment is 0 on the following line
https://github.com/intel/llvm/blob/sycl/sycl/plugins/cuda/pi_cuda.cpp#L3430 :
`  assert(reinterpret_cast<std::uintptr_t>(*result_ptr) % alignment == 0);`

The OpenCL extension for USM (https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/USM/cl_intel_unified_shared_memory.asciidoc)  says:

I believe largest type is do

[2020-04-22 16:50] bjoernknafla commented on #1542
PR including fix for `scheduler/DataMovement.cpp`: https://github.com/intel/llvm/pull/1543

[2020-04-23 01:30] mkinsner commented on #640
Should `build_with_kernel_type` be added to the list of calls that identify a kernel?

[2020-04-23 09:14] fwyzard commented on #1467
hi @romanovvlad

Neither can I.
The [latest documentation](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__MEM.html#group__CUDA__MEM_1gdd8311286d2c2691605362c689bc64e0) doesn't say anything about alignment of the memory returned by `cuMemHostAlloc()`/`cuMemAllocHost()`.
While about `cuMemAlloc()`/`cuMemAllocManaged()` it explicitly says

Let me try some empirical tests and/or asking NVID

[2020-04-23 09:32] fwyzard commented on #1467
From a quick test, it looks like the memory returned by `cuMemAllocHost()` is aligned to 1024 (0x400) bytes.

[2020-04-23 12:24] romanovvlad commented on #1520
@StuartDAdams  ping

[2020-04-23 13:47] fwyzard commented on #1467
Can you check if https://github.com/intel/llvm/pull/1577 fixes the exception ?

[2020-04-23 13:48] bd4 commented on #1572
Thanks @bader, I renamed the issue to better reflect the cause. With the `--no-werror` option I guess this is not high priority, but perhaps worth mentioning that it's likely required for gcc > 7 in the getting started doc (I will work on a PR for this). With gcc 7.5.0, I am able to build without using the `--no-werror`.

[2020-04-23 14:00] jbrodman commented on #1467
I agree with your interpretation of alignment == 0.

[2020-04-23 14:02] jbrodman commented on #1467
It would probably be good if we could through runtime errors instead of crashing.

Hmm.. CUDA doesn't seem to have user aligned allocations.

[2020-04-23 14:10] romanovvlad commented on #1467
@jbrodman  Should we clarify what happens if required alignment is not supported by the implementation?

[2020-04-23 14:13] romanovvlad commented on #1467
@jinz2014 Could you please check if #1577  solves the issue?

[2020-04-23 14:24] bd4 commented on #119
As a new user of SYCL+USM, for a mixed Fortran/CUDA/C++ fusion code (genecode.org) and a C++ multi-dimensional array library (https://github.com/wdmapp/gtensor), I'm fine with a C++ API. I likely have to maintain a small C layer anyway to gracefully handle CUDA/HIP/SYCL from Fortran parts of the code. Compared to other challenges, it's just a trivial bit of extra code. The most important thing is

[2020-04-23 14:50] fwyzard commented on #1467
Rather, it seems that all allocations are aligned to 512 bytes.

[2020-04-23 15:11] zjin-lcf commented on #1467
Sorry, I don't have a sycl-cuda installed.  Please close the issue if several developers have verified the program.  Thanks.

[2020-04-23 15:12] bader commented on #1572
I think we should integrate gcc > 7 into CI process to avoid these types of issues.

Another proposal was to enforce -Werror by CI, but don't enable it by default, so users compiling with non-tested gcc version won't be impacted.

[2020-04-23 16:25] StuartDAdams commented on #1520
Hello! I'll try to get a reproducer ASAP.

[2020-04-24 02:21] keryell commented on #119
@bd4 maintaining a state is difficult at scale. This is why SYCL, Vulkan, OpenCL... try to avoid it nowadays since high number of CPU cores and accelerators is the norm.
That said, I can hear you. If you want to contribute a nice SYCL wrapper extension provided some `thread_local` state because it simplifies programming in some cases, I am pretty sure the SYCL committee will look at it. :-)
Same i

[2020-04-24 15:05] bader commented on #1562
https://reviews.llvm.org/rGf89abd6923bcc0839288af4b96113a0cb4fa4edd is supposed to fix this as soon it merged to the sycl branch.

[2020-04-24 16:14] StuartDAdams commented on #1520
We first observed this when running OneMKL's `test_main_ct` test executable. I have been able to reproduce the behavior I saw before using the newest LLVM and OneMKL available to me. This test runs on the PI CUDA backend.

Intel LLVM: cece82e63f682d5cf1a67fbdd40893e477eca8a6
OneMKL: 751472666ba884397837bbc61961bbadd5670bd0

I have created a branch of OneMKL here that highlights this behavior. http

[2020-04-25 09:18] hiaselhans opened #1588 "[CUDA] Entries are not distributed in nvptx binaries"
When compiling with `-fsycl-targets=nvptx64-nvidia-opencl-sycldevice,spir64-unknown-opencl-sycldevice` binaries are created for nvptx and spir64.
The problem is that for nvptx binaries the EntriesTable is not distributed and thus program_manager will not choose the right binary.

### How to reproduce

sycl/source/detail/program_manager.cpp:40
`static constexpr int DbgProgMgr = 10;`

[code]

### Re

[2020-04-25 09:25] hiaselhans commented on #1473
@cgleggett i think this issue is resolved by #1490
can you try again?

[2020-04-26 04:00] jinz2014 opened #1589 "[SYCL][FPGA] question about vectorization and compute unit duplication"
I am not clear if users can enable kernel SIMD vectorization and compute-unit duplication, which are available in Intel OpenCL SDK for FPGA, in the oneAPI FPGA flow.

Thanks

[2020-04-26 10:23] MrSidims commented on #1589
AFAIK they can. For example there is num_simd_work_items attribute (that works similarly as in OpenCL) in place. @GarveyJoe please comment on this.

[2020-04-26 14:11] jinz2014 commented on #1589
Okay. I know that num_simd_work_items and num_compute_unit are attributes placed at the beginning of an OpenCL kernel. Thanks for advising where to place them in a SYCL program if it is not documented in oneAPI.

[2020-04-27 05:38] cgleggett opened #1590 "[CUDA] unable to compile tip of sycl branch"
using gcc 8.4.0, cmake 3.14.7 and ninja 1.7.2
llvm git hash: cece82e63f6

[code]

[2020-04-27 07:40] bader commented on #1590
This seems to be a duplicate of https://github.com/intel/llvm/issues/1572. Particularly these warnings are reported here: https://github.com/intel/llvm/issues/1572#issuecomment-617842987.
@cgleggett, you can try this [fix](https://github.com/intel/llvm/issues/1572#issuecomment-617852979).

[2020-04-27 07:40] #1590 closed

[2020-04-27 08:59] MrSidims commented on #1589
I indeed see no description in https://software.intel.com/sites/default/files/Intel-oneAPI-DPCPP-FPGA-Optimization-Guide_3.pdf . Perhaps it happen, that it's a pretty new feature, added in the end of December. That's how you can use it:
`struct Fun {
   void operator()(nd_item<1> it) [[intelfpga::num_simd_work_items(4)]] { ... }
 };

// or

auto kernel = [](nd_item<1> it) [[intelfpga::num_simd_wor

[2020-04-27 09:03] Ruyk commented on #1569
This is a known issue, related to the implementation of events, we are working on a fix

[2020-04-27 10:59] MrSidims commented on #1589
P.S. num_compute_unit attribute is not yet implemented. But you can raise the priority by opening such issues :)

[2020-04-27 15:22] vladimirlaz opened #1594 "Include file portability check was disable to unblock pulldown"
The check was disabled to unblock pulldown: https://github.com/intel/llvm/pull/1564
Once enabled it generates false diagnostics if Unix emulation console is used on windows to run LIT tests.

[2020-04-27 15:32] zjin-lcf commented on #1589
Let me raise the issue using the OpenCL FPGA papers though I believe that it will be implemented one day.
An Empirically Guided Optimization Framework for FPGA OpenCL
Exploring FPGA-specific Optimizations for Irregular OpenCL Applications
High Performance Computing with FPGAs and OpenCL
Performance-oriented Optimizations for OpenCL Streaming Kernels on the FPGA
Evaluation of MD5Hash Kernel on Open

[2020-04-27 15:34] jinz2014 commented on #1589
I believe it will be implemented one day. There are a few papers that mention the optimizaiton using the compute-unit duplication.

An Empirically Guided Optimization Framework for FPGA OpenCL
Exploring FPGA-specific Optimizations for Irregular OpenCL Applications
High Performance Computing with FPGAs and OpenCL
Performance-oriented Optimizations for OpenCL Streaming Kernels on the FPGA
Evaluation

[2020-04-27 15:58] cgleggett opened #1595 "buildbot/compile.py does not respect configured build directory"
if a build directory is specified via "-o DIR" to the buildbot/configure.py, it is not remembered by the buildbot/compile.py stage, which will try to build in $DPCPP_ROOT/build. The "-o" option must be passed to compile.py as well as configure.py

[2020-04-27 16:26] cgleggett commented on #1473
@hiaselhans : looks good. thanks!

[2020-04-27 16:50] hiaselhans commented on #1473
@cgleggett perfect! So: i guess you can close this issue? :)

[2020-04-27 16:51] #1473 closed

[2020-04-27 19:13] rolandschulz opened #1596 "Unintended different behavior between SYCL and OpenCL attributes"
[code]

OCL C++ version: https://godbolt.org/z/wCDKhZ

For users to use the decorated pointer (from `multi_ptr::pointer_t`) for performance tuning it is important this doesn't have any unintentional differences.

- Attribute on methods is important to have a `this` pointer with attribute
- Allowing attribute on variable avoids having to strip address space in templated code
- Error for non-overlap

[2020-04-27 20:01] mehdi-goli commented on #1548
@vpascuzz , to compile oneMKL, you need at least [a69cdda](https://github.com/intel/llvm/commit/a69cdda1c6d5e732da1c41a457011f7e724cf063) onward.
Before compiling the oneMKL backend, remove `nvidia.icd` (if you have any) from `/etc/OpenCL/vendors`
If you are only compiling the onMKL for CUDA you need to build the oneMKL with
[code]
I wanted to clarify that currently, the cublas backend for oneMKL

[2020-04-27 22:05] GarveyJoe commented on #1589
Note that in many situations where one would use num_compute_units in OpenCL, the same algorithm can be expressed in SYCL using templated functions as each unique template instantiation of a kernel results in a different physical copy of the hardware.  For an example of this technique see this tutorial: https://github.com/intel/BaseKit-code-samples/blob/master/FPGATutorials/FPGAExtensions/Pipes/pi

[2020-04-27 22:30] GarveyJoe commented on #1589
And num_simd_work_items isn't in the docs yet because it is only supported in the frontend right now (and thus is a no-op).  Once the backend support is available it'll be added to the docs.

[2020-04-27 23:21] vpascuzz commented on #1548
Thanks a lot, @mehdi-goli. I will give this a shot.

[2020-04-28 06:53] alexbatashev commented on #1595
@cgleggett isn't it an expected behaviour? For example, one may want to generate both debug and release builds out of the same source tree. You need to specify which one you need to compile right now, and for that reason `-o` is passed to `compile.py`. However, the documentation does not mention `compile.py` options at all, and that is something we can improve.

[2020-04-28 11:10] hiaselhans commented on #1588
Thx @kbobrovs for the input:

[2020-04-28 11:33] sergey-semenov commented on #1520
I've tried the linked reproducer with the latest build (albeit I hacked my way around installing a reference BLAS implementation, attached the diff just in case: [Diff.txt](https://github.com/intel/llvm/files/4544962/Diff.txt)).

I haven't observed any leaks in the test case on the DPCPP runtime side when inspecting the calls to `cuda_pi*Release`:
* Each of the 4 events in the test are released tw

[2020-04-28 15:19] StuartDAdams commented on #1520
No problem. I'll have a look over that now.

[2020-04-28 16:40] StuartDAdams commented on #1520
Using the same branches as last time, I can observe each of the four **pi_event** objects being created through **_pi_event::make_native**, retained once through **cuda_piEventRetain**, and released once through **cuda_piEventRelease**. They are left with a refcount of 1, and with no subsequent releases, they all leak. While the **event_impl** class destructor is called 6 times, the **MEvent** mem

[2020-04-28 17:23] vladimirlaz commented on #1562
the pull down has been done

[2020-04-28 17:23] #1562 closed

[2020-04-28 17:47] cgleggett commented on #1595
well, either way, as long as it's consistent ;-}

[2020-04-29 03:29] keryell commented on #1589
Otherwise since SYCL is pure C++, it is possible to just unroll the kernel functor by the amount you want with meta-programming.

I am curious how it compares to the alien attribute solution from a QoR perspective...

[2020-04-29 06:24] fwyzard opened #1603 "[CUDA] Unexpected Failing and Passing Tests"
On a local build of the latest code base (tag: 20200429), running `make -j16 check-sycl-cuda`, I am getting both unexpected fails (under abi/, devicelib/ and tools/) and unexpected passes (under usm/).

Machine configuration:
[code]

Build configuration
[code]

Test configuration
[code]

Test summary
[code]

The full log is attached: [check-sycl-cuda-log.txt](https://github.com/intel/llvm/files/45

[2020-04-29 06:36] fwyzard commented on #1603
These
[code]
and
[code]
are due to the test looking for `libsycl.so` in the wrong directory, i.e. disregarding `-DLLVM_LIBDIR_SUFFIX=64`.

I think the fix is either to change the tests to use `%sycl_libs_dir` instead of `%llvm_build_lib_dir`, or to change `sycl/test/lit.site.cfg.py.in` so that `%llvm_build_lib_dir` takes `LLVM_LIBDIR_SUFFIX` into account.

[2020-04-29 06:41] fwyzard commented on #1603
Both approaches fix the two tests.
Updating the tests to use `%sycl_libs_dir` instead of `%llvm_build_lib_dir` seems the least intrusive change.

[2020-04-29 07:02] fwyzard commented on #1603
All the `devicelib` tests fail in a similar way
[code]
I'm not sure why my build does not have the files
[code]

Would it be a reasonable alternative to link directly with `libsycl.so` instead of looking for the individual `.o` files ?

For example, patches like this
[code]
seem to fix all the `devicelib`-related unexpected failures.

[2020-04-29 07:13] fwyzard commented on #1603
As to why I get unexpected passes for the USM tests, it's hard to say: they simply run without errors on my machine.

Is there a way to see what errors the CI finds ?

[2020-04-29 07:52] fwyzard opened #1607 "CL_TARGET_OPENCL_VERSION is not defined. Defaulting to 220 (OpenCL 2.2)"
This pops up multiple times during a build and when running tests.

Any objections to set `CL_TARGET_OPENCL_VERSION` to some value to silence it ?

I guess some sensible values could be
  - `120` since in principle SYCL should only need OpenCL 1.2
  - `220` since it's default and is being used anyway
  - `300` just to give it a try ...

[2020-04-29 09:03] fwyzard commented on #1607
In fact, I see that `CL_TARGET_OPENCL_VERSION` is defined to `220` in
https://github.com/intel/llvm/blob/bb73d926bea2803ac9cc69b57f2285bc9c1775c4/sycl/include/CL/sycl/detail/common.hpp#L14-L16

However, there are other places that `#include <CL/cl.h>` or `#include <CL/opencl.h>`:

How about adding the flag directly to the CMakeFile.txt instead of the various source files ?

[2020-04-29 09:54] bader commented on #1607
@fwyzard, just out of curiosity, did you try these options? IIRC, there were some issues with using values other than `220`, but it was quite a long time ago, so they might be fixed already.

[2020-04-29 10:19] fwyzard commented on #1607
`210` needs a minor fix, which is part of #1608, just in case.

I didn't try anything older, once I read that AOT requires OpenCL 2.1 or later.

[2020-04-29 11:21] bader commented on #1607
I can't anything like this. Where did you find this requirement?

[2020-04-29 12:40] fwyzard commented on #1607
https://github.com/intel/llvm/blob/sycl/opencl-aot/README.md says

so I assumed there is no point in building it with headers that don't have OpenCL 2.1.

[2020-04-29 13:37] fwyzard commented on #1607
I think it builds with `210` - at least, I could build the whole `make sycl-toolchain` with #1608 but using `add_definitions(-DCL_TARGET_OPENCL_VERSION=210)`.

Anyway, I don't see any reasons for not using `220`.

[2020-04-29 13:52] bader commented on #1607
Your change affects only opencl-aot tool and sycl library, but not ICD Loader.

Me neither.

[2020-04-30 08:19] krasznaa opened #1616 "Custom class in SYCL device code makes the linker crash"
I ran into an issue with the following simple example:

[code]

Trying to compile it with the latest version of the code, I get:

[code]

But if the custom class's functions are implemented inline, the compilation/linking suceeds.

[code]

I could reproduce this behaviour with both a custom built version of LLVM, and with Beta5 of oneAPI.

Cheers,
          Attila

cc. @fwyzard, @cleggett

[2020-04-30 12:38] vpascuzz opened #1617 "DIBlockByRefStruct on DICompositeType is no longer supported"
With the latest "Beta06" release of oneAPI, there are new warnings of the type:
[code]
that appear to be related to, e.g.
https://github.com/vpascuzz/FastCaloSycl/blob/master/src/Geo.cc#L174

which calls a function marked `SYCL_EXTERNAL`. I note that these warnings appear when using the Intel Neo; using the "host device" shows no warnings. Some test machine stats:
[code]

What's more, when I use t

[2020-04-30 13:08] fwyzard commented on #1603
I fixed the build configuration to
[code]

Now
  - `libdevice` is built, and the `lbdevice` tests run correctly
  - the ABI-related tests are fixed by #1605
  - the USM tests are fixed by #1577

[2020-04-30 13:48] vpascuzz commented on #1617
Just to add, trying a third machine: Ubuntu 18.04 running on MacBookPro,13,3
[code]

I initially ran using the iGPU, and I saw no warnings or hangs. I changed to "host device" and, again, no problem. I then tried the "CPU device" and it appeared to hang so I force-quit. Then I tried again with the iGPU and it appeared to hang! However, waiting about 40 seconds with 100% core utilization, it finall

[2020-04-30 16:42] jinz2014 commented on #1589
People are not necessarily familiar with meta-programming. Users would like to apply these attributes in a plain and simple way.

[2020-04-30 16:49] Pennycook opened #1621 "Add extra controls for different types of reduction"
There have been several requests for a mechanism to specify additional requirements of a reduction.  Creating a tracking issue to ensure we don't forget about this.

Potential controls:
- Determinism (for same number of work-items on same device)
- Use / don't use additional (local) memory

[2020-05-01 11:38] bader commented on #1617
@AlexeySotkin, do you know what might cause these warnings?

@vpascuzz, could you clarify what version of Intel NEO do you use? Is it the version provided with Beta06?

So this warnings appears when you run built SYCL application on either CPU or GPU device. Right? If so, I assume these warnings are emitted by OpenCL JIT compilers consuming SPIR-V. It looks like the application is build with debug

[2020-05-01 16:08] fwyzard opened #1627 "Compilation warnings with GCC 8.3"
Building the current HEAD with GCC 8.3 on CentOS 8 results in many compilation warnings.

The full build log is attached: [build.txt](https://github.com/intel/llvm/files/4565092/build.txt) .

The warnings relevant for the `sycl` package are already mentioned in #1572.

The warnings relevant for the `libdevice` package are:
[code]
(repeated for lines 17, 18, 20, 21, 22, and repeater for other other

[2020-05-01 16:27] bader commented on #1627
Most of `sycl` library warnings were already reported in https://github.com/intel/llvm/issues/1572.
Could you update the existing issue instead, please?
`libdevice` library warnings are supposed to be addressed by https://github.com/intel/llvm/pull/1398.
`libclc` is not built by GCC. It's built by clang.

I suggest leave `libclc` issue here and move other issues to 1572.
Are you okay with that?

[2020-05-01 17:04] WeiqunZhang commented on #1617
I have seen the same issue with beta6.  If I remove `-g` as suggested, the messages are gone.

[2020-05-01 17:59] bader commented on #1617
@vpascuzz, could you check if setting `SYCL_BE=PI_OPENCL` fixes GPU hangs?

[2020-05-01 20:31] vpascuzz commented on #1617
[code]
I'm not sure if this is the version included in Beta06 (I'm not a sysadmin on these machines).

@bader, yes -- only when using the CPU or GPU device. Removing `-g` suppressed the warning messages.

You can find an MWE for reproducing the warnings at:
https://github.com/vpascuzz/mwe/blob/master/src/mwe_1617.cc

Instructions for compiling it are in the comments. Unfortunately, I can't get thi

[2020-05-01 20:39] vpascuzz commented on #1617
Thanks, but this seems to have no effect -- still hangs if I do:
[code]

[2020-05-01 21:06] fwyzard commented on #1627
Thanks for the pointer to #1572 for the `sycl` warnings, I will update the description of the issue to point there.

I don't see the `libdevice` warnings mentioned in #1398 .
Should I comment there ?

[2020-05-01 21:34] cgleggett opened #1629 "build beta06 from source?"
Is it possible to build the same version of clang++ that's it the beta06 release from the llvm source? I didn't see a "beta06" git tag or anything that resembles that.

[2020-05-02 09:05] fwyzard commented on #1629
`/opt/intel/inteloneapi/compiler/2021.1-beta06/linux/include/sycl/CL/sycl/version.hpp` has
[code]

but I don't know if that corresponds to some kind of closest upstream tag (*i.e.* [`20200415`](https://github.com/intel/llvm/tree/20200415)) or it's just the date when the oneAPI build was configured.

[2020-05-02 09:10] bader commented on #1629
AFAIK, beta06 corresponds to https://github.com/intel/llvm/commit/ba404be42c028934c3e33da1239e526975d51ef6.

[2020-05-02 09:38] fwyzard commented on #1629
Ah... so tag [`2020-03`](https://github.com/intel/llvm/tree/2020-03) ?

[2020-05-02 09:42] bader commented on #1629
I think so. Yes.

[2020-05-02 09:50] bader commented on #1627
The main goal of #1398 is to do the refactoring improving UX and code maintainability. According to my understanding, warnings should be addressed as a side effect of these changes.

Anyway, I see that you created a separate PR (https://github.com/intel/llvm/pull/1630) to address the issue with warnings, so I guess this questions is not relevant anymore.

Thanks a lot for doing this work!

[2020-05-02 16:33] cgleggett commented on #1629
ahh, and thus `beta05` is `2020-02`?

thanks.

[2020-05-02 21:28] vpascuzz commented on #1617
@bader,

This machine is running CentOS7 -- which is not officially supported [1] -- and oneAPI Beta* stacks have installed via the package manager. While we've been able to use the pre-compiled binaries in the past for simple tests, it seems as our codes become more complex we begin to observe the incompatibilities.

We have now built Beta05 and Beta06 ourselves, and I can compile and run the MWE

[2020-05-03 06:24] cgleggett opened #1636 "libsycl.so-gdb.py installed with wrong name in wrong directory"
with 95ded993d14   libsycl.so-gdb.py is getting installed as
`INST_DIR//SRC_DIR/sycl/xmethods/$<TARGET_FILE_NAME:sycl>-gdb.py`

where **INST_DIR** is the value of `CMAKE_INSTALL_PREFIX`, **SRC_DIR** is the location of the llvm source, and `$<TARGET_FILE_NAME:sycl>` is actually that exact string.

this got messed up somewhere between bb73d926bea and 95ded993d14

config.py options were `--cuda --sha

[2020-05-03 10:22] bader commented on #1636
Installation script is located here: https://github.com/intel/llvm/blob/sycl/sycl/CMakeLists.txt#L211 and was recently modified by @alexbatashev.
@alexbatashev, could you take a look, please?

Additional note: I would refactor the cmake files and move the parts related to libsyc.so-gdb.py to https://github.com/intel/llvm/tree/sycl/sycl/xmethods.

Tagging @mihails-strasuns-intel to keep him in the

[2020-05-05 01:50] paboyle opened #1639 "Non-obvious error"
Any idea why?

running on devcloud.

[2020-05-05 05:58] airlied opened #1640 "SYCL Level-Zero plugin"
I'm just wondering what the plans for a level 0 backend for the sycl runtime?

Thanks,
Dave.

[2020-05-05 09:58] steffenlarsen commented on #1516
Ping @smaslov-intel.

@romanovvlad may also have some input regarding this?

[2020-05-05 17:40] smaslov-intel commented on #1640
We are working right now on adding it to https://github.com/intel/llvm with ETA for completion in May 2020 (@againull).

[2020-05-05 18:43] paboyle commented on #1639
Closing - got past it.

[2020-05-05 18:43] #1639 closed

[2020-05-05 19:44] paboyle opened #1642 "Dev cloud back end JIT failure"
Much more painless than CUDA support was so far. C++ friendliness is good,
though hitting some not trivially copy constructible complaints for Lambda captures.

First cut compile of entire application goes (almost) through, which is pretty awesome.
(Compile is rather slow, but mustn't grumble)

[code]

But running gives

[code]

Advice welcome?

[2020-05-06 13:17] coumbsek opened #1646 "[CUDA] Experimental support for Windows ?"
Hy,

As I undestand the doc (https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#build-dpc-toolchain-with-support-for-nvidia-cuda)  : "To enable support for CUDA devices, **follow the instructions for the Linux DPC++ toolchain**, but add the --cuda flag to configure.py" currently the experimental support of CUDA backend is only for Linux build.

Can someone confirm this to me or sh

[2020-05-06 13:21] bader commented on #1646
From https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#cuda-back-end-limitations

[2020-05-06 17:47] rolandschulz commented on #1596
@AnastasiaStulova is it intentional that for OpenCL for C++ in most contexts `__private` and `__attribute__((opencl_private))` behaves the same but that for methods qualifiers only the keyword works but the attribute doesn't? Example:
[code]
If this is intentional what's the reason? For SYCL we only want to support the attribute but not the keyword. Do you think there is a problem for us to allow

[2020-05-06 18:31] paboyle commented on #1172
Hi,

I've committed a first cut of a branch of Grid that compiles through dpcpp:

https://github.com/paboyle/Grid/tree/sycl

This requires the deep access to one of the local coordinates, taken in:

https://github.com/paboyle/Grid/blob/sycl/Grid/tensors/Tensor_SIMT.h

Line 85:

[code]

Please document a way to access LocalInvocationId deep in the code.

[2020-05-06 18:33] paboyle opened #1648 "SVM prefetch and home preference optimisations?"
Developing code under UVM for Nvidia GPU's, we have been reluctantly driven to use
cudaMemAdvise and cudaMemPrefetchAsynch  place and move large volumes of less frequently used data on host memory, due to slow performance of pulling memory into the GPU when accessed by GPU kernels.

These sort of placement hint optimisations may be useful for SVM under SyCL and might need to be considered.

[2020-05-06 18:59] AnastasiaStulova commented on #1596
@rolandschulz address space attr works slightly differently in C++ outside of OpenCL. I have a patch that generalizes the behavior with the attribute spelling https://reviews.llvm.org/D57464.

I think it should work for your use case but I got quite many review comments and didn't have time to finalize this. :(

[2020-05-06 23:16] rolandschulz commented on #1172
SYCL is a portable pure C++ executable DSL which can be also executed on any CPU with any plain C++ compiler. This is extremely powerful to debug for example SYCL on a CPU with your normal development environment.

I don't think this is a reason not to add this feature. The only way to implement it in pure C++ (no OpenMP, pthread, ...) is to implement it on top of `std::thread`. As @paboyle has wr

[2020-05-07 05:30] keryell commented on #1172
I read again the discussion thread and I think I have been derailed by the `thread_local` discussion.
In the same way we have `std::this_thread` and `sycl::this_module` names spaces, we could have a `sycl::this_work_item` with some work-item-related introspection functions, such as the `id` or `item` or...
Would it be possible to have an implementation which is efficient on non-GPU (CPU, FPGA) and

[2020-05-07 08:44] #1636 closed

[2020-05-07 09:59] bjoernknafla commented on #1542
PR by @fwyzard to fix many of the USM XFAILs: #1577

[2020-05-07 10:09] Ruyk opened #1651 "[SYCL] Half type in global scope"
The line below:

https://github.com/intel/llvm/blob/c72cbc4ef8662f4d57d3ae9e6c4e4d449e47cbf0/sycl/include/CL/sycl/half_type.hpp#L223

defines Half type in global scope, but that is not required by the SYCL specification. Is there any reason this is there?

It causes conflicts with CUDA headers, which define also the half type in global scope.

[2020-05-07 10:26] Ruyk commented on #1651
In case someone arrives here from finding this error in SYCL for CUDA code:  the CUDA_NO_HALF definition removes the half type in CUDA.

[2020-05-07 10:38] bader commented on #1651
@Fznamznon, you seem to commit the original code. Do you recall the reason?

[2020-05-07 10:43] bader commented on #1651
Might be related to this spec issue: https://github.com/KhronosGroup/SYCL-Docs/issues/40. At some point `half` was defined as fundamental type. It might be just an artifact of old implementation.

[2020-05-07 11:28] bjoernknafla commented on #1542
The following (merged) PR triaged most LIT tests to mark missing features or features that cannot be supported by CUDA as `UNSUPPORTED: cuda` and added a comment: https://github.com/intel/llvm/pull/1620

* SYCL 1.2.1 image spec cannot be implemented with HW support in CUDA.
* Fixed tests (by passing the required compilation target) to work with CUDA.
* printf is not supported by CUDA
* Device code

[2020-05-07 11:29] bjoernknafla commented on #1542
`scheduler/ReleaseResourcesTest.cpp` fails due to an unexpected trace when running with CUDA as CUDA does not support SPIR.

[2020-05-07 11:30] bjoernknafla commented on #1542
That leaves xfails due to missing builtins - and we are actively working on them.

[2020-05-07 11:33] bader commented on #1596
@AnastasiaStulova, could we add one more test to https://reviews.llvm.org/D57464 to cover C++ for OpenCL mode as well? Existing test case covers non-OpenCL C++ mode only.
[code]

[2020-05-07 11:34] bjoernknafla commented on #1542
`basic_tests/buffer/subbuffer.cpp` this test needs to be fixed to handle sub-buffer alignment requirements correctly before knowing if it works with CUDA.

[2020-05-07 11:34] bjoernknafla commented on #1542
`basic_tests/parallel_for_range.cpp` needs investigation.

[2020-05-07 11:37] bjoernknafla commented on #1542
`parallel_for_indexers.cpp` is under investigation (fail is related to global offset handling).

[2020-05-07 11:58] bader commented on #1642
@paboyle, did you tried to report this to https://software.intel.com/en-us/forums/intel-oneapi-forums? We have more engineers there helping with the questions related to DevCould and oneAPI toolchain.

What toolchain/compiler version do you use?

[2020-05-07 12:21] AnastasiaStulova commented on #1596
Just FYI C++ for OpenCL is covered by different review:
https://reviews.llvm.org/D55850
And it has been committed to Clang more than a year ago.

If you are interested in having https://reviews.llvm.org/D57464 committed too, I can't promise any timeline at the moment, unfortunately. But I am happy if you want to go ahead and rebase/rework it upstream. I will certainly be able to help you finilisin

[2020-05-07 12:30] bader commented on #640
Who will be responsible for `KernelFunctor` creation?
The original test case is too simple to demonstrate all the questions we might have trying to make it work.
If we add `accessor` type member to the function to make it useful, how this member should be initialized?
I think we should require `KernelFunctor` to `parallel_for` method and prohibit original code.

[2020-05-07 12:47] tomdeakin opened #1653 "Default build instructions result in empty directory"
The instructions in the README are these:
[code]

This results in an *empty* `$DPCPP_HOME/build` directory.
The output shows most things installed in `$DPCPP_HOME/llvm/build/install`.
However, the OpenCL ICD is being installed in `$DPCPP_HOME/llvm/tools/opencl-aot`.

This is messy and tricky to figure out what bits I need to manually deploy.

[2020-05-07 12:49] erichkeane commented on #1542
Unnamed Lambdas should now be supported for CUDA I changed the text format so that it should now work, if you're still having a problem, please let me know!

[2020-05-07 12:50] bader commented on #1596
Interesting...
@Naghasan added new spelling for OpenCL address space attributes a little bit less than a year ago. https://github.com/llvm/llvm-project/commit/11a9bae8f66986751078501988b4414f24dbe37e

New spelling doesn't work as original keywords. https://godbolt.org/z/_W8xH8
Any ideas why?

I'm not sure if https://reviews.llvm.org/D57464 will help to resolve this issue.
@rolandschulz, what is th

[2020-05-07 13:01] romanovvlad commented on #1160
I believe we have added some logging functionality, @againull could you please comment?

[2020-05-07 13:14] paboyle commented on #1642
I was using beta06 on the devcloud; I'm registering with the forum and will report there

[2020-05-07 13:17] paboyle commented on #1648
Not sure it's CUDA specific - I'm suggesting the SVM in Gen9 and beyond might benefit from such hints & prefetches?

[2020-05-07 13:44] bader commented on #1648
Sorry, I fought that the request is to add SYCL API to expose CUDA API.
I think we have similar API for USM extension: https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/USM/USM.adoc#prefetch and https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/USM/USM.adoc#performance-hints-1.
Will these performance hinting APIs work for you?

[2020-05-07 13:45] paboyle commented on #1648
Thanks - exactly what I was looking for/suggesting. Will close issue?

[2020-05-07 13:47] Naghasan commented on #1596
None of the spelling are working :) I think this is a grammar problem here.

[2020-05-07 13:50] bader commented on #1648
Yes, please.

NOTE: I'm not sure how well these hints are supported on Gen9, but I suggest opening a separate issue if you hit problems with using this API. Does it sounds okay to you?

[2020-05-07 13:51] paboyle commented on #1648
Less concerned about Gen 9 than I am about roadmap / API definition. It's Aurora that counts.

[2020-05-07 13:51] #1648 closed

[2020-05-07 14:43] Fznamznon commented on #1651
Yes, you are right. `half` was defined in global scope because CTS tests were checking it without any namespaces. If tests are fixed, we can remove this definition.

[2020-05-07 14:47] bader commented on #1651
Can we make it in reverse order? Let's remove the global scope declaration and test it against the latest SYCL-CTS. If tests fail, we fix both the implementation and the tests.

[2020-05-07 15:03] AnastasiaStulova commented on #1596
New spelling doesn't work as original keywords. https://godbolt.org/z/_W8xH8
Any ideas why?
Well clang only has support for OpenCL address spaces. Use of __attribute__((opencl_private)) is a Clang extension. I think though it should be pretty straight forward to extend https://reviews.llvm.org/D57464 to work for your case. Because it is also attribute-based?

[2020-05-07 15:59] bjoernknafla commented on #1542
Both unnamed lambda tests use USM and require the fix by @fwyzard : https://github.com/intel/llvm/pull/1577 to then pass.

One of them passes but creates an (ignored) error output due to event handling. The fix for this planned on top of https://github.com/intel/llvm/pull/1471

[2020-05-07 16:06] rolandschulz commented on #1596
The impact of not being able to put a qualifier on C++ methods is that the `this` pointer is generic. Whether that in turn has an impact depends on whether we can optimize.

[2020-05-07 16:16] erichkeane commented on #1542
I see, thanks!  So nothing to do with the mangling anymore.  Not sure how the USM matters here (other than perhaps it is used in the test?).

[2020-05-07 16:20] bjoernknafla commented on #1542
Both tests (`sycl/test/usm/pfor_flatten.cpp`, `
`) trigger USM allocations and the mentioned PR fixes an issue with `0` alignment values to be handled spec-conform.

[2020-05-07 16:21] erichkeane commented on #1542
Great, thanks for clarifying.

[2020-05-07 16:54] bader commented on #1642
I just realized that we have a separate forum for DevCould issues: https://software.intel.com/en-us/forums/intel-devcloud, but your seems to be related to toolchain.
It looks like the app is using complex number in device code and I'm surprised it doesn't work as it should be supported in Beta06.
One reason it might not work is that app is using complex numbers with double precision FP, but fp64 i

[2020-05-07 19:00] againull commented on #1160
Hi!
SYCL_PI_TRACE=1 ./test.exe
prints information about plugins being loaded and platform/device being selected.

SYCL_PI_TRACE=-1 enables all existing output from PI.
You can see which plugins failed to load, scores for devices during device selection and PI calls.

[2020-05-08 00:53] smaslov-intel commented on #1516
The retain is called for OpenCL BE and so there needs to be step 4 for the release, right?
What is done on construction from the CUDA BE?

Can we release the OpenCL native handle as many times as needed for its reference counter go to 0 at the destruction of the PI object owning that native handle?

[2020-05-08 11:05] steffenlarsen commented on #1516
What is done on construction from the CUDA BE?

For the OpenCL interoperabilty constructor that takes OpenCL objects that is the case, but those constructors cannot be used with the CUDA backend. That is why the `cl*Retain` was moved to these constructors, as it allows the generalized maker-functions to adopt a more general approach.

In principle we could probably do this as the reference count i

[2020-05-08 14:40] romanovvlad commented on #1516
Trying to understand the topic...
Do I understand correctly that generalization proposal requires that OpenCL native handles are retained and released in the same way like in SYCL1.2.1, but says nothing about non-OpenCL backends?
I think this is a problem as requires us and users to do different things for different backends which can be confusing. Specifically behavior of make factories are diffe

[2020-05-08 16:57] steffenlarsen commented on #1516
The only thing I see in the proposal is regarding the `get` functions [here](https://github.com/KhronosGroup/SYCL-Shared/blob/master/proposals/sycl_generalization.md#obtaining-a-nativetype-from-a-sycl-object), so I'm going to assume that we have free-reign when it comes to `make` functions. The fact that `get` has these semantics may be another problem however, but that's besides this issue.

a us

[2020-05-08 16:58] vladimirlaz opened #1660 "Need to fix regression introduced by f5360d4 and reapply the patch"
I have done pulldown (https://github.com/intel/llvm/pull/1656) from LLVM to intel/llvm. It looks like patch f5360d4bb3376347479d86547d21b95d80be786d “Reapply "Add support for #pragma float_control" with buildbot fixes” regress SYCL compiler on windows:
	http://ci.llvm.intel.com:8010/#/builders/18/builds/1820

Need to fix regression and reapply the patch.

[2020-05-08 17:49] mibintc commented on #1660
I have posted a patch to fix this on llorg https://reviews.llvm.org/D79631

[2020-05-08 22:34] vpascuzz commented on #1548
Hi, @mehdi-goli.

Can you tell me what `REF_BLAS_ROOT` is? Is it just the BLAS headers?

[2020-05-08 22:37] mehdi-goli commented on #1548
Hi  @vpascuzz , It a root to the netlib blas library, used as a reference blas to compare the test result with.

[2020-05-08 22:37] vpascuzz commented on #1548
Thanks a lot, @mehdi-goli!

[2020-05-08 22:49] vpascuzz commented on #1548
Sorry, @mehdi-goli. I'm on a machine running CentOS7 and blas is installed but I keep getting:
[code]

[2020-05-08 23:00] mehdi-goli commented on #1548
Does the `REF_BLAS_ROOT` point to a directory containing both blas `include` and `lib`? something like:
[code]

[2020-05-08 23:07] vpascuzz commented on #1548
I have a very limited install compare to you, and only a static library:
[code]

[2020-05-08 23:12] mehdi-goli commented on #1548
The oneMKL looks for shared library `libblas.so` library, your installation has the static library `cblas.a`.  That is the reason it fails. I have extra files because I have installed lapack 3.8.0, however it is not necessary.

[2020-05-08 23:23] vpascuzz commented on #1548
`libblas.so` is available on my system in `/usr/lib64`. Standard, I think. But `lib` and `include` are of course not both there.

[2020-05-08 23:28] mehdi-goli commented on #1548
Yes, I think that is the issue. The `libblas.so` is it from MKL or from netlib blas? If it is a netlib blas you can create a symlink to it inside the `REF_BLAS_ROOT/lib` folder. However, it the `libblas.so` must be a netlib blas not the mkl one, since there is a runtime check to make sure that oneMKL does not validate its result with itself.

[2020-05-09 02:27] vpascuzz commented on #1548
Cheers! I will get back with my solution.

[2020-05-09 21:10] vpascuzz commented on #1548
@mehdi-goli,
I ended up needing to compile `cblas` myself -- good on this front.

Now I'm trying to build oneMKL (290ec06). I've followed the instructions in your first post to this issue, however, run into a bunch of errors of the type:
[code]

I pulled the latest revision of llvm (9e79d31) and built it with:
[code]
Any idea where I could've gone wrong here?

[2020-05-09 23:11] vpascuzz commented on #1548
Maybe related to: "The NVIDIA OpenCL headers conflict with the OpenCL headers required for this project and may cause compilation issues on some platforms"

[2020-05-10 07:55] bader commented on #1548
This seems to be the case.
NVIDIA OpenCL headers are used:
[code]
and `CL_DEVICE_QUEUE_ON_DEVICE_PROPERTIES` is OpenCL 2.0 feature, which (I guess) is not supported by NVIDIA OpenCL.

Another thing which seems strage:

Do you use the compiler built from sources? From these logs it seems like "installed" headers are used.

I hope these are built from sources. Right?

[2020-05-11 09:28] Ruyk commented on #1646
We are not testing the CUDA backend on windows at the moment. Its also unclear what the support for CUDA on LLVM is on windows, according to the documentation there is no maintainer (See https://llvm.org/docs/CompileCudaWithLLVM.html#prerequisites), so its not a priority for us at the moment.

[2020-05-11 09:47] Ruyk commented on #1548
@vpascuzz , the error is indeed due to the NVIDIA OpenCL headers being used. They are only OpenCL 1.2 and cannot work with DPC++ compiler.
Check if your NVIDIA OpenCL headers are installed in a system location (e.g., /usr/include/CL/), some package managers do this and they sometimes get used before the Khronos ones by CMake.

[2020-05-11 10:27] Ruyk opened #1665 "[SYCL][CUDA] Default selector behaviour"
There were some interesting discussions about the behavior of the SYCL device selector on - the now closed - PR https://github.com/intel/llvm/pull/1543.
I think is better if we discuss this particular topic separately and make a decision on what is better for the community.
The current default device selection works like this:

* [A] If there is no CUDA device on the system:
1. Give scores to devi

[2020-05-11 10:28] Ruyk commented on #1665
Ping @hiaselhans

[2020-05-11 13:04] hiaselhans commented on #1665
thanks for involving me on this @Ruyk  :)

to point 2, i don't have a lot to add, i just want to verify current upstream behaviour:

- SYCL_BE is empty: opencl and cuda backend are available
- SYCL_BE=PI_OPENCL: only opencl backend available
- SYCL_BE=PI_CUDA: only cuda backend

I don't have a strong preference on how to do it but i think we should allow for either of these choices. So having cuda

[2020-05-11 14:41] StuartDAdams commented on #1520
For details on builing OneMKL using Intel LLVM with CUDA, please see this thread.

https://github.com/intel/llvm/issues/1548

[2020-05-11 14:43] c0d3st0rm opened #1671 "SYCL program reports (possibly misdetected) failed OpenCL link on a Vega 56 using ROCm + Ubuntu 20.04"
This issue is currently outlined [here](https://github.com/RadeonOpenCompute/ROCm/issues/1108) in the ROCm repository. I have a program which uses sycl to offload compute, and i can very it works as expected on the host, and both the CPU (when using the Intel compute runtime) and an Intel iGPU using the Neo OpenCL drivers from the 20.04 repos. However, the program fails to run on a Vega 56 using R

[2020-05-11 16:10] bader commented on #1671
Most likely ROCm compiler is not able to build SPIR-V file produced by the SYCL compiler.
It might be either some unsupported SPIR-V extension or just a bug in ROCm JIT compiler.

[2020-05-11 16:24] c0d3st0rm commented on #1671
Is the produced SPIR-V saved anywhere as an intermediary?

[2020-05-11 16:35] vpascuzz commented on #1548
@Ruyk,

Yes -- they are installed under `/usr/local/cuda`. This path is checked first, and finds `<...>/CL/`. What I want is to have `/usr/include`, which also includes a subdirectory `<...>/CL`, used instead.

I've tried a number of things (I'm not `cmake` expert) but nothing has worked; the headers in `/usr/local/cuda/include/CL` is always used.

These are the files built from source, yes. I've

[2020-05-11 16:37] vpascuzz commented on #1548
I see in `oneMKL/cmake/FindcuBLAS.cmake:23`, there is a comment about a "hack" to bypass the NVIDIA OpenCL headers, but it doesn't seem to work for me.

[2020-05-11 16:52] bader commented on #1671
You can save SPIR-V by setting `SYCL_DUMP_IMAGES` environment variable.

[2020-05-11 19:01] vpascuzz commented on #1548
OK, I've managed to solve this problem. Now it's complaining about:
[code]
even though during the `cmake` configuration it shows `Found SYCL:`.

[2020-05-11 19:50] c0d3st0rm commented on #1671
So I think I traced it down to:

https://github.com/intel/llvm/blob/c22e34b39ad2ab38f885b2313a4f5a22dd7b0553/sycl/source/detail/program_manager/program_manager.cpp#L572

`LibFileName = "libsycl-fallback-cassert.spv"`;

Is it failing to load a fallback library?

[2020-05-11 20:35] mehdi-goli commented on #1548
@vpascuzz I think the issue comes from here in oneMKL test line[84](https://github.com/oneapi-src/oneMKL/blob/master/tests/unit_tests/main_test.cpp#L84). The logic for capturing the list of devices does not consider the fact that there might be other OpenCL devices like AMD. In your machine, you have an AMD GPU. Since you have an AMD GPU and there is no escape rule for AMD GPU, the GPU is captured

[2020-05-11 21:29] vpascuzz commented on #1548
@mehdi-goli While it's probably not a bad idea to include the code snippet above, it doesn't help. The problem is, "Duplicate parameterized test name 'NVIDIAGPU'" (I added a bit of debugging output to the test to check what it devices were found):
[code]
If I put in a `break` after adding the first 'NVIDIAGPU' device to the `devices` vector, it works fine. The test does not like having multiple de

[2020-05-11 21:31] vpascuzz commented on #1548
Thanks to everyone who provided feedback to this issue.

I'm happy to say I've finally managed to successfully build MKL for with CUDA support. Now to test it...

[2020-05-11 22:00] vpascuzz commented on #1548
Is there no random-number generator?

[2020-05-11 22:25] #1548 closed

[2020-05-12 09:35] bader commented on #1671
Did you use https://github.com/intel/llvm/blob/sycl/buildbot/configure.py for "fresh compile"?
You might need to remove CMakeCache.txt and add `devicelib` project to the build (it's done by the configure script automatically).

BTW, I recall that AMD driver doesn't support SPIR-V. See similar issue: https://github.com/intel/llvm/issues/1059#issuecomment-582453655

[2020-05-12 09:57] c0d3st0rm commented on #1671
No, I'll try the script and get back to you when I have something.

I would be disappointed if that were true, although I wouldn't be surprised. I might have to look at alternative hardware at this rate.

[2020-05-12 10:30] romanovvlad commented on #1520
@StuartDAdams
Could you please provide:
1. standalone reproducer which does not depend on libraries?
2. logs with pi trace enabled for the oneMKL reproducer?

[2020-05-12 12:06] bader commented on #1166
@AlexeySachkov, @Naghasan, is #1393 resolved this issue?

[2020-05-12 12:22] Fznamznon commented on #1544
This can be closed, since we understood that we can't pass the whole kernel object as a parameter due to OpenCL limitations.

[2020-05-12 12:22] #1544 closed

[2020-05-12 12:26] Naghasan commented on #1166
Yes, normally #1393 restored the llvm-spirv to upstream

[2020-05-12 12:38] bader commented on #1166
@AlexeySachkov, I'm closing this issue.

[2020-05-12 12:38] #1166 closed

[2020-05-12 13:58] jbrodman opened #1679 "[SYCL] gpu_selector not failing when no GPU devices"
[code]

on a CPU system prints either:
[code]
or
[code]

I think it's supposed to be throwing an exception if there's not an available GPU device...

[2020-05-12 14:37] KarachunIvan commented on #1679
I reckon that you observe such behavior because of this line:
https://github.com/intel/llvm/blob/44954afb3aa6b492a1c77e97f0763385e9ba98d9/sycl/source/device_selector.cpp#L55

`gpu_selector` return -1 for every device except for GPU. So `dev_score` will be `-1` (`score = -1` by default). Besides, `isDeviceOfPreferredSyclBe` returns `true` if the device uses opencl backend.
So, in that case first Op

[2020-05-12 14:39] jbrodman commented on #1679
Probably.

It's still violating the spec. :)

[2020-05-12 17:14] cdgarland commented on #1548
@vpascuzz It will be great if you can bring your RNG request to the https://github.com/oneapi-src/oneMKL project as well.

[2020-05-13 03:39] vladimirlaz commented on #1660
The fix has been propagated to intel/llvm (sycl) in scope of https://github.com/intel/llvm/pull/1677

[2020-05-13 03:39] #1660 closed

[2020-05-13 16:04] Ruyk commented on #1679
I found this problem too while working on NVIDIA OpenCL filtering, i'll fix it as part of that patch

[2020-05-13 20:20] bd4 opened #1687 "[SYCL] lazy expression evaluation CRTP zeros on gpu, works on cpu"
I am porting [gtensor](https://github.com/wdmapp/gtensor) to SYCL. It uses CRTP expression classes to support lazy expression building of kernels to run on the GPU. When run with `SYCL_DEVICE_TYPE=gpu`, the build succeeds but results are mysteriously being set to 0 everywhere. It works fine for `SYCL_DEVICE_TYPE=cpu`. I created a small reproducer - the simple expressions work even on GPU, and the

[2020-05-13 20:36] bd4 commented on #1687
Interestingly hipSYCL 0.8.1-20200501 running on ROCm on a different machine results in the same zero-ing of the complex expression with the above test program. Is there something in the spec which precludes this from working, or just happens to be a common bug?

[2020-05-14 02:12] bd4 commented on #1687
Trying to compile the reproducer using ComputCpp CE 1.3.0, with spirv64 target and intel-computer-runtime, and I get the following error:

[code]
Need to wrap my head around why LLVM wants to deduce the sub-expressions as references. Perhaps a failed capture of the sub-expressions explains the failures in hipSYCL and dpcpp as well... if so a compile error is definitely warranted.

[2020-05-14 02:25] bd4 commented on #1687
Ok, if I use `std::move` in the definition it removes the deduced references and works in DPCPP and ComputeCpp CE 1.3.0:
[code]
I think this is still a bug in the sense that the compiler should produce an error rather than silently producing bogus results, i.e. the computecpp behavior is better.

[2020-05-14 05:26] keryell commented on #1687
SYCL 1.2.1 supports only standard-layout & trivially copyable data types. Next version will require only trivially copyable data types. Perhaps DPC++ support this already?
Furthermore mutable lambda as kernel are not supported. But you can have another mutable lambda in your kernel...

[2020-05-14 12:18] bd4 commented on #1687
Thanks @keryell . I have an updated version of my example at https://github.com/bd4/dpcpp-test/blob/master/expr.cxx which is compiling and running correctly with all three platforms, with non-mutable kernel and forcing the expressions types to be inferred without references so they have standard layout.

It seems that many implementations don't enforce the non-mutable kernel lambda requirement. It

[2020-05-14 14:23] keryell commented on #1687
Because we discovered the fundamental problem only recently... This requirement is expected in the next SYCL version.

[2020-05-14 14:29] keryell commented on #1687
Otherwise I a little bit worried about your `static_cast<const derived_type&>(*this)` on device... If the goal is to do an equivalent of a virtual table, it might not work since the typical OpenCL 1.2-like hardware does not support using function pointers.

[2020-05-14 15:27] bd4 commented on #1687
Re the derived type cast, Codeplay has a blog post about using it as an alternative to dynamic polymorphism:
https://www.codeplay.com/portal/07-12-19-enabling-polymorphism-in-sycl-using-the-cpp-idiom-crtp
It should all be resolved at compile time with no function pointers involved.

I am still cleaning things up, but so far changing the `gfunction` type in gtensor to use two members for sub-expres

[2020-05-14 17:39] rolandschulz commented on #1172
exactly

I think the only possible slowdown I'm aware of, is that a some implementations might want to store the ID info in some way as part of `parallel_for` to speed up ID query functions. But storing a single number should be fast enough that I don't think we need a special `parallel_for` for that.

[2020-05-14 18:03] Pennycook commented on #1172
The fact that an implementation has to do something different here is reason enough to consider a different form of `parallel_for`, or at least an additional argument allowing the user to declare whether they're using this feature or not.

I've heard anecdotal evidence from some of the Kokkos developers that minor startup costs like these become significant at scale, and they've found that giving

[2020-05-14 20:04] Ruyk commented on #1679
In https://github.com/intel/llvm/pull/1689 , devices with score -1 are properly discarded

[2020-05-14 20:05] paboyle commented on #1172
If you want my take:

http://david-grs.github.io/tls_performance_overhead_cost_linux/
https://www.akkadia.org/drepper/tls.pdf

An interesting blog post on how TLS is implemented - I had assumed falling back to pthread_set_specific, but looks better than that. ABI in x86-64 appears to reserve an integer register for a pointer to thread descriptor (struct pthread / thread control block) and it's a s

[2020-05-15 09:07] bjoernknafla opened #1691 "Clarifying which Intel CPU OpenCL version to use"
Which Intel CPU OpenCL version to install for use with SYCL?

The [GetStartedGuide.md](https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#install-low-level-runtime) points to the [ReleaseNotes.md](https://github.com/intel/llvm/blob/sycl/sycl/ReleaseNotes.md#prerequisites) which point to https://github.com/intel/llvm/releases/ . The daily DPC++ releases do not seem to contain the o

[2020-05-15 09:18] Ruyk commented on #1665
https://github.com/intel/llvm/pull/1689  deals with removal of NVIDIA OpenCL from platform list, includes a better error message on `isDeviceBinaryTypeSupported` for CUDA backend case.

[2020-05-15 15:15] Pennycook commented on #1172
Sorry, I should have been clearer -- I'm deliberately not trying to focus on any one implementation, here, but think more generally about possible implementations for a wider set of devices.

Today, there is a semantic difference between `parallel_for(range)` and `parallel_for(nd_range)`; a developer cannot call a barrier in the former, but can in the latter.  Implementations can use that for opti

[2020-05-15 23:12] michaelphamct commented on #1691
I have a closely related issue to @bjoernknafla 's original issue. I think the documentation should have more clear information about the differences between the DPC++ daily releases and the oneAPI DPC++ Compiler releases. The first kind of release has three assets (dpcpp-compiler.tar.gz, Source code (zip and tar.gz)), and the second kind of release has four assets (oclcpuexp-2020.10.4.0.15_rel.ta

[2020-05-16 08:57] yxliang01 commented on #634
@reguly After installing the updated build toolchain, does the issue with `clinfo` not showing platform resolve?

[2020-05-16 09:59] yxliang01 opened #1696 "latest release tarball has weird file permissions"
Upon uncompressing, the files are not readable by others and the directory can't be entered by others as well. I think it makes more sense to make all the files readable by others and all directories have the `x` bit for others.

[2020-05-17 05:40] mpak2 opened #1698 "python $DPCPP_HOME/llvm/buildbot/compile.py"
[code]

[2276/2440] Performing install step for 'ocl-icd'
[0/1] Install the project...
-- Install configuration: "Release"
-- Installing: /root/sycl_workspace/llvm/build/tools/sycl/icd_install/lib/libOpenCL.so.1.2
-- Installing: /root/sycl_workspace/llvm/build/tools/sycl/icd_install/lib/libOpenCL.so.1
-- Installing: /root/sycl_workspace/llvm/build/tools/sycl/icd_install/lib/libOpenCL.so
[2279/2440

[2020-05-17 09:00] bader commented on #1698
@mpak2, please, use `--no-werror` option for untested host compilers.
I'm going to set this option by default soon, but this is tracked by already existing issue, so I'm closing this one.

[2020-05-17 09:00] #1698 closed

[2020-05-17 10:05] bader commented on #1696
@vladimirlaz, @tfzhu, could you check what is wrong with the release tarball, please?

[2020-05-17 10:22] bader commented on #1691
Sorry for confusion. We recently uploaded a file with all versions for external dependencies and links, where these versions can be downloaded.
@vladimirlaz is going to update the documentation with more detailed instructions.
https://github.com/intel/llvm/blob/sycl/buildbot/dependency.conf - these versions are used in pre-commit validation.

[2020-05-17 11:43] bader commented on #1653
@tomdeakin, thanks for reporting this.
`$DPCPP_HOME/build` is an artifact of old instructions. I fixed it in #1697.

WRT OpenCL ICD, I agree that there is some mess with it, but I'd like to clarify your use case.
Do you expect OpenCL ICD to be the part of the deployed toolchain?
I think it's not needed if OpenCL ICD is installed in the system.

Moreover, OpenCL ICD is built/installed twice during

[2020-05-17 11:58] bader commented on #1617
@vpascuzz, so it looks like a configuration issue, right?
Can we close that issue?

[2020-05-17 12:05] tomdeakin commented on #1653
Thanks for updating the docs.

My OpenCL question came from the lack of Deployment instructions. I had to reverse engineer what important looking things were built. As long as I install an OpenCL driver somewhere, then it should be fine to build/run application code. I don't necessarily need the one that's built here.

[2020-05-17 12:06] vpascuzz commented on #1617
@bader,
Sorry, I think I started adding details that aren't really relevant to the topic.

The `DIBlockByRefStruct` warnings do appear when compiling with `-g` and running the executable using Intel iGPUs. If this is the expected behavior, then you can close this.

[2020-05-17 12:35] bader commented on #1617
I can't reproduce these warnings on CPU device in my environment.

Do these warnings appear when the application is built from scratch using Beta06?

[2020-05-17 14:21] mpak2 commented on #1698
thank you very much

[2020-05-18 02:05] tfzhu commented on #1696
@yxliang01, can you put the link of problematic release here?

[2020-05-18 06:32] vladimirlaz commented on #1696
@yxliang01 Why do you think we should set default permissions for others?
 - The owner can always change any permissions
 - By default there is no any reason to let other (all users) access experimental RTs

[2020-05-18 07:16] reguly commented on #634
@yxliang01 It seems so unfortunately.

- On CentOS 7.6, which comes with GCC 4.8, after installing  oclcpuexp-2020.10.4.0.15, `clinfo` shows no platforms.
- Once I load GCC 9.2, which has a newer libstdc++, `clinfo` does show the CPU.
- I can compile `clang++ simple-sycl-app.cpp -fsycl -L/home/shared/software/gcc/9.2.0/lib64`
- ldd shows the correct things
- I get a runtime error:
`terminate calle

[2020-05-18 08:11] vladimirlaz commented on #1691
The first version of configuration file has been submitted (today it contains links to the binaries which are used for testing). Documentation pointing to the new file is under review: https://github.com/intel/llvm/pull/1699/files.

We do expect that frequency of dependency update will raise.

[2020-05-18 08:35] bader commented on #1617
@AlexeySotkin, confirmed that this is GPU specific warning.
Assigning to Alexey.

[2020-05-18 08:44] yxliang01 commented on #1696
@tfzhu https://github.com/intel/llvm/releases/download/2020-03/oclcpuexp-2020.10.4.0.15_rel.tar.gz

@vladimirlaz Ideally for an official release, the file permissions upon decompression should be usable by most people (at least I believe).
Although the code in this repo is currently experimental, from the Intel official site, it seems like this will eventually be the official codebase. So, I would

[2020-05-18 09:07] bader commented on #634
This is a bug in the app.

[2020-05-18 09:11] reguly commented on #634
@bader this is the copy-pasted simple-sycl-app.cpp from https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#test-dpc-toolchain

[2020-05-18 09:24] bader commented on #634
I can't reproduce this issue and exception states that command group has more than one kernel, which is prohibited by the specification.
I'm not sure how GCC configuration might lead to this type of error, so I suggest checking that the app is not modified after "copy-paste".

[2020-05-18 09:50] bjoernknafla commented on #1691
That is very helpful, thank you!

[2020-05-18 09:50] #1691 closed

[2020-05-18 11:52] reguly commented on #634
I double checked, here is the process. Also printed some environment variables and the output of ldd.

[reguly@haar oclexp]$ export LD_LIBRARY_PATH=`pwd`/dpcpp_compiler/lib:$LD_LIBRARY_PATH
[reguly@haar oclexp]$ export PATH=`pwd`/dpcpp_compiler/bin:$PATH
[reguly@haar oclexp]$ module load gcc/9.2.0
[reguly@haar oclexp]$ echo $PATH
/home/shared/software/gcc/9.2.0//bin:/home/reguly/oclexp/dpcpp_compi

[2020-05-18 11:58] reguly commented on #634
The hello world example from:
https://us.fixstars.com/products/opencl/book/OpenCLProgrammingBook/first-opencl-program/
does work on the CPU (there are no other OpenCL devices in the system).

[2020-05-18 12:00] bader commented on #634
@romanovvlad, any ideas why runtime might throw this exception?

[2020-05-18 13:29] vladimirlaz commented on #1696
What is the use-case for installing this RT and let "others" to access them?
These RTs are for development purposes and NOT for redistribution or end-user.

[2020-05-18 13:35] bader commented on #1696
I guess it might be needed if RT is being installed on the machine shared among multiple "SYCL developers". Right?

[2020-05-18 13:45] vpascuzz commented on #1617
Yes, exactly.

[2020-05-18 13:49] yxliang01 commented on #1696
To be honest, I have never thought of the case that it is intentionally not allowing "others" to access the experimental RT for the sake of protection (I guess). But, what's generally happening is that we need root permission to copy/extract these files to the system directories while we generally don't run OpenCL programs with root user. In other scenario where there are normal users and advanced

[2020-05-18 17:03] elizabethandrews opened #1706 "[SYCL] Diagnostics should be generated at point of kernel invocation"
Kernel location is set differently when kernel is defined using a lambda vs a functor. Diagnostics are emitted at point of invocation when lambdas are used but emitted at functor declaration when functors are used. It should be generated at point of invocation for functor as well.

[2020-05-18 20:39] Pennycook opened #1708 "[SYCL] Crash for range of zero?"
The following code crashes:
[code]
with the following error:
[code]

The documentation for the function containing the failing assert (see [here](https://github.com/intel/llvm/blob/sycl/sycl/source/detail/scheduler/commands.cpp#L1439)) suggests that the function only expects to be called if the user enqueues a `parallel_for_work_group` kernel.  I would expect a `parallel_for` with a range of 0 to

[2020-05-18 22:42] keryell commented on #1687
My question for the `static_cast<const derived_type&>(*this)` is whether in your example you have the same value uniformly across the work-items or not.
Of course if it is uniform and resolved ouside of the kernel it is good. Otherwise I am unsure it will work on all hardware.

The problem for `mutable` lambda is not because of the accessors (because it is design to work with accessors and non-mut

[2020-05-19 23:12] michaelphamct opened #1720 "[Experimental CPU Runtime] Request for open sourcing the CPU RT"
Hello all, this is a request for open sourcing the OCL experimental CPU runtime. I searched previous issues for this and it appears there are others that are also interested in this. See:
https://github.com/intel/llvm/issues/788#issuecomment-551841918
https://github.com/intel/llvm/issues/624#issuecomment-531102098
https://github.com/intel/llvm/issues/453#issuecomment-532004666

Is this possible or

[2020-05-20 08:32] AlexeySachkov commented on #1640
@airlied, see #1718

[2020-05-20 08:37] AlexeySachkov commented on #935
Resolved by #1209

[2020-05-20 08:37] #935 closed

[2020-05-20 08:40] AlexeySachkov commented on #879
@Alkeryn, CUDA support was merged about a month ago and it is included into [2020-03 release](https://github.com/intel/llvm/releases/tag/2020-03)

Have you tried it? Can we close this issue?

[2020-05-20 14:48] bjoernknafla commented on #1520
@romanovvlad We are looking into this.

[2020-05-20 19:54] bader commented on #1596
Patch for "Error for non-overlapping address space is important to have correct code" - https://reviews.llvm.org/D80317.

[2020-05-21 00:11] jeffhammond opened #1730 "USM explicit memcpy fails with Level Zero, works with OpenCL"
PRK nstream (similar to STREAM triad) fails silently without a useful diagnostic.  I don't really care why, but the trivial fix is `SYCL_BE=PI_OPENCL`.  Maybe OpenCL should be the default until Level Zero is able to reproduce the same positive results?

Source code: https://github.com/jeffhammond/PRK/blob/dpct/Cxx11/nstream-sycl-explicit-usm.cc

# Compile
[code]

# OpenCL
[code]

# Level Zero
[cod

[2020-05-21 08:15] fadeeval opened #1732 "[SYCL] Manual direction via -I parameter sycl headers in build directory."
Manual direction via -I parameter sycl headers in build directory doesn't do them non-system.

Signed-off-by: Aleksander Fadeev aleksander.fadeev@intel.com

[2020-05-21 08:19] fadeeval commented on #1732
The fallowing RUN string doesn't show sycl header warnings:

`// RUN: %clangxx -fsycl -I /path/to/sycl/headers/in/build/directory -Wall -Wextra  %s -o %t.out`

[2020-05-21 09:59] bader commented on #1732
It's not supposed to show warnings in SYCL headers because `-fsycl` makes them system headers.
Please, try w/o `-fsycl` option.

[2020-05-21 13:22] romanovvlad commented on #1679
Will put a fix on review soon.

[2020-05-23 19:53] khaled-rahman commented on #1467
Hi, I am also facing this problem. I compiled and ran a DPCPP code successfully in CPU. When, I compiled it for GPU it worked fine. However, when I offload the code to GPU, it shows a floating point exception (cored dumped). I was wondering whether the problem is resolved for this case.

[2020-05-25 07:34] vladimirlaz opened #1744 "llvm-spirv/test/DebugInfo/DebugDeclareUnused.cl is failing after LLVM pulldown"
During pull down (https://github.com/intel/llvm/pull/1745) the test has been XFAILed (119b4b11).
The issue has been created to find root cause and provide proper fix.

[2020-05-25 11:51] AlexeySotkin commented on #1744
To be fixed by https://github.com/KhronosGroup/SPIRV-LLVM-Translator/pull/549

[2020-05-25 15:39] paboyle commented on #1642
[code]

Updated the GitHub branch and configure option now as above.
This builds CUDA, HIP and SYCL as options, but warts continue to exist for both HIP and SYCL.

The complex arithmetic JIT bug persists. Beta06 on devcloud. Wasn't able to register for the forum - the confirmation email never came.

[2020-05-25 15:51] paboyle opened #1750 "peer2peer memory access"
I run multiple MPI ranks per node with 1:1 mapping between MPI ranks and GPUs when accelerated.

Under multi-socket servers Ii use Unix shared memory for direct intra-node transfers, and
under CUDA I use Peer-to-peer memory access (e.g.) via a preallocated device memory region.

[code]

**Is there a SYCL equivalent to this functionality?**

https://developer.codeplay.com/products/computecpp/ce/gui

[2020-05-25 18:30] paboyle commented on #1687
I'm interested to implement a view object copied to device, but which maintains reference counts on host.
What's the long term plan for lambda capture?
Is there a way to have a non-trivial constructor/destructor on host, but SYCL_DEVICE_ONLY it on device?

[2020-05-25 19:42] kbobrovs opened #1753 "[SYCL][CI] Provide Windows GPU driver download source in llvm/buildbot/dependency.conf"
llvm/buildbot/dependency.conf contains:
[code]
The above web page does not contain any links matching the provided version id "ci-neo-015900". Examples of ids found on the web page: "Version: 27.20.100.8190 (Latest)"

So it is not clear how to use the info in dependency.conf to download specific Windows GPU driver version used in CI.

[2020-05-26 09:37] vladimirlaz commented on #1744
The fix was cherry-picked in 7e078f7

[2020-05-26 09:37] #1744 closed

[2020-05-26 09:39] vladimirlaz commented on #1753
this is first version and the link is closest version. The file is going to be updated with the next release.

[2020-05-26 14:48] bjoernknafla commented on #1520
We are able to build and run MKL and trigger the CUDA out of memory failures which we believe to be symptoms of PI objects being kept alive for too long.

However, I am delaying further analysis to create a reproducer due to another high priority bug (which looks like a race condition).

Below is my Linux set up to recreate the problem so far.

## Set up tools for MKL build

Install tools and libr

[2020-05-27 16:12] romanovvlad commented on #1679
Should be resolved by https://github.com/intel/llvm/pull/1689. @jbrodman please, check.

[2020-05-27 16:37] jbrodman commented on #1679
Looks like it now properly fails.

[2020-05-27 21:07] Pennycook commented on #640
@rolandschulz and I just encountered this independently, and despite knowing about this issue it still took us a very long time to find my mistake.

[code]

I think this fails only because the kernel name doesn't get registered (and doesn't appear in the integration header) unless it is passed to `parallel_for`.  Unfortunately this doesn't trigger a compiler error: the kernel name for the lambda a

[2020-05-28 05:12] oscarbg opened #1766 "Support CUDA backend on DPC++ daily builds.."
Hello,

from quick inspection seems DPC++ daily builds doesn't ship with CUDA backend/plugin support enabled.. doing so will greatly help in testing progress/maturity of CUDA backend..
it's much to ask for?

thanks..

[2020-05-28 05:13] oscarbg commented on #1766
EDIT: Also asking for Windows "DPC++ daily builds" if possible.. seems they only support Linux at the time..

[2020-05-28 07:29] pvelesko opened #1767 "[SYCL][CUDA] Comping SYCL code with subgroups failing"
`ptxas fatal   : Unresolved extern function '_Z17__spirv_GroupFAddjjd`

Are there plans to add sub-group support for CUDA? If possible?
If not, compiler should throw an error during compilation.

[2020-05-28 07:46] bader commented on #1766
@pvchupin, could you document the answer to this question, please?
E.g. https://github.com/intel/llvm/blob/sycl/sycl/doc/FAQ.md

[2020-05-28 08:53] #1679 closed

[2020-05-28 14:34] gmlueck commented on #640
@Pennycook asked me how SYCL 2020 will handle this with the new Module API.  I answered him in email, but I can also add some information here about the SYCL 1.2.1 implementation.  As others have noted above, the SYCL 1.2.1 spec is very unclear about how the `program` object should be used to compile a kernel.  In fact, it was only just recently that I think I understand the intent.

First a discl

[2020-05-29 00:31] jeffhammond opened #1777 "SYCL_EXTERNAL needs to support anonymous namespaces"
LLNL Quicksilver (https://github.com/LLNL/Quicksilver) uses anonymous namespaces extensively for code that is only used within a single compilation unit, which is the modern C++ equivalent of static functions (https://stackoverflow.com/questions/154469/unnamed-anonymous-namespaces-vs-static-functions).

Given that anonymous namespaces only need to be resolved in a single compilation unit, I do not

[2020-05-29 09:49] AlexeySachkov commented on #1777
@jeffhammond, could you please elaborate, why do you need to have `SYCL_EXTERNAL` at such functions?

From SYCL 1.2.1 spec, section 6.9.1 SYCL Functions and methods linkage:

If you have function in anonymous namespace, you cannot call it from other translation units anyway and it is unclear to me why do you need `SYCL_EXTERNAL` if its intent is to say that this function **will** be called from an

[2020-05-29 15:20] jeffhammond commented on #1777
@AlexeySachkov I'll make a reproducer. The commit after the one I shared added `SYCL_EXTERNAL` everywhere required _and_ the necessary workarounds.

[2020-05-29 15:22] jeffhammond commented on #1777
Basically, take https://github.com/jeffhammond/Quicksilver/blob/ae353aa8d178f2eef8f2c13ee4923633aba1d51b/src/dpct/MCT.cc and change `namespace NO` back to `namespace` and `NO::` back to nothing.

[2020-05-29 15:35] jeffhammond commented on #1777
MCVE
[code]
# bug.cc
[code]

[2020-05-29 15:39] jeffhammond commented on #1777
The reason why this matters is that, when we use the DPCT, code labeled as device code will have the `SYCL_EXTERNAL` attributed on it.  It's annoying to have to manually change this.  Given that the compiler knows from C++ that code in an anonymous namespace doesn't have to be exported, it should ignore or at least not invoke a fatal error on this usage.

Relaxing the parser here is similar to how

[2020-05-29 15:43] bader commented on #1777
I guess compiler can just ignore SYCL_EXTERNAL applied to `foo`.

[2020-05-29 18:12] Pennycook commented on #1777
Couldn't this also be fixed in DPCT?  If the function declared as device code is static or in an anonymous namespace, arguably DPCT shouldn't be marking it as `SYCL_EXTERNAL` in the first place.

[2020-05-29 18:23] jeffhammond opened #1782 "Quicksilver hangs with CPU device, works with GPU device"
Quicksilver was ported to SYCL using DPCT plus manual cleanup.  The code hangs (or runs so slow as to be useless) with the CPU device.  The GPU device is fine.

When I compile with `CXXFLAGS+=-g`, there is a huge amount of output pollution related to `DIBlockByRefStruct on DICompositeType is no longer supported`.  I'm not sure that LLVM warnings are the intent of `-g`, but I am not suggesting it's

[2020-05-29 18:28] jeffhammond commented on #1777
I'm not entirely sure that the DPCT added `SYCL_EXTERNAL` in the wrong place, but Quicksilver has macros for GPU code sections and they don't necessarily match the SYCL specification precisely (they work for CUDA and OpenMP target).

If I am forced to fix this manually, I'll have to find every single instance of `HOST_DEVICE` in Quicksilver and determine whether it is a `SYCL_EXTERNAL` or not, and

[2020-05-29 18:30] bader commented on #1782
Sounds similar to https://github.com/intel/llvm/issues/1617, although #1617 is reproducible on GPU only.
What is OpenCL CPU runtime version?

[2020-05-29 18:32] jeffhammond commented on #1782
Should be 2021.1-beta06:
[code]

[2020-05-29 18:57] bd4 commented on #1687
@keryell thanks for the mutable lambda example, I can see how that would cause problems.

The `gtensor` objects are always uniform, they are basically just wrappers around device (or host) memory that resolve multi-dimensional indexing. And the expressions / views built on top of them are also element wise uniform. All the resolution should happen at compile time, so on device each work-item is do

[2020-05-29 19:26] elizabethandrews opened #1784 "[SYCL] Change enum casts to static casts in KernelInfo"
Change casts to static casts in KernelNameType when handling enums -
template <> struct KernelInfo<::dummy_functor_1<(::no_namespace_int)0>

[2020-05-29 20:13] Pennycook commented on #1777
I understand why this is frustrating, but I still think we should pay attention to how `SYCL_EXTERNAL` is defined in the specification before we change our compiler's handling of it -- especially if there's any interest in Quicksilver being able to compile with different SYCL compilers.

Marking every function as `SYCL_EXTERNAL` when it isn't necessary is potentially dangerous and may confuse deve

[2020-05-29 21:34] jeffhammond commented on #1777
The reason to relax the compiler check in this particular case is that C++ already says that  `SYCL_EXTERNAL` can't have any effect.

Will the USM proposal relax the restriction on `SYCL_EXTERNAL` to allow raw pointers as parameter or return types?

[2020-05-29 21:46] Pennycook commented on #1777
Sure.  I'm just worried that `SYCL_EXTERN` might expand to something that's incompatible with being inside an anonymous namespace.  If that can't happen, I'll object less.

No, this is unrelated to USM.  The issue here is that SYCL 1.2.1 address space inference rules can't work across a function call boundary.  When an external function is compiled, it needs to know which address space its argumen

[2020-05-29 22:37] paboyle commented on #1687
Interesting Bryce - your .to_kernel   is very similar to my use of
auto view = Lattice<T>.View(mode);

In for example:

https://github.com/paboyle/Grid/blob/sycl/Grid/lattice/Lattice_view.h

I'm hacking it around a bit, but trying to make a sequence like

[code]

This trigger actions when the "views" are deleted. My code has so far assumed UVM / SVM
but want to use this to drive a software cache (

[2020-05-31 20:27] AlexeySachkov commented on #1777
@jeffhammond, thanks for the background of the issue

I would vote for warning too: someone who just placed `SYCL_EXTERNAL` all over the place (by whatever reason) will still have successful compilation and AFAIK, we have something like `-fsycl-strict`, which could turn this warning into an error for those who wants to place the macro correctly.

I've just realized one more thing: this macro is **

[2020-06-01 07:01] #1732 closed

[2020-06-01 08:17] LeicongLi opened #1790 "[DPCPP] 'fmax' built-in is not supported"
Hi DPCPP developers

  Ran into an issue when trying to switch from computecpp to dpcpp.
  The built-in math function fmax works fine when compiling with computecpp, and throwing an error when using dpcpp. Is there difference with using built-in math functions between computecpp and dpcpp. Please take a look, and help to point a direction?

Thanks

**DPCPP Build info:**
Intel(R) oneAPI DPC++ Compi

[2020-06-01 08:36] MrSidims commented on #1790
Hi, I think you shall use cl::sycl::fmax instead.

[2020-06-01 11:42] LeicongLi commented on #1790
Hihi, thanks for your suggestion, it throws an error says fmax could not be found.
![image](https://user-images.githubusercontent.com/24490992/83405871-0cede180-a440-11ea-9a5c-6ad50eb475e8.png)

[2020-06-01 11:49] LeicongLi commented on #1790
Thanks.
Ahh, stupid me!

[2020-06-01 11:49] #1790 closed

[2020-06-01 13:08] MrSidims commented on #1790
You are welcome!

I'm not an expert in computecpp implementation, but I can imagine that in dpcpp there is not obvious ambiguity for built-ins that are declared in clang and that are implemented in out headers - for that they are placed in cl::sycl:: namespace.

[2020-06-01 13:18] Fznamznon commented on #1112
https://reviews.llvm.org/D74387 contains diagnostic implementation and has been merged.

[2020-06-01 13:18] #1112 closed

[2020-06-01 13:19] Fznamznon commented on #943
https://reviews.llvm.org/D74387 is submitted.

[2020-06-01 13:19] #943 closed

[2020-06-01 14:23] sergey-semenov commented on #1520
Could you please provide this for the original oneMKL reproducer in the meantime?

[2020-06-01 15:40] AlexeySachkov commented on #806
I've prepared an initial version of the document describing these options: intel/llvm#1793

[2020-06-01 19:04] jbrodman opened #1795 "#1239 incorrectly changed the mem_advise interface to take a pi object instead of an int."
The advice parameter of mem_advise is supposed to be an int.

The change in #1239 needs to be reverted.

[2020-06-01 20:49] ax3l opened #1797 "[SYCL] DPC++ CCache Support"
Hi,

although this probably needs a change in [`ccache`](https://ccache.dev/) ([repo](https://github.com/ccache/ccache)) itself: are there plans to support `dpcpp` with `ccache`? Just opening this to indicate that we (cc @WeiqunZhang) rely on it heavily for productive development workflows.

Thanks for considering!

[2020-06-01 23:17] pvchupin commented on #1720
@michaelphamct, thanks for opening an issue on that. It will help us to track this item and it's good to know that there is some interest on this.
It's something we want to do one day, but currently we are focused on DPC++ features and stability and that takes all our time. We'll update this bug report as soon as we can return to this topic.

[2020-06-02 01:52] keryell commented on #1777
Actually it is possible to have `extern` in anonymous `namespace`, so it makes sense to allow `SYCL_EXTERNAL` with a similar no-op behaviour.
https://en.cppreference.com/w/cpp/language/namespace

Useful for metaprogramming or recycling old code like the case discussed here.

Can someone create an internal spec issues to see if that makes sense before doing a 1.2.1 PR?

[2020-06-02 02:33] Pennycook commented on #1777
Interesting.  I didn't know about this -- thanks for pointing it out!  I agree that it makes sense for `SYCL_EXTERNAL` to behave the same way as `extern` in standard C++ in this case.

[2020-06-02 07:33] vladimirlaz opened #1799 "FP16 types are reported as unsupported for CUDA BE on compile time after cf6cc662"
The problem was detected during LLVM pull down testing: http://ci.llvm.intel.com:8010/#/builders/37/builds/1152

It looks like a bug in diagnostics (AFAIK CUDA supports FP16) introduced by cf6cc662e and the tests passed before that patch.

[2020-06-02 07:45] Fznamznon commented on #1799
@vladimirlaz, could you please provide CUDA spec link where it says that FP16 is supported?

[2020-06-02 08:08] Fznamznon commented on #1799
I'm asking because nvptx target in clang doesn't define presence of float16 (FP16/half whatever) type whereas for exampler spir target does it https://github.com/intel/llvm/blob/f9226d2b022aad54fcc39fadb3182df39264e682/clang/lib/Basic/Targets/SPIR.h#L68 . That is why the diagnostic is triggered. I don't know why nvptx target doesn't define presence of FP16 type, maybe not all GPUs support this typ

[2020-06-02 08:54] Naghasan commented on #1799
The target support FP16 since sm_53 I believe. This is a clash with the declared Nvidia's OpenCL capabilities.

I'm aware of this, I have a patch to enable it locally but it is entangled with builtins fixes.

This reminds me, any particular reason you are using `_Float16` and not `__fp16` ?
With the proper definition of the frontend, `__fp16` lowers to half if and only if the targets supports it (

[2020-06-02 09:16] vladimirlaz commented on #1799
BTW: by default we are using sm_30. I tried to uplift it up to sm_75 (including sm_53 - I also find this in some post, i did not find spec), but it is still reported as unsupported.

[2020-06-02 12:20] bd4 commented on #1687
The return depends on the type of the expression, but the basic idea is to convert the expression to only device pointers and trivially copyable data. CUDA was the initial target, so this basically boiled down to what you can pass as a parameter to a kernel. For simple gtensor's, which is the main multi-dimensional array container, it returns a `gtensor_view`. This is basically a multi-dimensional

[2020-06-02 13:28] vladimirlaz commented on #1799
@Naghasan, Fznamznon I am going to proceed with pulldown and need workaround for the problem.

@Naghasan do you have any ETA for the fix?

 - The easiest WA can be XFAIL LIT tests. But other staff like CTS are also affected and no WA there.
 - The other option is to revert patch from @Fznamznon until the fix is ready. You will need to reapply patch with the fix.

 I would apply option 2 if there a

[2020-06-02 14:01] Naghasan commented on #1799
@vladimirlaz Enable it if the triple has `sycldevice`, I'll refine it based on the capability.

[2020-06-02 14:08] bd4 commented on #1687
@paboyle Is what you are trying to do analogous to SYCL buffers and accessors? The buffer is constructed on the host and it's lifetime can be used to trigger copy back, but it can't be used directly on the device. For that an accessor is needed. The buffer is often constructed from an existing data structure, like std::vector, and it internally manages buffering to/from device. Getting an accessor

[2020-06-02 14:18] paboyle commented on #1687
Hi Bryce,
yes bears some analogies - I'd ideally trigger the data motion from object activity, implicit under rules & containers of my own creation. But

1) I'm trying to not tie myself to SYCL, but use the availability of pointers to do this cross platform on HIP, SyCL and CUDA.

2) Not tie myself to SyCL's scoping rules - for these accessors.

In particular, I'm developing my own software cachin

[2020-06-02 14:21] paboyle commented on #1687
I figured out an O(1) caching table scheme using combo of "unordered_map<addr,Entry>" and list<addr> for maintaining true LRU with multiple priorities for eviction and locking of open views.
It's under implementation... but should work. Have proof of concept done.

My remaining question is how much syntactical sugar do I need to leave the code using it as pretty as my original SVM/UVM code.

[2020-06-02 20:18] vladimirlaz commented on #1799
I have prepared workaround (skip check for SYCL CUDA BE target tripple) https://github.com/intel/llvm/pull/1796/commits/816febf71c6b77c8d2b2c3ca22698cbfc1512b86
to unblock  pulldown.

[2020-06-03 01:49] kbobrovs opened #1808 "[SYCL][Driver] Need to duplicate options to be passed to both host and device compilers."
If it is needed to pass the same option from driver to both host and device compilers, then it must be added two-times - see `clang/lib/Driver/ToolChains/Clang.cpp`, for example:
4124:`CmdArgs.push_back("-fsycl");`
...
6150:`CmdArgs.push_back("-fsycl");`

This is quite error prone and inconvenient - should be automated: option placed in one place, driver does the duplication itself.

[2020-06-03 01:50] michaelphamct commented on #1720
That's good news! Thanks for the update, I will keep watching this.

[2020-06-03 09:41] pvelesko commented on #1767
@Pennycook Can you share your fix please

[2020-06-03 12:00] Fznamznon commented on #946
Since https://reviews.llvm.org/D74387 added infrastructure for SYCL deferred diagnostics, we can upstream https://github.com/intel/llvm/commit/eb373c497efbdbaefff58537f3e4774f8ca2aff1 as well, so it will help to compile basic SYCL code samples.
@erichkeane, since you are an author of https://github.com/intel/llvm/commit/eb373c497efbdbaefff58537f3e4774f8ca2aff1, I'd like to ask you to upstream it.

[2020-06-03 13:47] erichkeane commented on #946
I have absolutely zero bandwidth in the near future, but I can put it on my list of 'things to do'... Not sure when I'll be able to get to it.

[2020-06-03 17:54] erichkeane commented on #247
@premanandrao , is this one no longer valid?

[2020-06-03 19:25] mmeterel commented on #1569
@Ruyk Do you have an estimate for the fix? We are seeing this problem on oneMKL interfaces side as well.

[2020-06-04 04:10] kbobrovs opened #1811 "[SYCL][FE] Attributes from any function are propagated to the kernel contrary to the intent"
https://github.com/intel/llvm/blob/88e56d9a3073253d9922c409aca61f3fdf0d34a7/clang/lib/Sema/SemaSYCL.cpp#L415:
[code]
In fact attributes are propagated from any function called from within a kernel, and are other functions called in some cases.

To see the issue, compile this source
[attr-prop.txt](https://github.com/intel/llvm/files/4727464/attr-prop.txt)
`clang++ -fsycl -fsycl-device-only -Xclang

[2020-06-04 04:50] kbobrovs opened #1813 "[SYCL][FE] Disable #pragma syntax for SYCL attributes"
Per @erichkeane:

Attributes which allow that are listed in:
https://github.com/intel/llvm/blob/sycl/clang/test/Misc/pragma-attribute-supported-attributes-list.test

[2020-06-04 07:23] vladimirlaz commented on #1799
After applying comment the https://github.com/intel/llvm/commit/a4f4fa9ba38d1cea98b2fef011a23f3680d8b78d  was submitted to sycl branch.

[2020-06-04 09:47] Naghasan opened #1814 "[SYCL][Driver] fsycl-device-only does not offload, target triple is used to define programing model"
The `-fsycl-device-only` flag does not mark the driver actions as offloading.
As shown by `-ccc-print-phases`, `-fsycl-device-only` dismisses SYCL offloading

[code]
Whereas with `fsycl` (note the device-sycl not present before)
[code]

The problem it raises is this makes the `Clang::ConstructJob` kind of convoluted and leads to the target triple being used to define the source language/programing

[2020-06-04 10:47] Fznamznon commented on #946
@erichkeane , I don't get what you mean. Why this is the 'right' way to fix?
AFAIK we use standard targets with `sycldevice` environment. Do you mean we need to upstream `sycldevice` triple environment?

[2020-06-04 13:00] erichkeane commented on #1813
Basically all of the SYCL attributes should not permit a pragma spelling, so they should not be required to be on this list.  I don't remember how to exclude pragma spellings, but @smanna12 might be able to give advise to whoever picks this up.

[2020-06-04 13:05] MrSidims commented on #1813
One needs to set `let PragmaAttributeSupport = 0` for each attribute in Attr.td.

[2020-06-04 13:14] MrSidims commented on #1813
Well, since I've raised it here: https://github.com/intel/llvm/pull/1754#pullrequestreview-420840994 I don't mind to pick it up.

[2020-06-04 13:21] smanna12 commented on #1813
Yes, this needs to be set.

[2020-06-04 14:26] bd4 commented on #1687
Re `std::tuple` that was the original cause of the problem in gtensor, codeplay has an Apache-2 licensed tuple implementation that is SYCL friendly: https://github.com/codeplaysoftware/computecpp-sdk/blob/master/include/stl-tuple/STLTuple.hpp. Useful if we want to add n-ary operators to gtensor, so far it is just unary / binary so wasn't a big deal to template out two different classes.

@paboyle

[2020-06-04 21:59] againull opened #1816 "[SYCL][CUDA] Regression on InteropGetNative unit test"
Guilty commit (reverting it fixes the problem):
[code]
To reproduce build the latest sycl compiler with cuda plugin and run PiCudaTests from the build dir:
[code]

Platform info:
[code]

On the following platform test doesn't fail:
[code]

[2020-06-05 00:41] keryell commented on #1813
Do no derail from the final goal of SYCL: pure C++!

So

should be rather "we want them to avoid using pragma or attrribute". :-)

[2020-06-05 07:08] anton-v-gorshkov opened #1819 "[SYCL][CUDA] Incorrect work with constant memory"
[main.cpp.txt](https://github.com/intel/llvm/files/4734436/main.cpp.txt)

After migration of Rodinia-Heartwall benchmark from CUDA to DPC++ it was found that Codeplay DPC++ compiler may work with constant memory incorrectly - constant data passed to the kernel may be invalid.

Small reproducer is in attachment.

How to reproduce:
[code]

I've used the latest compiler from June 04.

For Intel Graph

[2020-06-05 10:58] bjoernknafla commented on #1508
Unchecked yet, but I suspect the following PR (fixing a racecondition when creating buffers before accessing them on device) addresses this issue: https://github.com/intel/llvm/pull/1798

[2020-06-05 12:38] bader commented on #1508
Should we enable them back and check?

[2020-06-05 16:41] #1813 closed

[2020-06-05 19:34] Ruyk commented on #1816
I've put up PR #1824 that should fix the problem. The problem is not caused by that commit, but by a different one (also mine!).

[2020-06-05 21:08] ax3l opened #1825 "DPC++ Feature Testing"
Hi,

it would be great for us if DPC++ and general SYCL extension features can be detected via macro and/or other feature tests in codes.

Currently, out of the list in here https://spec.oneapi.com/versions/latest/elements/dpcpp/source/index.html it seems that only `SYCL_INTEL_unnamed_kernel_lambda` has a feature test macro (`__SYCL_INTEL_UNNAMED_LAMBDA__`), but I might be missing something.

This

[2020-06-06 08:21] #1816 closed

[2020-06-06 16:53] bader commented on #1825
@ax3l, thanks for the feedback.
We discussed this topic here: https://github.com/intel/llvm/issues/806 and @AlexeySachkov prepared a PR with the detailed proposal: https://github.com/intel/llvm/pull/1793.
Please, let us know if it doesn't fit your needs.

[2020-06-06 20:10] ax3l commented on #806
Maybe as `__has_sycl_<extension>` to avoid conflicts and group properly: https://en.cppreference.com/w/cpp/feature_test ?

[2020-06-06 20:43] ax3l commented on #1825
Thanks a lot @bader, I will close this as duplicate and contributed additional thoughts in both the issue and PR :)

[2020-06-06 20:43] #1825 closed

[2020-06-08 09:49] Ruyk commented on #1459
The CUDA backend displays now "CUDA BACKEND" when PLATFORM VENDOR is queried.
The "Device Vendor"  maps always to "NVIDIA Corporation", and "Device Name" queries maps to the value returned by `cuDeviceGetName`.

I think this issue can be closed now.

[2020-06-08 09:49] #1459 closed

[2020-06-08 10:00] Ruyk commented on #1154
Is this still a problem @fwyzard  ?

[2020-06-08 10:31] StuartDAdams commented on #1208
Well spotted. I'll have a PR up to address this shortly.

[2020-06-08 10:38] Ruyk commented on #1161
I think this can be closed now, @fwyzard  feel free to open a new issue if something is missing!

[2020-06-08 10:38] #1161 closed

[2020-06-08 10:47] Ruyk commented on #1240
NVIDIA OpenCL is now not listed as a valid DPC++ device, introduced by https://github.com/intel/llvm/pull/1689. I think that should fix the problems, feel free to open a new ticket if something else is missing.

[2020-06-08 10:47] #1240 closed

[2020-06-08 10:50] Ruyk commented on #1267
If you filter by the "libclc" label, you can see the list of pr: https://github.com/intel/llvm/pulls?q=is%3Apr+label%3Alibclc+
All required builtins for 1.2.1 should be up in the next few weeks.

[2020-06-08 11:52] Ruyk commented on #1412
Is this still a problem? We have fixed the accidental OpenCl device selection for the CUDA backend, and cleaned up the outcome of lit testing.
Building for multiple targets is not supported, but the outcome of lit test and building the example shouldn't be affected.

[2020-06-08 11:55] Ruyk commented on #1461
The complete working set of builtins required for SYCL 1.2.1 will be available in the next few weeks. Patches are being reviewed, check the libclc label (https://github.com/intel/llvm/pulls?q=is%3Apr+label%3Alibclc+)

[2020-06-08 14:01] #1208 closed

[2020-06-08 14:43] StuartDAdams commented on #1569
Hello! This is fixed in the sycl branch. Event implementation has been improved a lot since this issue was opened. Updating to the latest should resolve this.

[2020-06-08 14:48] ce107 commented on #1412
Thanks for working on this. I will try again once I can fix my system which was broken recently due to an update.

[2020-06-08 15:33] christgau opened #1837 "Compilation failed in cuda_piMemBufferPartition: type qualifiers ignored on cast result type"
On CentOS 7 with a "self-made" GCC 9.1 and CMake 3.16.4, I observe an compilation error:

[code]

The mentioned line was introduced with 249e57b.

I use the buildbot scripts to configure and build the compiler.

[code]

However when I compile with cmake as documented in older versions of the "Getting Started" Guide it compiles wihtout error. Maybe this is because of a more strict compilation mode

[2020-06-08 16:15] bd4 commented on #1642
@paboyle I was able to get a simple `std::complex<double>` example working by linking to `libsycl-cmath-fp64.o` and `libsycl-complex-fp64.o` in `/opt/intel/inteloneapi/compiler/latest/linux/lib`, see https://github.com/jinge90/llvm/blob/sycl/sycl/test/devicelib/std_complex_math_fp64_test.cpp

[2020-06-08 16:17] paboyle commented on #1642
Wow Bryce - thanks a million. That is incredibly helpful. Will have a go.

[2020-06-08 16:18] bader commented on #1814
I'm not sure if it's the same issue, but I also notice the difference in how device code is emitted in regular mode (`-fsycl`) vs "device-only" mode (`-fsycl -fsycl-device-only`).

I wrote a simple SYCL app, which relies on CTAD and it doesn't compile in "device-only" mode, but compiles fine in regular mode.

[code]

[code]

When I dump compiler command I see significant difference in how device c

[2020-06-08 16:27] mdtoguchi commented on #1814
When using -fsycl-device-only vs -fsycl, The expectation is the device compilations match, and the issue described from @bader matches the original from @Naghasan

[2020-06-08 16:30] bd4 commented on #1642
Let me know if it works for you. This is not a good "standard" SYCL solution, but FWIW hipsycl seems to work out of the box with std::complex. ComputeCpp 2.0.0 warns that __muldc3 is not found at compile time, then fails in a similar way as dpcpp at runtime. I started a forum conversation at their forum here:
https://support.codeplay.com/t/std-complex-multiplication/355

Hacks are fine short term,

[2020-06-08 16:33] paboyle commented on #1642
Yeah - complex and GPU is a mess right now.
HIP and CUDA are sticking in the STL partially replacement namespace "thrust", but I had hoped the more standard C++ environment of SYCL could make it even better than such an ugly hack.

[2020-06-08 16:41] bd4 commented on #1642
HIP seems to work out of the box with `std::complex`, at least for basic arithmetic, I haven't tried using transcendental functions yet.

[2020-06-08 19:41] Ruyk commented on #1559
I think https://github.com/intel/llvm/pull/1689  solves the problem, am I correct?

[2020-06-08 19:43] Ruyk commented on #1569
The issue cannot be reproduced, this can be closed. @mmeterel  / @pvelesko  , feel free to open a new ticket if it reappears.

[2020-06-08 19:43] #1569 closed

[2020-06-08 20:21] hiaselhans commented on #1837
I think there are a bunch of these warnings in different/newer versions of gcc. See #1572 and others ...

quick fix is to use the buildbot scripts with --no-werror. does it help...?

[2020-06-08 21:36] mmeterel commented on #1569
Hi @StuartDAdams I tested with 20200527 build and see the same issue. Do you know when was the fix integrated?

[2020-06-08 23:25] againull commented on #1258
Summary of the problem after investigation:
Problem is that PTX barrier is implemented as an LLVM intrinsic llvm.nvvm.barrier0 and Globals AA doesn’t handle it in a specific way but as a regular LLVM intrinsic. Globals AA can prove that llvm.nvvm.barrier0() can only read internal globals. As a result, illegal reordering of memory accesses is performed by transformations like GVN. Problem is not sp

[2020-06-09 08:37] christgau commented on #1837
Yes. It does. Also `--no-assertions` was helpful in my case  as quick'n'dirty workaround for #1467.

Thanks. Closing this one...

[2020-06-09 08:37] #1837 closed

[2020-06-09 08:49] Naghasan commented on #1814
To add a littile bit, because the `fsycl-device-only` does not enter in an "offloading mode" (not exactly sure on how to call it), this creates kind of redundant code:

For instance here: https://github.com/intel/llvm/blob/sycl/clang/lib/Driver/ToolChains/Clang.cpp#L1225
[code]
IMO this really just be
[code]

But what is really odd is that the result of
[code]
(in https://github.com/intel/llvm/blo

[2020-06-09 09:04] tomdeakin commented on #1559
I think it does, at least for device selection. Thanks!

I think the way the compiler builds now means it's not as tricky to match up with OpenCL. I will try to build this again when I get a chance.

[2020-06-09 09:53] StuartDAdams commented on #1569
[It was fixed 11 days ago.](https://github.com/intel/llvm/pull/1735) The release you've linked seems a few days older than that. The compiler build you are using will need these changes and to have CUDA backend support.

[2020-06-09 10:39] bjoernknafla commented on #1508
I am currently running and rerunning these tests but am not seeing any fails on my local machine. Enabling them seems to be save or will then fail on other machines so it is clear that more investigation is necessary.

I will create  PR to re-enable the tests.

[2020-06-09 11:26] bjoernknafla commented on #1508
PR to re-enable these LIT tests for CUDA: https://github.com/intel/llvm/pull/1843

[2020-06-09 13:28] romanovvlad commented on #1665
This can prevent users to use NVIDIA OpenCL with online compilation(aka sycl::program::build_with_source). Do not think a lot of people user it, so I support this suggestion. Probably we could use SYCL_DEVICE_ALLOWLIST config which would be set in sycl.conf(https://github.com/intel/llvm/blob/sycl/sycl/source/detail/config.cpp#L25) which would need to be created for this, so the user will be able t

[2020-06-09 15:53] pvchupin commented on #1651
@AlexeySachkov, can you please take a look?

[2020-06-09 16:04] pvchupin commented on #1799
@Fznamznon @AlexeySachkov, @erichkeane can you comment on __fp16 vs _Float16 please?

[2020-06-09 16:27] bjoernknafla commented on #1542
Many of the builtin-related tests will be fixed by the following PRs:
* https://github.com/intel/llvm/pull/1827
* https://github.com/intel/llvm/pull/1828

[2020-06-09 17:01] bjoernknafla commented on #1542
usm/queue_wait.cpp - PR https://github.com/intel/llvm/pull/1577
usm/allocator_vector_fail.cpp - PR https://github.com/intel/llvm/pull/1577
usm/math.cpp - PR https://github.com/intel/llvm/pull/1577
usm/mixed2template.cpp - PR https://github.com/intel/llvm/pull/1577
usm/smemll.cpp - PR https://github.com/intel/llvm/pull/1577
usm/depends_on.cpp - PR https://github.com/intel/llvm/pull/1577
usm/memset.

[2020-06-09 18:45] paboyle commented on #1642
Hi Bryce

-- very interesting - single still fails, but double precision now passes simple arithmetic tests with complex arithmetic with these files linked.

Haven't check all transcendental complex maths yet, but double complex exponential works.

Of course all the thrust discussion is about getting that functionality. +,-,*,/  is easy - it's the library functionality that is the real benefit fro

[2020-06-09 18:49] paboyle commented on #1642
I assume I can get single with the non-fp64 versions :

libsycl-cmath-fp64.o
libsycl-cmath.o
libsycl-complex-fp64.o
libsycl-complex.o

[2020-06-09 19:31] mmeterel opened #1850 "CUDA_ERROR_OUT_OF_MEMORY in PI CUDA"
I have tested oneMKL open source interfaces (https://github.com/oneapi-src/oneMKL) with two compiler versions:

20200527: This version was causing CUDA_ERROR_NOT_PERMITTED error as mentioned in this issue (https://github.com/intel/llvm/issues/1569)

To solve this error, I built compiler from latest (20200608). The "CUDA_ERROR_NOT_PERMITTED" error is gone, however, I see memory leak issue now.
We h

[2020-06-09 19:53] bd4 commented on #1642
Yes I think so, I haven't tested single precision yet. Including both in the link line also seems to work, which is potentially convenient for a library install that might require both. For cmake, I added the .o files to target_sources on the gtensor INTERFACE library, to get the object files linked on executable that link gtensor.

[2020-06-10 11:16] bjoernknafla commented on #1850
This is very likely related to #1520

[2020-06-10 16:39] GDanii opened #1869 "Execution delayed with OpenCL GPU"
Hi!

While experimenting with the OneAPI I noticed an interesting behavior when I execute kernels on GPU using the OpenCL plugin. The execution seems to start only when a call is made on the returned event. I am using the beta6 release as a Docker container on Ubuntu 18.04, but I experienced the same behavior with beta6 on Windows as well.

Using the following simplified application, that spins fo

[2020-06-11 07:20] alexbatashev commented on #1869
Hi @GDanii

Here's an extract from [OpenCL Specification](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/pdf/OpenCL_API.pdf) section 3.2.2:

with the kernel-instance are placed into a pool of ready to execute work-groups. This pool is called
a work-pool. The work-pool may be implemented in any manner as long as it assures that workgroups placed in the pool will eventually execute.

My i

[2020-06-11 09:39] romanovvlad commented on #1869
I guess that we can "avoid" delaying but calling clFlush after command enqueuing

[2020-06-11 09:56] #1799 closed

[2020-06-11 10:08] Fznamznon commented on #946
https://reviews.llvm.org/D81641

[2020-06-11 14:02] bjoernknafla opened #1873 "LIT XFAIL spec_const tests passing with Intel OpenCL GPU 20.19.16754"
After noticing in [buildbot/dependency.conf](https://github.com/intel/llvm/blob/sycl/buildbot/dependency.conf#L7) to update to the Intel OpenCL GPU driver 20.19.16754 I am now seeing two LIT XFAILs for OpenCL pass:

[code]
Current tip commit: da6bfd0d9368b83ce2dc153de1b78443a30fd689

However, I do not see them pass in the PR buildbot runs and try to figure out if to update to the newer driver, or

[2020-06-11 14:36] bader commented on #1873
I suppose these tests still fail on non-GPU devices.
The buildbot expects these tests to pass on all the configured devices.

Feel free to adjust the XFAIL pattern to fix status on your configuration.

[2020-06-11 15:04] bjoernknafla commented on #1873
From what I see they are passing now for all OpenCL devices (though I do not have access to an FPGA for testing).

Do you want me to open a PR that removes the XFAILs - although I expect this to then fail the buildbots?

[2020-06-11 15:17] bader commented on #1873
I was thinking about something like this:
[code]

[2020-06-11 15:42] bjoernknafla commented on #1873
@bader That is a neat idea! PR with your idea is here: #1875

[2020-06-11 20:28] GDanii commented on #1869
Thanks @alexbatashev for the detailed reply! I didn't do extensive testing on this, but my assumption is that the execution will only start if something triggers it, like a call on the related event. I think it is questionable if this counts as 'eventual', maybe yes.

In any case, I think from API usage point of view it is strange that I submit something for _asynchronous_ execution, but it may on

[2020-06-12 02:16] keryell commented on #1869
@GDanii perhaps the GPU is busy with some more important stuff, such as displaying the screen?
I agree that the concept of best effort should be more carefully designed or at least configurable... Perhaps it is a parameter of the OpenCL stack or driver?
Otherwise in SYCL you can already achieve this by waiting on the queue. Of course, since you do not want to block, you can put this in an eager  `

[2020-06-12 22:20] psteinbrecher opened #1885 "support subgroup broadcast for pointers"
Subgroup broadcast is not supported for pointers. This could potentially be used as a compiler hint that pointers are uniform within a subgroup.

[code]

[2020-06-15 11:42] vladimirlaz opened #1892 "llvm-spirv/test/transcoding/enqueue_kernel.cl test is failing after LLVM pulldown"
During pulldown https://github.com/intel/llvm/pull/1842
I have disabled the tests to unblock pulldown
[code]

[2020-06-15 11:46] vladimirlaz opened #1893 "clang/test/SemaSYCL/loop_unroll.cpp test is failing after LLVM pulldown"
During pulldown #1842
I have disabled the tests to unblock pulldown

[code]

[2020-06-15 13:05] jinz2014 opened #1894 "predefined macros question"
Are there predefined DPC++ specific macros people can use in a SYCL program ?  I ask the question because some features are not supported by codeplay's compiler.
[code]
Thanks

[2020-06-15 14:22] Ruyk commented on #1819
Can you confirm the problem only occurs with constant memory? I have modified locally the test case to use non-constant memory but get the same error.

[2020-06-15 14:39] Ruyk commented on #1819
I think this could be related to https://github.com/intel/llvm/pull/1841

[2020-06-15 15:56] Ruyk commented on #1819
It also seems the problem disappears when using -O2 instead of -O0

[2020-06-15 17:17] AlexeySotkin commented on #1892
To be fixed by https://github.com/KhronosGroup/SPIRV-LLVM-Translator/pull/590

[2020-06-15 19:15] vmaksimo commented on #1893
Here is the test case that fails: https://github.com/intel/llvm/blob/sycl/clang/test/SemaSYCL/loop_unroll.cpp#L35-L38
The regression is caused by this commit from community https://github.com/intel/llvm/commit/9c2e770034d04a0966b84cac14a9e3fb3b0d4ab7, it introduces modifications to `pragma unroll` handling. With this change, the compiler doesn't allow to use pragma unroll and loop attribute togeth

[2020-06-15 22:34] Vsevolod-Livinskij opened #1896 "[SYCL] ICE: Instruction Combining seems stuck in an infinite loop after 1000 iterations."
Error:

**Internal compiler error** Instruction Combining seems stuck in an infinite loop after 1000 iterations.

Reproducer:
[code]

Clang version:
clang version 11.0.0 (https://github.com/intel/llvm 4fdd0ab88440deb7842778275faadb7892069640)

[2020-06-16 00:48] dbabokin commented on #1896
Would be useful to check if it's same as https://bugs.llvm.org/show_bug.cgi?id=46271 or not.

[2020-06-16 05:49] anton-v-gorshkov commented on #1819
True

[2020-06-16 05:54] anton-v-gorshkov commented on #1819
The issue was discovered for constant memory only - but if you could attach your version of reproducer, I can check it on my machine as well.

[2020-06-16 08:24] #1892 closed

[2020-06-16 08:25] vladimirlaz commented on #1892
the fix has been merged to LLVM-SPIRV-Translator and propagated to https://github.com/intel/llvm/pull/1890/commits/231e54ac7ea611cc58bd2be7fbd19d4ea7e59fe5

[2020-06-16 08:26] vladimirlaz commented on #1893
I have removed the test case https://github.com/intel/llvm/pull/1890/commits/415f19de7217f0769bfdd00a4e66d1faa8b09619

Disabling semantic check should be done in scope of the issue

[2020-06-16 08:41] Chenzejun-Dummkopf opened #1901 "【Install】The Source directory “/.../llvm/build/4" does not exist"
I install llvm and dpcpp.
But when i run 'python $DPCPP_HOME/llvm/buildbot/compile.py' in the command line, the error occurs. It is :
'CMake Error: The source directory "/home/ddd/Desktop/sycl_workspace/llvm/build/4" does not exist. Specify --help for usage, or press the help button on the CMake GUI.'
Thus, i come here to figure it out.

[2020-06-16 13:42] mikepapadim opened #1904 "Intel CPU Runtime for OpenCL on Ubuntu 20.04"
Hello, it seems that there is a bug with the Intel(R) CPU Runtime for OpenCL (driver version: **18.1.0.0920**) and Ubuntu 20.04.

Distribution: Ubuntu
Release: 20.04
Kernel Version: 5.4.0-37-generic
CPU:  Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz

While running `clinfo` and a test OpenCL program, I am getting Opencl's -2 errors for  ``CL_DEVICE_NOT_AVAILABLE``.

Also,  ``Preferred work group size m

[2020-06-16 15:12] bader commented on #1901
@Chenzejun-Dummkopf, could you clarify what are your trying to achieve?
Isn't having dpcpp installed enough for you?

[2020-06-16 16:32] AGindinson commented on #1814
@Naghasan, I largely agree with the suggestions you've made in your latest comment; I believe unifying the "offloading"/"device offloading" semantics is both doable and useful. @pvchupin mentioned that your team's contributions are blocked by the existing approach; could you please elaborate on the particular difficulties caused/the desired timeline?

[2020-06-17 01:08] Chenzejun-Dummkopf commented on #1901
Hi, thank you for your attention. I clarify what i am trying to achieve.
I want to use 'clang -fsycl helloworld.cpp' to compile the sycl program. So I need to install oneAPI DPCPP with the install guide from the link 'https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md#run-simple-dpc-application'.

My machine is vmware ubuntu 16.04 and the cpu is intel i5 7th. Then i follow the gui

[2020-06-17 06:43] alexbatashev commented on #1904
Hi @mikepapadim

Could you please try one of the latest CPU Runtimes, for example from [here](https://github.com/intel/llvm/releases/tag/2020-05)? I've been using it on Ubuntu 20.04 for some time, and it's been good so far.

[2020-06-17 06:49] alexbatashev commented on #1901
@Chenzejun-Dummkopf if you only need a pre-built version of the compiler, you can take nightly builds: https://github.com/intel/llvm/releases

Otherwise, you can try supplying the following options to both of the scripts to make sure they pick right locations:
`-s <path to source dir>`
`-o <path to build dir>`

[2020-06-17 10:20] MrSidims commented on #1894
Hi,

I don't think that we have a specifically designed macro for that, but in the same time we have macro `__SYCL_COMPILER_VERSION` and I doubt that other compilers has it, so I can imagine it be used for such purposes.

[2020-06-17 10:33] vmaksimo commented on #1893
This issue has been fixed in community https://github.com/llvm/llvm-project/commit/4676cf444ea2678660ee48279be99efde4bf60e9
So, we should just revert this change https://github.com/intel/llvm/pull/1890/commits/9947ba90421ce458181133376be6172128f8dfbd after next pulldown.

[2020-06-17 11:07] Chenzejun-Dummkopf commented on #1901
Thank you for your help. I want to compile my sycl file.
I download the released llvm. However, when i run 'bash startup.sh', i have some trouble. The log is:
'startup.sh: line 9: /home/ddd/dpcppCompiler/dpcpp_compiler/lib/oclfpga/fpgavars.sh: No such file or directory.'

The second problem is that i don't know how to use this released chain.
When i run '/home/ddd/dpcppCompiler/dpcpp_compiler/bin/

[2020-06-17 11:26] alexbatashev commented on #1901
I think our [FAQ](https://intel.github.io/llvm-docs/FAQ.html#q-dpc-application-complains-about-missing-libsycl-so-or-sycl-dll-library) guide answers this question.